{{ "__endrock_timerCountDown.css" | asset_url | stylesheet_tag }}


{% assign event_start_date = settings.event_start_date %}
{% assign event_start_time_hour = settings.event_start_time_hour %}
{% assign event_start_time_minute = settings.event_start_time_minute %}
{% assign event_end_date = settings.event_end_date %}
{% assign event_end_time_hour = settings.event_end_time_hour %}
{% assign event_end_time_minute = settings.event_end_time_minute %}


{% assign is_valid_timer_config = false %}

{% if event_start_date != blank and event_end_date != blank %}
    {% assign is_valid_timer_config = true %}
{% endif %}


{% if is_valid_timer_config %}
<endrock-countdown-timer data-endrock-gamification data-start-date="{{ event_start_date }}"
    data-start-time-hour="{{ event_start_time_hour }}" data-start-time-minute="{{ event_start_time_minute }}"
    data-end-date="{{ event_end_date }}" data-end-time-hour="{{ event_end_time_hour }}"
    data-end-time-minute="{{ event_end_time_minute }}" class="timer-countdown timer-countdown--{{ timer_location }}"
    aria-live="off" role="timer" id="timer-countdown">
    <h5 class="countdown-title">Black Friday Ends In:</h5>
    <div class="countdown-wrapper">
        <div class="countdown-item">
            <p class="countdown-value" data-key="days">00</p>
            <span class="countdown-label">DAYS</span>
        </div>
        <div class="countdown-separator"></div>
        <div class="countdown-item">
            <p class="countdown-value" data-key="hours">00</p>
            <span class="countdown-label">HOURS</span>
        </div>
        <div class="countdown-separator"></div>
        <div class="countdown-item">
            <p class="countdown-value" data-key="minutes">00</p>
            <span class="countdown-label">MINUTES</span>
        </div>
        <div class="countdown-separator"></div>
        <div class="countdown-item">
            <p class="countdown-value" data-key="seconds">00</p>
            <span class="countdown-label">SECONDS</span>
        </div>
    </div>
</endrock-countdown-timer>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        loadScriptOnce('timer_gamification', '{{ "__endrock_timerScript.js" | asset_url }}');
    });
</script>

{% endif %}