{% doc %}
    Renders an article snippet discover
{% enddoc %}

<figure class="inline-promo-card">
    <picture>
        <source media="(min-width:768px)" srcset="{{ 'article.snippets.discover.image' | t }}" />
        <img src="{{ 'article.snippets.discover.image' | t }}" alt="{{ 'article.snippets.discover.image.alt' | t | escape }}" />
    </picture>
    <figcaption>
        {{ 'article.snippets.discover.header_html' | t }}
        <a href="#" class="btn btn--primary-white">{{ 'article.snippets.discover.button_label' | t }}</a>
    </figcaption>
</figure>