{% doc %}
    Renders a blog-popular posts snippet 
{% enddoc %}


{% for article in blogs[blog_handle].articles limit:limit offset: offset %}
    <li>
        <a href="{{ article.url }}">
            <img src="{{ article.image | img_url }}" alt="{{ article.image.alt | escape }}" />
            <span>#{{ blogs[blog_handle].title }}</span>
            <p>{{ article.title | truncatewords: 8 }}</p>
        </a>
    </li>
{% endfor %}
