<div class="blog-section__top-list">
    <h6>Most Popular Posts</h6>
    <ul class="e-top-posts">
        {% for article in blogs.skin.articles limit: 1 %}
            <li>
                <a href="{{ article.url }}">
                    <img src="{{ article.image | image_url: width: 130, height: 130, crop: 'center' }}" alt="{{ article.image.alt | default: article.title | escape }}" width="130" height="130" />
                    <span>#skin</span>
                    <p>{{ article.title | truncate: 40 }}</p>
                </a>
            </li>
        {% endfor %}
        {% for article in blogs.skincare.articles limit: 1 %}
            <li>
                <a href="{{ article.url }}">
                    <img src="{{ article.image | image_url: width: 130, height: 130, crop: 'center' }}" alt="{{ article.image.alt | default: article.title | escape }}" width="130" height="130" />
                    <span>#skincare</span>
                    <p>{{ article.title | truncate: 40 }}</p>
                </a>
            </li>
        {% endfor %}
        {% for article in blogs['light-therapy'].articles limit: 1 %}
            <li>
                <a href="{{ article.url }}">
                    <img src="{{ article.image | image_url: width: 130, height: 130, crop: 'center' }}" alt="{{ article.image.alt | default: article.title | escape }}" width="130" height="130" />
                    <span>#LEDlighttherapy</span>
                    <p>{{ article.title | truncate: 40 }}</p>
                </a>
            </li>
        {% endfor %}
        {% for article in blogs.skin.articles limit: 1 offset: 1 %}
            <li>
                <a href="{{ article.url }}">
                    <img src="{{ article.image | image_url: width: 130, height: 130, crop: 'center' }}" alt="{{ article.image.alt | default: article.title | escape }}" width="130" height="130" />
                    <span>#skin</span>
                    <p>{{ article.title | truncate: 40 }}</p>
                </a>
            </li>
        {% endfor %}
        {% for article in blogs.skincare.articles limit: 1 offset: 1 %}
            <li>
                <a href="{{ article.url }}">
                    <img src="{{ article.image | image_url: width: 130, height: 130, crop: 'center' }}" alt="{{ article.image.alt | default: article.title | escape }}" width="130" height="130" />
                    <span>#skincare</span>
                    <p>{{ article.title | truncate: 40 }}</p>
                </a>
            </li>
        {% endfor %}
        {% for article in blogs.skincare.articles limit: 1 offset: 2 %}
            <li>
                <a href="{{ article.url }}">
                    <img src="{{ article.image | image_url: width: 130, height: 130, crop: 'center' }}" alt="{{ article.image.alt | default: article.title | escape }}" width="130" height="130" />
                    <span>#skincare</span>
                    <p>{{ article.title | truncate: 40 }}</p>
                </a>
            </li>
        {% endfor %}
        {% for article in blogs['light-therapy'].articles limit: 1 offset: 1 %}
            <li>
                <a href="{{ article.url }}">
                    <img src="{{ article.image | image_url: width: 130, height: 130, crop: 'center' }}" alt="{{ article.image.alt | default: article.title | escape }}" width="130" height="130" />
                    <span>#LEDlighttherapy</span>
                    <p>{{ article.title | truncate: 40 }}</p>
                </a>
            </li>
        {% endfor %}
        {% for article in blogs['light-therapy'].articles limit: 1 offset: 2 %}
            <li>
                <a href="{{ article.url }}">
                    <img src="{{ article.image | image_url: width: 130, height: 130, crop: 'center' }}" alt="{{ article.image.alt | default: article.title | escape }}" width="130" height="130" />
                    <span>#LEDlighttherapy</span>
                    <p>{{ article.title | truncate: 40 }}</p>
                </a>
            </li>
        {% endfor %}
        {% for article in blogs.skin.articles limit: 1 offset: 2 %}
            <li>
                <a href="{{ article.url }}">
                    <img src="{{ article.image | image_url: width: 130, height: 130, crop: 'center' }}" alt="{{ article.image.alt | default: article.title | escape }}" width="130" height="130" />
                    <span>#skin</span>
                    <p>{{ article.title | truncate: 40 }}</p>
                </a>
            </li>
        {% endfor %}
        {% for article in blogs.skin.articles limit: 1 offset: 3 %}
            <li>
                <a href="{{ article.url }}">
                    <img src="{{ article.image | image_url: width: 130, height: 130, crop: 'center' }}" alt="{{ article.image.alt | default: article.title | escape }}" width="130" height="130" />
                    <span>#skin</span>
                    <p>{{ article.title | truncate: 40 }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>