<li>
    <div class="c-post-tile">
        <a href="{{ article.url }}" class="c-post-tile__image">
            {% if article.image != blank %}
                <img src="{{ article.image | image_url: width: 530, height: 300, crop: 'center' }}" alt="{{ article.image.alt | default: article.title | escape }}" width="530" height="300" />
            {% endif %}
            <div class="e-pill-badge e-pill-badge--sm">#all</div>
        </a>
        <div class="c-post-tile__content">
            <ul class="c-post-tile__time">
                <li>{{ article.published_at | date: '%B %d, %Y' }}</li>
                <li>6 min read</li>
            </ul>
            <h6 class="c-post-tile__title" href="#">{{ article.title }}</h6>
            <a class="btn btn--primary" href="{{ article.url }}">Read More</a>
        </div>
    </div>
</li>