{% doc %}
Renders a blog-popular posts snippet 
{% enddoc %}

{% for article in blogs[blog_handle].articles limit:limit offset: offset %}
<div class="col-12">
    <a href="{{ article.url }}" class="popular_post d-flex gap-3">
        <div class="popular_post_img">
            <img src="{{ article.image | img_url }}" alt="{{ article.image.alt | escape }}" class="img-fluid">
        </div>
        <div class="popular_post_content">
            <p class="pop_post_tag">#{{ blogs[blog_handle].title }}</p>
            <p class="pop_post_title">{{ article.title | truncatewords: 8 }}</p>
        </div>
    </a>
</div>
{% endfor %}