{% doc %}
  Renders a product item collection cards snippet  for collection section

  @param {object} block - A object value.

  @example
  {% render 'collection-card-product-item', block: '' %}

{% enddoc %}

{% include 'get-product-data', product_handle: block.settings.product, product_prefix: 'collection-card-product-' %}

<div class="col-6 col-md-3 custom__block project">
    <a href="{{ product_url }}" aria-label="{{ product_title }}">
        <div class="pd_review-card">
            {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: '250x' }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid w-100">
            {% endif %}
            <div class="pd_review-inner">
                {% if block.settings.text != blank %}
                    <p class="d-md-block d-none">{{ block.settings.text }}</p>
                {% endif %}
                {% if block.settings.text_mobile != blank %}
                    <p class="d-md-none">{{ block.settings.text_mobile }}</p>
                {% endif %}

                {% if product_id != null %}
                    {% assign product_title = product_title | split: "(" | first | strip %}

                    <div class="pd_inner-img">
                        <img src="{{ product.featured_image | img_url: '250x' }}" alt="{{ product.featured_image.alt | escape }}" class="ctm-width" style="--ctm-width:50px;" />
                        {% if block.settings.client != blank %}
                            <div class="fs-14">{{ block.settings.client }} {{ 'sections.collection.uses' | t }}</div>
                        {% endif %}
                        <p class="text-decoration-underline">{{ product_title }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </a>
</div>