{% doc %}
  Renders a cart empty snippet for the cart drawer section

  @example
  {% include 'footer-cart-drawer-empty' %}
{% enddoc %}

<div class="drawer__cart-is-empty">
    <div class="drawer__cart-empty-text">
    <h4>{{ 'cart.drawer.empty.header' | t }}</h4>
    <p>{{ 'cart.drawer.empty.text' | t }}</p>
    </div>
    <div class="empty-product">
    <div class="empty-title dekstop-empty">
        <img src="{{ 'cart.drawer.empty.settings.image' | t }}" alt="image" />
        <h6 class="mb-0">{{ 'cart.drawer.empty.settings.header' | t }}</h6>
    </div>
    <div class="empty-main">
        <div class="empty-content">
            {{ 'cart.drawer.empty.settings.content_html' | t }}
        </div>
    </div>
    <a class="btn btn--primary w-100 mt-18" href="{{ 'cart.drawer.empty.settings.button-url' | t }}">{{ 'cart.drawer.empty.settings.button-label' | t }}</a>
    <div class="empty-star-txt">
        <div class="product-star-txt">
            <img src="https://qureskincaredns-main.com/assets/images/review-stars.svg" alt="" class="img-fluid">
            <span class="">{{ 'cart.drawer.empty.settings.text' | t }}</strong>
        </div>
        <div class="text-center fs-14">{{ 'cart.drawer.empty.settings.subtext' | t }}</div>
    </div>
    </div>
</div>