<<<<<<< HEAD
<div class="copyright-link">
    {% for link in linklists['footer-bottom-menu'].links %}
        <a href="{{ link.url }}" aria-label="{{ link.title | escape }}">{{ link.title }}</a>
    {% endfor %}
=======
{% doc %}
  Renders a footer menu bottom snippet for the footer section

  @example
  {% render 'footer-cart-drawer-upsells' %}
{% enddoc %}

<div class="copyright-link">
    {% for link in linklists['main-footer-bottom-menu'].links %}
        <a href="{{ link.url }}" aria-label="{{ link.title | escape }}">{{ link.title }}</a>
    {% endfor %}
>>>>>>> production
</div>