
{% if global_bar_gift1_limit > 0 or global_bar_gift2_limit > 0 %}
    <div class="free_shpngBox">
        <div class="free-shipping-message mb-15 qure__cart-thres text-center fs-14">
            {% if global_bar_percent == 100 %}
                {{ 'cart.drawer.settings.bar_header_completed_html' | t }}
            {% else %}
                {{ 'cart.drawer.settings.bar_header_html' | t: add_more: global_bar_add_more, product_title: global_bar_product_title, product_price: global_bar_product_price }}
            {% endif %}
        </div>
        <div class="cart_shipping cart_threshold">
            <div class="progress-bar cart_bar_w">

                {% if global_bar_shipping_limit > 0 %}
                    <div class="qure__freeshipping-icon" style="--icon-pos:20%">

                        {% if global_total_price_devided >= global_bar_shipping_limit %}
                            <img src="https://qureskincaredns-main.com/sections/global/drawer/images/completed.svg" alt="shipping" />
                        {% else %}
                            <img src="{{ global_bar_shipping_image | image_url }}" alt="shipping" />
                        {% endif %}

                        <span class="d-block">{{ global_bar_shipping_limit | times: 100 | money_without_trailing_zeros }}</span>
                    </div>
                {% endif %}

                {% if global_bar_gift1_limit > 0 %}
                    <div class="qure__freeshipping-icon" style="--icon-pos:{% if global_bar_gift2_limit > 0 %}50{% else %}80{% endif %}%">

                        {% if global_total_price_devided >= global_bar_gift1_limit %}
                            <img src="https://qureskincaredns-main.com/sections/global/drawer/images/completed.svg" alt="shipping" />
                        {% else %}
                            <img src="{{ global_bar_gift1_image | image_url }}" alt="{{ global_bar_gift1_title | escape }}" />
                        {% endif %}

                        <span class="d-block">{{ global_bar_gift1_limit | times: 100 | money_without_trailing_zeros }}</span>
                    </div>
                {% endif %}

                {% if global_bar_gift2_limit > 0 %}
                    <div class="qure__freeshipping-icon" style="--icon-pos:80%">

                        {% if global_total_price_devided >= global_bar_gift2_limit %}
                            <img src="https://qureskincaredns-main.com/sections/global/drawer/images/completed.svg" alt="shipping" />
                        {% else %}
                            <img src="{{ global_bar_gift2_image | image_url }}" alt="{{ global_bar_gift2_title | escape }}" />
                        {% endif %}

                        <span class="d-block">{{ global_bar_gift2_limit | times: 100 | money_without_trailing_zeros }}</span>
                    </div>
                {% endif %}

                <span class="progress percent_shipping_bar" style="width: {{ global_bar_percent }}%;"></span>
            </div>
        </div>
    </div>
{% endif %}
