<div class="col-12 col-md-4 col-lg-4 custom__block">
    <div class="qure__footer_block qure__footer_block-nav">
        <h3 class="qure__footer-title">{{ 'footer.settings.navigation_header_1' | t }} <span class="open-children-toggle"></span></h3>
        <div class="qure__footer-content qure__footer-nav unactive">
            <div class="pb-20 pb-md-0">
                <ul>
                    {% for link in linklists['footer-menu'].links %}
                        {% if link.title == 'Shop' %}
                            {%- for __link in link.links -%}
                                <li><a href="{{ __link.url }}" aria-label="{{ __link.title | escape }}">{{ __link.title }}</a></li>
                            {%- endfor -%}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4 col-lg-4 custom__block">
    <div class="qure__footer_block qure__footer_block-nav">
        <h3 class="qure__footer-title">{{ 'footer.settings.navigation_header_2' | t }} <span class="open-children-toggle"></span></h3>
        <div class="qure__footer-content qure__footer-nav unactive">
            <div class="pb-20 pb-md-0">
                <ul>
                    {% for link in linklists['footer-menu'].links %}
                        {% if link.title == 'Learn' %}
                            {%- for __link in link.links -%}
                                <li><a href="{{ __link.url }}" aria-label="{{ __link.title | escape }}">{{ __link.title }}</a></li>
                            {%- endfor -%}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4 col-lg-4 custom__block">
    <div class="qure__footer_block qure__footer_block-nav">
        <h3 class="qure__footer-title">{{ 'footer.settings.navigation_header_3' | t }} <span class="open-children-toggle"></span></h3>
        <div class="qure__footer-content qure__footer-nav unactive">
            <div class="pb-20 pb-md-0">
                <ul>
                    {% for link in linklists['footer-menu'].links %}
                        {% if link.title == 'Qure' %}
                            {%- for __link in link.links -%}
                                <li><a href="{{ __link.url }}" aria-label="{{ __link.title | escape }}">{{ __link.title }}</a></li>
                            {%- endfor -%}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>