{% doc %}
  Renders a cart summary snippet for the cart drawer section

  @example
  {% include 'footer-cart-drawer-summary' %}
{% enddoc %}

<div class="minicart-footer">
    <div class="minicart-shadow">
        <div class="insurance-wrapper">
            <div class="insurance-ship">
                <div class="insurance__img-wrapper">
                    <img src="https://qureskincaredns-main.com/sections/global/drawer/images/secure-ship.svg" alt="secure ship" />
                    <span>
                        <svg class="insurance__text--info" width="10" height="10" viewBox="0 0 10 10" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5 0C2.23848 0 0 2.23848 0 5C0 7.76152 2.23848 10 5 10C7.76152 10 10 7.76152 10 5C10 2.23848 7.76152 0 5 0ZM5 1.95652C5.36022 1.95652 5.65217 2.24848 5.65217 2.6087C5.65217 2.96891 5.36022 3.26087 5 3.26087C4.63978 3.26087 4.34783 2.96891 4.34783 2.6087C4.34783 2.24848 4.63978 1.95652 5 1.95652ZM5.86957 7.82609H5.43478H4.56522H4.13043V7.3913H4.56522V4.56522H4.13043V4.13043H4.56522H5.43478V4.56522V7.3913H5.86957V7.82609Z"
                                fill="black"></path>
                        </svg>
                    </span>
                </div>
                <div class="insurance__text">{{ 'cart.drawer.settings.insurance-text' | t }} <span class="insurance__cost">+ {{ global_insurance_price }}</span></div>
            </div>

            <div id="toogle_insurance" class="insurance__switch-wrapper">
                <form method="post" action="/cart/add" enctype="multipart/form-data">
                    <label class="switch">
                        <input type="hidden" name="quantity" id="quantity" value="{% if summary_insurance_exists %}0{% else %}1{% endif %}">
                        <input type="hidden" id="insurance_id" name="id" value="{{ global_insurance_variant_id }}">
                        <input type="checkbox" id="insurance" name="insurance"{% if summary_insurance_exists %} checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                </form>
            </div>
        </div>
        <div class="qure__cart-summary">

            {% if summary_saving_price != null %}
            <div class="qure__cart-box qure__cart-savings">
                <div class="qure__cart-title">{{ 'cart.drawer.settings.savings' | t }}</div>
                <div class="qure__cart-price">{{ summary_saving_price }}</div>
            </div>
            {% endif %}

            <div class="qure__cart-box">
                <div class="qure__cart-title">{{ 'cart.drawer.settings.shipping' | t }}</div>
                <div class="qure__cart-price">
                    {% if global_shipping_price != null %}
                        <span>{{ global_shipping_price }}</span>
                    {% else %}
                        <span>{{ 'cart.drawer.settings.free' | t }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="qure__cart-box ">
                <div class="qure__cart-title">{{ 'cart.drawer.settings.subtotal' | t }}</div>
                <div class="qure__cart-price">
                    {% if summary_before_price != null %}
                    <span class="price old">{{ summary_before_price }}</span>
                    {% endif %}
                    <span class="price new">{{ summary_sale_price }}</span>
                </div>
            </div>
        </div>

    </div>
    <div class="drawer__cart-checkout-btn" style="--btn-font-size: 18px;">
        <form method="post" action="/checkout" enctype="multipart/form-data">
            <button class="btn btn--primary w-100 d-flex align-items-center justify-content-center gap-3 fw-600" type="submit" name="checkout">
                <span class="lock-checkout">{{ 'cart.drawer.settings.checkout' | t }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <path
                        d="M12.6667 7.89453H3.33333C2.59695 7.89453 2 8.49148 2 9.22786V13.8945C2 14.6309 2.59695 15.2279 3.33333 15.2279H12.6667C13.403 15.2279 14 14.6309 14 13.8945V9.22786C14 8.49148 13.403 7.89453 12.6667 7.89453Z"
                        fill="currentColor" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M4.66675 7.89453V5.22786C4.66675 4.34381 5.01794 3.49596 5.64306 2.87084C6.26818 2.24572 7.11603 1.89453 8.00008 1.89453C8.88414 1.89453 9.73198 2.24572 10.3571 2.87084C10.9822 3.49596 11.3334 4.34381 11.3334 5.22786V7.89453"
                        stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </form>
    </div>
    <div class="drawer__footer">
        <div class="drawer__cart__grid">
            <img src="https://qureskincaredns-main.com/assets/images/sheild.svg" class="img-fluid" />{{ 'cart.drawer.settings.guarantee-text' | t }}
        </div>
    </div>
</div>