{% doc %}
  Returns the cart upsell item for cart drawer section

  @param {string} product_handle - An string value.

  @example
  {% include 'footer-cart-drawer-upsells-item', product_handle: '' %}
{% enddoc %}

{% include 'get-product-data', product_handle: product_handle, product_prefix: 'upsells-item-' %}

{% if product_id != blank %}
    <div class="swiper-slide">
        <div class="cart__upsell">
            <div class="cart__upsell-img"><img src="{{ product_featured_image | img_url: '240x' }}" alt="{{ product_title | escape }}" class="img-fluid" /></div>
            <div class="cart__upsell-content">
                <div class="cart__upsell-title mb-0">{{ product_title }}</div>
                <div class="cart__upsell-price">{{ product_sale_price }}</div>
            </div>
            <div class="cart__upsell-btn d-flex align-items-center">
                <form method="post" action="/cart/add" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-sm btn--primary-white text-uppercase">{{ 'cart.drawer.upsell.button-label' | t }}</button>
                    <input type="hidden" name="quantity" id="quantity" value="1">
                    <input type="hidden" name="id" value="{{ product_variant_id }}">
                </form>
            </div>
        </div>
    </div>
{% endif %}