{% doc %}
  Renders a header menu item for the header section.

  @param {string} class - A string value.

  @example
  {% render 'header-menu-desktop', label: '' %}
{% enddoc %}

{% assign black_friday_turn_on = true %}

{% for link in linklists['main-header'].links %}
    {% if link.title == label %}
        {% if link.links.size > 0 %}
            {%- for __link in link.links -%}
                {% if column != blank %}
                    {% if __link.title == column %}
                        {%- for __child in __link.links -%}
                            <li class="submenu-item"><a href="{{ __child.url }}" aria-label="{{ __child.title | escape }}" role="link" class="submenu-menu-link">{{ __child.title }}</a></li>
                        {%- endfor -%}
                    {% endif %}
                {% else %}
                    {%- for __child in __link.links -%}
                        <li class="submenu-item"><a href="{{ __child.url }}" aria-label="{{ __child.title | escape }}" role="link" class="submenu-menu-link">{{ __child.title }}</a></li>
                    {%- endfor -%}
                {% endif %}
            {%- endfor -%}
        {% else %}
            {% if black_friday_turn_on == true %}
                <li class="level0 quer__menu-parent">
                    <a href="{{ 'black-friday.menu.link' | t }}" aria-label="{{ 'black-friday.menu.header' | t }}" class="position-relative black-friday-menu-item" role="link"><span>{{ 'black-friday.menu.header' | t }}</span></a>
                </li>
            {% else %}
                <li class="level0 quer__menu-parent">
                    <a href="{{ link.url }}" aria-label="{{ link.title | escape }}" class="position-relative" role="link"><span>{{ 'header.settings.navigation_header_1' | t }}</span></a>
                </li>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}