<<<<<<< HEAD
<nav class="navigation main-nav qure-mb-menu d-none d-lg-block">
    <ul class="horizontal-list">
        {% render 'header-menu-items' label: 'BEST SELLERS' %}
        <li class="level0 quer__menu-parent menu-width-full-width">
            <a class="position-relative" role="link"><span>{{ 'header.settings.navigation_header_2' | t }}</span></a>
            <div class="submenu position-absolute">
                <div class="container">
                    <div class="row">
                        <div class="quer-menu-item type_link col-sm-8">
                            <div class="quer-menu-inner">
                                <div class="quer-menu-block">
                                    <div class="subchildmenu-title position-relative">
                                        <a class="subchildmenu-link" role="link">{{ 'header.settings.navigation_header_2_column_one' | t }}</a>
                                    </div>
                                    <ul class="subchildmenu sub-column sub-column-grid">
                                        {% render 'header-menu-items' label: 'Products', column: 'Shop' %}
                                    </ul>
                                </div>
                                <div class="quer-menu-block">
                                    <div class="subchildmenu-title position-relative">
                                        <a class="subchildmenu-link" role="link">{{ 'header.settings.navigation_header_2_column_second' | t }}</a>
                                    </div>
                                    <ul class="subchildmenu sub-column sub-column-grid">
                                        {% render 'header-menu-items' label: 'Products', column: 'Shop by Concern' %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="quer-menu-item type_banner col-sm-4">
                            <slide-with-thumbs>
                                <div class="qure-menu-gallery qure__swiper-wrapper">
                                    <!-- Galler start-->
                                    <div class="swiper qure-menu-gallery qure__swiper-gallery" data-section-id="featured-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="0">
                                        <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                                            <div class="swiper-slide">
                                                <div class="quer-collection-content">
                                                    <div class="slide-image">
                                                        <img src="https://qureskincaredns-main.com/sections/global/header/images/cs-1.webp" alt="1"
                                                            class="img-fluid w-100" />
                                                        <div class="qc-title bottom-0">Save up to 55% on bundles <i
                                                            class="fa-regular fa-arrow-right"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="slide-image">
                                                    <img src="https://qureskincaredns-main.com/sections/global/header/images/cs-2.webp" alt="2"
                                                        class="img-fluid w-100" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="slide-image">
                                                    <img src="https://qureskincaredns-main.com/sections/global/header/images/cs-3.webp" alt="3"
                                                        class="img-fluid w-100" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="slide-image">
                                                    <img src="https://qureskincaredns-main.com/sections/global/header/images/cs-4.webp" alt="4"
                                                        class="img-fluid w-100" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Galler End-->
                                    <div class="swiper-thumbnail-with-arrow swiper__menu-arrow mt-3" style="--gap:8px;">
                                        <!-- Thumbnails start-->
                                        <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
                                        <div class="swiper qure-menu-gallery qure-menu-thumbnails qure__swiper-gallery-thumbnails" data-section-id="qure-menu-thumbnails" data-mobile="3" data-tablet="4" data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="8">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="slide-thumbnail">
                                                        <img src="https://qureskincaredns-main.com/sections/global/header/images/sm-1.webp" alt="1"
                                                            class="img-fluid" />
                                                        <span class="qc__thumb-title">Breakout Control Advanced</span>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="slide-thumbnail">
                                                        <img src="https://qureskincaredns-main.com/sections/global/header/images/sm-2.webp" alt="2"
                                                            class="img-fluid" />
                                                        <span class="qc__thumb-title">Line Refine Advanced</span>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="slide-thumbnail">
                                                        <img src="https://qureskincaredns-main.com/sections/global/header/images/sm-3.webp" alt="3"
                                                            class="img-fluid" />
                                                        <span class="qc__thumb-title">Fade & Firm Advanced </span>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="slide-thumbnail">
                                                        <img src="https://qureskincaredns-main.com/sections/global/header/images/sm-4.webp" alt="4"
                                                            class="img-fluid" />
                                                        <span class="qc__thumb-title">Water Filter Family</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
                                    </div>
                                    <!-- Thumbnails End-->
                                </div>
                            </slide-with-thumbs>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="level0 quer__menu-parent menu-width-full-width">
            <a class="position-relative" role="link"><span>{{ 'header.settings.navigation_header_3' | t }}</span></a>
            <div class="submenu position-absolute">
                <div class="container">
                    <div class="row">
                        <div class="quer-menu-item type_link col-sm-3">
                            <div class="quer-menu-inner">
                                <div class="quer-menu-block">
                                    <ul class="subchildmenu sub-column">
                                        {% render 'header-menu-items' label: 'Help center' %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="quer-menu-item type_banner col-sm-8 offset-sm-1">
                            <div class="quer-menu-banner">
                                <a href="#" class="quer-collection-content">
                                    <div class="qc-img hover-zoom">
                                        <img src="https://qureskincaredns-main.com/sections/global/header/images/help-1.webp" alt="header_drop2.webp" class="img-fluid" />
                                    </div>
                                    <div class="qc-title">Q-Rejuvalight Pro Guide <i class="fa-regular fa-arrow-right"></i> </div>
                                </a>
                                <a href="#" class="quer-collection-content">
                                    <div class="qc-img hover-zoom">
                                        <img src="https://qureskincaredns-main.com/sections/global/header/images/help-2.webp" alt="header_drop2_400x" class="img-fluid" />
                                    </div>
                                    <div class="qc-title">Shop Micro-Infusion <i class="fa-regular fa-arrow-right"></i></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
=======
{% doc %}
  Renders a desktop header menu snippet for the header section.

  @example
  {% render 'header-menu-desktop' %}
{% enddoc %}

<nav class="navigation main-nav qure-mb-menu d-none d-lg-block">
    <ul class="horizontal-list">
        {% render 'header-menu-items' label: 'BEST SELLERS' %}
        <li class="level0 quer__menu-parent menu-width-full-width">
            <a class="position-relative" role="link"><span>{{ 'header.settings.navigation_header_2' | t }}</span></a>
            <div class="submenu position-absolute">
                <div class="container">
                    <div class="row">
                        <div class="quer-menu-item type_link col-sm-8">
                            <div class="quer-menu-inner">
                                <div class="quer-menu-block">
                                    <div class="subchildmenu-title position-relative">
                                        <a class="subchildmenu-link" role="link">{{ 'header.settings.navigation_header_2_column_one' | t }}</a>
                                    </div>
                                    <ul class="subchildmenu sub-column sub-column-grid">
                                        {% render 'header-menu-items' label: 'Products', column: 'Shop' %}
                                    </ul>
                                </div>
                                <div class="quer-menu-block">
                                    <div class="subchildmenu-title position-relative">
                                        <a class="subchildmenu-link" role="link">{{ 'header.settings.navigation_header_2_column_second' | t }}</a>
                                    </div>
                                    <ul class="subchildmenu sub-column sub-column-grid">
                                        {% render 'header-menu-items' label: 'Products', column: 'Shop by Concern' %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="quer-menu-item type_banner col-sm-4 header-slider-desktop">
                            {% render 'header-slider-desktop' %}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="level0 quer__menu-parent menu-width-full-width">
            <a class="position-relative" role="link"><span>{{ 'header.settings.navigation_header_3' | t }}</span></a>
            <div class="submenu position-absolute">
                <div class="container">
                    <div class="row">
                        <div class="quer-menu-item type_link col-sm-3">
                            <div class="quer-menu-inner">
                                <div class="quer-menu-block">
                                    <ul class="subchildmenu sub-column">
                                        {% render 'header-menu-items' label: 'Help center' %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="quer-menu-item type_banner col-sm-8 offset-sm-1">
                            <div class="quer-menu-banner">
                                {% render 'header-menu-desktop-pages-item', title: settings.header_help_center_menu1_title, image: settings.header_help_center_menu1_image, url: settings.header_help_center_menu1_url %}
                                {% render 'header-menu-desktop-pages-item', title: settings.header_help_center_menu2_title, image: settings.header_help_center_menu2_image, url: settings.header_help_center_menu2_url %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    loadScriptOnce('header-slider-desktop', 'https://qureskincaredns-main.com/assets/shopify/js/header-slider-desktop.js');
  });
</script>
>>>>>>> production
