{% doc %}
  Renders a mobile header menu snippet for the header section.

  @example
  {% render 'header-menu-mobile' %}
{% enddoc %}

<div class="navigation-mobile main-nav-mobile d-block d-lg-none">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-mobile-tab" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="/collections/best-sellers" class="nav-link" id="bestSeller-tab">{{ 'header.settings.navigation_header_1' | t }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="Products-tab" data-bs-toggle="tab" data-bs-target="#products"
            type="button" role="tab" aria-controls="Products" aria-selected="true">{{ 'header.settings.navigation_header_2' | t }}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="help-tab" data-bs-toggle="tab" data-bs-target="#help" type="button"
            role="tab" aria-controls="help" aria-selected="false">{{ 'header.settings.navigation_header_3' | t }}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="learnmore-tab" data-bs-toggle="tab" data-bs-target="#learnmore"
            type="button" role="tab" aria-controls="learnmore" aria-selected="false">{{ 'header.settings.navigation_header_4' | t }}</button>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content mobile-tab-content">
        <div class="tab-pane active" id="products" role="tabpanel" aria-labelledby="products-tab"
            tabindex="0">
            <div class="accordion" id="qureAccordion">
            <div class="accordion-item mob-accordion-item border-0 m-0 p-0">
                <div class="accordion-collapse">
                    {% render 'header-slider-mobile' %}
                </div>
            </div>
            <div class="accordion-item mob-accordion-item">
                <div class="accordion-collapse quer-menu-inner">
                    <div class="quer-menu-block">
                        <div class="subchildmenu-title position-relative">
                            <a class="subchildmenu-link" role="link">{{ 'header.settings.navigation_header_2_column_one' | t }}</a>
                        </div>
                        <ul class="subchildmenu sub-column mob__submenu">
                            {% render 'header-menu-items' label: 'Products', column: 'Shop' %}
                        </ul>
                    </div>
                    <div class="quer-menu-block">
                        <div class="subchildmenu-title position-relative">
                            <a class="subchildmenu-link" role="link">{{ 'header.settings.navigation_header_2_column_second' | t }}</a>
                        </div>
                        <ul class="subchildmenu sub-column mob__submenu">
                            {% render 'header-menu-items' label: 'Products', column: 'Shop by Concern' %}
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="help" role="tabpanel" aria-labelledby="help-tab" tabindex="0">
            <div class="px-24 py-30 border-bottom">
                <div class="quer-menu-inner">
                    <div class="quer-menu-block">
                        <ul class="subchildmenu sub-column">
                            {% render 'header-menu-items' label: 'Help center' %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="px-24 py-20">
                <div class="qure__swiper-offset">
                    <slide-carousel>
                        <div class="swiper qure__swiper-carousel" id="qure__swiper-helpCenter" data-section-id="helpCenter" data-autoplay="false" data-loop="false" data-mobile="1.2" data-tablet="1.2" data-desktop="1.2" data-arrow-centerimage="1" data-item-mobile="1" data-spacing="15" data-pagination-progressbar="carousel_pagination_progress">
                            <div class="swiper-wrapper">
                                {% render 'header-menu-mobile-pages-item', title: settings.header_help_center_menu1_title, image: settings.header_help_center_menu1_image, url: settings.header_help_center_menu1_url %}
                                {% render 'header-menu-mobile-pages-item', title: settings.header_help_center_menu2_title, image: settings.header_help_center_menu2_image, url: settings.header_help_center_menu2_url %}
                            </div>
                        </div>
                    </slide-carousel>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="learnmore" role="tabpanel" aria-labelledby="learnmore-tab" tabindex="0">
            <div class="px-24 py-30 border-bottom">
            <div class="quer-menu-inner">
                <div class="quer-menu-block">
                    <ul class="subchildmenu sub-column">
                        {% render 'header-menu-items' label: 'Learn more' %}
                    </ul>
                </div>
            </div>
            </div>
            <div class="px-24 py-20">
            <div class="qure__swiper-offset">
                <slide-carousel>
                    <div class="swiper qure__swiper-carousel" id="qure__swiper-learnMore" data-section-id="learnMore" data-autoplay="false" data-loop="false" data-mobile="1.2" data-tablet="2" data-desktop="2" data-arrow-centerimage="1" data-item-mobile="1" data-spacing="15" data-pagination-progressbar="carousel_pagination_progress">
                        <div class="swiper-wrapper">
                            {% render 'header-menu-mobile-pages-item', title: settings.header_learn_more_menu1_title, image: settings.header_learn_more_menu1_image, url: settings.header_learn_more_menu1_url %}
                            {% render 'header-menu-mobile-pages-item', title: settings.header_learn_more_menu2_title, image: settings.header_learn_more_menu2_image, url: settings.header_learn_more_menu2_url %}
                        </div>
                    </div>
                </slide-carousel>
            </div>
            </div>
        </div>

        {% if linklists['main-mobile-drawer-menu'].links.size > 0 %}
            <div class="px-24 py-30 border-top" style="--bs-border-color: #8B8C8E;">
                <ul class="mob-help-nav">
                    {% for link in linklists['main-mobile-drawer-menu'].links %}

                        {% case link.title %}
                            {% when 'Customer Account' %}
                                {% capture icon %}<i class="icon qure-user"></i>{% endcapture %}
                            {% when 'FAQs' %}
                                {% capture icon %}<i class="icon qure-faqs"></i>{% endcapture %}
                            {% when 'Contact Us' %}
                                {% capture icon %}<i class="icon qure-email"></i>{% endcapture %}
                            {% when 'Shipping & Returns' %}
                                {% capture icon %}<i class="icon qure-shipping"></i>{% endcapture %}
                            {% else %}
                                {% capture icon %}<i class="icon"></i>{% endcapture %}
                        {% endcase %}

                        <li><a href="{{ link.url }}" aria-label="{{ link.title | escape }}">{{ icon }} <span>{{ link.title }}</span></a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>