<div class="navigation-mobile main-nav-mobile d-block d-lg-none">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-mobile-tab" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="#" class="nav-link" id="bestSeller-tab">{{ 'header.settings.navigation_header_1' | t }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="Products-tab" data-bs-toggle="tab" data-bs-target="#products"
            type="button" role="tab" aria-controls="Products" aria-selected="true">{{ 'header.settings.navigation_header_2' | t }}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="help-tab" data-bs-toggle="tab" data-bs-target="#help" type="button"
            role="tab" aria-controls="help" aria-selected="false">{{ 'header.settings.navigation_header_3' | t }}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="learnmore-tab" data-bs-toggle="tab" data-bs-target="#learnmore"
            type="button" role="tab" aria-controls="learnmore" aria-selected="false">{{ 'header.settings.navigation_header_4' | t }}</button>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content mobile-tab-content">
        <div class="tab-pane active" id="products" role="tabpanel" aria-labelledby="products-tab"
            tabindex="0">
            <div class="accordion" id="qureAccordion">
            <div class="accordion-item mob-accordion-item border-0 m-0 p-0">
                <div class="accordion-collapse">
                    <slide-with-thumbs>
                        <div class="qure-menu-gallery qure__swiper-wrapper p-24">
                            <!-- Galler start-->
                            <div class="swiper qure-menu-gallery qure__swiper-gallery" data-section-id="featured-gallery-desktop" data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="0">
                                <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                                    <div class="swiper-slide">
                                        <div class="quer-collection-content">
                                            <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/global/header/images/cs-1.webp" alt="1"
                                                class="img-fluid w-100" />
                                            <div class="qc-title bottom-0">Save up to 55% on bundles <i
                                                    class="fa-regular fa-arrow-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/global/header/images/cs-2.webp" alt="2"
                                            class="img-fluid w-100" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/global/header/images/cs-3.webp" alt="3"
                                            class="img-fluid w-100" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/global/header/images/cs-4.webp" alt="4"
                                            class="img-fluid w-100" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/global/header/images/cs-4.webp" alt="4"
                                            class="img-fluid w-100" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/global/header/images/cs-4.webp" alt="4"
                                            class="img-fluid w-100" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Galler End-->
                            <!-- Thumbnails start-->
                            <div class="swiper-thumbnail-with-arrow qure-menu-thumbnails-mobile swiper__menu-arrow mt-3" style="--gap:8px;">
                                <div class="swiper qure-menu-gallery qure__swiper-gallery-thumbnails" data-section-id="qure-menu-thumbnails" data-mobile="4.2" data-tablet="6.2" data-desktop="6.2" data-autoplay="false" data-loop="false" data-spacing="8">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/global/header/images/sm-1.webp" alt="1" class="img-fluid" />
                                                <span class="qc__thumb-title">Breakout Control Advanced</span>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/global/header/images/sm-2.webp" alt="2" class="img-fluid" />
                                                <span class="qc__thumb-title">Line Refine Advanced</span>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/global/header/images/sm-3.webp" alt="3" class="img-fluid" />
                                                <span class="qc__thumb-title">Fade & Firm Advanced </span>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/global/header/images/sm-4.webp" alt="4" class="img-fluid" />
                                                <span class="qc__thumb-title">Water Filter Family</span>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/global/header/images/sm-4.webp" alt="4" class="img-fluid" />
                                                <span class="qc__thumb-title">Water Filter Family</span>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/global/header/images/sm-4.webp" alt="4" class="img-fluid" />
                                                <span class="qc__thumb-title">Water Filter Family</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Thumbnails End-->
                        </div>
                    </slide-with-thumbs>
                </div>
            </div>
            <div class="accordion-item mob-accordion-item">
                <div class="accordion-collapse quer-menu-inner">
                    <div class="quer-menu-block">
                        <div class="subchildmenu-title position-relative">
                            <a class="subchildmenu-link" role="link">{{ 'header.settings.navigation_header_2_column_one' | t }}</a>
                        </div>
                        <ul class="subchildmenu sub-column mob__submenu">
                            {% render 'header-menu-items' label: 'Products', column: 'Shop' %}
                        </ul>
                    </div>
                    <div class="quer-menu-block">
                        <div class="subchildmenu-title position-relative">
                            <a class="subchildmenu-link" role="link">{{ 'header.settings.navigation_header_2_column_second' | t }}</a>
                        </div>
                        <ul class="subchildmenu sub-column mob__submenu">
                            {% render 'header-menu-items' label: 'Products', column: 'Shop by Concern' %}
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="help" role="tabpanel" aria-labelledby="help-tab" tabindex="0">
            <div class="px-24 py-30 border-bottom">
                <div class="quer-menu-inner">
                    <div class="quer-menu-block">
                        <ul class="subchildmenu sub-column">
                            {% render 'header-menu-items' label: 'Help center' %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="px-24 py-20">
                <div class="qure__swiper-offset">
                    <slide-carousel>
                        <div class="swiper qure__swiper-carousel" id="qure__swiper-helpCenter" data-section-id="helpCenter" data-autoplay="false" data-loop="false" data-mobile="1.2" data-tablet="1.2" data-desktop="1.2" data-arrow-centerimage="1" data-item-mobile="1" data-spacing="15" data-pagination-progressbar="carousel_pagination_progress">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="quer-collection-content">
                                        <div class="qc-img hover-zoom">
                                            <img src="https://qureskincaredns-main.com/sections/global/header/images/help-1.webp" alt="header_drop2.webp"
                                            class="img-fluid" />
                                        </div>
                                        <div class="qc-title bottom-0">Q-Rejuvalight Pro Guide <i
                                            class="fa-regular fa-arrow-right"></i></div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="quer-collection-content">
                                        <div class="qc-img hover-zoom">
                                            <img src="https://qureskincaredns-main.com/sections/global/header/images/help-2.webp" alt="header_drop2.webp"
                                            class="img-fluid" />
                                        </div>
                                        <div class="qc-title bottom-0">Micro-Infusion Guide <i class="fa-regular fa-arrow-right"></i></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </slide-carousel>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="learnmore" role="tabpanel" aria-labelledby="learnmore-tab" tabindex="0">
            <div class="px-24 py-30 border-bottom">
            <div class="quer-menu-inner">
                <div class="quer-menu-block">
                    <ul class="subchildmenu sub-column">
                        {% render 'header-menu-items' label: 'Learn more' %}
                    </ul>
                </div>
            </div>
            </div>
            <div class="px-24 py-20">
            <div class="qure__swiper-offset">
                <slide-carousel>
                    <div class="swiper qure__swiper-carousel" id="qure__swiper-learnMore"
                        data-section-id="learnMore" data-autoplay="false" data-loop="false" data-mobile="1.2"
                        data-tablet="2" data-desktop="2" data-arrow-centerimage="1" data-item-mobile="1"
                        data-spacing="15" data-pagination-progressbar="carousel_pagination_progress">

                        <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="quer-collection-content">
                                <div class="qc-img hover-zoom">
                                    <img src="https://qureskincaredns-main.com/assets/images/header_drop1_400x.webp" alt="header_drop2.webp" class="img-fluid" />
                                </div>
                                <div class="qc-title bottom-0">Shop Micro-Infusion <i
                                    class="fa-regular fa-arrow-right"></i></div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="quer-collection-content">
                                <div class="qc-img hover-zoom">
                                    <img src="https://qureskincaredns-main.com/assets/images/header_drop2_400x.webp" alt="header_drop2.webp" class="img-fluid" />
                                </div>
                                <div class="qc-title bottom-0">Discover Best Sellers <i
                                    class="fa-regular fa-arrow-right"></i></div>
                            </a>
                        </div>
                        </div>

                    </div>
                </slide-carousel>
            </div>
            </div>
        </div>
        <div class="px-24 py-30 border-top" style="--bs-border-color: #8B8C8E;">
            <ul class="mob-help-nav">
            <li><a href="#"><i class="icon qure-user"></i> <span>Customer Account</span></a></li>
            <li><a href="#"><i class="icon qure-faqs"></i> <span>FAQs</span></a></li>
            <li><a href="#"><i class="icon qure-email"></i> <span>Contact Us</span></a></li>
            <li><a href="#"><i class="icon qure-shipping"></i> <span>Shipping & Returns</span></a></li>
            </ul>
        </div>
    </div>
</div>