{% doc %}
  Renders product price

  @param {product_sale_price} - A string value.
  @param {product_before_price} - A string value.
  @param {product_discount} - A string value.
  @param {object} - A section object.
  @param {object} - A block object.

  @example
  {% render 'n-product-price', product_sale_price: '', product_before_price: '', product_discount: '', section: '', block: '' %}
{% enddoc %}

{% assign reserved = false %}
{% assign soldout = false %}

{% if block == blank %}
  {% for _block in section.blocks %}
      {% if _block.type == 'price' %}
          {% assign block = _block %}
      {% endif %}
  {% endfor %}
{% endif %}

{% if section != blank %}
  {% if section.settings.reserved != blank %}
    {% assign reserved = true %}
  {% endif %}
  {% if section.settings.soldout != blank %}
    {% assign soldout = true %}
  {% endif %}
{% endif %}


{%- if block.settings.show_discount != blank and product_discount != blank -%}
    <div class="c-special-offer">
      <div class="e-price">
          <div class="e-price__main">
              <div class="e-price__current">{{ product_sale_price }}</div>
              <div class="e-price__old">{{ product_before_price }}</div>
          </div>
      </div>
      <div class="e-pill-save">{{ 'product.settings.save' | t }} {{ product_discount }}%</div>
  </div>

  {% if reserved == false and soldout == false %}
    <script>
      let buy_and_save_button_label = '{{ 'product.settings.buy-and-save-button-label' | t }} {{ product_discount }}%';

      document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('n-product-price.js', '{{ 'n-product-price.js' | asset_url }}');
      });
    </script>
  {%- endif -%}
{%- else -%}
  <div class="e-price">
      <div class="e-price__main">
          <div class="e-price__current" data-product-id="{{ product.id }}">{{ product_sale_price }}</div>
      </div>
  </div>
{%- endif -%}