{% doc %}
  Renders a product exclusive offer snippet for the page-header section

  @param {object} - A section object.
  @param {object} - A block object.

  @example
  {% render 'product-exclusive-offer', section: '', block: '' %}
{% enddoc %}

{% if block == blank %}
    {% for _block in section.blocks %}
        {% if _block.type == 'exclusive-offer' %}
            {% assign block = _block %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="c-exclusive-offer">
    <div class="c-exclusive-offer__tag">
        {{ 'page.exclusive-offer.n_header_html' | t }}
    </div>
    <div class="c-exclusive-offer__list">
        <div class="c-exclusive-offer__item">
            {% include 'get-product-data', product_handle: block.settings.product, product_prefix: 'product-exclusive-offer-' %}
            {% if block.settings.image_product1 != blank %}
                <img src="{{ block.settings.image_product1 | img_url: '250x' }}" alt="{{ block.settings.image_product1.alt | escape }}" />
            {% endif %}
            <div>{{ product_sale_price }}</div>
        </div>
        <i class="e-icon e-icon-plus"></i>

        <div class="c-exclusive-offer__item">
            {% include 'get-product-data', product_handle: block.settings.product2, product_prefix: 'product-exclusive-offer-' %}
            {% if block.settings.image_product2 != blank %}
                <img src="{{ block.settings.image_product2 | img_url: '250x' }}" alt="{{ block.settings.image_product2.alt | escape }}" />
            {% endif %}
            <div><del>{{ product_sale_price }}</del> <strong>{{ 'page.exclusive-offer.free' | t }}</strong></div>
        </div>
    </div>
    <p class="c-exclusive-offer__desc">{{ block.settings.text |  replace: '<p>', '' |  replace: '</p>', '' | replace: '$299', product_sale_price }}</p>
</div>

<script>
    const exclusive_button_label = '{{ 'page.exclusive-offer.button-label' | t }} {{ product_sale_price }}';
    const exclusive_product = window.get_products_data["product-exclusive-offer-{{ block.settings.product }}"];
    const exclusive_product2 = window.get_products_data["product-exclusive-offer-{{ block.settings.product2 }}"];

    document.addEventListener("DOMContentLoaded", function () {
      loadScriptOnce('product-exclusive-offer', 'https://qureskincaredns.com/shopify/js/product-exclusive-offer.js');
    });
</script> 