{% if section.settings.type == 'variant' %}
    {% for block in section.blocks %}
        {% if block.type == 'subscription' %}

            {% assign product_prefix = 'purchase-form-landing-subscription-' %}

            {% if block.settings.product != blank %}
                {%- assign subscription_discount_percent = block.settings.product_discount_percent -%}
                {% include 'get-product-data', product_handle: block.settings.product, product_prefix: product_prefix %}
                {%- capture subscription_product -%}
                    {{ 'purchase-form.settings.subscription-days-option' | t }} {{ block.settings.subscription_days_text }} (<del>{{ product_sale_price }}</del> {{ product_subscription_price }})
                {%- endcapture -%}
            {%- endif -%}

            {% assign subscription_discount_percent = block.settings.subscription_discount_percent %}

            {% include 'get-product-data', product_handle: product.handle, product_prefix: product_prefix %}

            {% capture data-per %}
                {% if subscription_discount_percent > 0 %}
                    {{ 'purchase-form.settings.subscribe-and-save-button-label' | t: value: subscription_discount_percent }}
                {% else %}
                    {{ 'purchase-form.settings.subscribe-button-label' | t }}
                {% endif %}
            {% endcapture %}

            <div class="c-subscribe-selector" id="purchase_form_landing_subscription">
                <p class="c-subscribe-selector__title">{{ 'purchase-form.settings.select-product-delivery' | t }}</p>
                <ul class="c-subscribe-selector__list">
                    <li class="c-subscribe-selector__item save-subscription" data-per="{{ data-per }}" data-per-preorder="{{ 'purchase-form.settings.reserve-and-save-button-label' | t: value: subscription_discount_percent }}">
                        <label class="c-subscribe-selector__label">
                            <input type="radio" name="subscribe" checked="checked" />
                            <div class="c-subscribe-selector__name">
                                {{ 'purchase-form.settings.subscribe' | t }}
                                {% if subscription_discount_percent > 0 %}
                                    &amp; <div class="e-pill-save">{{ 'purchase-form.settings.save' | t | upcase }} {{ subscription_discount_percent }}%</div>
                                {% endif %}
                            </div>

                            {% if black_friday_discount_percent > 0 %}
                                <div class="c-subscribe-selector__price">
                                    <div class="e-price e-price--highlight">
                                        <div class="e-price__main">
                                            {% if subscription_discount_percent > 0 %}
                                                <div class="e-price__current">{{ product_subscription_price }}</div>
                                                <div class="e-price__old">{{ product_sale_price }}</div>
                                            {% else %}
                                                <div class="e-price__current">{{ product_sale_price }}</div>
                                            {% endif %}
                                            <div class="e-price__blackfriday">{{ black_friday_product_subscription_price }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="c-subscribe-selector__price">
                                    <div class="e-price e-price--highlight">
                                        <div class="e-price__main">
                                            {% if subscription_discount_percent > 0 %}
                                                <div class="e-price__current">{{ product_subscription_price }}</div>
                                                <div class="e-price__old">{{ product_sale_price }}</div>
                                            {% else %}
                                                <div class="e-price__current">{{ product_sale_price }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="c-subscribe-selector__text" id="subscribe_and_save">
                                <p>
                                    {% if block.settings.subscription_onetime_text != blank %}
                                        {{ 'purchase-form.settings.subscription-onetime-option' | t }} {{ block.settings.subscription_onetime_text }}<br />
                                    {% endif %}
                                    {% if block.settings.subscription_days_text != blank %}
                                        {% if subscription_discount_percent > 0 %}
                                            {% if block.settings.product != blank %}
                                                {{ subscription_product }}
                                            {% else %}
                                                {{ 'purchase-form.settings.subscription-days-option' | t }} {{ block.settings.subscription_days_text }} (<del>{{ product_sale_price }}</del> {{ product_subscription_price }})
                                            {% endif %}
                                        {% else %}
                                            {{ 'purchase-form.settings.subscription-days-option' | t }} {{ block.settings.subscription_days_text }} ({{ product_sale_price }})
                                        {% endif %}
                                    {% endif %}
                                </p>
                                {{ 'purchase-form.settings.n_more_details_html' | t }}
                            </div>
                            <div class="c-subscribe-selector__tag">{{ 'purchase-form.settings.best-value' | t }} <i class="e-icon e-icon-rating-fill"></i></div>
                        </label>
                    </li>
                    <li class="c-subscribe-selector__item one_time_purchase">
                        <label class="c-subscribe-selector__label">
                            <input type="radio" name="subscribe" />
                            <div class="c-subscribe-selector__name">{{ 'purchase-form.settings.onetime' | t }}</div>

                            {% if black_friday_discount_percent > 0 %}
                                <div class="c-subscribe-selector__price">
                                    <div class="e-price">
                                        <div class="e-price__main">
                                            <div class="e-price__current">{{ product_sale_price }}</div>
                                            <div class="e-price__blackfriday">{{ product_black_friday_price }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="c-subscribe-selector__price">
                                    <div class="e-price">
                                        <div class="e-price__main">
                                            <div class="e-price__current">{{ product_sale_price }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                                    

                            <div class="c-subscribe-selector__text" id="one_time_purchase">
                                <p>{{ block.settings.onetime_text }}</p>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}