{% if array != blank %}
    {%- for __id in array -%}
        {% assign block = section.blocks | where: "id", __id | first %}
        {% if block.type == 'product_type' %}
            {% assign product_type_title = block.settings.heading | strip_newlines | strip | replace: ' ', '' | downcase %}
            <li class="purchase_form_lading_product_type_item" id="{{ section.id }}-{{ product_type_title }}">
                <label for="{{ section.id }}-{{ block.id }}">
                    <input type="radio" class="color" name="purchase_form_lading_product_type_{{ section.settings.form_name }}" id="{{ section.id }}-{{ block.id }}" data-name="{{ block.settings.heading | escape }}" {% if block.settings.preselected == true %} checked{% endif %}>
                    {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: '250x' }}" alt="{{ block.settings.heading | escape }}" />
                    {% endif %}
                    <span>{{ block.settings.heading }}</span>
                </label>
            </li>
        {% endif %}
    {%- endfor -%}
{% endif %}