<div class="c-supply-selector c-supply-selector--tiles">
    <p class="c-supply-selector__title">{{ 'purchase-form.settings.select-product-variant' | t }}</p>
    {% include 'n-purchase-form-landing-products-item' array: __idsArray1, preorder_box: preorder_box %}
    {% include 'n-purchase-form-landing-products-item' array: __idsArray2, preorder_box: preorder_box %}
    {% include 'n-purchase-form-landing-products-item' array: __idsArray3, preorder_box: preorder_box %}
    <div id="{{ section.settings.form_name }}-body-{{ section.id }}"></div>
</div>


{% comment %} {% capture preorder_box %}
    {% render 'product-page-next-ships', section: section, class: 'hide preorder_box' %}
{% endcapture %}

<div class="select-supply">
    {% case section.settings.type %}
        {% when 'variant' %}
            <div class="select-supply__label">{{ 'purchase-form.settings.select-product-variant' | t }}</div>
            {% include 'purchase-form-landing-products-type_variant-item' array: __idsArray1, preorder_box: preorder_box %}
            {% include 'purchase-form-landing-products-type_variant-item' array: __idsArray2, preorder_box: preorder_box %}
            {% include 'purchase-form-landing-products-type_variant-item' array: __idsArray3, preorder_box: preorder_box %}
        {% when 'list' %}
            <div class="select-supply__label">{{ 'purchase-form.settings.select-product' | t }}</div>
            {% include 'purchase-form-landing-products-type_list-item' array: __idsArray1, preorder_box: preorder_box %}
            {% include 'purchase-form-landing-products-type_list-item' array: __idsArray2, preorder_box: preorder_box %}
            {% include 'purchase-form-landing-products-type_list-item' array: __idsArray3, preorder_box: preorder_box %}
        {% else %}
            <div class="select-supply__label">{{ 'purchase-form.settings.select-product' | t }}</div>
            {% include 'purchase-form-landing-products-item' array: __idsArray1, preorder_box: preorder_box %}
            {% include 'purchase-form-landing-products-item' array: __idsArray2, preorder_box: preorder_box %}
            {% include 'purchase-form-landing-products-item' array: __idsArray3, preorder_box: preorder_box %}    
    {% endcase %}
    <div id="{{ section.settings.form_name }}-body-{{ section.id }}"></div>
</div> {% endcomment %}