{% assign quote_content_is_shown = false %}
{% assign wistia_video_is_shown = false %}
{% assign image_is_shown = false %}

{% capture quote_content %}
    {% for block in section.blocks %}
        {% if block.type == 'quote' %}
            <div class="c-note{% if block.settings.style == 'blue' %} c-note--info{% elsif block.settings.style == 'red' %} c-note--warning{% endif %}">
                {% if block.settings.text != blank %}
                    {{ block.settings.text }}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endcapture %}

{% capture wistia_video_content %}
    {% for block in section.blocks %}
        {% if block.type == 'wistia_video' %}
            {% if block.settings.wistia_url != blank %}
                <picture
                    {% if block.settings.desktop %}
                        class="d-none d-lg-block"
                    {% endif %} 
                    data-label-text="Watch: How To Use"
                    data-bs-toggle="modal"
                    data-bs-target="#reusableWistiaModal"
                    data-video-id="{{ block.settings.wistia_url }}"
                >
                {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                {% endif %}
                </picture>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endcapture %}

{% capture image_content %}
    {% for block in section.blocks %}
        {% if block.type == 'image' %}
            <picture>
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
            </picture>
        {% endif %}
    {% endfor %}
{% endcapture %}

{% if section.settings.text contains '[quote_content]' %}
    {% assign quote_content_is_shown = true %} 
{% endif %}

{% if section.settings.text contains '[wistia_video]' %}
    {% assign wistia_video_is_shown = true %}
{% endif %}

{% if section.settings.text contains '[image]' %}
    {% assign image_is_shown = true %}
{% endif %}

{% if section.settings.text != blank %}
    {% assign processed_text = section.settings.text %}
    
    {% if quote_content_is_shown == true %}
        {% if quote_content != blank %}
            {% assign processed_text = processed_text | replace: '<p>[quote_content]', quote_content %}
        {% else %}
            {% assign processed_text = processed_text | replace: '<p>[quote_content]', '' %}
        {% endif %}
    {% endif %}
    
    {% if wistia_video_is_shown == true %}
        {% if wistia_video_content != blank %}
            {% assign processed_text = processed_text | replace: '<p>[wistia_video]', wistia_video_content %}
        {% else %}
            {% assign processed_text = processed_text | replace: '<p>[wistia_video]', '' %}
        {% endif %}
    {% endif %}
    
    {% if image_is_shown == true %}
        {% if image_content != blank %}
            {% assign processed_text = processed_text | replace: '<p>[image]', image_content %}
        {% else %}
            {% assign processed_text = processed_text | replace: '<p>[image]', '' %}
        {% endif %}
    {% endif %}
    
    {% assign processed_text = processed_text | replace: '<p>[hr]</p>', '<hr />' %}
    
    {{ processed_text }}
{% endif %}