{% doc %}
  Renders a page video snippet for page-header section.

  @param {object} - A section object.
  @param {object} - A block object.

  @example
  {% render 'page-video', section: '', block: '' %}
{% enddoc %}

{% if block == blank %}
    {% for _block in section.blocks %}
        {% if _block.type == 'video' %}
            {% assign block = _block %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="qure-filter-cards d-block">
    <a href="#" data-bs-toggle="modal" data-bs-target="#shower2"
        class="filter-card-item filter-card-video ctm-width position-relative mt-30 mb-md-0" style="--ctm-width:350px">
        <div class="filter-card-video-icon align-items-end px-20 py-10">
            <div class="align-items-center d-flex justify-content-between w-100">
                {% if block.settings.heading != blank %}
                    <div class="text-white fs-20">{{ block.settings.heading }}</div>
                {% endif %}
                <img src="https://qureskincaredns-main.com/assets/images/play_button.svg" alt="play button">
            </div>
        </div>
        {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid">
        {% endif %}
    </a>
    <!-- modal start -->
    {% if block.settings.wistia_url != blank %}
        <div class="modal fade filter-modal" id="shower2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="shower2Label" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md filter-dialog">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="modal-body">
                        <style>
                            wistia-player[media-id='{{ block.settings.wistia_url }}']:not(:defined) {
                                background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/{{ block.settings.wistia_url }}/swatch');
                                display: block;
                                filter: blur(5px);
                                padding-top: 177.78%;
                            }
                        </style>
                        <div class="filter-modal-video">
                            <wistia-player media-id="{{ block.settings.wistia_url }}" seo="false" aspect="0.5625" unique-id="wistia-{{ block.settings.wistia_url }}-23"></wistia-player>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- modal end-->
</div>

<script>
   document.addEventListener("DOMContentLoaded", function () {
      loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
   });
</script>