{% doc %}
  Renders a product exclusive offer snippet for the page-header section

  @param {object} - A section object.
  @param {object} - A block object.

  @example
  {% render 'product-exclusive-offer', section: '', block: '' %}
{% enddoc %}

{% if block == blank %}
    {% for _block in section.blocks %}
        {% if _block.type == 'exclusive-offer' %}
            {% assign block = _block %}
        {% endif %}
    {% endfor %}
{% endif %}

<link rel="stylesheet" href="{{ 'product-exclusive-offer.css' | asset_url }}">
<div class="d-flex flex-nowrap align-items-center justify-content-center col-gap">
    <div class="icon-with-text d-flex flex-nowrap flex-row align-items-center fs-16 text-center text-lg-start">
        <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/one-year-guarantee.svg" alt="dermatologist" class="mr-5">
        <span>{{ 'page.exclusive-offer.guarantee-text' | t }} </span>
    </div>
    <div class="icon-with-text d-flex flex-nowrap flex-row align-items-center fs-16 text-center text-lg-start">
        <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/shipping.svg" alt="shipping" class="mr-5">
        <span>{{ 'page.exclusive-offer.shipping-text' | t }}</span>
    </div>
</div>

<div class="qure__exclusive-offer border rounded-10 pt-30 p-24 mt-30 position-relative">
    {{ 'page.exclusive-offer.header_html' | t }}
    <div class="eo-offers">

        {% include 'get-product-data', product_handle: block.settings.product, product_prefix: 'product-exclusive-offer-' %}

        <div class="eo-offer-box">
            <input type="radio" id="ledBox" name="offerBox">
            <label for="ndBox" class="position-relative pb-8 pr-8">
                {% if block.settings.image_product1 != blank %}
                    <img src="{{ block.settings.image_product1 | img_url: '250x' }}" alt="{{ block.settings.image_product1.alt | escape }}" />
                {% endif %}
                <span class="offerBox-price">{{ product_sale_price }}</span>
            </label>
        </div>
        <span class="eo-plus"><i class="fa-solid fa-plus"></i></span>

        {% include 'get-product-data', product_handle: block.settings.product2, product_prefix: 'product-exclusive-offer-' %}

        <div class="eo-offer-box">
            <input type="radio" id="ndBox" name="offerBox" checked>
            <label for="ndBox" class="position-relative pb-8 pr-8">
                {% if block.settings.image_product2 != blank %}
                    <img src="{{ block.settings.image_product2 | img_url: '250x' }}" alt="{{ block.settings.image_product2.alt | escape }}" />
                {% endif %}
                <span class="offerBox-price oldPrice"><span>{{ product_sale_price }}</span><strong>{{ 'page.exclusive-offer.free' | t }}</strong></span>
            </label>
        </div>
    </div>
    {% if block.settings.text != blank %}
        <div class="text-center mt-10">{{ block.settings.text |  replace: '<p>', '' |  replace: '</p>', '' | replace: '$299', product_sale_price }}</div>
    {% endif %}
</div>

<script>
    const exclusive_button_label = '{{ 'page.exclusive-offer.button-label' | t }} {{ product_sale_price }}';
    const exclusive_product = window.get_products_data["product-exclusive-offer-{{ block.settings.product }}"];
    const exclusive_product2 = window.get_products_data["product-exclusive-offer-{{ block.settings.product2 }}"];

    document.addEventListener("DOMContentLoaded", function () {
      loadScriptOnce('product-exclusive-offer', '{{ 'product-exclusive-offer.js' | asset_url }}');
    });
  </script>