{% doc %}
  Renders product price

  @param {product_sale_price} - A string value.
  @param {product_before_price} - A string value.
  @param {product_discount} - A string value.
  @param {object} - A section object.
  @param {object} - A block object.

  @example
  {% render 'product-price', product_sale_price: '', product_before_price: '', product_discount: '', section: '', block: '' %}
{% enddoc %}

{% assign reserved = false %}
{% assign soldout = false %}

{% if block == blank %}
  {% for _block in section.blocks %}
      {% if _block.type == 'price' %}
          {% assign block = _block %}
      {% endif %}
  {% endfor %}
{% endif %}

{% if section != blank %}
  {% if section.settings.reserved != blank %}
    {% assign reserved = true %}
  {% endif %}
  {% if section.settings.soldout != blank %}
    {% assign soldout = true %}
  {% endif %}
{% endif %}

{%- if block.settings.show_discount != blank -%}
  <link rel="stylesheet" href="https://qureskincaredns.com/shopify/css/product-price.css">
  <div class="qure__price price--on-sale d-flex flex-wrap align-items-center my-20">
    <div class="price__regular">{{ product_sale_price }}</div>
    <div class="price__sale">{{ product_before_price }}</div>
    <div class="save_price">{{ 'product.settings.save' | t }} {{ product_discount }}%</div>
  </div>

  {% if reserved == false and soldout == false %}
    <script>
      let buy_and_save_button_label = '{{ 'product.settings.buy-and-save-button-label' | t }} {{ product_discount }}%';

      document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('product-price', 'https://qureskincaredns.com/shopify/js/product-price.js');
      });
  </script>
  {% endif %}

{%- else -%}
  <h4 class="fw-500 fm-body mt-20 igPrice" style="--font-h4: 22px; --font-h4-mob: 20px;" data-product-id="{{ product.id }}">{{ product_sale_price }}</h4>
{%- endif -%}