{% doc %}
  Renders a product/page slider section for the product-header/page-header section.

  @param {object} - A product object.
  @param {object} - A page object.
  @param {string} class - A string value.
  @param {string} element_id - A string value.

  @example
  {% render 'product-page-slider', product: product, page: page, class: '', element_id: '' %}
{% enddoc %}

{% assign total = 0 %}

{% if product.metafields.custom.carousel_media.value != blank %}
    {% for media in product.metafields.custom.carousel_media.value.image_or_video.value %}
        {% assign total = total |  plus: 1 %}
    {% endfor %}
{% elsif page.metafields.custom.carousel_media.value != blank %}
    {% for media in page.metafields.custom.carousel_media.value.image_or_video.value %}
        {% assign total = total |  plus: 1 %}
    {% endfor %}
{% else %}
    {% assign total = product.media.size %}
{% endif %}

{% if total > 3 %}
    {% assign total = 4 %}
{% endif %}


<slide-with-thumbs class="qure__swiper-wrapper {{ class }}">
    <!-- Galler start-->
    <div class="swiper qure__product-gallery qure__swiper-gallery" data-section-id="tp-gallery-desktop-{{ element_id }}" data-mobile="3" data-tablet="{{ total }}" data-desktop="{{ total }}" data-autoplay="false" data-loop="false" data-spacing="0">
        <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
            {% if product.metafields.custom.carousel_media.value != blank %}
                {% render 'product-page-media-carousel', input_media_carousel: product.metafields.custom.carousel_media.value, classname: 'slide-image', size: '720x' %}
            {% elsif page.metafields.custom.carousel_media.value != blank %}
                {% render 'product-page-media-carousel', input_media_carousel: page.metafields.custom.carousel_media.value, classname: 'slide-image', size: '720x' %}
            {% else %}
                {% render 'product-media', product_media: product.media, classname: 'slide-image', size: '720x' %}
            {% endif %}
        </div>
    </div>
    {% if total > 1 %}
        <!-- Galler End-->
        <div class="swiper-thumbnail-with-arrow mt-3">
            <!-- Thumbnails start-->
            <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
            <div class="swiper qure__product-gallery tp-thumbnails-desktop qure__swiper-gallery-thumbnails" data-section-id="tp-thumbnails-desktop-{{ element_id }}" data-mobile="3" data-tablet="{{ total }}" data-desktop="{{ total }}" data-autoplay="false" data-loop="false" data-spacing="10">
                <div class="swiper-wrapper">
                    {% if product.metafields.custom.carousel_media.value != blank %}
                        {% render 'product-page-media-carousel', input_media_carousel: product.metafields.custom.carousel_media.value, classname: 'slide-thumbnail', size: '240x', thumbnails: true %}
                    {% elsif page.metafields.custom.carousel_media.value != blank %}
                        {% render 'product-page-media-carousel', input_media_carousel: page.metafields.custom.carousel_media.value, classname: 'slide-thumbnail', size: '240x', thumbnails: true %}
                    {% else %}
                        {% render 'product-media', product_media: product.media, classname: 'slide-thumbnail', size: '240x' %}
                    {% endif %}
                </div>
            </div>
            <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
        </div>
        <!-- Thumbnails End-->
    {% endif %}
</slide-with-thumbs>

<!-- Reusable Wistia Modal (outside slider) -->
<div class="modal fade filter-modal" id="reusableWistiaModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md filter-dialog">
    <div class="modal-content">
        <div class="modal-header border-0">
            <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="modal-body">
            <div id="wistiaVideoContainer" class="filter-modal-video"></div>
        </div>
    </div>
    </div>
</div>
<!-- Reusable Wistia Modal (outside slider) end -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('slider-with-thumb', 'https://qureskincaredns.com/assets/js/slider-with-thumb.js');
    });
</script>