{% doc %}
  Renders a product/page media carousel array.

  @param {array} input_media_carousel - A product/page media carousel array.
  @param {string} classname - A string value.
  @param {string} size - A string value.
  @param {boolean} thumbnails - A boolean value.

  @example
  {% render 'product-page-media-carousel', input_media_carousel: '', classname: 'slide-thumbnail', size: '240x', thumbnails: false %}
{% enddoc %}

{% if thumbnails == blank %}
    {%- assign thumbnails = false -%}
{% endif %}

{% if input_media_carousel != blank %}

    {% assign objects = '' %}

    {% for item in input_media_carousel.wistia_index_for_video_list.value %}
        {% if item != blank %}
            {% assign objects = objects | append: item | append: "," %}
        {% endif %}
    {% endfor %}

    {% assign objects_array = objects | split: "," %}

    {% for media in input_media_carousel.image_or_video.value %}
        {% assign index = forloop.index0 %}
        {% assign title = media |  replace: 'files/', '' | replace: '.webp', '' %}

        {% if media.media_type == 'video' %}
            {% if media.sources[1].url != blank %}
                {% assign video_source_url = media.sources[1].url %}
            {% else %}
                {% assign video_source_url = media.sources[0].url %}
            {% endif %}
            <div class="swiper-slide">
                <div class="play_btn">
                    <a class="popup-youtube lvideo" data-url="{{ video_source_url }}">
                        <span class="justify-content-center">
                            <img src="{{ media | img_url: size }}" alt="{{ title }}" data-product-handle="{{ title | escape }}" class="img-fluid">
                        </span>
                    </a>
                </div>
            </div>
        {% else %}
            {% if thumbnails == false and objects_array[index] != blank and objects_array[index] != 'none' %}
                 <div class="swiper-slide">
                    <div class="trusted_video_card"> 
                        <a href="#" data-bs-toggle="modal" data-bs-target="#reusableWistiaModal" data-video-id="{{ objects_array[index] }}" class="filter-card-item filter-card-video slide-image">
                            <img src="{{ media | img_url: size }}" alt="{{ title }}" data-product-handle="{{ title | escape }}" class="img-fluid" />
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="swiper-slide">
                    <div class="{{ classname }}">
                        <img src="{{ media | img_url: size }}" alt="{{ title }}" data-product-handle="{{ title | escape }}" class="img-fluid" />
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
