{% doc %}
  Renders a buy button snippet.

  @param {string} product_price - A string value.
  @param {string} product_variant_id - A string value.
  @param {object} section - A object value.
  @param {bool} static - A static value.

  @example
  {% render 'product-page-buy-button', product_price: '', product_variant_id: '', section: '', product_available: '', static: '' %}
{% enddoc %}

{% assign reserved = null %}
{% assign soldout = null %}

{% assign default_button_label = 'product.settings.buy-button-label' | t %}

{% if section.settings.button_label != blank %}
  {% assign default_button_label = section.settings.button_label %}
{% endif %}

{% if product_price != null %}
  {% capture button-label %}{{ default_button_label }} – <span class="igPrice">{{ product_price }}</span>{% endcapture %}
{% else %}
  {% capture button-label %}{{ default_button_label }}{% endcapture %}
{% endif %}

{% if product_available == false %}
  {% assign soldout = true %}
{% endif %}

{% if section != blank %}
  {% if section.settings.reserved != blank %}
    {% assign reserved = true %}
  {% endif %}
  {% if section.settings.soldout != blank %}
    {% assign soldout = true %}
  {% endif %}
{% endif %}

{% if reserved == true %}
  {% capture button-label %}{{ 'product.settings.reserved-button-label' | t }}{% endcapture %}
{% endif %}

{% if soldout == true %}
  {% capture button-label %}{{ 'product.settings.soldout-button-label' | t }}{% endcapture %}
{% endif %}

<div class="qure__product-action-inner mt-30 mt-md-30 mb-10 max-w-ctm" style="--max-w-ctm:500px">
  <form method="post" action="/cart/add" enctype="multipart/form-data"{% if static %} data-static="true"{% endif %}>
    <button type="submit" class="add-cart-button product-form__submit btn btn--primary w-100{% if skip_black_friday_label == true %} skip_black_friday_label{% endif %}"{% if soldout %} disabled{% endif %}{% if close_modal %} data-bs-toggle="modal"{% endif %}>{{ button-label }}</button>
    <input type="hidden" name="quantity" id="quantity" value="1">
    <input type="hidden" name="selling_plan" id="selling_plan" value="">
    <input type="hidden" name="id" value="{{ product_variant_id }}">    
  </form>
</div>

{% if reserved or soldout %}
  <script>
    let product_buy_button_label = '{{ button-label }}';
    let product_buy_button_soldout = {% if soldout %}true{% else %}false{% endif %};
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      loadScriptOnce('product-buy-button', 'https://qureskincaredns.com/shopify/js/product-buy-button.js');
    });
  </script>
{% endif %}