{% doc %}
  Renders product price for black friday

  @param {product_sale_price} - A string value.
  @param {product_before_price} - A string value.
  @param {product_discount} - A string value.

  @example
  {% render 'product-page-black-friday-price', product_sale_price: '', product_before_price: '', product_discount: product_discount, product_black_friday_price: '', black_friday_discount: '' %}
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/black-friday.css">
<div class="bundle_price black_friday_wrapper">
  <div class="black_friday_pricing">{{ 'special-offer.settings.header' | t }}:</div>
  <div class="dis_red_line">
    {% if product_before_price != blank %}
      <div class="bef_price text-decoration-line-through">{{ product_before_price }}</div>
    {% endif %}
     <div class="aft_price">{{ product_sale_price }}</div>
  </div>
  <div class="black_friday_price">{{ product_black_friday_price }}</div>
  <a href="javascript:void();" class="save_perc">{{ 'product.settings.save' | t }} {{ black_friday_discount }}%</a>
</div>

{%- capture button-label -%}{{ 'product.settings.buy-and-save-button-label' | t }}{%- endcapture -%}

{% if section != blank %}
  {% if section.settings.reserved != blank %}
    {% capture button-label %}{{ 'product.settings.reserve-and-save-button-label' | t }}{% endcapture %}
  {% endif %}
  {% if section.settings.soldout != blank %}
    {% capture button-label %}{{ 'product.settings.soldout-button-label' | t }}{% endcapture %}
  {% endif %}
{% endif %}

<script>

  {% if section.settings.soldout != blank %}
    let buy_and_save_button_label = '{{ button-label }}';
  {% else %}
    {% if product_discount %}
      let buy_and_save_button_label = '{{ button-label }} {{ product_discount }}%';
    {% else %}
      let buy_and_save_button_label = '{{ button-label }} {{ black_friday_discount }}%';
    {% endif %}
  {% endif %}

  document.addEventListener("DOMContentLoaded", function () {
    loadScriptOnce('product-page-black-friday-price', 'https://qureskincaredns.com/shopify/js/product-page-black-friday-price.js');
  });
</script>