{% doc %}
  Renders a "Next Ships" snippet for the product-header/page-header section

  @param {object} - A section object.
  @param {object} - A block object.
  @param {string} - A string value.

  @example
  {% render 'product-page-next-ships', section: '', block: '', class: '' %}
{% enddoc %}

{% if block == blank %}
    {% for _block in section.blocks %}
        {% if _block.type == 'nextships' %}
            {% assign block = _block %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="patch__product-batch mt-30 max-w-ctm {{ class }}" style="--max-w-ctm:500px">
    <div class="patch-d-header">
        <h4 class="fm-body fs-16 fw-600">{{ 'product.settings.product-next-ships.header' | t }} <span class="preorder_text">{{ block.settings.date }}</span></h4>
        <p class="fs-14">{{ 'product.settings.product-next-ships.text' | t: product_title: 'product' }}</p>
    </div>
    <div class="progress__bar-container w-100">
        {% if block.settings.date_soldout != blank %}
            <div class="patch-bar mb-10" role="progressbar">
                <span class="patch__date preorder_date_soldout">{{ block.settings.date_soldout }}</span><span class="patch__status">{{ 'product.settings.product-next-ships.soldout' | t }}</span>
            </div>
        {% endif %}

        {% if block.settings.date_reserved != blank %}
            <div class="patch-bar preorder_percent_style" role="progressbar" style="--progress-bg:#91BAEC;--text-color:#212428;--progress-width:{{ block.settings.percent }}%">
                <span class="patch__date preorder_date_reserved">{{ block.settings.date_reserved }}</span><span class="patch__status"><span class="preorder_percent">{{ block.settings.percent }}%</span>{{ 'product.settings.product-next-ships.reserved' | t }}</span>
            </div>
        {% endif %}
    </div>
</div>