<!-- Sticky CTA start -->
<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/sticky-cta/sticky-cta.css" />
<div class="qure__sticky-atc mi-patches-sticky-cta">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-16">
            <div class="patch__product-variants d-flex align-items-center gap-5">
                <div class="select_qty fw-600 fs-20">{{ 'product.settings.product-buy-button-sticky.color' | t }}</div>
                <div class="d-none d-md-grid grid_dynamic_cols" style="--grid_dynamic_cols:3;--col-gap:12px">
                    <div class="patch__value-pack">
                        <input type="radio" class="vp__input sticky__input" name="vaule-pack" id="3-months-cta" data-id="white" checked="">
                        <label for="3-months-cta" class="vp-pack-cta px-12 py-8 d-flex align-items-center gap-2">
                            <div class="vp-img"><img src="https://qureskincaredns-main.com/sections/isolated/sticky-cta/images/white_swatch.webp">
                            </div>
                            <div class="vp-content">
                                <p class="mb-0">{{ 'product.settings.product-buy-button-sticky.white' | t }}</p>
                            </div>
                        </label>
                    </div>

                    <div class="patch__value-pack">
                        <input type="radio" class="vp__input sticky__input" name="vaule-pack" id="one-month-cta" data-id="black">
                        <label for="one-month-cta" class="vp-pack-cta px-12 py-8 d-flex align-items-center gap-2">
                            <div class="vp-img"><img src="https://qureskincaredns-main.com/sections/isolated/sticky-cta/images/black_swatch.webp">
                            </div>
                            <div class="vp-content">
                                <p class="mb-0">{{ 'product.settings.product-buy-button-sticky.black' | t }}</p>
                            </div>
                        </label>
                    </div>

                </div>

                <!-- Dropdown Wrapper -->
                <div class="dropdown-wrapper d-md-none">
                    <!-- Dropdown (opens upward) -->
                    <div class="dropdown-inner-container" id="dropdownContainer">
                        <div class="dropdown-option sticky__input__mobile" onclick="selectOption('White', 'white_swatch.webp')" data-id="white">
                            <img src="https://qureskincaredns-main.com/sections/isolated/sticky-cta/images/white_swatch.webp" alt="{{ 'product.settings.product-buy-button-sticky.white' | t }}">
                            <span>{{ 'product.settings.product-buy-button-sticky.white' | t }}</span>
                        </div>
                        <div class="dropdown-option sticky__input__mobile" onclick="selectOption('Black', 'black_swatch.webp')" data-id="black">
                            <img src="https://qureskincaredns-main.com/sections/isolated/sticky-cta/images/black_swatch.webp" alt="{{ 'product.settings.product-buy-button-sticky.black' | t }}">
                            <span>{{ 'product.settings.product-buy-button-sticky.black' | t }}</span>
                        </div>
                    </div>
                    <!-- Button to show current selection -->
                    <button type="button" class="dropdown-button" id="dropdownBtn" onclick="toggleDropdown()">
                        <img src="https://qureskincaredns-main.com/sections/isolated/sticky-cta/images/white_swatch.webp" /> {{ 'product.settings.product-buy-button-sticky.white' | t }}
                        <i class="fa-solid fa-angle-down"></i>
                    </button>
                </div>
                <input type="hidden" name="properties[Duration]" id="selectedDuration" value="{{ 'product.settings.product-buy-button-sticky.white' | t }}">
            </div>

            <a id="product-buy-button-sticky" href="javascript:;" class="btn btn--primary fs-11 fs-md-20 px-10 mw" style="--mw-mob:170px">{{ 'product.settings.product-buy-button-sticky.button-label' | t }}</a>
        </div>
    </div>
    <div
        class="align-items-center bg-light d-flex fs-16 gap-4 justify-content-center py-6 qure__user-online text-center">
        <div class="pulse"></div>{{ 'product.settings.product-buy-button-sticky.text' | t }}
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('sticky-cta', 'https://qureskincaredns-main.com/assets/js/sticky-cta.js');
    });
</script>
<!-- Sticky CTA end -->