{% doc %}
  Renders a product media carousel array.

  @param {array} product_media_carousel - A product media carousel array.
  @param {string} classname - A string value.
  @param {string} size - A string value.

  @example
  {% render 'product-media-carousel', product_media: product.media, classname: 'slide-thumbnail', size: '240x' %}
{% enddoc %}

{% if product_media_carousel != blank %}
    {% for media in product_media_carousel.image_or_video.value %}
        {% if media.media_type == 'video' %}
            {% if media.sources[1].url != blank %}
                {% assign video_source_url = media.sources[1].url %}
            {% else %}
                {% assign video_source_url = media.sources[0].url %}
            {% endif %}
            <div class="swiper-slide">
                <div class="play_btn">
                    <a class="popup-youtube lvideo" data-url="{{ video_source_url }}">
                        <span class="justify-content-center">
                            <img src="{{ media | img_url: size }}" alt="{{ media.alt | escape }}" class="img-fluid">
                        </span>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="swiper-slide">
                <div class="{{ classname }}">
                    <img src="{{ media | img_url: size }}" alt="{{ media.alt | escape }}" class="img-fluid" />
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
