{% doc %}
  Renders a collapsed item for the product template

  @param {json} input - A json object.
  @param {string} index - A string value.
  @param {string} title - A string value.

  @example
  {% render 'product-bundle-collapsed-item' input: product.metafields.custom.key_benefits, index: 'first', title: 'Key Benefits' %}
{% enddoc %}


{% if input != blank %}
    {% assign included_json = input.value | parse_json %}

    <div class="accordion-item qure__accordion-item">
        <button class="accordion-button collapsed qure__accordion-header" type="button" data-bs-toggle="collapse" data-bs-target="#{{ index }}" aria-expanded="false" aria-controls="{{ index }}">
          {{ title }}
        </button>
        <div id="{{ index }}" class="accordion-collapse collapse qure__accordion-content" data-bs-parent="#tp-product-qure">
          <div class="accordion-body">
            {% for item in included_json.children %}
              {% case item.type %}
                {% when 'list' %}
                  <ul>
                    {% for list_item in item.children %}
                      <li>{{ list_item.children[0].value }}</li>
                    {% endfor %}
                  </ul>
                {% when 'paragraph' %}
                  <p>
                    {% for paragraph_item in item.children %}
                      {{ paragraph_item.value }}
                    {% endfor %}
                  </p>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
    </div>
{% endif %}