{% doc %}
  Renders the crosssell products snippet for the product-header/page-header section

  @param {object} - A product object.
  @param {object} - A page object.

  @example
  {% render 'product-page-cross-sell' product: product, page: page %}
{% enddoc %}

{% assign source = blank %}

{% if product != blank %}
    {% assign source = product.metafields.custom.cross_sell.value %}
{% endif %}

{% if page != blank %}
    {% assign source = page.metafields.custom.cross_sell.value %}
{% endif %}

{% if source != blank %}
    <div class="product__label mt-0 mt-lg-40 mb-15">{{ 'product.settings.cross-sell.header' | t }}</div>
    <div class="swiper qure__swiper" id="qure__swiper-best-results" data-section-id="best-results" data-autoplay="false" data-loop="false" data-mobile="1.4" data-tablet="2" data-desktop="2" data-spacing="12" data-pagination-fraction="true">
        <div class="swiper-wrapper">
            {% for item in source %}
                {% include 'get-product-data', product_handle: item.product.value.handle, product_prefix: 'product-page-cross-sell-' %}
                <div class="swiper-slide">
                    <a href="{{ product_url }}" aria-label="{{ product_handle | escape }}" style="color: black;">
                        <div class="patch__results">
                            <img class="patch__result-img img-fluid" src="{{ product_featured_image | img_url: '240x' }}" alt="{{ product_title | escape }}">
                            <div class="patch__result-content">
                                {{ product_title }}

                                {% if product_available == true %}
                                    <form method="post" action="/cart/add" enctype="multipart/form-data">
                                        {% if black_friday_discount_percent > 0 %}
                                            <button type="submit" class="btn btn--primary btn-sm mt-10 w-100" style="--btn-sm-padding: 7px 20px;">{{ 'product.settings.cross-sell.buy-button-label' | t }} – <span class="igPrice">{{ product_black_friday_price }}</span></button>
                                        {% else %}
                                            <button type="submit" class="btn btn--primary btn-sm mt-10 w-100" style="--btn-sm-padding: 7px 20px;">{{ 'product.settings.cross-sell.buy-button-label' | t }} – <span class="igPrice">{{ product_sale_price }}</span></button>
                                        {% endif %}
                                        <input type="hidden" name="quantity" id="quantity" value="1">
                                        <input type="hidden" name="id" value="{{ product_variant_id }}">
                                        <input type="hidden" name="properties[page_url]" value="{{ request.path }}">
                                    </form>
                                {% else %}
                                    <button type="button" class="btn btn--primary btn-sm mt-10 w-100" style="--btn-sm-padding: 7px 20px;" disabled="true">{{ 'product.settings.cross-sell.soldout-button-label' | t }}</button>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}