{% if array != blank %}
    {%- for __id in array -%}
        {% assign block = section.blocks | where: "id", __id | first %}
        {% if block.type == 'product_type' %}
            {% assign product_type_title = block.settings.heading | strip_newlines | strip | replace: ' ', '' | replace: ',', '_' | downcase %}
        {% endif %}
        {% if block.type == 'product' %}
            <script>
                window.get_form_bundle_products_data = window.get_form_bundle_products_data || {};
                window.get_form_bundle_products_data['{{ block.settings.product }}'] = {{ type }};
            </script>
        {% endif %}
    {%- endfor -%}

    <template id="{{ section.settings.form_name }}-source-{{ section.id }}-{{ product_type_title }}">
        <div class="step_content" id="{{ section.id }}-{{ product_type_title }}">
            
            {% render 'purchase-form-bundle-products-item-header', type: type %}

            <div class="row custom__grid pt-25 step_conten_blocks" style="--column-gap:32px; --column-gap-mobile:16px;">
                {% assign array_count = array.size %}

                {%- for __id in array -%}
                    {% assign block = section.blocks | where: "id", __id | first %}
                    {% if block.type == 'product' %}
                        {% include 'get-product-data', product_handle: block.settings.product, product_prefix: 'purchase-form-bundle-products-items-' %}

                        {% if product_id %}
                            {% assign product_title_tag = block.settings.heading | strip_html | strip_newlines | strip | replace: ' ', '' | replace: ',', '_' | downcase %}
                            {% assign array_count = array_count |  minus: 1 %}
                            {% assign product_type = array_count %}
                            
                            {% capture data-per %}{{ 'purchase-form.settings.buy-button-label' | t }} {% if product_discount != blank %} {{ 'purchase-form.settings.and' | t }} {{ 'purchase-form.settings.save' | t }} {{ product_discount }}%{% endif %}{% endcapture %}

                            {% if block.settings.preorder == true %}
                                {% capture data-per %}{{ 'purchase-form.settings.reserve-button-label' | t }} {% if product_discount != blank %} {{ 'purchase-form.settings.and' | t }} {{ 'purchase-form.settings.save' | t }} {{ product_discount }}%{% endif %}{% endcapture %}
                            {% endif %}

                            {% if block.settings.soldout == true %}
                                {% capture data-per %}{{ 'purchase-form.settings.soldout-button-label' | t }}{% endcapture %}
                            {% endif %}

                                <div id="{{ product_handle }}" class="col-md-4 custom__block">
                                    <div class="border p-15 rounded-10" style="--bs-border-color:#DFE0E0">
                                        {% render 'product-page-slider', product: get_product_data, page: blank, class: 'tp-product-gallery qure__swiper-wrapper mb-20', element_id: block.id %}

                                        <div class="qure__product-reviews fs-14 d-flex gap-3 align-items-center mb-10 mt-20">
                                            <img src="https://qureskincaredns.com/sections/isolated/top-products/images/stars.svg" alt="stars">
                                            <span>{{ 'purchase-form-bundle.settings.rated' | t }} <span class="fw-600">{{ product_rating | default: 4.8 }}</span>/5</span>
                                        </div>

                                        <p class="fs-20">{{ product_title }}</p>

                                        <div class="bundle_price d-flex align-items-center justify-content-start gap-3 my-3 pb-2">

                                            <div class="aft_price color-orange fs-20 igPrice">{{ product_sale_price }}</div>

                                            {% if product_before_price != blank %}
                                                <div class="bef_price text-decoration-line-through fs-20 igComparePrice">{{ product_before_price }}</div>
                                            {% endif %}

                                            {% if product_discount != blank %}
                                                <div class="discount_percentage">{{ 'purchase-form-bundle.settings.discount-text' | t }} {{ product_discount }}%</div>
                                            {% endif %}
                                        </div>

                                        {% render 'product-page-buy-button', product_price: null, product_variant_id: product_variant_id, section: block %}
                                        {% render 'product-page-buy-button-payments', product_price_divided: product_price_divided %}
                                        {% render 'purchase-form-bundle-products-item-bottom', product_handle: product_handle, product_variants: product_variants, product_bundle_list: product_bundle_list, block: block %}
                                    </div>
                                </div>
                        {% endif %}
                    {% endif %}
                {%- endfor -%}
            </div>
        </div>
    </template>
{% endif %}