{% doc %}
  Renders a product type item snippet for purchase form section.
{% enddoc %}

{% if array != blank %}
    {%- for __id in array -%}
        {% assign block = section.blocks | where: "id", __id | first %}
        {% if block.type == 'product_type' %}
            {% assign product_type_title = block.settings.heading | strip_newlines | strip | replace: ' ', '' | downcase %}
            <div class="qure-bundle-item col serumBlock" id="{{ section.id }}-{{ product_type_title }}">
                <input type="radio" class="bundle__input" name="serum_{{ section.settings.form_name }}" id="{{ section.id }}-{{ block.id }}" data-name="{{ block.settings.heading | escape }}" {% if block.settings.preselected == true %} checked{% endif %}/>
                <label for="{{ section.id }}-{{ block.id }}" class="qure__bundle-box">
                    {% if block.settings.image != blank %}
                        <div class="qv-frame">
                            <div class="qv-inner">
                                <img class="qv-img" src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
                            </div>
                        </div>
                    {% else %}
                        <br />
                    {% endif %}
                    <div class="div">{{ block.settings.heading }}</div>
                </label>
            </div>
        {% endif %}
    {%- endfor -%}
{% endif %} 