{%- for __id in __idsArray1 -%}
    {% assign block = section.blocks | where: "id", __id | first %}
    {% if block.type == 'product_type' %}
        {% assign product_type_title = block.settings.heading | strip_newlines | strip | replace: ' ', '' | replace: ',', '_' | downcase %}
    {% endif %}
{%- endfor -%}


<div class="tab-content pt-md-25 pt-15" id="bundles-tabContent">
    <template id="{{ section.settings.form_name }}-source-{{ section.id }}-{{ product_type_title }}">
        {% include 'purchase-form-bundle-v2-products-item' array: __idsArray1, type: 1 %}
        {% include 'purchase-form-bundle-v2-products-item' array: __idsArray2, type: 2 %}
        {% include 'purchase-form-bundle-v2-products-item' array: __idsArray3, type: 3 %}
    </template>
    <div id="{{ section.settings.form_name }}-body-{{ section.id }}"></div>
</div>