{%- assign payment_type_count = 0 -%}

{%- for block in section.blocks -%}
    {% case block.type %}
        {% when 'payment_type' %}
            {%- assign payment_type_count = payment_type_count | plus: 1 -%}
    {% endcase %}
{% endfor %}

<div class="qure__bundle-steps">
    <div class="qure-bundle-stps-title mb-16">{{ 'purchase-form.settings.payment-option' | t }}</div>
    <div class="qure-bundle-container">
        <div class="pmt-container">
            {% assign num = 0 %}
            {%- for block in section.blocks -%}
                {% if block.type == 'payment_type' %}
                    {% if num == 0 %}
                        <div class="pmt-option">
                            <input type="radio" name="payment" id="fullPayment" checked="">
                            <label for="fullPayment" class="pmt-block">
                                <div class="pmt-header">
                                    <p>{{ 'purchase-form.settings.pay-full' | t }}</p>
                                    <div class="pmt-price total_price">
                                        <span class="pmt-price-sale text-decoration-line-through clr_grey regular_price"></span>
                                        <span class="pmt-price-regular sale_price"></span>
                                    </div>
                                </div>
                                <div class="pmt-footer">
                                    <span>{{ 'purchase-form.settings.onetime-payment' | t }}</span>
                                    {% if block.settings.image != blank %}
                                        <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
                                    {% endif %}
                                </div>
                            </label>
                        </div>
                    {% else %}
                        <div class="pmt-option">
                            <input type="radio" name="payment" id="payToday">
                            <label for="payToday" class="pmt-block">
                                <div class="pmt-header">
                                    <p>{{ 'purchase-form.settings.pay-today' | t }}</p>
                                    <div class="pmt-price">
                                        <span class="pmt-price-regular pay_today"></span>
                                    </div>
                                </div>
                                <div class="pmt-footer">
                                    <span>{{ 'purchase-form.settings.monthly-payment' | t }}</span>
                                    {% if block.settings.image != blank %}
                                        <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
                                    {% endif %}
                                </div>
                            </label>
                        </div>
                    {% endif %}

                    {%- assign num = num | plus: 1 -%}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>