{% doc %}
  Renders a product accordion item snippet for purchase form section.
{% enddoc %}

{% assign product_type_id = blank %}
{% assign is_accordions_exists = false %}

{%- for __id in array -%}
    {% assign block = section.blocks | where: "id", __id | first %}
    {% if block.type == 'product_type_accordion' %}
        {%- assign is_accordions_exists = true -%}
    {% endif %}
{%- endfor -%}

{% if array != blank %}
    {%- for __id in array -%}
        {% assign block = section.blocks | where: "id", __id | first %}
        {% if block.type == 'product_type' %}
            {% capture product_type_id %}{{ section.id }}-{{ block.id }}{% endcapture %}

            <style>
                .qure__bundle-steps:has(input[type="radio"]#{{ product_type_id }}:checked) .qure-bundle-accordion--{{ product_type_id }} {
                    display: block;
                }
            </style>
        {% endif %}
    {%- endfor -%}

    {% if is_accordions_exists == true and product_type_id != blank %}
        <div class="qure-bundle-accordion qure-bundle-accordion--{{ product_type_id }}">
            <div class="accordion accordion-flush" id="{{ product_type_id }}">
                {%- for __id in array -%}
                    {% assign block = section.blocks | where: "id", __id | first %}
                    {% if block.type == 'product_type_accordion' %}
                        <div class="accordion-item qure__accordion-item">
                            <button class="accordion-button collapsed qure__accordion-header px-0" type="button" data-bs-toggle="collapse" data-bs-target="#qure_{{ forloop.index }}" aria-expanded="false" aria-controls="qure_{{ forloop.index }}">
                                {{ block.settings.heading }}
                            </button>
                            <div id="qure_{{ forloop.index }}" class="accordion-collapse collapse qure__accordion-content" data-bs-parent="#{{ product_type_id }}">
                                <div class="accordion-body px-0">
                                    {{ block.settings.text | replace:  '<em>', '<div class="bg-light rounded-10 p-18 fs-14">' | replace: '</em>', '</div>' }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {%- endfor -%}
            </div>
        </div>
    {% endif %}
{% endif %}