{% if array != blank %}

    <style>
        .hide {
            display: none; 
        }
    </style>

    {% capture preorder-box-items %}{% endcapture %}
    {% capture product-included-dropdown %}{% endcapture %}
    {% assign array_count = 1 %}

    {%- for __id in array -%}
        {% assign block = section.blocks | where: "id", __id | first %}
        {% if block.type == 'product_type' %}
            {% assign product_type_title = block.settings.heading | strip_newlines | strip | replace: ' ', '' | replace: ',', '_' | downcase %}
        {% endif %}
        {% if block.type == 'product' %}
            {% assign array_count = array_count | plus: 1 %}
        {% endif %}
    {%- endfor -%}

    <template id="{{ section.settings.form_name }}-source-{{ section.id }}-{{ product_type_title }}">
        <div class="step_content" id="{{ section.id }}-{{ product_type_title }}">
            <div class="qure-bundle-container step_conten_blocks" style="--col-gap: 10px;--col-gap-mb:10px">
                <div class="align-items-end bundle-supply col-gap d-flex flex-column" id="myTab" role="tablist">
                    {%- for __id in array -%}
                        {% assign block = section.blocks | where: "id", __id | first %}
                        {% if block.type == 'product' %}
                            {% include 'get-product-data', product_handle: block.settings.product, product_prefix: 'purchase-form-products-type_list-item-' %}

                            {% if product_id %}
                                {% assign product_type = product_type | plus: 1 %}
                                {% assign product_title_tag = block.settings.heading | strip_html | strip_newlines | strip | replace: ' ', '' | replace: ',', '_' | downcase %}

                                {% if block.settings.total_treatments > 0 %}
                                    {% assign product_price_per_item = product_price_original | divided_by: block.settings.total_treatments | money_without_trailing_zeros %}
                                {% endif %}

                                {% assign array_count = array_count |  minus: 1 %}
                                {% assign product_type = array_count %}

                                {% capture product-included-dropdown %}
                                    {{ product-included-dropdown }}
                                    <div class="tab-pane collapsed-panel fade" id="{{ block.id }}-tabitem" role="tabpanel" aria-labelledby="{{ block.id }}-tab" tabindex="0">
                                        <div class="qure_bundle-accorion">
                                            <button class="qure_bundle-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ block.id }}-collapse" aria-expanded="false" aria-controls="{{ block.id }}-collapse">
                                                What is in the {{ block.settings.heading | replace: '<br>', '' }}?
                                            </button>
                                            <div id="{{ block.id }}-collapse" class="qure_bundle-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body mt-12">
                                                    {{ block.settings.included_text |  replace:  '<ul>', '<ul class="qure__list-check">' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endcapture %}

                                {% capture data-per %}{{ 'purchase-form.settings.buy-button-label' | t }} {% if product_discount != blank %} {{ 'purchase-form.settings.and' | t }} {{ 'purchase-form.settings.save' | t }} {{ product_discount }}%{% endif %}{% endcapture %}

                                {% if block.settings.preorder == true %}
                                    {% capture data-per %}{{ 'purchase-form.settings.reserve-button-label' | t }} {% if product_discount != blank %} {{ 'purchase-form.settings.and' | t }} {{ 'purchase-form.settings.save' | t }} {{ product_discount }}%{% endif %}{% endcapture %}
                                {% endif %}

                                {% if block.settings.soldout == true %}
                                    {% capture data-per %}{{ 'purchase-form.settings.soldout-button-label' | t }}{% endcapture %}
                                {% endif %}

                                <div class="qure-supply-item col-12 position-relative planBlock" role="presentation" href="javascript:void(0)"
                                    data-block-id="{{ block.id }}"
                                    data-tab="tab_{{ product_title_tag }}" 
                                    data-pay="{{ product_price_divided }}" 
                                    data-per="{{ data-per }}" 
                                    {% if block.settings.image != blank %}
                                    data-image="{{ block.settings.image | img_url: 'master' }}"
                                    {% endif %} 
                                    data-product_variant_id="{{ product_variant_id }}" 
                                    data-soldout="{{ block.settings.soldout }}" 
                                    data-preorder="{{ block.settings.preorder }}" 
                                    data-product-type="{{ product_type }}"
                                    data-product-name="{{ block.settings.heading | escape }}",
                                    {% if block.settings.preselected == true %}
                                    data-preselected="{{ block.settings.preselected }}"
                                    {% else %}
                                    data-preselected="false"
                                    {% endif %}
                                    {% if block.settings.soldout == true %}
                                        onclick="document.getElementById('back-in-stock').classList.remove('hide')"
                                    {% else %}
                                        onclick="document.getElementById('back-in-stock').classList.add('hide')"
                                    {% endif %}
                                    data-product-price="{{ product_sale_price }}">

                                    {% if product_type == 3 %}
                                        <div class="best_value">
                                            <p>{{ 'purchase-form.settings.best-value' | t }} <img src="https://qureskincaredns.com/assets/images/star_white.svg" alt="star white"></p>
                                        </div>
                                    {% endif %}

                                    <input type="radio" name="monthlyPlan_{{ section.settings.form_name }}" id="{{ section.id }}-{{ product_title_tag }}"{% if block.settings.preselected == true %} checked{% endif %}>

                                    <label for="{{ section.id }}-{{ product_title_tag }}" class="supply-link active py-0 overflow-hidden" id="{{ block.id }}-tab"
                                        data-bs-toggle="tab" data-bs-target="#{{ block.id }}-tabitem" type="button" role="tab"
                                        aria-controls="{{ block.id }}-tabitem" aria-selected="true">

                                        <div class="qure__supply-content d-flex text-start justify-content-between p-15">
                                            <div>
                                                <p class="mb-0">{{ block.settings.heading }}</p>
                                                <p class="fs-14">{{ block.settings.subheading }}</p>
                                            </div>
                                            <div>
                                                <div class="qure__supply-price">
                                                    {% if product_before_price != blank %}
                                                        <span class="qure__supply-price-sale regular_price igComparePrice">{{ product_before_price }}</span>
                                                        <span class="qure__supply-price-reg-sale sale_price igPrice">{{ product_sale_price }}</span>
                                                    {% else %}
                                                        <span class="qure__supply-price-reg sale_price igPrice">{{ product_sale_price }}</span>
                                                    {% endif %}
                                                </div>
                                                {% if product_discount != blank %}
                                                    {% case product_type %}
                                                        {% when 3 %}
                                                            <p class="ctm-background fs-12 text-center text-white rounded-30 igSavingsPercentage">{{ 'purchase-form.settings.save' | t | upcase }} {{ product_discount }}%</p>
                                                        {% when 2 %}
                                                            <p class="ctm-background fs-12 text-center text-orange rounded-30 igSavingsPercentage" style="--ctm-background:#ff54291a;">{{ 'purchase-form.settings.save' | t | upcase }} {{ product_discount }}%</p>
                                                    {% endcase %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% case product_type %}
                                            {% when 3 %}
                                                <div class="qure-best-value rounded-0 mb-0 justify-content-between px-15 fs-12 pt-5">
                                                    <div>🔥 {{ 'purchase-form.settings.per-treatment' | t: price: product_price_per_item }}</div>
                                                    {% if block.settings.left_items > 0 %}
                                                        <div><span><img src="https://qureskincaredns.com/assets/images/clock-w.svg" alt="clock"></span> {{ 'purchase-form.settings.kit-left' | t: count: block.settings.left_items }}</div>
                                                    {% endif %}
                                                </div>
                                            {% when 2 %}
                                                <div class="qure-best-value rounded-0 mb-0 justify-content-between px-15 fs-12 pt-5" style="--qure-charcoal:#C7E5DB; --white-color:#212428;">
                                                    <div>{{ 'purchase-form.settings.per-treatment' | t: price: product_price_per_item }}</div>
                                                    {% if block.settings.left_items > 0 %}
                                                        <div><span><img src="https://qureskincaredns.com/assets/images/clock-b.svg" alt="clock"></span> {{ 'purchase-form.settings.kit-left' | t: count: block.settings.left_items }}</div>
                                                    {% endif %}
                                                </div>
                                        {% endcase %}
                                    </label>
                                </div>

                                {% if block.settings.preorder == true %}
                                    
                                    {% capture preorder-box-items %}{{ preorder-box-items }}<div class="{{ section.settings.form_name }}-preorder-box-item {{ section.settings.form_name }}-preorder-box__{{ product_variant_id }}"></div>{% endcapture %}
                                    
                                    {% if block.settings.preorder_text != blank %}
                                        <span class="{{ section.settings.form_name }}-product-preorder-text__{{ product_variant_id }} hide">{{ block.settings.preorder_text }}</span>
                                    {% endif %}
                                    {% if block.settings.preorder_date_soldout != blank %}
                                        <span class="{{ section.settings.form_name }}-product-preorder_date_soldout__{{ product_variant_id }} hide">{{ block.settings.preorder_date_soldout }}</span>
                                    {% endif %}
                                    {% if block.settings.preorder_date_reserved != blank %}
                                        <span class="{{ section.settings.form_name }}-product-preorder_date_reserved__{{ product_variant_id }} hide">{{ block.settings.preorder_date_reserved }}</span>
                                    {% endif %}
                                    {% if block.settings.preorder_percent != blank %}
                                        <span class="{{ section.settings.form_name }}-product-preorder_percent__{{ product_variant_id }} hide">{{ block.settings.preorder_percent }}</span>
                                    {% endif %}
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {%- endfor -%}
                    <a id="back-in-stock" class="klaviyo-bis-trigger hide" href="#">Notify Me When Available</a>
                </div>
            </div>

            {{ preorder-box-items }}
            {{ preorder_box }}

            <div class="tab-content mt-25" id="myTabContent">
                {{ product-included-dropdown }}
            </div>
        </div>
    </template>
{% endif %}