<div class="mt-10">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item w-50" role="presentation">
            <button class="nav-link w-100 fs-16 active" id="whats_included_block-{{ block.id }}" data-bs-toggle="tab" data-bs-target="#included_tab_{{ block.id }}" type="button" role="tab" aria-controls="included_tab_{{ block.id }}" aria-selected="true">{{ 'purchase-form-bundle.settings.included-text' | t }}</button>
        </li>
        <li class="nav-item w-50" role="presentation">
            <button class="nav-link w-100 fs-16" id="how_to_use_{{ block.id }}" data-bs-toggle="tab" data-bs-target="#use_tab_{{ block.id }}" type="button" role="tab" aria-controls="use_tab_{{ block.id }}" aria-selected="false">{{ 'purchase-form-bundle.settings.how-to-use-text' | t }}</button>
        </li>
    </ul>
    <div class="tab-content pt-25" id="myTabContent">
        <div class="tab-pane fade show active" id="included_tab_{{ block.id }}" role="tabpanel" aria-labelledby="whats_included_{{ block.id }}" tabindex="0">
            {% if product_bundle_list != blank %}
                {% for bundle_product in product_bundle_list %}
                    {% assign target = bundle_product.handle %}

                    {% if target contains 'month-bundle' %}
                        {% assign target = 'month_bundle' %}
                    {% endif %}

                    {% if bundle_product.variants.size > 1 %}
                        <div class="included_product variant_block">
                            <img class="variantImage img-fluid" src="{{ bundle_product.featured_image | img_url: '240x' }}" alt="{{ bundle_product.title | escape }}">
                            
                            <div class="d-flex align-items-center gap-3">
                                <p>{{ bundle_product.title }} <span class="d-block color-orange variantText"></span></p>
                                
                                <div class="product-variant">
                                    <label class="visually-hidden">{{ 'purchase-form-bundle.settings.select-color' | t }}</label>
                                    <select class="custom-dropdown color-select variant-select">
                                        {% for bundle_variant in bundle_product.variants %}
                                            {% for variant in product_variants %}
                                                {%- assign ext_variant = bundle_variant.title | append: ' / ' | append: bundle_variant.title -%}
                                                {% if variant.title == bundle_variant.title %}
                                                    <option {% if variant.metafields.custom.bundle_not_available == true %}disabled{% endif %} value="{{ bundle_variant.title | escape }}" data-handle="{{ product_handle }}" data-image="{{ bundle_variant.featured_image | img_url: '250x' }}" data-variant-id="{{ variant.id }}" data-variant-text="{{ variant.metafields.custom.bundle_text }}">{{ bundle_variant.title }}</option>
                                                {% endif %}
                                                {% if variant.title == ext_variant %}
                                                    <option {% if variant.metafields.custom.bundle_not_available == true %}disabled{% endif %} value="{{ bundle_variant.title | escape }}" data-handle="{{ product_handle }}" data-image="{{ bundle_variant.featured_image | img_url: '250x' }}" data-variant-id="{{ variant.id }}" data-bundle-variant-title="{{ bundle_variant.title }}" data-variant-text="{{ variant.metafields.custom.bundle_text }}">{{ bundle_variant.title }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}  
                                    </select>
                                </div>
                            </div>

                            <a data-bs-target="#{{ target }}" data-bs-toggle="modal">
                                <img src="https://qureskincaredns-main.com/assets/images/line_i.svg" alt="line">
                            </a>
                        </div>
                    {% else %}
                        <div class="included_product">
                            <img src="{{ bundle_product.featured_image | img_url: '240x' }}" alt="{{ bundle_product.title | escape }}" class="img-fluid">
                            <p>{{ bundle_product.title }}</p>
                            <a data-bs-target="#{{ target }}" data-bs-toggle="modal">
                                <img src="https://qureskincaredns-main.com/assets/images/line_i.svg" alt="line">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="use_tab_{{ block.id }}" role="tabpanel"
            aria-labelledby="how_to_use_{{ block.id }}" tabindex="0">
            <div class="swiper qure__swiper" id="qure__swiper-product_1_{{ block.id }}"
                data-section-id="product_1_{{ block.id }}" data-autoplay="false"
                data-loop="false" data-desktop="1" data-pagination-fraction="true"
                data-arrowleft="arrow_left_{{ block.id }}"
                data-arrowright="arrow_right_{{ block.id }}">
                <div class="swiper-wrapper">
                    {% if product_bundle_list != blank %}
                        {% for bundle_product in product_bundle_list %}
                            {% assign target = bundle_product.handle %}

                            {% if target contains 'month-bundle' %}
                                {% assign target = 'month_bundle' %}
                            {% endif %}

                            {% case target %}
                                {% when 'q-rejuvalight-pro-facewear' %}
                                    {% capture image %}{{ 'purchase-form-bundle.settings.how-to-use.mask.image' | t }}{% endcapture %}
                                    {% capture text %}{{ 'purchase-form-bundle.settings.how-to-use.mask.text_html' | t }}{% endcapture %}
                                {% when 'neck-decolletage-led' %}
                                    {% capture image %}{{ 'purchase-form-bundle.settings.how-to-use.neck.image' | t }}{% endcapture %}
                                    {% capture text %}{{ 'purchase-form-bundle.settings.how-to-use.neck.text_html' | t }}{% endcapture %}
                                {% when 'month_bundle' %}
                                    {% capture image %}{{ 'purchase-form-bundle.settings.how-to-use.month_bundle.image' | t }}{% endcapture %}
                                    {% capture text %}{{ 'purchase-form-bundle.settings.how-to-use.month_bundle.text_html' | t }}{% endcapture %}
                                {% when 'face-serum' %}
                                    {% capture image %}{{ 'purchase-form-bundle.settings.how-to-use.face-serum.image' | t }}{% endcapture %}
                                    {% capture text %}{{ 'purchase-form-bundle.settings.how-to-use.face-serum.text_html' | t }}{% endcapture %}
                                {% when 'dermal-mist' %}
                                    {% capture image %}{{ 'purchase-form-bundle.settings.how-to-use.dermal-mist.image' | t }}{% endcapture %}
                                    {% capture text %}{{ 'purchase-form-bundle.settings.how-to-use.dermal-mist.text_html' | t }}{% endcapture %}
                                {% when 'dermal-mist-travel-size' %}
                                    {% capture image %}{{ 'purchase-form-bundle.settings.how-to-use.dermal-mist.image' | t }}{% endcapture %}
                                    {% capture text %}{{ 'purchase-form-bundle.settings.how-to-use.dermal-mist.text_html' | t }}{% endcapture %}
                                {% when 'micro-infusion-targeted-patches' %}
                                    {% capture image %}{{ 'purchase-form-bundle.settings.how-to-use.patches.image' | t }}{% endcapture %}
                                    {% capture text %}{{ 'purchase-form-bundle.settings.how-to-use.patches.text_html' | t }}{% endcapture %}
                                {% when 'faucet-filter' %}
                                    {% capture image %}{{ 'purchase-form-bundle.settings.how-to-use.faucet-filter.image' | t }}{% endcapture %}
                                    {% capture text %}{{ 'purchase-form-bundle.settings.how-to-use.faucet-filter.text_html' | t }}{% endcapture %}
                                {% when 'shower-filter' %}
                                    {% capture image %}{{ 'purchase-form-bundle.settings.how-to-use.shower-filter.image' | t }}{% endcapture %}
                                    {% capture text %}{{ 'purchase-form-bundle.settings.how-to-use.shower-filter.text_html' | t }}{% endcapture %}
                            {% endcase %}

                            <div class="swiper-slide">
                                <div class="px-15">
                                    <div class="d-flex align-items-center gap-3">
                                        {% if image != blank %}
                                            <img src="https://qureskincaredns-main.com/sections/global/purchase-form-bundle/images/{{ image }}" alt="icon">
                                        {% endif %}
                                        <p class="fs-16">{{ bundle_product.title }}</p>
                                    </div>
                                    {% if text != blank %}
                                        <ul class="list-dots fs-16 pt-10">{{ text }}</ul>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4 mt-10">
                    <div class="qure-swiper-button-prev qure-swiper-arrow arrow_left_{{ block.id }}">
                        <i class="fa-regular fa-angle-left"></i>
                    </div>
                    <div class="swiper-pagination position-relative bottom-0 w-auto">
                    </div>
                    <div
                        class="qure-swiper-button-next qure-swiper-arrow arrow_right_{{ block.id }}">
                        <i class="fa-regular fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>