{% assign header = blank %}
{% assign text = blank %}
{% assign icon1_image = blank %}
{% assign icon1_text = blank %}
{% assign icon2_image = blank %}
{% assign icon2_text = blank %}
{% assign icon3_image = blank %}
{% assign icon3_text = blank %}


{% case type %}
    {% when 1 %}
        {% capture header %}{{ 'purchase-form-bundle.settings.types.type1.header' | t }}{% endcapture %} 
        {% capture text %}{{ 'purchase-form-bundle.settings.types.type1.text' | t }}{% endcapture %}
        {% capture icon1_image %}{{ 'purchase-form-bundle.settings.types.type1.icon1_image' | t }}{% endcapture %}     
        {% capture icon1_text %}{{ 'purchase-form-bundle.settings.types.type1.icon1_text' | t }}{% endcapture %}   
        {% capture icon2_image %}{{ 'purchase-form-bundle.settings.types.type1.icon2_image' | t }}{% endcapture %}     
        {% capture icon2_text %}{{ 'purchase-form-bundle.settings.types.type1.icon2_text' | t }}{% endcapture %}   
        {% capture icon3_image %}{{ 'purchase-form-bundle.settings.types.type1.icon3_image' | t }}{% endcapture %}     
        {% capture icon3_text %}{{ 'purchase-form-bundle.settings.types.type1.icon3_text' | t }}{% endcapture %}   
    {% when 2 %}
        {% capture header %}{{ 'purchase-form-bundle.settings.types.type2.header' | t }}{% endcapture %} 
        {% capture text %}{{ 'purchase-form-bundle.settings.types.type2.text' | t }}{% endcapture %}
        {% capture icon1_image %}{{ 'purchase-form-bundle.settings.types.type2.icon1_image' | t }}{% endcapture %}     
        {% capture icon1_text %}{{ 'purchase-form-bundle.settings.types.type2.icon1_text' | t }}{% endcapture %}   
        {% capture icon2_image %}{{ 'purchase-form-bundle.settings.types.type2.icon2_image' | t }}{% endcapture %}     
        {% capture icon2_text %}{{ 'purchase-form-bundle.settings.types.type2.icon2_text' | t }}{% endcapture %}   
        {% capture icon3_image %}{{ 'purchase-form-bundle.settings.types.type2.icon3_image' | t }}{% endcapture %}     
        {% capture icon3_text %}{{ 'purchase-form-bundle.settings.types.type2.icon3_text' | t }}{% endcapture %}   
    {% when 3 %}
        {% capture header %}{{ 'purchase-form-bundle.settings.types.type3.header' | t }}{% endcapture %} 
        {% capture text %}{{ 'purchase-form-bundle.settings.types.type3.text' | t }}{% endcapture %}
        {% capture icon1_image %}{{ 'purchase-form-bundle.settings.types.type3.icon1_image' | t }}{% endcapture %}     
        {% capture icon1_text %}{{ 'purchase-form-bundle.settings.types.type3.icon1_text' | t }}{% endcapture %}   
        {% capture icon2_image %}{{ 'purchase-form-bundle.settings.types.type3.icon2_image' | t }}{% endcapture %}     
        {% capture icon2_text %}{{ 'purchase-form-bundle.settings.types.type3.icon2_text' | t }}{% endcapture %}   
        {% capture icon3_image %}{{ 'purchase-form-bundle.settings.types.type3.icon3_image' | t }}{% endcapture %}     
        {% capture icon3_text %}{{ 'purchase-form-bundle.settings.types.type3.icon3_text' | t }}{% endcapture %}   
{% endcase %}


<div class="bundle-content rounded-10 bg-light text-center py-md-20 px-md-45 p-25 ctm-width mx-auto mb-25" style="--ctm-width:860px">
    <h4 style="--font-h4-mob:28px;">{{ header }}</h4>
    <p class="pt-10">{{ text }}</p>
    <div class="border-bottom my-25"></div>
    <div class="d-flex gap-5 ctm-width mx-auto" style="--ctm-width:500px;">
        <div>
            <p class="d-flex flex-md-nowrap flex-wrap fs-16 gap-2 justify-content-center">
                <span><img src="https://qureskincaredns.com/assets/images/{{ icon1_image }}" class="align-bottom" alt="icon"></span>{{ icon1_text }}
            </p>
        </div>
        <div>
            <p class="d-flex flex-md-nowrap flex-wrap fs-16 gap-2 justify-content-center">
                <span><img src="https://qureskincaredns.com/assets/images/{{ icon2_image }}" class="align-bottom" alt="icon"></span>{{ icon2_text }}
            </p>
        </div>
        <div>
            <p class="d-flex flex-md-nowrap flex-wrap fs-16 gap-2 justify-content-center">
                <span><img src="https://qureskincaredns.com/assets/images/{{ icon3_image }}" class="align-bottom" alt="icon"></span>{{ icon3_text }}
            </p>
        </div>
    </div>
</div>