{% if section.settings.type == 'variant' %}
    {% for block in section.blocks %}
        {% if block.type == 'subscription' %}

            {% assign product_prefix = 'purchase-form-landing-subscription-' %}

            {% if block.settings.product != blank %}
                {%- assign subscription_discount_percent = block.settings.product_discount_percent -%}
                {% include 'get-product-data', product_handle: block.settings.product, product_prefix: product_prefix %}
                {%- capture subscription_product -%}
                    <div class="qure__price div">{{ 'purchase-form.settings.subscription-days-option' | t }} {{ block.settings.subscription_days_text }} ( <span class="price__sale fs-16 igPrice" style="margin:0;">{{ product_sale_price }}</span> {{ product_subscription_price }} )</div>
                {%- endcapture -%}
            {%- endif -%}

            {% assign subscription_discount_percent = block.settings.subscription_discount_percent %}

            {% include 'get-product-data', product_handle: product.handle, product_prefix: product_prefix %}

            {% capture data-per %}
                {% if subscription_discount_percent > 0 %}
                    {{ 'purchase-form.settings.subscribe-and-save-button-label' | t: value: subscription_discount_percent }}
                {% else %}
                    {{ 'purchase-form.settings.subscribe-button-label' | t }}
                {% endif %}
            {% endcapture %}

            <div id="purchase-form-landing-subscription">
                <div class="product_shower-subscription my-25">
                    <div class="qure__variant-label">{{ 'purchase-form.settings.select-product-delivery' | t }}</div>
                </div>
                <div class="qure__subscription" id="qure__subscription">
                    <div class="qure__subscription-item  save-subscription subscription-active position-relative" data-per="{{ data-per }}" data-per-preorder="{{ 'purchase-form.settings.reserve-and-save-button-label' | t: value: subscription_discount_percent }}">
                        <div class="best_value">
                            <p>{{ 'purchase-form.settings.best' | t }} <img src="https://qureskincaredns.com/assets/images/star_white.svg" alt="star_white"></p>
                        </div>
                        <button class="qure__subscription-btn" type="button" data-bs-toggle="collapse" data-bs-target="#subscribe_and_save" aria-expanded="true" aria-controls="subscribe_and_save">

                            {% if subscription_discount_percent > 0 %}
                                <div class="qure__sbs-label d-flex align-items-center gap-2">{{ 'purchase-form.settings.subscribe' | t }} & <span class='product_shower-label' style="gap: 3px;">{{ 'purchase-form.settings.save' | t | upcase }} {{ subscription_discount_percent }}%</span></div>
                            {% else %}
                                <div class="qure__sbs-label d-flex align-items-center gap-2">{{ 'purchase-form.settings.subscribe' | t }}</div>
                            {% endif %}
                            
                            {% if black_friday_discount_percent > 0 %}
                                <div>
                                    <div class="qure__price price--on-sale price_wrap dis_red_line">
                                        <div class="price__sale">{{ product_sale_price }}</div>
                                        {% if subscription_discount_percent > 0 %}
                                            <div class="price__regular ctm_pri_cls">{{ product_subscription_price }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="qure_bf_price">
                                        <div class="price__regular ctm_pri_cls">{{ black_friday_product_subscription_price }}</div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="qure__price price--on-sale d-flex align-items-center">
                                    {% if subscription_discount_percent > 0 %}
                                        <div class="price__sale mr-0 fs-18 igPrice">{{ product_sale_price }}</div>
                                        <div class="price__regular fs-18">{{ product_subscription_price }}</div>
                                    {% else %}
                                        <div class="price__regular fs-18 igPrice">{{ product_sale_price }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </button>
                        <div id="subscribe_and_save" class="qure__subscription-collapse collapse show"
                            data-bs-parent="#qure__subscription" style="">
                            <div class="qure__subscription-body p-0 mt-5">
                                {% if block.settings.subscription_onetime_text != blank %}
                                    <div
                                        class="subscription-item-row d-flex align-items-center gap-4 justify-content-between fs-16">
                                        <div class="subscription-item-title">
                                            <div class="div">{{ 'purchase-form.settings.subscription-onetime-option' | t }} {{ block.settings.subscription_onetime_text }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if block.settings.subscription_days_text != blank %}
                                    <div
                                        class="subscription-item-row d-flex align-items-center gap-4 justify-content-between fs-16">
                                        <div class="subscription-item-title">
                                            {% if subscription_discount_percent > 0 %}
                                                {% if block.settings.product != blank %}
                                                    {{ subscription_product }}
                                                {%- else -%}
                                                    <div class="qure__price div">{{ 'purchase-form.settings.subscription-days-option' | t }} {{ block.settings.subscription_days_text }} ( <span class="price__sale fs-16 igPrice" style="margin:0;">{{ product_sale_price }}</span> {{ product_subscription_price }} )</div>
                                                {%- endif -%}
                                            {% else %}
                                                <div class="qure__price div">{{ 'purchase-form.settings.subscription-days-option' | t }} {{ block.settings.subscription_days_text }} ( <span class="igPrice">{{ product_sale_price }}</span> )</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                {{ 'purchase-form.settings.more_details_html' | t }}
                            </div>
                        </div>
                    </div>
                    <div class="qure__subscription-item one_time_purchase">
                        <button class="qure__subscription-btn collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#one_time_purchase" aria-expanded="false"
                            aria-controls="one_time_purchase" data-btnlabel="Buy Now">
                            <div class="qure__sbs-label d-flex align-items-center gap-3">{{ 'purchase-form.settings.onetime' | t }}</div>
                            <div class="qure__price price--on-sale d-flex flex-wrap align-items-end flex-column text-right">
                                {% if black_friday_discount_percent > 0 %}
                                    <div
                                        class="qure__price price--on-sale">
                                        <div class="price__regular ctm_pri_cls dis_red_line">{{ product_sale_price }}</div>
                                        <div class="price__regular ctm_pri_cls qure_bf_price">{{ product_black_friday_price }}</div> 
                                    </div>
                                {% else %}
                                    <div class="price__regular fs-18 igPrice">{{ product_sale_price }}</div>
                                {% endif %}
                            </div>
                        </button>
                        <div id="one_time_purchase" class="qure__subscription-collapse collapse" data-bs-parent="#qure__subscription" style="">
                            <div class="qure__subscription-body p-0 mt-5">
                                <div
                                    class="subscription-item-row d-flex align-items-center gap-4 justify-content-between fs-16">
                                    {% if block.settings.onetime_text != blank %}
                                        <div class="subscription-item-title">
                                            <div class="div">{{ block.settings.onetime_text }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://qureskincaredns.com/sections/isolated/product-shower-filter/subscription-collapse.js"></script>
        {% endif %}
    {% endfor %}
{% endif %}