<div class="align-items-center bg-light block-card d-flex gap-4 px-20 py-15 rounded-10"{% if block.settings.link-url != blank %} onclick="location.href='{{ block.settings.link-url }}'" style="cursor: pointer;"{% endif %}>
    {% if block.settings.image != blank %}
        <img class="block-card__img rounded-5" src="{{ block.settings.image | img_url: '250x' }}" alt="{{ block.settings.image.alt | escape }}">
    {% endif %}
    <div class="block-card__content">
        {% if block.settings.hash != blank %}
            <div class="block-card__tag ctm-color mb-5" style="--txt-color:#8B8C8E; --txt-color-mob:#8B8C8E;">#{{ block.settings.hash }}</div>
        {% endif %}
        {% if block.settings.text != blank %}
            <div class="block-card__title fs-20">{{ block.settings.text }}</div>
        {% endif %}
    </div>
</div>

{% schema %}
{
  "name": "t:blocks.block-card-item.name",
  "settings": [
    {
      "type": "text",
      "id": "hash",
      "label": "t:common.hash"
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:common.text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:common.image"
    },
    {
      "type": "text",
      "id": "link-url",
      "label": "t:common.link-url"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.block-card-item.name"
    }
  ]
}
{% endschema %}