<!doctype html>
<html lang="{{ shop.locale }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    {% if template contains 'product' and product.metafields.custom.custom_canonical_url != blank %}
        <link rel="canonical" href="{{ product.metafields.custom.custom_canonical_url }}">
    {% elsif template contains 'collection' and collection.metafields.custom.custom_canonical_url %}
        <link rel="canonical" href="{{ collection.metafields.custom.custom_canonical_url }}">
    {% else %}
        <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}

    <meta name="p:domain_verify" content="67d2a1408f84408a05deffe883a0a523"/>
    <meta name="google-site-verification" content="eJrHRDM9bifPc8Nf-ycIg275f3KrlSoWEHd5VM5M9LQ" />
    <meta name="google-site-verification" content="N0QF9SQ35xUa1DQifP7jZgs_z2odMQBZlSB4L7n5fl4" /> 
    <meta name="msvalidate.01" content="E6D2CFAEB841C8D3C13C6473265B99B6" />

    {% render 'robots' %}

    {% capture seo_title %}
      {{ page_title }}
      {% if current_tags %}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.tags' | t: tags: meta_tags -}}
      {% endif %}
      {% if current_page != 1 %}
        &ndash; {{ 'general.page' | t: page: current_page }}
      {% endif %}
    {% endcapture %}

    <title>{{ seo_title }}</title>

    {%- if page_description -%}
			<meta name="description" content="{{ page_description | escape }}">
		{%- else -%}
			<meta name="description" content="{{ seo_title | escape }}">
    {%- endif -%}

    {% render 'social-meta-tags' %}

    {% if request.path == 'index' %}
      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Qure Skincare",
          "url": "https://www.qureskincare.com/",
          "logo": "",
          "sameAs": [
            "https://www.facebook.com/Qureskincare/",
            "https://www.instagram.com/qureskincare/",
            "https://www.youtube.com/channel/UCGTi3BZn8GVlu30NtQ-reYA"
          ]
        }
      </script>
    {% endif %}

    <link rel="shortcut icon" href="https://qureskincaredns-main.com/assets/qure_32x32.webp" type="image/png">
    <link rel="stylesheet" href="https://qureskincaredns-main.com/assets/css/vendor.css">
    <link rel="stylesheet" href="https://qureskincaredns-main.com/assets/css/spacings.css">
    <link href="https://qureskincaredns-main.com/assets/css/theme-fonts.css" rel="stylesheet" />
    <link href="https://qureskincaredns-main.com/assets/css/base.css" rel="stylesheet" />
    
    {% comment %} {{ content_for_header }}  {% endcomment %}
  </head>

  <body class="{{ template }}">
    
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    <script src="https://qureskincaredns-main.com/assets/js/vendor.js" defer="defer"></script>
    <script src="https://qureskincaredns-main.com/assets/js/header.js" defer="defer"></script>
    <script src="https://qureskincaredns-main.com/assets/js/footer.js" defer="defer"></script>
  </body>
</html>