{% doc %}
  Renders a step by step section for affiliate page 
{% enddoc %}

<div class="treat_signs_of_aging qure__section" id="how-it-works" style="--section-padding-top: 60px; --section-padding-bottom: 60px; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 30px;">
        <div class="container" style="--column-gap:40px; --column-gap-mobile:24px;">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading mb-md-50 mb-30 text-md-center">{{ section.settings.heading }}</h2>
            {% endif %}
            <div class="swiper qure__swiper" id="qure__swiper-join-slider-{{ section.id }}" data-section-id="join-slider-{{ section.id }}"
                data-autoplay="false" data-loop="false" data-mobile="1.2" data-tablet="2" data-desktop="3"
                data-spacing="40" data-pagination-fraction="true" data-arrowright="join-{{ section.id }}-arrow-right"
                data-arrowleft="join-{{ section.id }}-arrow-left" data-pagination="join-pagination">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% if block.type == 'list' %}
                            <div class="swiper-slide">
                                <div class="qe__card-block w-100 rounded-10 border" style="--bs-border-radius:10px">
                                    <div class="img_with-number overflow-hidden position-relative w-100 mw-100 h-auto"
                                        data-number="{{ forloop.index }}" style="--number-bg: var(--base-color);">
                                        {% if block.settings.image != blank %}
                                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid rounded-2 rounded-bottom-0 w-100">
                                        {% endif %}
                                    </div>
                                    <div class="qe__content pt-24 pb-30 px-18 p-md-24 rounded-top-0 border-top-0">
                                        {% if block.settings.heading != blank %}
                                            <h3 class="fs-20 fw-600 fm-body mb-10">{{ block.settings.heading }}</h3>
                                        {% endif %}
                                        {% if block.settings.text != blank %}
                                            <div class="fs-16">{{ block.settings.text }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4">
                    <div class="qure-swiper-button-prev qure-swiper-arrow join-{{ section.id }}-arrow-left mt-30"><i
                            class="fa-regular fa-angle-left"></i></div>
                    <div class="join-pagination position-relative bottom-0 w-auto mt-30"></div>
                    <div class="qure-swiper-button-next qure-swiper-arrow join-{{ section.id }}-arrow-right mt-30"><i
                            class="fa-regular fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
        });
    </script>

{% schema %}
{
  "name": "t:sections.affiliate-page-step-by-step.name",
  "settings": [
   {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
   }
  ],
  "blocks": [
    {
        "type": "list",
        "name": "t:common.list",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }   
        ]
    }
  ]
}
{% endschema %}