{% doc %}
  Renders a scrolling banner section for affiliate page 
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/scrolling-banner/scrolling-banner.css" />
    <div class="scrolling-banner color-background">
        <div class="offset-right-container pr-0">
            <div class="align-items-center gap-5 row custom__grid" style="--column-gap:60px; --column-gap-mobile:32px;">
                <div class="ctm-width custom__block position-relative z-2" style="--ctm-width: 565px;">
                    <div class="scrolling-vid-content">
                        {% if section.settings.heading != blank %}
                            <h1 class="scrolling-vid--heading">{{ section.settings.heading }}</h1>
                        {% endif %}
                        {% if section.settings.text != blank %}
                            <div class="scrolling-vid--des" style="--text-mt: 32px; --text-mb: 32px;">{{ section.settings.text }}</div>
                        {% endif %}
                        <div class="d-flex flex-wrap flex-md-nowrap gap-4">
                            {% if section.settings.creator_button_label != blank and section.settings.creator_button_url != blank %}
                                <a href="{{ section.settings.creator_button_url }}" class="banner-text--button btn btn--primary w-100" data-bs-toggle="modal" data-bs-target="#ingredients_popup">{{ section.settings.creator_button_label }}</a>
                            {% endif %}
                            {% if section.settings.influencer_button_url != blank and section.settings.influencer_button_label != blank %}
                                <a href="{{ section.settings.influencer_button_url }}" class="banner-text--button btn btn--primary w-100">{{ section.settings.influencer_button_label }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col custom__block">
                    <div class="qure__video-gallery-parent">
                        <div class="qure__video-gallery">
                            <qure__banner-scrolling class="banner-scrolling-body">
                                <div class="qure__video-col">
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_hh6opekser seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/hh6opekser/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_zs3ddb0qly seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/zs3ddb0qly/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_0yzue0kewq seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/0yzue0kewq/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </qure__banner-scrolling>
                            <qure__banner-scrolling class="banner-scrolling-body">
                                <div class="qure__video-col">
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_trdbfz6uid seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/trdbfz6uid/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_4cq20l8zpw seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/4cq20l8zpw/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_0e33y0v0ek seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/0e33y0v0ek/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </qure__banner-scrolling>
                            <qure__banner-scrolling class="banner-scrolling-body">
                                <div class="qure__video-col">
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_d9qtjnq5y2 seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/d9qtjnq5y2/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_ruvuftcy1z seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/ruvuftcy1z/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_1c3i00qlvo seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/1c3i00qlvo/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </qure__banner-scrolling>
                            <qure__banner-scrolling class="banner-scrolling-body">
                                <div class="qure__video-col">
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_vqqgjovm3v seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/vqqgjovm3v/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_7wu0u1d3gk seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/7wu0u1d3gk/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_ivb0vcg2v8 seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/ivb0vcg2v8/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </qure__banner-scrolling>
                            <qure__banner-scrolling class="banner-scrolling-body">
                                <div class="qure__video-col">
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_4tx5o3wtrv seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/4tx5o3wtrv/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qure__video-box">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_vwtoin6sax seo=false videoFoam=true"
                                                    style="height:100%;position:relative;width:100%">
                                                    <div class="wistia_swatch"
                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                        <img src="https://fast.wistia.com/embed/medias/vwtoin6sax/swatch"
                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                            alt="video" aria-hidden="true"
                                                            onload="this.parentNode.style.opacity=1;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </qure__banner-scrolling>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal start -->
        <div class="modal fade ingredient_modal" id="ingredients_popup" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="ingredients_popupLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered filter-dialog pb-md-0 p-15" style="--bs-modal-width:940px">
                <div class="modal-content bg-white">
                    <div class="modal-header border-0">
                        <button type="button" class="btn btn-close bg-transparent border-0 btn btn-close text-black p-0"
                            data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fs-30"></i></button>
                    </div>
                    <div class="modal-body pb-40 px-40">
                        {% if section.settings.popup_heading != blank %}
                            <p class="fs-md-24 fs-20">{{ section.settings.popup_heading }}</p>
                        {% endif %}
                        {% if section.settings.popup_text != blank %}
                            <p class="fs-md-16 fs-14">{{ section.settings.popup_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- modal end-->
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
        });
    </script>

{% schema %}
{
  "name": "t:sections.affiliate-page-scrolling-banner.name",
  "settings": [
   {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
   },
   {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
   },
   {
        "type": "text",
        "id": "creator_button_label",
        "label": "t:sections.affiliate-page-scrolling-banner.settings.creator-button-label"
   },
   {
        "type": "url",
        "id": "creator_button_url",
        "label": "t:sections.affiliate-page-scrolling-banner.settings.creator-button-url"
   },
   {
        "type": "text",
        "id": "influencer_button_label",
        "label": "t:sections.affiliate-page-scrolling-banner.settings.influencer-button-label"
   },
   {
        "type": "url",
        "id": "influencer_button_url",
        "label": "t:sections.affiliate-page-scrolling-banner.settings.influencer-button-url"
   },
   {
        "type": "text",
        "id": "popup_heading",
        "label": "t:common.popup-header"
   },
   {
        "type": "text",
        "id": "popup_text",
        "label": "t:common.popup-text"
   }
  ]
}
{% endschema %}