{% doc %}
  Renders a banner with text section
{% enddoc %}

<link href="https://qureskincaredns-main.com/sections/global/banner-with-text/banner-text.css" rel="stylesheet" type="text/css">
<div class="qure__section banner-with-text"
    style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-padding-top-mob: 30px; --section-padding-bottom-mob: 50px;">
    <div class="container">
        <div class="row custom__grid align-items-center" style="--column-gap:60px; --column-gap-mobile:32px;">
            <div class="col-md-6 custom__block">
                {% if section.settings.image != blank %}
                    <div class="banner-text--media">
                        <img src="{{ section.settings.image | image_url }}" class="img-fluid" alt="{{ section.settings.image.alt | escape }}"></div>
                {% endif %}
                {% if section.settings.wistia_url != blank %}
                <div class="treat_breakouts">
                    <style>
                        wistia-player[media-id='{{ section.settings.wistia_url }}']:not(:defined) {
                            background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/{{ section.settings.wistia_url }}/swatch');
                            display: block;
                            filter: blur(5px);
                            padding-top: 100.0%;
                        }
                    </style> <wistia-player media-id="{{ section.settings.wistia_url }}" seo="false" aspect="1.0"></wistia-player>
                </div>
            {% endif %}
            </div>
            <div class="col-md-6 custom__block">
                <div class="banner-with-text-content">
                    {% if section.settings.heading != blank %}
                        <h2 class="banner-text--heading">{{ section.settings.heading }}</h2>
                    {% endif %}
                    {% if section.settings.text != blank %}
                        <div class="banner-text--des" style="--text-mt: 32px; --text-mb: 32px;">{{ section.settings.text | replace: '<em>', '<span>' | replace: '</em>', '</span>' }}</div>
                    {% endif %}
                    {% if section.settings.button_label != blank and section.settings.button_url != blank %}
                          <a href="{{ section.settings.button_url }}" class="banner-text--button btn btn--primary w-mob-100">{{ section.settings.button_label }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
        loadScriptOnce('video-slider', 'https://qureskincaredns-main.com/sections/isolated/trusted-video/wistia-video-popup.js');
    });
</script>

{%  schema  %}
{
  "name": "t:sections.banner-with-text.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label",
        "default": "Shop Now"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    },
    {
        "type": "text",
        "id": "wistia_url",
        "label": "t:common.wistia-url"
    }
  ],
  "presets": [
    {
      "name": "t:sections.banner-with-text.name"
    }
  ]
}
{% endschema %}