{% doc %}
    Renders a bundle banner section for black friday.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/alex/sections/isolated/bundle-banner/bundle-banner.css" />
   <div class="swiper qure__swiper bundle-banners-slider" id="qure__swiper-banners-slider" data-section-id="banners-slider" data-autoplay="false" data-loop="false" data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="0" data-pagination-fraction="false">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
            {% if block.type == 'carousel' %}
                <div class="swiper-slide">
                    <div class="bundle-banner">
                    <picture class="bundle-banner__image">
                        {% if block.settings.image != blank %}
                            <source media="(min-width:767px)" srcset="{{ block.settings.image | image_url }}">
                        {% endif %}
                        {% if block.settings.image_mobile != blank %}
                            <img src="{{ block.settings.image_mobile | image_url }}" alt="{{ block.settings.image_mobile.alt | escape }}">
                        {% endif %}
                    </picture>
                    <div class="bundle-banner__content">
                        {% if block.settings.percent_value != blank %}
                            <div class="bf-discont-badge" data-text-bottom="Off">{{ block.settings.percent_value }}</div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-4">
                                {% if block.settings.heading != blank %}
                                    {{ block.settings.heading | replace: '[logo]', '<img src="https://qureskincaredns.com/assets/images/logo.svg"/>'}}
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    {{ block.settings.text }}
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {% if block.settings.button_url != blank and block.settings.button_label != blank %}
                                    <a href="{{ block.settings.button_url }}" class="btn btn--primary">{{ block.settings.button_label }}</a>
                                {% endif %}
                                {% if block.settings.sub_text != blank %}
                                    <div class="under-button-text">{{ block.settings.sub_text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="swiper-arrows-with-pagination">
        <div class="swiper-pagination"></div>
    </div>
   </div>
   <script>
      document.addEventListener("DOMContentLoaded", function () {
         loadScriptOnce('slider-script', 'https://qureskincaredns.com/assets/js/main-slider.js');
      });
   </script>

{%  schema  %}
{
  "name": "t:sections.bf-bundle-banner.name",
  "settings": [
  ],
  "blocks": [
    {
      "type": "carousel",
      "name": "t:common.carousel",
        "settings": [
            {
                "type": "richtext",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "text",
                "id": "percent_value",
                "label": "t:common.percent-value"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "t:common.image-mobile"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "t:common.button-label"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "t:common.button-url"
            },
            {
                "type": "richtext",
                "id": "sub_text",
                "label": "t:common.sub-text"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.bf-bundle-banner.name"
    }
  ]
}
{% endschema %}