{% doc %}
    Renders a bundle banner mini section for black friday.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/alex/sections/isolated/bundle-banner/bundle-banner.css" />
    <div class="bundle-banner bundle-banner-mini">
        <div class="bundle-banner__content">
            <div class="row">
                <div class="col-md-6">
                    <div class="mini-bundles">
                        {% for block in section.blocks %}
                            {% if block.type == 'image' %}
                            <div class="mini-bundles__item"{% if forloop.index == 1 %} data-desc="Exclusive Bundles"{% endif %}>
                                    {% if block.settings.image != blank %}
                                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                    {% endif %}
                                    {% if block.settings.percent_value != blank %}
                                        <div class="bf-discont-badge" data-text-top="Up to" data-text-bottom="Off">{{ block.settings.percent_value }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3">
                    {% if section.settings.heading != blank %}
                        {{ section.settings.heading }}
                    {% endif %}
                    {% if section.settings.text != blank %}
                        {{ section.settings.text }}
                    {% endif %}
                </div>
                {% if section.settings.button_url != blank and section.settings.button_label != blank %}
                    <div class="col-md-3">
                        <a href="{{ section.settings.button_url }}" class="btn btn--primary">{{ section.settings.button_label }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{%  schema  %}
{
  "name": "t:sections.bf-bundle-banner-mini.name",
  "settings": [
    {
        "type": "richtext",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:common.image",
        "settings": [
            {
                "type": "text",
                "id": "percent_value",
                "label": "t:common.percent-value"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.bf-bundle-banner-mini.name"
    }
  ]
}
{% endschema %}
