{% doc %}
    Renders a clickable banner with text section for black friday.
{% enddoc %}

<link href="https://qureskincaredns.com/alex/sections/global/banner-with-text/banner-text.css" rel="stylesheet" type="text/css">
    <div class="qure__section banner-with-text color-background two-images">
        <div class="row custom__grid">
            <div class="col-md-4 custom__block">
                <div class="banner-text--media banner-text-mob-full">
                    {% if section.settings.percent_value != blank %}
                        <div class="bf-discont-badge" data-text-top="Up to" data-text-bottom="Off">{{ section.settings.percent_value }}</div>
                    {% endif %}
                    <picture>
                        {% if section.settings.left_image != blank %}
                            <source media="(min-width:767px)" srcset="{{ section.settings.left_image | image_url }}">
                        {% endif %}
                        {% if section.settings.left_image_mobile != blank %}
                            <img src="{{ section.settings.left_image_mobile | image_url }}" alt="{{ section.settings.left_image_mobile.alt | escape }}">
                        {% endif %}
                    </picture>
                </div>
            </div>
            <div class="col-md-4 custom__block">
                <div class="banner-with-text-content text-center">
                <img src="{{ 'sections.bf-clickable-banner-with-text.bf_sale_image' | t }}" alt="{{ 'sections.bf-clickable-banner-with-text.bf_sale_image.alt' | t | escape }}">
                {% if section.settings.heading != blank %}
                    {{ section.settings.heading }}
                {% endif %}
                {% if section.settings.text != blank %}
                    {{ section.settings.text }}
                {% endif %}
                </div>
            </div>
            <div class="col-md-4 custom__block">
                <div class="banner-text--media banner-text-mob-full">
                    {% if section.settings.right_image != blank %}
                        <img src="{{ section.settings.right_image | image_url }}" alt="{{ section.settings.right_image.alt | escape }}">
                    {% endif %}
                </div>
            </div>
        </div>
        {% if section.settings.link != blank %}
            <a href="{{ section.settings.link }}" class="banner-with-text-link">&nbsp;</a>
        {% endif %}
    </div>

{%  schema  %}
{
  "name": "t:sections.bf-clickable-banner-with-text.name",
  "settings": [
    {
        "type": "richtext",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "percent_value",
        "label": "t:common.percent-value"
    },
    {
        "type": "image_picker",
        "id": "left_image",
        "label": "t:common.left-image"
    },
    {
        "type": "image_picker",
        "id": "left_image_mobile",
        "label": "t:common.left-image-mobile"
    },
    {
        "type": "image_picker",
        "id": "right_image",
        "label": "t:common.right-image"
    },
    {
        "type": "url",
        "id": "link",
        "label": "t:common.link"
    }
  ],
  "presets": [
    {
      "name": "t:sections.bf-clickable-banner-with-text.name"
    }
  ]
}
{% endschema %}