{% doc %}
    Renders a page banner section for black friday.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/alex/sections/isolated/page-banner/page-banner.css" />
<div class="page-banner" data-text-after="{{ 'sections.bf-page-banner.exclude_text' | t }}">
    <picture class="page-banner__image">
        {% if section.settings.image != blank and section.settings.image_mobile != blank %}
            <source media="(min-width:768px)" srcset="{{ section.settings.image | image_url }}">
            <img src="{{ section.settings.image_mobile | image_url }}" alt="{{ section.settings.image.mobile.alt | escape }}" />
        {% endif %}
    </picture>
    <div class="page-banner__container">
        <div class="container">
            <div class="page-banner__content">
                <img src="{{ 'sections.bf-page-banner.bf_sale_image' | t }}" alt="{{ 'sections.bf-page-banner.bf_sale_image.alt' | t | escape }}">
                {% if section.settings.heading != blank %}
                    {{ section.settings.heading }}
                {% endif %}
                {% if section.settings.text != blank %}
                    {{ section.settings.text }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="bf-discont-badge" data-text-bottom="Off">{{ 'sections.bf-page-banner.percent_value' | t }}</div>
</div>

{%  schema  %}
{
  "name": "t:sections.bf-page-banner.name",
  "settings": [
    {
        "type": "richtext",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "t:common.image-mobile"
    }
  ],
  "presets": [
    {
      "name": "t:sections.bf-page-banner.name"
    }
  ]
}

{% endschema %}