<link href="https://qureskincaredns.com/alex/sections/isolated/shop-black-friday/shop-black-friday.css" rel="stylesheet" type="text/css">
<div class="shop-black-friday">
   <div class="container">
      <h2>{{ 'sections.bf-top-products.header' | t }}</h2>
      <ul>
        {% for block in section.blocks %}
            <li>
                <a href="{{ block.settings.link_url }}"{% if block.settings.new == true %} data-badge="{{ 'sections.bf-top-products.new' | t }}"{% endif %}>
                    {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.heading | escape }}" />
                    {% endif %}
                    {% if block.settings.heading != blank %}
                        <span>{{ block.settings.heading }}</span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
      </ul>
   </div>
</div>


{% schema %}
    {
        "name": "t:sections.bf-top-products.name",
        "settings": [

        ],
        "blocks": [
            {
                "type": "items",
                "name": "t:common.items",
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "t:common.header"
                    },
                    {
                        "type": "url",
                        "id": "link_url",
                        "label": "t:common.link-url"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image"
                    },
                    {
                        "type": "checkbox",
                        "id": "new",
                        "label": "t:common.new",
                        "default": false
                    }
                ]
            }
        ]
    }
    {% endschema %}