{% assign blog_handle = blog.handle %}
{% unless blog_handle == 'light-therapy' or blog_handle == 'skin' or blog_handle == 'skincare' or blog_handle == 'all' %}
    {% assign blog_handle = 'all' %}
{% endunless %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/new/blog-section/blog-section.css" />
<section class="blog-section">
    <div class="container">
        <div class="blog-section__sections">
            <h2>Choose your topic</h2>
            <ul>
                {% for link in linklists.blog-menu.links offset: 1 limit: 3 %}
                    <li>
                        <a href="{{ link.url }}">
                            <picture>
                                {% case forloop.index %}
                                    {% when 1 %}
                                        <source media="(min-width:768px)" srcset="{{ 'blog.blog-post.settings.image_1' | t }}" />
                                        <img src="{{ 'blog.blog-post.settings.image_mobile_1' | t }}" alt="{{ link.title | escape }}" width="256" height="170" />
                                    {% when 2 %}
                                        <source media="(min-width:768px)" srcset="{{ 'blog.blog-post.settings.image_2' | t }}" />
                                        <img src="{{ 'blog.blog-post.settings.image_mobile_2' | t }}" alt="{{ link.title | escape }}" width="256" height="170" />
                                    {% when 3 %}
                                        <source media="(min-width:768px)" srcset="{{ 'blog.blog-post.settings.image_3' | t }}" />
                                        <img src="{{ 'blog.blog-post.settings.image_mobile_3' | t }}" alt="{{ link.title | escape }}" width="256" height="170" />
                                {% endcase %}
                            </picture>
                            <h6>{{ link.title }}</h6>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="blog-section__posts">
            <h2>Articles</h2>
            {%- paginate blogs[blog_handle].articles by 9 -%}
                <ul>
                    {% for article in blogs[blog_handle].articles %}
                        {% render 'blog-snippet-post', article: article %}
                    {% endfor %}
                </ul>
                {% render 'blog-snippet-pagination', paginate: paginate %}
            {%- endpaginate -%}
        </div>
        {% render 'blog-snippet-post-popular' %}
    </div>
</section>