{% doc %}
  Renders a build your own section
{% enddoc %}

<!--Collection Block-->
<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/collection-block/section-collection-block.css" />
<div class="collection_block qure__section" style="--section-padding-top: 30px; --section-padding-top-mob: 30px">
    <div class="container">
        <div class="collection_content">
            <div class="qure_tabs_wrap d-flex flex-wrap flex-md-nowrap justify-content-between gap-10 align-items-center fs-16">
                <ul class="filters qure_tabs">
                    {% for block in section.blocks %}
                        {% assign block_title = block.settings.heading | strip_newlines | strip | replace: ' ', '' | downcase %}
                        <li><a href="#build-your-own-target-{{ block_title }}"{% if forloop.index == 1 %} class="active"{% endif %} aria-label="{{ block.settings.heading | escape }}">{{ block.settings.heading }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% for block in section.blocks %}
                {% assign block_title = block.settings.heading | strip_newlines | strip | replace: ' ', '' | downcase %}
                <div id="build-your-own-target-{{ block_title }}" class="row projects custom__grid" style="--column-gap: 32px; --column-gap-mobile: 16px" data-label="{{ block.settings.heading | escape }}"></div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("build-your-own", "https://qureskincaredns.com/sections/isolated/collection-block/build-your-own.js");
        loadScriptOnce("quantity", "https://qureskincaredns.com/assets/js-new/quantity.js");
        loadScriptOnce("build-your-own-container", "{{ 'build-your-own-container.js' | asset_url }}");
    });
    
</script>
<!--Collection Block-->

{% schema %}
{
  "name": "t:sections.build-your-own-container.name",
  "settings": [
  ],
  "blocks": [
    {
        "type": "tabs",
        "name": "t:common.tab",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.header"
            }
        ]
    }
   ]
}
{% endschema %}