{% doc %}
  Renders a build your own section
{% enddoc %}

{% assign collection = collections['easter-collection'] %}

<!--Collection Block-->
<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/collection-block/section-collection-block.css" />
<div class="collection_block qure__section" style="--section-padding-top: 30px; --section-padding-top-mob: 30px">
    <div class="container">
        <div class="collection_content">
            <div class="qure_tabs_wrap d-flex flex-wrap flex-md-nowrap justify-content-between gap-10 align-items-center fs-16">
                <ul class="filters qure_tabs">
                    <li><a href="#section-mi" class="active">Micro-Infusion</a></li>
                    {% comment %} <li><a href="#section-devices">Devices</a></li>
                    <li><a href="#section-filters">Water Filters</a></li>
                    <li><a href="#section-skincare">Skincare</a></li> {% endcomment %}
                </ul>
            </div>
            <div class="row projects custom__grid" style="--column-gap: 32px; --column-gap-mobile: 16px" id="section-mi" data-label="Micro-Infusion">
                {% for block in section.blocks %}
                {% assign product = block.settings.product %}
                {% if product != blank %}
                <div class="col-6 col-md-3 custom__block project" data-filter="fine_lines dark_spots" {{ block.shopify_attributes }}>
                    <div class="qure__product-item silver-badge">
                        <a href="{{ product.url }}" class="qure__product-img overflow-hidden position-relative d-block">
                            <div class="qure__product-main-img"><img src="{{ product.featured_image | image_url: width: 720 }}" alt="{{ product.featured_image.alt | escape }}" /></div>
                            {% if product.images.size > 1 %}
                            <div class="qure__product-hover-img position-absolute inset-0"><img src="{{ product.images[1] | image_url: width: 720 }}" alt="{{ product.title | escape }}" /></div>
                            {% endif %}
                            <div class="badge rounded-pill badge-bestseller">Bestseller</div>
                        </a>
                        <div class="qure__product-details">
                            <div class="qure__product-reviews fs-14 d-flex gap-3 align-items-center"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/stars.svg" alt="" /><span>1,312 Reviews</span></div>
                            <h3 class="fm-body mb-0 qure__product-name">
                                <a class="limited-line capitalize d-block" href="{{ product.url }}">{{ product.title }}</a>
                            </h3>
                            <div class="qure__product-price">
                                {% if product.compare_at_price > product.price %}
                                <div class="dis_red_line">
                                    <span class="bef_price text-decoration-line-through">{{ product.compare_at_price | money }}</span>
                                    <span class="aft_price">{{ product.price | money }}</span>
                                </div>
                                {% else %}
                                <span>{{ product.price | money }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="qure__product-action-inner">
                            <form method="post" action="/cart/add" enctype="multipart/form-data">
                                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
                                <input type="checkbox" name="added_in_cart" value="" />
                                <button type="button" class="add-cart-button product-form__submit btn btn--primary w-100">Add <i class="e-icon e-icon-plus"></i></button>
                                <div class="e-quantity e-quantity--pill-xl" data-e-quantity>
                                    <button type="button" data-e-quantity-action="decrement">
                                        <i class="e-icon e-icon-minus"></i>
                                    </button>
                                    <input type="number" name="qty" value="1" min="1" readonly="readonly" />
                                    <button type="button" data-e-quantity-action="increment">
                                        <i class="e-icon e-icon-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% comment %} <div class="row projects custom__grid" style="--column-gap: 32px; --column-gap-mobile: 16px" id="section-devices" data-label="Devices">
                <div class="col-6 col-md-3 custom__block project">
                    <div class="qure__product-item silver-badge">
                        <a href="#" class="qure__product-img overflow-hidden position-relative d-block">
                            <div class="qure__product-main-img"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/q-rejuvalight-pro-facewear.webp" alt="" /></div>
                            <div class="qure__product-hover-img position-absolute inset-0"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/q-rejuvalight-pro-facewear-hover.webp" alt="" /></div>
                            <div class="badge rounded-pill badge-bestseller">Bestseller</div>
                        </a>
                        <div class="qure__product-details">
                            <div class="qure__product-reviews fs-14 d-flex gap-3 align-items-center"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/stars.svg" alt="" /><span>1,375 Reviews</span></div>
                            <h3 class="fm-body mb-0 qure__product-name">
                                <a class="limited-line capitalize d-block" href="#">Q-Rejuvalight Pro Facewear </a>
                            </h3>
                            <div class="qure__product-price">
                                <div class="dis_red_line">
                                    <span class="bef_price text-decoration-line-through">$238</span>
                                    <span class="aft_price">$149</span>
                                </div>
                                <div class="black_friday_price">$133.51</div>
                            </div>
                        </div>
                        <div class="qure__product-action-inner">
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input type="checkbox" name="added_in_cart" value="" />
                                <button type="button" class="add-cart-button product-form__submit btn btn--primary w-100">Add <i class="e-icon e-icon-plus"></i></button>
                                <div class="e-quantity e-quantity--pill-xl" data-e-quantity>
                                    <button type="button" data-e-quantity-action="decrement">
                                        <i class="e-icon e-icon-minus"></i>
                                    </button>
                                    <input type="number" name="qty" value="1" min="1" readonly="readonly" />
                                    <button type="button" data-e-quantity-action="increment">
                                        <i class="e-icon e-icon-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 custom__block project" data-filter="fine_lines dark_spots">
                    <div class="qure__product-item silver-badge">
                        <a href="#" class="qure__product-img overflow-hidden position-relative d-block">
                            <div class="qure__product-main-img"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/neck-and-deck.webp" alt="" /></div>
                            <div class="qure__product-hover-img position-absolute inset-0"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/neck-and-deck-hover.webp" alt="" /></div>
                        </a>
                        <div class="qure__product-details">
                            <div class="qure__product-reviews fs-14 d-flex gap-3 align-items-center"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/stars.svg" alt="" /><span>104 Reviews</span></div>
                            <h3 class="fm-body mb-0 qure__product-name">
                                <a class="limited-line capitalize d-block" href="#">Neck & Décolletage LED Device</a>
                            </h3>
                            <div class="qure__product-price">
                                <div class="dis_red_line">
                                    <span class="bef_price text-decoration-line-through">$238</span>
                                    <span class="aft_price">$149</span>
                                </div>
                                <div class="black_friday_price">$133.51</div>
                            </div>
                        </div>
                        <div class="qure__product-action-inner">
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input type="checkbox" name="added_in_cart" value="" />
                                <button type="button" class="add-cart-button product-form__submit btn btn--primary w-100">Add <i class="e-icon e-icon-plus"></i></button>
                                <div class="e-quantity e-quantity--pill-xl" data-e-quantity>
                                    <button type="button" data-e-quantity-action="decrement">
                                        <i class="e-icon e-icon-minus"></i>
                                    </button>
                                    <input type="number" name="qty" value="1" min="1" readonly="readonly" />
                                    <button type="button" data-e-quantity-action="increment">
                                        <i class="e-icon e-icon-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 custom__block project">
                    <div class="qure__product-item silver-badge">
                        <a href="#" class="qure__product-img overflow-hidden position-relative d-block">
                            <div class="qure__product-main-img"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/q-rejuvalight-pro-facewear.webp" alt="" /></div>
                            <div class="qure__product-hover-img position-absolute inset-0"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/q-rejuvalight-pro-facewear-hover.webp" alt="" /></div>
                            <div class="badge rounded-pill badge-bestseller">Bestseller</div>
                        </a>
                        <div class="qure__product-details">
                            <div class="qure__product-reviews fs-14 d-flex gap-3 align-items-center"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/stars.svg" alt="" /><span>1,375 Reviews</span></div>
                            <h3 class="fm-body mb-0 qure__product-name">
                                <a class="limited-line capitalize d-block" href="#">Q-Rejuvalight Pro Facewear </a>
                            </h3>
                            <div class="qure__product-price">
                                <div class="dis_red_line">
                                    <span class="bef_price text-decoration-line-through">$238</span>
                                    <span class="aft_price">$149</span>
                                </div>
                                <div class="black_friday_price">$133.51</div>
                            </div>
                        </div>
                        <div class="qure__product-action-inner">
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input type="checkbox" name="added_in_cart" value="" />
                                <button type="button" class="add-cart-button product-form__submit btn btn--primary w-100">Add <i class="e-icon e-icon-plus"></i></button>
                                <div class="e-quantity e-quantity--pill-xl" data-e-quantity>
                                    <button type="button" data-e-quantity-action="decrement">
                                        <i class="e-icon e-icon-minus"></i>
                                    </button>
                                    <input type="number" name="qty" value="1" min="1" readonly="readonly" />
                                    <button type="button" data-e-quantity-action="increment">
                                        <i class="e-icon e-icon-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row projects custom__grid" style="--column-gap: 32px; --column-gap-mobile: 16px" id="section-filters" data-label="Water Filters">
                <div class="col-6 col-md-3 custom__block project" data-filter="all">
                    <div class="qure__product-item silver-badge">
                        <a href="#" class="qure__product-img overflow-hidden position-relative d-block">
                            <div class="qure__product-main-img"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/shower-filter.webp" alt="" /></div>
                            <div class="qure__product-hover-img position-absolute inset-0"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/shower-filter-hover.webp" alt="" /></div>
                            <div class="badge rounded-pill badge-bestseller" style="--text-clr: #fff; --badge-bg: #91baec">New</div>
                        </a>
                        <div class="qure__product-details">
                            <div class="qure__product-reviews fs-14 d-flex gap-3 align-items-center"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/stars.svg" alt="" /><span>48 Reviews</span></div>
                            <h3 class="fm-body mb-0 qure__product-name">
                                <a class="limited-line capitalize d-block" href="#">Shower Filter</a>
                            </h3>
                            <div class="select-color" data-text="Select Color:">
                                <label>
                                    <input type="radio" name="shower-color" value="light" />
                                </label>
                                <label>
                                    <input type="radio" name="shower-color" value="silver" checked="checked" />
                                </label>
                                <label>
                                    <input type="radio" name="shower-color" value="dark" />
                                </label>
                            </div>
                            <div class="qure__product-price">
                                <div class="dis_red_line">
                                    <span class="bef_price text-decoration-line-through">$238</span>
                                    <span class="aft_price">$149</span>
                                </div>
                                <div class="black_friday_price">$133.51</div>
                            </div>
                        </div>
                        <div class="qure__product-action-inner">
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input type="checkbox" name="added_in_cart" value="" />
                                <button type="button" class="add-cart-button product-form__submit btn btn--primary w-100">Add <i class="e-icon e-icon-plus"></i></button>
                                <div class="e-quantity e-quantity--pill-xl" data-e-quantity>
                                    <button type="button" data-e-quantity-action="decrement">
                                        <i class="e-icon e-icon-minus"></i>
                                    </button>
                                    <input type="number" name="qty" value="1" min="1" readonly="readonly" />
                                    <button type="button" data-e-quantity-action="increment">
                                        <i class="e-icon e-icon-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 custom__block project" data-filter="breakouts">
                    <div class="qure__product-item silver-badge">
                        <a href="#" class="qure__product-img overflow-hidden position-relative d-block">
                            <div class="qure__product-main-img"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/faucet-filter.webp" alt="" /></div>
                            <div class="qure__product-hover-img position-absolute inset-0"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/faucet-filter-hover.webp" alt="" /></div>
                            <div class="badge rounded-pill badge-bestseller" style="--text-clr: #fff; --badge-bg: #91baec">New</div>
                        </a>
                        <div class="qure__product-details">
                            <div class="qure__product-reviews fs-14 d-flex gap-3 align-items-center"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/stars.svg" alt="" /><span>48 Reviews</span></div>
                            <h3 class="fm-body mb-0 qure__product-name">
                                <a class="limited-line capitalize d-block" href="#">Faucet Filter</a>
                            </h3>
                            <div class="select-color" data-text="Select Color:">
                                <label>
                                    <input type="radio" name="faucet-color" value="light" />
                                </label>
                                <label>
                                    <input type="radio" name="faucet-color" value="silver" checked="checked" />
                                </label>
                                <label>
                                    <input type="radio" name="faucet-color" value="dark" />
                                </label>
                            </div>
                            <div class="qure__product-price">
                                <div class="dis_red_line">
                                    <span class="bef_price text-decoration-line-through">$238</span>
                                    <span class="aft_price">$149</span>
                                </div>
                                <div class="black_friday_price">$133.51</div>
                            </div>
                        </div>
                        <div class="qure__product-action-inner">
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input type="checkbox" name="added_in_cart" value="" />
                                <button type="button" class="add-cart-button product-form__submit btn btn--primary w-100">Add <i class="e-icon e-icon-plus"></i></button>
                                <div class="e-quantity e-quantity--pill-xl" data-e-quantity>
                                    <button type="button" data-e-quantity-action="decrement">
                                        <i class="e-icon e-icon-minus"></i>
                                    </button>
                                    <input type="number" name="qty" value="1" min="1" readonly="readonly" />
                                    <button type="button" data-e-quantity-action="increment">
                                        <i class="e-icon e-icon-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row projects custom__grid" style="--column-gap: 32px; --column-gap-mobile: 16px" id="section-skincare" data-label="Skincare">
                <div class="col-6 col-md-3 custom__block project" data-filter="fine_lines dark_spots breakouts">
                    <div class="qure__product-item silver-badge">
                        <a href="#" class="qure__product-img overflow-hidden position-relative d-block">
                            <div class="qure__product-main-img"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/all-in-one-face-serum.webp" alt="" /></div>
                            <div class="qure__product-hover-img position-absolute inset-0"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/all-in-one-face-serum-hover.webp" alt="" /></div>
                        </a>
                        <div class="qure__product-details">
                            <div class="qure__product-reviews fs-14 d-flex gap-3 align-items-center"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/stars.svg" alt="" /><span>380 Reviews</span></div>
                            <h3 class="fm-body mb-0 qure__product-name">
                                <a class="limited-line capitalize d-block" href="#">All-In-One Face Serum</a>
                            </h3>
                            <div class="qure__product-price">
                                <div class="dis_red_line">
                                    <span class="bef_price text-decoration-line-through">$238</span>
                                    <span class="aft_price">$149</span>
                                </div>
                                <div class="black_friday_price">$133.51</div>
                            </div>
                        </div>
                        <div class="qure__product-action-inner">
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input type="checkbox" name="added_in_cart" value="" />
                                <button type="button" class="add-cart-button product-form__submit btn btn--primary w-100">Add <i class="e-icon e-icon-plus"></i></button>
                                <div class="e-quantity e-quantity--pill-xl" data-e-quantity>
                                    <button type="button" data-e-quantity-action="decrement">
                                        <i class="e-icon e-icon-minus"></i>
                                    </button>
                                    <input type="number" name="qty" value="1" min="1" readonly="readonly" />
                                    <button type="button" data-e-quantity-action="increment">
                                        <i class="e-icon e-icon-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 custom__block project" data-filter="fine_lines all">
                    <div class="qure__product-item silver-badge">
                        <a href="#" class="qure__product-img overflow-hidden position-relative d-block">
                            <div class="qure__product-main-img"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/micro-infusion-targeted-patches.webp" alt="" /></div>
                            <div class="qure__product-hover-img position-absolute inset-0"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/micro-infusion-targeted-patches-hover.webp" alt="" /></div>
                            <div class="badge rounded-pill badge-bestseller" style="--text-clr: #ff5429; --badge-bg: #ffeeea">Trending</div>
                        </a>
                        <div class="qure__product-details">
                            <div class="qure__product-reviews fs-14 d-flex gap-3 align-items-center"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/stars.svg" alt="" /><span>157 Reviews</span></div>
                            <h3 class="fm-body mb-0 qure__product-name">
                                <a class="limited-line capitalize d-block" href="#">Micro-Infusion Targeted Patches</a>
                            </h3>
                            <div class="qure__product-price">
                                <div class="dis_red_line">
                                    <span class="bef_price text-decoration-line-through">$238</span>
                                    <span class="aft_price">$149</span>
                                </div>
                                <div class="black_friday_price">$133.51</div>
                            </div>
                        </div>
                        <div class="qure__product-action-inner">
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input type="checkbox" name="added_in_cart" value="" />
                                <button type="button" class="add-cart-button product-form__submit btn btn--primary w-100">Add <i class="e-icon e-icon-plus"></i></button>
                                <div class="e-quantity e-quantity--pill-xl" data-e-quantity>
                                    <button type="button" data-e-quantity-action="decrement">
                                        <i class="e-icon e-icon-minus"></i>
                                    </button>
                                    <input type="number" name="qty" value="1" min="1" readonly="readonly" />
                                    <button type="button" data-e-quantity-action="increment">
                                        <i class="e-icon e-icon-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 custom__block project" data-filter="breakouts">
                    <div class="qure__product-item silver-badge">
                        <a href="#" class="qure__product-img overflow-hidden position-relative d-block">
                            <div class="qure__product-main-img"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/dermal-mist.webp" alt="" /></div>
                            <div class="qure__product-hover-img position-absolute inset-0"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/dermal-mist-hover.webp" alt="" /></div>
                            <div class="badge rounded-pill badge-bestseller" style="--text-clr: #fff; --badge-bg: #91baec">New</div>
                        </a>
                        <div class="qure__product-details">
                            <div class="qure__product-reviews fs-14 d-flex gap-3 align-items-center"><img src="https://qureskincaredns.com/sections/isolated/top-products/images/stars.svg" alt="" /><span>26 Reviews</span></div>
                            <h3 class="fm-body mb-0 qure__product-name">
                                <a class="limited-line capitalize d-block" href="#">Dermal Mist</a>
                            </h3>
                            <div class="qure__product-price">
                                <div class="dis_red_line">
                                    <span class="bef_price text-decoration-line-through">$238</span>
                                    <span class="aft_price">$149</span>
                                </div>
                                <div class="black_friday_price">$133.51</div>
                            </div>
                        </div>
                        <div class="qure__product-action-inner">
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input type="checkbox" name="added_in_cart" value="" />
                                <button type="button" class="add-cart-button product-form__submit btn btn--primary w-100">Add <i class="e-icon e-icon-plus"></i></button>
                                <div class="e-quantity e-quantity--pill-xl" data-e-quantity>
                                    <button type="button" data-e-quantity-action="decrement">
                                        <i class="e-icon e-icon-minus"></i>
                                    </button>
                                    <input type="number" name="qty" value="1" min="1" readonly="readonly" />
                                    <button type="button" data-e-quantity-action="increment">
                                        <i class="e-icon e-icon-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("build-your-own", "https://qureskincaredns.com/sections/isolated/collection-block/build-your-own.js");
        loadScriptOnce("quantity", "https://qureskincaredns.com/assets/js-new/quantity.js");
    });
</script>
<!--Collection Block-->

{% schema %}
{
    "name": "Build Your Own Products",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Build Your Own"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "limit": 4,
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Build Your Own Products"
        }
    ]
}
{% endschema %}
