{% doc %}
  Renders a bundle-header section
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/micro-infusion-pdp/section-micro-infusion-pdp.css" />
<div id="buy_box" class="qure__trageted-patches qure__section bundle-header"
    style="--section-padding-top: 80px; --section-padding-bottom: 40px; --section-padding-bottom-mob: 15px;">
    <div class="container" style="--column-gap:80px; --column-gap-mobile:30px;">
        <div class="row custom__grid">
            <div class="col-lg-6 custom__block">
                <div class="qure-product-details">
                    {% if section.settings.bf_link != blank %}
                        <a href="{{ section.settings.bf_link }}" class="black-frigay-badge">
                            <img src="https://qureskincaredns.com/sections/isolated/micro-infusion-pdp/images/{{ 'bundle-header.settings.bf_badge_image' | t }}"/>
                        </a>
                    {% else %}
                        <div class="e-bundle-tag" style="--e-bundle-tag-color: {{ section.settings.bundle_tag_color }};">{{ 'bundle-header.settings.exclusive-bundles_html' | t }}</div>
                    {% endif %}

                    {% if section.settings.heading != blank %}
                        <h1 class="qure__product-title my-25 ctm-width" style="--font-h1:42px; --ctm-width: 475px;">{{ section.settings.heading }}</h1>
                    {% endif %}

                    {% if section.settings.description != blank %}
                        {{ section.settings.description }}
                    {% endif %}

                    {% render 'product-page-slider', product: blank, page: page, class: 'tp-product-gallery d-block d-lg-none mb-30', element_id: section.id %}
                    
                    <div class="ctm-width" style="--ctm-width: 450px;">

                        {% render 'page-link-button', section: section, classname: 'mt-30 mt-md-40 mb-10' %}

                        <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-md-center col-gap" style="--col-gap-mb:10px;">
                            <div
                                class="icon-with-text d-flex gap-2 justify-content-center align-items-center fs-14 text-center text-lg-start">
                                <img src="https://qureskincaredns.com/sections/isolated/protect-your-skin/images/dermatologist.svg"
                                    alt="dermatologist">
                                <span>{{ 'bundle-header.settings.easy-returns' | t }}</span>
                            </div>
                            <div
                                class="icon-with-text d-flex gap-2 justify-content-center align-items-center fs-14 text-center text-lg-start">
                                <img src="https://qureskincaredns.com/sections/isolated/protect-your-skin/images/shipping.svg" alt="shipping">
                                <span>{{ 'bundle-header.settings.shipping-text' | t }}</span>
                            </div>
                        </div>

                        <div class="patch__product-main pt-15">
                            <div class="d-block patch__product-certified text-center">
                                <ul class="justify-content-center patch-dr-list">
                                    <li><img src="https://qureskincaredns.com/sections/isolated/targeted-patches/images/crt-1.webp"></li>
                                    <li><img src="https://qureskincaredns.com/sections/isolated/targeted-patches/images/crt-2.webp"></li>
                                    <li>+50</li>
                                </ul>
                                <p>{{ 'bundle-header.settings.recommended_html' | t }}</p>
                            </div>
                            <div class="d-md-block d-none">
                                <img src="https://qureskincaredns.com/assets/images/jaad.webp" class="ctm-width" style="--ctm-width:98px" alt="jaad">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 custom__block d-none d-lg-block">
                {% render 'product-page-slider', product: blank, page: page, class: 'tp-product-gallery d-none d-lg-block desktop-slider', element_id: section.id %}
            </div>
        </div>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    loadScriptOnce('bundle-header', 'https://qureskincaredns.com/shopify/js/bundle-header.js?rnd=1');
  });
</script>

{% schema %}
{
  "name": "t:sections.bundle-header.name",
  "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "t:common.description"
        },
        {
            "type": "url",
            "id": "bf_link",
            "label": "t:common.bf-link"
        },
        {
            "type": "text",
            "id": "button-label",
            "label": "t:common.button-label"
        },
        {
            "type": "url",
            "id": "button-url",
            "label": "t:common.button-url"
        },
        {
            "type": "color",
            "id": "bundle_tag_color",
            "label": "t:common.bundle-tag-color",
            "default": "#FF5429"
        }
  ]
}
{% endschema %}