{% doc %}
Renders a bundle routine section.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/assets/shopify/css/bundle-routine.css">
<div class=" qure__section bundle_routine bg-light"
    style="--padding-top:80px;--padding-bottom:80px;--padding-top-mob:40px;--padding-top-mob:40px;">
    <div class="container">
        <div class="qure__section-header text-center mw mx-auto" style="--mw:740px;">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <p class="mt-20 mt-lg-30 pb-0"> {{ section.settings.text }}</p>
            {% endif %}
        </div>
        <div class="row g-4">
            {% for block in section.blocks %}
                {% if block.type == 'bundle' %}
                    {% include 'get-product-data', product_handle: block.settings.product, product_prefix: 'bundle-routine-' %}

                    <div class="col-6 col-lg-3">
                        <div class="bndl_routine bg-white rounded-10 p-16 p-md-24 d-flex flex-column justify-content-between h-100">
                            <div class="d-flex flex-md-nowrap gap-4 mb-4 align-items-md-center flex-column flex-md-row">
                                {% if product_featured_image != blank %}
                                    <img src="{{ product_featured_image | img_url: '250x' }}" alt="{{ product_title | escape }}"  />
                                {% endif %}
                                {% if product_title != blank %}
                                    {{ product_title }}
                                {% endif %}
                            </div>
                            {% if block.settings.button_label != blank %}
                                {% render 'product-page-buy-button', product_price: null, product_variant_id: product_variant_id, section: block %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
    "name": "t:sections.bundle-routine.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "text",
        "id": "text",
        "label": "t:common.text"
    }
    ],
    "blocks": [
    {
        "type": "bundle",
        "name": "t:common.bundle",
        "settings": [
            {
                "type": "text",
                "id": "product",
                "label": "t:common.product"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "t:common.button-label",
                "default": "Add to Bundle"
            }
        ]
    }
    ],
    "presets": [
    {
        "name": "t:sections.bundle-routine.name"
    }
    ]
}
{% endschema %}