{% doc %}
Renders a bundle routine section.
{% enddoc %}

<div class=" qure__section bundle_routine bg-light"
    style="--padding-top:80px;--padding-bottom:80px;--padding-top-mob:40px;--padding-top-mob:40px;">
    <div class="container">
        <div class="qure__section-header text-center mw mx-auto" style="--mw:740px;">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <p class="mt-20 mt-lg-30 pb-0"> {{ section.settings.text }}</p>
            {% endif %}
        </div>
        <div class="row g-4">
            {% for block in section.blocks %}
                {% if block.type == 'bundle' %}
                    <div class="col-6 col-lg-3">
                        <div class="bndl_routine bg-white rounded-10 p-16 p-md-24 d-flex flex-column justify-content-between h-100">
                            <div class="d-flex flex-md-nowrap gap-4 mb-4 align-items-md-center flex-column flex-md-row">
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}">
                                {% endif %}
                                {% if block.settings.heading != blank %}
                                    {{ block.settings.heading }}
                                {% endif %}
                            </div>
                            {% if block.settings.button_url != blank and block.settings.button_label != blank %}
                                <a href="{{ block.settings.button_url }}" class="btn border-0 w-100 px-10" style="--btn-font-mob:16px;">{{ block.settings.button_label }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
    "name": "t:sections.bundle-routine.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "text",
        "id": "text",
        "label": "t:common.text"
    }
    ],
    "blocks": [
    {
        "type": "bundle",
        "name": "t:common.bundle",
        "settings": [
        {
            "type": "richtext",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "t:common.button-label",
            "default": "Add to Bundle"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "t:common.button-url"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        }
        ]
    }
    ],
    "presets": [
    {
        "name": "t:sections.bundle-routine.name"
    }
    ]
}
{% endschema %}