{% doc %}
  Renders a page banner section for car giveaway page.
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/top-products/products-card.css" />
<div id="product_card" class="qure__trusted-reviews qure__section" style="--section-padding-top: 80px;--section-padding-bottom: 80px;--section-padding-top-mob: 40px;--section-padding-bottom-mob: 40px;">
    <div class="container">
        <div class="qure__section-header text-center mb-30 mb-md-60">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
            {% endif %}
        </div>
        <div class="recieve_entries_grid">
            {% for block in section.blocks %}
                {% if block.type == 'items' %}
                    <div class="recieve_entries_item">
                        <div class="qure__product-item">
                            {% if block.settings.button_url != blank %}
                                <a href="{{ block.settings.button_url }}" class="qure__product-img overflow-hidden position-relative d-block">
                                    {% if block.settings.image != blank %}
                                        <div class="qure__product-main-img"><img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" /></div>
                                    {% endif %}
                                    {% if block.settings.quote != blank %}
                                        <div class="badge rounded-pill badge-bestseller">{{ block.settings.quote }}</div>
                                    {% endif %}
                                    {% if block.settings.text != blank %}
                                        <div class="d-flex align-items-center justify-content-center recieve_entries"><img src="{{ 'sections.car-giveaway-product-cards.tick_image' | t }}" alt="{{ 'sections.car-giveaway-product-cards.tick_image.alt' | t | escape }}">{{ block.settings.text }}</div>
                                    {% endif %}
                                </a>
                            {% endif %}
                            <div class="qure__product-details pt-15">
                                {% if block.settings.heading != blank and block.settings.button_url != blank %}
                                    <h3 class="fm-body mb-0 qure__product-name"><a class="limited-line capitalize d-block" href="{{ block.settings.button_url }}">{{ block.settings.heading }}</a></h3>
                                {% endif %}

                                {%- if block.settings.discount_price != blank -%}
                                    <div class="qure__product-price mt-10">
                                        <div class="dis_red_line">
                                            {% if block.settings.compare_price != blank %}
                                                <span class="bef_price text-decoration-line-through">{{ block.settings.compare_price }}</span>
                                            {% endif %}
                                            <span class="aft_price">{{ block.settings.price }}</span>
                                        </div>
                                        <div class="black_friday_price">{{ block.settings.discount_price }}</div>
                                    </div>
                                {%- else -%}
                                    {% if block.settings.price != blank %}
                                        <div class="qure__product-price mt-10">{{ block.settings.price }}</div>
                                    {% endif %}
                                {%- endif -%}

                                {% if block.settings.button_label != blank and block.settings.button_url != blank %}
                                    <a href="{{ block.settings.button_url }}" class="btn mt-20 w-100">{{ block.settings.button_label }}</a>
                                {% elsif block.settings.button_label != blank %}
                                    <button type="button" class="btn mt-20 w-100">{{ block.settings.button_label }}</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
  "name": "t:sections.car-giveaway-product-cards.name",
  "settings": [
   {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
   }
  ],
  "blocks": [
    {
        "type": "items",
        "name": "t:common.items",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "text",
                "id": "price",
                "label": "t:common.price"
            },
            {
                "type": "text",
                "id": "compare_price",
                "label": "t:common.compare-price"
            },
            {
                "type": "text",
                "id": "discount_price",
                "label": "t:common.discount-price"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "t:common.button-label"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "t:common.button-url"
            },
            {
                "type": "text",
                "id": "quote",
                "label": "t:common.quote"
            }
        ]
    }
  ]
}
{% endschema %}