{% doc %}
  Renders a car bundle section for car giveaway page.
{% enddoc %}
<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/qure-founder/qure-founder.css" />
<div id="buy_box" class="qure__featured-product-bundle qure__section"
    style="--section-padding-top:80px;--section-padding-bottom:80px;--section-padding-top-mob:40px;--section-padding-bottom-mob:40px;">
    <div class="container" style="--column-gap:100px; --column-gap-mobile:30px;">
        <div class="row justify-content-between custom__grid">
            <div class="col-md-6 custom__block">
                <div class="d-flex align-items-center h-100">
                    <div class="qure_founder_wrapper">
                        <div class="qure_founder d-flex align-items-center">
                            {% if section.settings.image != blank %}
                                <div class="founder_img"> <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}"></div>
                            {% endif %}
                            <div class="founder_content">
                                {% if section.settings.heading != blank %}
                                    <h3>{{ section.settings.heading }}</h3>
                                {% endif %}
                                {% if section.settings.sub_heading != blank %}
                                    {{ section.settings.sub_heading }}
                                {% endif %}
                            </div>
                        </div>
                        {% if section.settings.text != blank %}
                            <p class="mt-30">{{ section.settings.text }}</p>
                        {% endif %}
                        <hr class="my-30">
                        {% if section.settings.sub_text != blank %}
                            <p class="mb-0">{{ section.settings.sub_text }}</p>
                        {% endif %}
                        {% if section.settings.sign != blank %}
                            <p class="d-flex justify-content-end fs-14">{{ section.settings.sign }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 custom__block">
                <slide-with-thumbs class="featured-product-gallery qure__swiper-wrapper">
                    <!-- Galler start-->
                    <div class="swiper qure__product-gallery qure__swiper-gallery"
                        data-section-id="featured-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4"
                        data-autoplay="false" data-loop="false" data-spacing="0">
                        <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                            {% for block in section.blocks %}
                                {% if block.type == 'image' %}
                                    <div class="swiper-slide">
                                        {% if block.settings.image != blank %}
                                            {% if block.settings.wistia_url != blank %}
                                                <div class="trusted_video_card d-block">
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#reusableWistiaModal"
                                                        data-video-id="{{ block.settings.wistia_url }}"
                                                        class="filter-card-item filter-card-video slide-image">
                                                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" />
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="slide-image"><img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" /></div>
                                            {% endif %}
                                        {% endif %}    
                                    </div>
                                {% endif %}
                            {% endfor %} 
                        </div>
                    </div>
                    <!-- Galler End-->
                    <div class="swiper-thumbnail-with-arrow mt-3">
                        <!-- Thumbnails start-->
                        <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
                        <div class="swiper qure__product-gallery  featured-thumbnails-desktop qure__swiper-gallery-thumbnails"
                            data-section-id="featured-thumbnails-desktop" data-mobile="3" data-tablet="4"
                            data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="10">
                            <div class="swiper-wrapper">
                                {% for block in section.blocks %}
                                    {% if block.type == 'image' %}
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                {% if block.settings.image != blank %}
                                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" />
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
                    </div>
                    <!-- Thumbnails End-->
                </slide-with-thumbs>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('slider-script', 'https://qureskincaredns-main.com/assets/js/slider-with-thumb.js');
        loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
    });
</script>

{% schema %}
{
  "name": "t:sections.car-giveaway-car-bundle.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "sub_heading",
        "label": "t:common.subheader"
    },
    {
        "type": "text",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "sub_text",
        "label": "t:common.sub-text"
    },
    {
        "type": "text",
        "id": "sign",
        "label": "t:sections.car-giveaway-car-bundle.settings.sign.name"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    }
  ],
  "blocks": [
    {
        "type": "image",
        "name": "t:common.image",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "text",
                "id": "wistia_url",
                "label": "t:common.wistia-url"
            }
        ]
    }
  ]
}
{% endschema %}