{% doc %}
  Renders a page banner section for car giveaway page.
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/top-products/products-card.css" />
<div class="qure__trusted-reviews qure__section"
    style="--section-padding-top: 80px;--section-padding-bottom: 80px;--section-padding-top-mob: 40px;--section-padding-bottom-mob: 40px;">
    <div class="container">
        <div class="qure__section-header text-center mb-30 mb-md-60">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
            {% endif %}
        </div>
        <div class="recieve_entries_grid">
            {% for block in section.blocks %}
                {% if block.type == 'items' %}
                    <div class="recieve_entries_item">
                        <div class="qure__product-item">
                            {% if block.settings.product != blank %}
                                {% include 'get-product-data', product_handle: block.settings.product, product_prefix: 'car-giveaway-product-cards' %}
                                <a href="{{ product_url }}" class="qure__product-img overflow-hidden position-relative d-block">
                                        <div class="qure__product-main-img"><img src="{{ product_featured_image | img_url: '240x' }}" alt="{{ product_title | escape }}" /></div>
                                    {% if block.settings.quote != blank %}
                                        <div class="badge rounded-pill badge-bestseller">{{ block.settings.quote }}</div>
                                    {% endif %}
                                    {% if block.settings.text != blank %}
                                        <div class="d-flex align-items-center justify-content-center recieve_entries"><img src="{{ 'sections.car-giveaway-product-cards.tick_image' | t }}" alt="{{ 'sections.car-giveaway-product-cards.tick_image.alt' | t | escape }}">{{ block.settings.text }}</div>
                                    {% endif %}
                                </a>
                                <div class="qure__product-details pt-15">
                                    <h3 class="fm-body mb-0 qure__product-name"><a class="limited-line capitalize d-block" href="{{ product_url }}">{{ product_title }}</a></h3>
                                    <div class="qure__product-price mt-10">{{ block.settings.label_price }} <span class="igPrice">{{ product_sale_price }}</span></div>
                                    {% render 'product-page-buy-button', product_price: null %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
  "name": "t:sections.car-giveaway-product-cards.name",
  "settings": [
   {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
   }
  ],
  "blocks": [
    {
        "type": "items",
        "name": "t:common.items",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "product",
                "id": "product",
                "label": "t:common.product"
            },
            {
                "type": "text",
                "id": "label_price",
                "label": "t:common.label-price"
            },
            {
                "type": "text",
                "id": "quote",
                "label": "t:common.quote"
            }
        ]
    }
  ]
}
{% endschema %}