{% doc %}
  Renders a countdown timer section for car giveaway page.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/countdown-timer/countdown-timer.css">
<div class="qure__section color-background"
    style="--section-background:#212428;--section-padding-top:40px;--section-padding-bottom:40px;">
    <div class="container">
        {% if section.settings.heading != blank %}
            <p class="extra_entries">{{ section.settings.heading }}</p>
        {% endif %}
        <div class="countdown"{% if section.settings.from != blank %} data-from="{{ section.settings.from }}"{% endif %}>
            <div>
                <div class="days qs-value" data-key="days">00</div><span class="qs-label">{{ 'sections.car-giveaway-countdown-timer.days' | t }}</span>
            </div>
            <div><img src="{{ 'sections.car-giveaway-countdown-timer.white_line_image' | t }}" alt="line"></div>
            <div>
                <div class="hours qs-value" data-key="hours">00</div><span class="qs-label">{{ 'sections.car-giveaway-countdown-timer.hours' | t }}</span>
            </div>
            <div><img src="{{ 'sections.car-giveaway-countdown-timer.white_line_image' | t }}" alt="line"></div>
            <div>
                <div class="minutes qs-value" data-key="minutes">00</div><span class="qs-label">{{ 'sections.car-giveaway-countdown-timer.minutes' | t }}</span>
            </div>
            <div><img src="{{ 'sections.car-giveaway-countdown-timer.white_line_image' | t }}" alt="line"></div>
            <div>
                <div class="seconds qs-value" data-key="seconds">00</div><span class="qs-label">{{ 'sections.car-giveaway-countdown-timer.seconds' | t }}</span>
            </div>
        </div>
    </div>
</div>

{% if section.settings.days > 0 %}
    <script>
        let customDays = {{ section.settings.days }} - 1;

        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('car-giveaway-countdown-timer', 'https://qureskincaredns.com/shopify/js/car-giveaway-countdown-timer.js');
        });
    </script>
{% endif %}

{% schema %}
{
  "name": "t:sections.car-giveaway-countdown-timer.name",
  "settings": [
   {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
   },
   {
        "type": "text",
        "id": "from",
        "label": "t:common.from",
        "info": "Date format: YYYY-MM-DD"
   },
   {
        "type": "range",
        "id": "days",
        "min": 1,
        "max": 30,
        "step": 1,
        "unit": "day",
        "label": "t:common.days",
        "default": 5
    }
  ]
}
{% endschema %}
