{% doc %}
  Renders a countdown sticky timer start section for car giveaway page.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/sticky-cta/skincare-sticky-cta.css" />
<div id="sticky_cta_cart" class="qure__sticky-atc skincare_plan_cta">
    <div class="qure__section color-background" style="--section-background:#212428;--section-padding-top:15px;--section-padding-bottom:15px;
            --section-padding-top-mob:6px;--section-padding-bottom-mob:6px;">
        <div class="container">
            <div class="countdown countdown-sticky"{% if section.settings.from != blank %} data-from="{{ section.settings.from }}"{% endif %}>
                {% if section.settings.heading != blank %}
                    <p class="extra_entries">{{ section.settings.heading }}</p>
                {% endif %}
                <div>
                    <div class="days qs-value" data-key="days">00</div><span class="qs-label">{{ 'sections.car-giveaway-countdown-timer-sticky.days' | t }}</span>
                </div>
                <div><img src="{{ 'sections.car-giveaway-countdown-timer-sticky.white_line_image' | t }}" alt="line"></div>
                <div>
                    <div class="hours qs-value" data-key="hours">00</div><span class="qs-label">{{ 'sections.car-giveaway-countdown-timer-sticky.hours' | t }}</span>
                </div>
                <div><img src="{{ 'sections.car-giveaway-countdown-timer-sticky.white_line_image' | t }}" alt="line"></div>
                <div>
                    <div class="minutes qs-value" data-key="minutes">00</div><span class="qs-label">{{ 'sections.car-giveaway-countdown-timer-sticky.minutes' | t }}</span>
                </div>
                <div><img src="{{ 'sections.car-giveaway-countdown-timer-sticky.white_line_image' | t }}" alt="line"></div>
                <div>
                    <div class="seconds qs-value" data-key="seconds">00</div><span class="qs-label">{{ 'sections.car-giveaway-countdown-timer-sticky.seconds' | t }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% if section.settings.days > 0 %}
    <script>
        let customDays_sticky = {{ section.settings.days }} - 1;

        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('car-giveaway-countdown-timer-sticky', 'https://qureskincaredns-main.com/assets/shopify/js/car-giveaway-countdown-timer-sticky.js');
        });
    </script>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('skincare-sticky-cta', 'https://qureskincaredns-main.com/assets/js/skincare-sticky-cta.js');
    });
</script>

{% schema %}
{
  "name": "t:sections.car-giveaway-countdown-timer-sticky.name",
  "settings": [
   {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
   },
   {
        "type": "text",
        "id": "from",
        "label": "t:common.from",
        "info": "Date format: YYYY-MM-DD"
   },
   {
        "type": "range",
        "id": "days",
        "min": 1,
        "max": 30,
        "step": 1,
        "unit": "day",
        "label": "t:common.days",
        "default": 5
    }
  ]
}
{% endschema %}