{% doc %}
  Renders a carousel section
{% enddoc %}


{% assign visibility_classes = '' %}
{% case section.settings.display_mode %}
   {% when 'mobile' %}
      {% assign visibility_classes = ' d-lg-none' %}
   {% when 'desktop' %}
      {% assign visibility_classes = ' d-none d-lg-block' %}
{% endcase %}

<div class="qure__shipping  qure__section color-background overflow-hidden{{ visibility_classes }}"
   style="--section-padding-top:40px;--section-padding-bottom:40px; --section-padding-top-mob:20px;--section-padding-bottom-mob:20px;{% if section.settings.background_color != blank %}background-color: {{ section.settings.background_color }};{% endif %}">
   <div class="container"
      style="--column-gap:100px; --column-gap-mobile:30px;--ctm-width:50px; --ctm-width-mob:30px;">
      {%- if section.settings.display_mode == 'static' -%}
         <div class="row custom__grid">
            {% for block in section.blocks %}
               {% if block.type == 'items' %}
                  {% assign parity = forloop.index | modulo: 2 %}
                  <div class="col-md-3 col-lg-3 {% if parity == 1 %}col-7{% else %}col-5{% endif %} custom__block">
                     <div class="qure_shipping-inner d-flex align-items-center gap-2">
                        <div class="qure_shipping-img ctm-width" style="--ctm-width-mob: 40px;">
                           {% if block.settings.image != blank %}
                              <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" />
                           {% endif %}
                        </div>
                        {% if block.settings.heading != blank %}
                           <div class="qure_shipping-content fs-16">{{ block.settings.heading }}</div>
                        {% endif %}
                     </div>
                  </div>
               {% endif %}
            {% endfor %}
         </div>
      {%- else -%}
        {% if section.settings.display_mode == 'desktop' or section.settings.display_mode == 'both' %}
          <div class="row custom__grid d-none d-lg-flex">
             {% for block in section.blocks %}
                {% if block.type == 'items' %}
                   <div class="col-md-3 col-lg-3 custom__block">
                      <div class="qure_shipping-inner d-flex align-items-center gap-4">
                         {% if block.settings.image != blank %}
                            <div class="qure_shipping-img ctm-width">
                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" />
                         </div>
                         {% endif %}
                         {% if block.settings.heading != blank  %}
                            <div class="qure_shipping-content">{{ block.settings.heading }}</div>
                         {% endif %}
                      </div>
                   </div>
                {% endif %}
             {% endfor %}
          </div>
        {% endif %}
        {% if section.settings.display_mode == 'mobile' or section.settings.display_mode == 'both' %}
          <div class="d-flex d-lg-none">
             <div class="d-flex qure_shipping-scroll">
                {% for block in section.blocks %}
                   {% if block.type == 'items' %}
                      <div class="qure_shipping-inner d-flex align-items-center gap-3 px-15">
                         {% if block.settings.image != blank %}
                            <div class="qure_shipping-img ctm-width">
                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" />
                         </div>
                         {% endif %}
                         {% if block.settings.heading != blank %}
                            <div class="qure_shipping-content fs-16">{{ block.settings.heading }}</div>
                         {% endif %}
                      </div>
                   {% endif %}
                {% endfor %}
             </div>
          </div>
        {% endif %}
      {%- endif -%}
   </div>
</div>


{% schema %}
{
  "name": "t:common.carousel",
  "settings": [
  {
     "type": "color",
     "id": "background_color",
     "label": "t:common.background-color",
     "default": "#F6F6F7"
  },
   {
      "type": "select",
      "id": "display_mode",
      "label": "t:common.display-mode",
      "default": "both",
      "options": [
      {
         "value": "both", 
         "label": "t:common.both"
      },
      {
         "value": "desktop", 
         "label": "t:common.desktop"
      },
      {
         "value": "mobile", 
         "label": "t:common.mobile"
      },
      {
         "value": "static", 
         "label": "t:common.static"
      }
   ]
   }
  ],
  "blocks": [
   {
   "type": "items",
   "name": "t:common.items",
      "settings": [
         {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
         },
         {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
         }
      ]
   }
   ]
}
{% endschema %}