{% assign black_friday_turn_on = settings.black_friday_turn_on %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/new/cart/cart.css" />
<section id="main-cart-dynamic-content" class="cart">
    <div class="container">
        {% if cart.item_count == 0 %}
            <div class="cart__empty">
                <img src="https://qureskincaredns.com/assets/images/empty-cart.svg" alt="{{ 'cart.static.settings.empty-header' | t }}" />
                <h2>{{ 'cart.static.settings.empty-header' | t }}</h2>
                <p>{{ 'cart.static.settings.empty-text' | t }}</p>
                {{ 'cart.static.settings.empty-button_html' | t: button_link: '/' }}
            </div>
        {% else %}
            <div class="cart__content">
                <h2 class="cart__title">{{ 'cart.static.settings.header' | t }}</h2>
                <div class="cart__items">
                    <div class="cart__row">
                        <div class="cart__cell">{{ 'cart.static.settings.product' | t }}</div>
                        <div class="cart__cell">{{ 'cart.static.settings.quantity' | t }}</div>
                        <div class="cart__cell">{{ 'cart.static.settings.price' | t }}</div>
                    </div>
                    {% include 'get-cart-global-data' %}
                     {% for item in cart.items %}
                        {% include 'get-cart-item-data' %}
                        <div class="cart__row">
                            <div class="cart__cell">
                                <a href="{{ cart_item_url }}" aria-label="{{ cart_item_title | escape }}">
                                    <img src="{{ cart_item_image | img_url: 'master' }}" alt="{{ cart_item_title | escape }}" />
                                    {{ cart_item_title }}
                                </a>
                            </div>
                            {% if gift_exists or insurance_exists or selling_plan_exists %}
                                <div class="cart__cell">
                                    1
                                </div>
                            {% else %}
                                <div class="cart__cell">
                                    <div class="e-quantity">
                                        <form id="{{ cart_item_id }}_minus" method="post" action="/cart/change" enctype="multipart/form-data">
                                            <button type="submit"><i class="e-icon e-icon-minus"></i></button>
                                            <input type="hidden" name="quantity" value="{{ cart_item_quantity_minus }}">
                                            <input type="hidden" name="id" value="{{ cart_item_key }}">
                                        </form>
                                        <input type="number" name="qty" value="{{ cart_item_quantity }}" min="0" />
                                        <form id="{{ cart_item_id }}_plus" method="post" action="/cart/change" enctype="multipart/form-data">
                                            <button type="submit"><i class="e-icon e-icon-plus"></i></button>
                                            <input type="hidden" name="quantity" value="{{ cart_item_quantity_plus }}">
                                            <input type="hidden" name="id" value="{{ cart_item_key }}">
                                        </form>
                                    </div>
                                    <form id="static_{{ cart_item_id }}_remove" method="post" action="/cart/change" enctype="multipart/form-data" class="text-center">
                                        <button type="submit" class="btn-remove">{{ 'cart.static.settings.remove' | t }}</button>
                                        <input type="hidden" name="quantity" value="0">
                                        <input type="hidden" name="id" value="{{ cart_item_key }}">
                                    </form>
                                </div>
                            {% endif %}
                            <div class="cart__cell">
                                <div class="e-price">
                                    <div class="e-price__main">
                                        <div class="e-price__current">{{ cart_item_sale_price }}</div>
                                        {% if cart_item_before_price != blank %}
                                            <div class="e-price__old">{{ cart_item_before_price }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                     {% endfor %}
                </div>
                <div class="cart__footer">
                    <div class="cart-footer">
                        <div class="cart-footer__secure-ship">
                            <img src="https://qureskincaredns.com/sections/global/drawer/images/secure-ship.svg" alt="Secure Ship" />
                            <p>{{ 'cart.drawer.settings.insurance-text' | t }} + <strong>{{ global_insurance_price }}</strong></p>
                            <label class="e-switcher">
                                <form method="post" action="/cart/add" enctype="multipart/form-data">
                                    <input type="checkbox" id="insurance" name="insurance" {% if summary_insurance_exists %} checked{% endif %}/>
                                    <span></span>
                                    <input type="hidden" name="quantity" id="quantity" value="{% if summary_insurance_exists %}0{% else %}1{% endif %}">
                                    <input type="hidden" id="insurance_id" name="id" value="{{ global_insurance_variant_id }}">
                                </form>
                            </label>
                        </div>
                        <ul class="cart-footer__summary">
                            <li>
                                <div><div class="e-pill-save">Exclusive savings</div></div>
                                <div class="e-price e-price--highlight">
                                    <div class="e-price__main">
                                        <div class="e-price__current">$187</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>Savings:</div>
                                <div class="e-price e-price--profit">
                                    <div class="e-price__main">
                                        <div class="e-price__current">$87</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>{{ 'cart.drawer.settings.shipping' | t }}:</div>
                                <div class="e-price">
                                    <div class="e-price__main">
                                        {% if global_shipping_price != null %}
                                            <div class="e-price__current">{{ global_shipping_price }}</div>
                                        {% else %}
                                            <div class="e-price__current">{{ 'cart.drawer.settings.free' | t }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>{{ 'cart.drawer.settings.subtotal' | t }}:</div>
                                <div class="e-price">
                                    <div class="e-price__main">
                                        {% if summary_before_price != null %}
                                            <div class="e-price__old">{{ summary_before_price }}</div>
                                        {% endif %}
                                        <div class="e-price__current">{{ summary_sale_price }}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="cart-footer__checkout">
                            <form method="post" action="/checkout" enctype="multipart/form-data">
                                <button class="btn btn--primary" type="submit" name="checkout">
                                    {{ 'cart.drawer.settings.checkout' | t }}
                                    <i class="e-icon e-icon-lock"></i>
                                </button>
                            </form>
                            <p>
                                <i class="e-icon e-icon-guarantee"></i>
                                {{ 'cart.drawer.settings.guarantee-text' | t }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>