{% doc %}
  Renders a clean water section
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/clean-water/product.css" />
<div class="qure__featured-product-bundle qure__section"
    style="--section-padding-top: 40px; --section-padding-bottom: 80px;">
    <div class="container" style="--column-gap:100px; --column-gap-mobile:30px;">
        <div class="row justify-content-between custom__grid">
        <div class="col-md-6 custom__block">
            <div class="qure-product-details">
                {% if section.settings.rating_text != blank and section.settings.rating_image != blank %}
                    <div class="qure__product-rating d-inline-flex align-items-center gap-3 fs-16 mb-20"><img src="{{ section.settings.rating_image | image_url }}" alt="{{ section.settings.rating_image.alt | escape }}">{{ section.settings.rating_text | replace: '<p>', '<span>' | replace: '</p>', '</span>' }}</div>
                {% endif %}
                {% if section.settings.heading != blank %}
                    <h1 class="qure__product-title mb-30">{{ section.settings.heading }}</h1>
                {% endif %}
                {% if section.settings.text != blank %}
                    <div class="qure__single-shortdes">{{ section.settings.text }}</div>
                {% endif %}
                <slide-with-thumbs class="featured-product-gallery qure__swiper-wrapper d-block d-lg-none mt-30">
                    <!-- Galler start-->
                    <div class="swiper qure__product-gallery qure__swiper-gallery"
                    data-section-id="featured-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4"
                    data-autoplay="false" data-loop="false" data-spacing="0">
                    <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                        {% for block in section.blocks %}
                            {% if block.type == 'carousel' %}
                                <div class="swiper-slide">
                                    {% if block.settings.image != blank %}
                                       <div class="slide-image"><img src="{{ block.settings.image | image_url}}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" /></div> 
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                    <!-- Galler End-->
                    <div class="swiper-thumbnail-with-arrow mt-3">
                    <!-- Thumbnails start-->
                    <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
                    <div
                        class="swiper qure__product-gallery  featured-thumbnails-desktop qure__swiper-gallery-thumbnails"
                        data-section-id="featured-thumbnails-desktop" data-mobile="3" data-tablet="4"
                        data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="10">
                        <div class="swiper-wrapper">
                            {% for block in section.blocks %}
                                {% if block.type == 'carousel' %}
                                     <div class="swiper-slide">
                                        {% if block.settings.image != blank %}
                                            <div class="slide-thumbnail"><img src="{{ block.settings.image | image_url}}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" /></div>
                                            </div>
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
                    </div>
                    <!-- Thumbnails End-->
                </slide-with-thumbs>
                <div class="qure__product-action-inner mt-30 mt-md-40 mb-20 mb-md-30 mx-lg-10">
                    {% if section.settings.button_label != blank  and section.settings.button_url != blank %}
                        <a href="{{ section.settings.button_url }}" class="add-cart-button product-form__submit btn btn--primary w-100">{{ section.settings.button_label }}</a>
                    {% endif %}
                </div>
                {% for block in section.blocks %}
                    {% if  block.type == 'bundle' %}
                        <div class="qure-bundles text-center" style="--bundle-width:414px">
                            {% if block.settings.heading != blank %}
                                <div class="qure-bundle-title">{{ block.settings.heading }}</div>
                            {% endif %}
                            {% if block.settings.text != blank %}
                                {{ block.settings.text | replace: '<p>', '<p class="mt-1 mb-20 fs-16">' }}
                            {% endif %}
                            <div class="qure__product-bundle">
                            <div class="qure__product-item">
                                {% if block.settings.first_image != blank %}
                                        <img src="{{ block.settings.first_image | image_url }}" alt="{{ block.settings.first_image.alt | escape }}" class="img-fluid" />
                                {% endif %}
                                {% if block.settings.first_image_text != blank %}
                                    <div class="qr__bundle-price">
                                        <div class="qr__bundle-price-inner">{{ block.settings.first_image_text }}</div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="qr-bundle-icon"><i class="fa-sharp fa-solid fa-plus"></i></div>
                            <div class="qure__product-item">
                                {% if block.settings.second_image != blank %}
                                    <img src="{{ block.settings.second_image | image_url }}" alt="{{ block.settings.second_image.alt | escape }}" class="img-fluid" />
                                {% endif %}
                                <div class="qr__bundle-price qr__bundle-price-free">
                                    {% if block.settings.second_image_text != blank %}
                                        <div class="qr__bundle-price-inner">{{ block.settings.second_image_text |replace: '<p>', '' | replace: '</p>' | replace: '<em>', '<span class="fw-400 text-decoration-line-through">' | replace: '</em>' ,'</span>'}}</div>
                                    {% endif %}
                                </div>
                            </div>
                            </div>
                            <div class="qure__bundle-offer py-20 px-10 mt-20 bg-light">
                                {% if block.settings.heading_percent_scale != blank %}
                                    <h6 class="fm-body text-center fw-600 mb-20 fs-16">{{ block.settings.heading_percent_scale }}</h6>
                                {% endif %}
                                <div class="qure__progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                {% if block.settings.percent_value != blank %}
                                    <div class="qure__progress-bar" style="width: {{ block.settings.percent_value }}"></div>
                                {% endif %}
                                {% if block.settings.percent_scale_text != blank %}
                                    {{ block.settings.percent_scale_text | replace: '<p>', '<span class="qure__progress-sold">' | replace: '</p>', '</span>' }}
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 custom__block d-none d-lg-block">
            <slide-with-thumbs class="featured-product-gallery qure__swiper-wrapper">
                <!-- Galler start-->
                <div class="swiper qure__product-gallery qure__swiper-gallery"
                    data-section-id="featured-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4"
                    data-autoplay="false" data-loop="false" data-spacing="0">
                    <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                        {% for block in section.blocks %}
                            {% if block.type == 'carousel' %}
                                <div class="swiper-slide">
                                    {% if block.settings.image != blank %}
                                        <div class="slide-image"><img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" /></div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Galler End-->
                <div class="swiper-thumbnail-with-arrow mt-3">
                    <!-- Thumbnails start-->
                    <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
                    <div
                    class="swiper qure__product-gallery  featured-thumbnails-desktop qure__swiper-gallery-thumbnails"
                    data-section-id="featured-thumbnails-desktop" data-mobile="3" data-tablet="4" data-desktop="4"
                    data-autoplay="false" data-loop="false" data-spacing="10">
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                            {% if block.type == 'carousel' %}
                                <div class="swiper-slide">
                                    {% if block.settings.image != blank %}
                                        <div class="slide-thumbnail"><img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" /></div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                    <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
                </div>
                <!-- Thumbnails End-->
            </slide-with-thumbs>
        </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    loadScriptOnce('slider-with-thumb', 'https://qureskincaredns-main.com/assets/js/slider-with-thumb.js');
    });
</script>
{% schema %}
{
  "name": "t:sections.clean-water.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    },
    {
        "type": "richtext",
        "id": "rating_text",
        "label": "t:common.rating-text"
    },
    {
        "type": "image_picker",
        "id": "rating_image",
        "label": "t:common.rating-image"
    }
  ],
  "blocks": [
    {
        "type": "bundle",
        "name": "t:common.bundle",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "text",
                "id": "first_image_text",
                "label": "t:sections.clean-water.blocks.bundle.settings.first-image-text.name"
            },
            {
                "type": "image_picker",
                "id": "first_image",
                "label": "t:sections.clean-water.blocks.bundle.settings.first-image.name"
            },
            {
                "type": "richtext",
                "id": "second_image_text",
                "label": "t:sections.clean-water.blocks.bundle.settings.second-image-text.name"
            },
            {
                "type": "image_picker",
                "id": "second_image",
                "label": "t:sections.clean-water.blocks.bundle.settings.second-image.name"
            },
            {
                "type": "text",
                "id": "heading_percent_scale",
                "label": "t:common.heading-percent-scale"
            },
            {
                "type": "text",
                "id": "percent_value",
                "label": "t:common.percent-value"
            },
            {
                "type": "richtext",
                "id": "percent_scale_text",
                "label": "t:common.percent-scale-text"
            }
        ]
    },
    {
        "type": "carousel",
        "name": "t:common.carousel",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.clean-water.name"
    }
  ]
}
{% endschema %}