{% doc %}
  Renders a compare section.
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/eye-patches/eye-patch.css" />
<div class="eye-patch-care qure__section"
    style="--section-padding-top:80px;--section-padding-bottom:80px; --section-padding-top-mob:30px;--section-padding-bottom-mob:30px;">
    <div class="container container-small" style="--container-width:806px">
        <div class="qure__section-header text-center mb-60">
            {% if section.settings.heading != blank %}
                 <h2 class="qure__section-heading mb-15">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                {{ section.settings.text }}
            {% endif %}
        </div>
        <div class="d-flex custom__grid" style="--column-gap:40px; --column-gap-mobile:0px;">
            <div class="col custom__block">
                <div class="patch-card-block">
                    {% if section.settings.image_compare_check != blank %}
                        <div class="patch-card-img mb-md-24 overflow-hidden position-relative">
                            <img src="{{ section.settings.image_compare_check | image_url }}" alt="{{ section.settings.image_compare_check.alt | escape }}" class="img-fluid rounded-10 w-100">
                        </div>
                    {% endif %}
                    {% if section.settings.heading_image_check != blank %}
                        <div class="patch-card-content">
                            <div class="text-center my-30">
                                <img src="{{ section.settings.heading_image_check | image_url }}" alt="{{ section.settings.heading_image_check.alt | escape }}" style="filter: invert(1);">
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="patch-versus-col custom__block">
                <div class="patch-versus">{{ 'sections.compare.versus_text' | t }}</div>
            </div>
            <div class="col custom__block">
                <div class="patch-card-block">
                    {% if section.settings.image_compare_cross != blank %}
                         <div class="patch-card-img mb-md-24 overflow-hidden position-relative">
                            <img src="{{ section.settings.image_compare_cross | image_url }}" alt="{{ section.settings.image_compare_cross.alt | escape }}" class="img-fluid rounded-10 w-100">
                        </div>
                    {% endif %}
                    <div class="patch-card-content">
                        {% if section.settings.heading_cross != blank %}
                            <div class="text-center my-30">
                                <h4>{{ section.settings.heading_cross | replace: '<p>', '' | replace: '</p>', '' }}</h4>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% for block in section.blocks %}
            {% if block.type == 'compare' %}
                <div class="d-flex custom__grid patch-list-row justify-content-between patch-row" style="--column-gap:40px; --column-gap-mobile:20px;">
                    <div class="col custom__block">
                        {% if block.settings.check_text != blank %}
                            <div class="patch-list patch-check">{{ block.settings.check_text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                        {% endif %}
                    </div>
                    <div class="col custom__block">
                        {% if block.settings.cross_text != blank %}
                            {% if block.settings.checkbox %}
                                <div class="patch-list patch-check-gray">{{ block.settings.cross_text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                                {%  else %}
                                <div class="patch-list patch-cross">{{ block.settings.cross_text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


{% schema %}
{
  "name": "t:sections.compare.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:common.text"
    },
    {
      "type": "image_picker",
      "id": "image_compare_check",
      "label": "t:sections.compare.settings.image-compare-check.name"
    },
    {
      "type": "image_picker",
      "id": "image_compare_cross",
      "label": "t:sections.compare.settings.image-compare-cross.name"
    },
    {
      "type": "image_picker",
      "id": "heading_image_check",
      "label": "t:sections.compare.settings.heading-image-check.name"
    },
    {
      "type": "richtext",
      "id": "heading_cross",
      "label": "t:sections.compare.settings.heading-cross.name"
    }
  ],
  "blocks": [
    {
      "type": "compare",
      "name": "t:sections.compare.blocks.compare.name",
      "settings": [
        {
          "type": "richtext",
          "id": "check_text",
          "label": "t:sections.compare.blocks.compare.settings.check-text"
        },
        {
          "type": "richtext",
          "id": "cross_text",
          "label": "t:sections.compare.blocks.compare.settings.cross-text"
        },
        {
          "type": "checkbox",
          "id": "checkbox",
          "label": "t:sections.compare.blocks.compare.settings.checkbox"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.compare.name"
    }
  ]
}
{% endschema %}
