{% doc %}
  Renders a comparison real fake section
{% enddoc %}


<div class="skin_deserve qure__section"
    style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
    <div class="container container-small" style="--container-width:880px">
        <div class="qure__section-header text-center">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                {{ section.settings.text | replace: '<p>', '<p class="mt-20 mt-lg-30 pb-0">' }}
            {% endif %}
        </div>
        <div class="row justify-content-between pb-25 align-items-center">
            <div class="col-5">
                <div class="text-center">
                    {% if section.settings.image_heading_real != blank %}
                        <img src="{{section.settings.image_heading_real | image_url }}" alt="{{section.settings.image_heading_real.alt | escape }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-5">
                {% if section.settings.heading_fake != blank %}
                    <h6 class="fm-body text-center fw-400">{{ section.settings.heading_fake }}</h6>
                {% endif %}
            </div>
        </div>
        {% for block in section.blocks %}
            {% if block.type == 'compairing_points' %}
                {% assign is_odd = forloop.index0 | modulo: 2 %}
                <div class="row text-center align-items-center py-20{% if is_odd == 0 %} bg-light{% endif %}">
                    <div class="col-5">
                        {% if block.settings.real_text != blank %}
                            {{ block.settings.real_text }}
                        {% endif %}
                    </div>
                    <div class="col-2">
                        <div class="d-flex align-items-center col-gap justify-content-center">
                            <div><img src="{{ 'sections.comparison-real-fake.tick_image' | t }}" alt="{{ sections.comparison-real-fake.tick_image.alt | escape }}"></div>
                            <div><img src="{{ 'sections.comparison-real-fake.cross_image' | t }}" alt="{{ sections.comparison-real-fake.cross_image.alt | escape }}"></div>
                        </div>
                    </div>
                    <div class="col-5">
                        {% if block.settings.fake_text != blank %}
                            {{ block.settings.fake_text }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% schema %}
{
"name": "t:sections.comparison-real-fake.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "heading_fake",
        "label": "t:sections.comparison-real-fake.settings.heading-fake.name"
    },
    {
        "type": "image_picker",
        "id": "image_heading_real",
        "label": "t:sections.comparison-real-fake.settings.image-real.name"
    }
],
"blocks": [
    {
        "type": "compairing_points",
        "name": "t:sections.comparison-real-fake.blocks.points.name",
        "settings": [
    {
        "type": "richtext",
        "id": "real_text",
        "label": "t:sections.comparison-real-fake.blocks.points.settings.real-text"
    },
    {
        "type": "richtext",
        "id": "fake_text",
        "label": "t:sections.comparison-real-fake.blocks.points.settings.fake-text"
    }
    ]
}
],
   "presets": [
    {
        "name": "t:sections.comparison-real-fake.name"
    }
    ]
}
{% endschema %}