{% doc %}
Renders a contact information section.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/contact-info/contact.css" />
<div class="qure__section"
    style="--section-padding-top:80px; --section-padding-bottom:80px; --section-padding-top-mob:50px; --section-padding-bottom-mob:50px;">
    <div class="container container-small" style="--container-width:980px">
        <div class="qure__section-header text-md-center mb-30 mb-md-60">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading mb-24 mb-md-30">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <div class="qure__section-desc">{{ section.settings.text | replace: '<p>' , '' | replace: '</p>', '' }}</div>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="contact-container">
            {% for block in section.blocks %}
                {% if block.type == 'information_box' %}
                    <div class="contact-info">
                        <div class="cont-img">
                            {% if block.settings.image != blank %}
                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                            {% endif %}
                        </div>
                        <div class="cont-time">
                            {% if block.settings.heading != blank %}
                                <div class="fw-600">{{ block.settings.heading }}</div>
                            {% endif %}
                            {% if block.settings.text_mobile != blank %}
                                <div class="cont-time d-block d-md-none mt-6">{{ block.settings.text_mobile }}</div>
                            {% endif %}
                            {% if block.settings.text != blank %}
                                <div class="cont-time d-none d-md-block mt-6">{{ block.settings.text  }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "t:sections.contact-info.name",
        "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header",
            "default": "Have questions?"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        }
        ],
        "blocks": [
        {
            "type": "information_box",
            "name": "t:common.information-box",
            "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "text",
                "id": "text_mobile",
                "label": "t:common.text-mobile"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
            ]
        }
        ],
        "presets": [
        {
            "name": "t:sections.contact-info.name"
        }
        ]
    }
{% endschema %}