{% doc %}
    Renders a contact form section.
{% enddoc %}


<!-- CONTACT US -->
{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/contact-us/contact-us.css" />
{% endif %}
<section class="contact-us">
    <div class="container">
        {% if section.settings.text != blank %}
            <article class="contact-us__text">
                {{ section.settings.text }}
            </article>
        {% endif %}
        <ul class="contact-us__info">
            {% for block in section.blocks %}
                {% if block.type == 'contact' %}
                    <li>
                        <i class="e-icon e-icon-{{ block.settings.icon }}"></i>
                        <strong>{{ block.settings.heading }}</strong>
                            {{ block.settings.text }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <form class="contact-us__feedback" action="#">
            <div class="contact-us__feedback-field">
                <input type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="contact-us__feedback-field">
                <input type="email" class="form-control" placeholder="Email address" />
            </div>
            <div class="contact-us__feedback-field">
                <input type="text" class="form-control" placeholder="Order number" />
            </div>
            <div class="contact-us__feedback-field">
                <input type="text" class="form-control" placeholder="Telephone number" />
            </div>
            <div class="contact-us__feedback-field">
                <select class="form-control synced-select">
                    <option value="">{{ 'sections.contact-form.topic' | t }}</option>
                    <option value="Order_Tracking">{{ 'sections.contact-form.order_tracking' | t }}</option>
                    <option value="Order_Issue">{{ 'sections.contact-form.order_issue' | t }}</option>
                    <option value="product__Inquiry">{{ 'sections.contact-form.product_inquiry' | t }}</option>
                    <option value="Discounts_and_Promotions">{{ 'sections.contact-form.discounts_and_promotions' | t }}</option>
                    <option value="Subscriptions">{{ 'sections.contact-form.subscriptions' | t }}</option>
                    <option value="Rewards">{{ 'sections.contact-form.rewards' | t }}</option>
                    <option value="Qure_App">{{ 'sections.contact-form.qure_app' | t }}</option>
                    <option value="Something_else">{{ 'sections.contact-form.something_else' | t }}</option>
                </select>
            </div>
            <div class="contact-us__feedback-field" style="display: none">
                <select class="form-control synced-select" placeholder="Topic">
                    <option>{{ 'sections.contact-form.product' | t }}</option>
                    <option value="Micro-Infusion Facial System">{{ 'sections.contact-form.micro_infusion_facial_system' | t }}</option>
                    <option value="Q-Rejuvalight Pro Facewear">{{ 'sections.contact-form.qure_rejuvalight_pro_facewear' | t }}</option>
                    <option value="Neck & Décolletage LED Device">{{ 'sections.contact-form.neck_decolletage_led_device' | t }}</option>
                    <option value="Shower Filter">{{ 'sections.contact-form.shower_filter' | t }}</option>
                    <option value="Faucet Filter">{{ 'sections.contact-form.faucet_filter' | t }}</option>
                    <option value="Micro-Infusion Target Patches">{{ 'sections.contact-form.micro_infusion_target_patches' | t }}</option>
                    <option value="All-In-One Face Serum">{{ 'sections.contact-form.all_in_one_face_serum' | t }}</option>
                    <option value="Dermal Mist">{{ 'sections.contact-form.dermal_mist' | t }}</option>
                    <option value="Silk Pillowcase">{{ 'sections.contact-form.silk_pillowcase' | t }}</option>
                </select>
            </div>
            <div class="contact-us__feedback-field">
                <textarea class="form-control" rows="3" placeholder="What’s on your mind?"></textarea>
            </div>
            <div class="contact-us__feedback-field">
                <label>
                    <input type="checkbox" class="form-check-input" id="checkConsent" />
                    {{ 'sections.contact-form.consent_text' | t }}
                </label>
            </div>
            <div class="contact-us__feedback-field">
                <button type="submit" class="btn btn--primary">{{ 'sections.contact-form.send_text' | t }}</button>
            </div>
        </form>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("contact-us", "https://qureskincaredns.com/sections/new/contact-us/contact-us.js");
    });
</script>
<!-- CONTACT US END -->


{% schema %}
{
    "name": "t:sections.contact-form.name",
    "settings": [
        {
            "type": "checkbox",
            "id": "use_own_file",
            "label": "t:common.use-own-file",
            "default": false
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        }
    ],
    "blocks": [
        {
            "type": "contact",
            "name": "t:common.contact",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                },
                {
                    "type": "select",
                    "id": "icon",
                    "label": "t:common.icon",
                    "options": [
                        {
                            "value": "chat",
                            "label": "t:sections.contact-form.blocks.contact.settings.icon.chat"
                        },
                        {
                            "value": "call-us",
                            "label": "t:sections.contact-form.blocks.contact.settings.icon.call-us"
                        },
                        {
                            "value": "email",
                            "label": "t:sections.contact-form.blocks.contact.settings.icon.email"
                        }
                    ]
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.contact-form.name"
        }
    ]
}
{% endschema %}