{% doc %}
Renders a contact form section for custom form page
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/contact-info/contact.css">
<div class="qure__section custom_form">
    <div class="container">
        <div class="container">
            {% form 'contact' %}

                {% if form.posted_successfully? %}
                    <p class="form-success">{{ 'sections.contact-form.success_text' | t }}</p>
                {% endif %}
    
                {{ form.errors | default_errors }}

                <div class="row custom__grid" style="--column-gap:24px; --column-gap-mobile:12px;">
                    <div class="col-md-6 custom__block">
                        <input type="text" class="form-control" placeholder="Name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" required>
                    </div>
                    <div class="col-md-6 custom__block">
                        <input type="email" class="form-control" placeholder="Email address" name="contact[email]" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required>
                    </div>
                    <div class="col-md-6 custom__block">
                        <input type="tel" class="form-control" placeholder="Phone number" name="contact[phone]" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" required>
                    </div>
                    <div class="col-md-6 custom__block">
                        <input type="text" class="form-control" placeholder="Company Name" name="contact[location]">
                    </div>
                    <div class="col-md-6 custom__block">
                        <input type="text" class="form-control" placeholder="Location (City, Country)" name="contact[location]">
                    </div>
                    <div class="col-md-6 custom__block">
                        <input type="url" class="form-control" placeholder="Website URL" name="contact[website]">
                    </div>
                    <div class="col-md-12 custom__block">
                        <textarea class="form-control" placeholder="Message" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                    </div>
                    <div class="col-md-12 custom__block">
                        <button type="submit" class="btn btn--primary px-50 py-12 mb-15 mb-15 mt-md-0 mt-10" style="--btn-light-radius:25px; --btn-font-mob:18px;">{{ 'sections.contact-form.send_text' | t }}</button>
                    </div>
                </div>
            {% endform %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "t:sections.custom-form-contact-form.name",
    "settings": [
    ]
}
{% endschema %}