
<link href="https://qureskincaredns-main.com/sections/global/banner-with-text/banner-text.css" rel="stylesheet" type="text/css">
{{ "__endrock_bannerWithText.css" | asset_url | stylesheet_tag }}

<div class="qure__section banner-with-text" style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-padding-top-mob: 30px; --section-padding-bottom-mob: 50px;" id="image_text">
    <div class="container">
        {% if section.settings.image_position == 'left' %}
            <div class="row custom__grid align-items-center flex-column-reverse flex-md-row" style="--column-gap:60px; --column-gap-mobile:32px;">
                <div class="col-md-6 custom__block">
                    {% if section.settings.image != blank %}
                        <div class="banner-text--media">
                            <img src="{{ section.settings.image | image_url }}" class="img-fluid" alt="{{ section.settings.image.alt | escape }}"></div>
                    {% endif %}
                    {% if section.settings.wistia_url != blank %}
                        <div class="treat_breakouts">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_{{ section.settings.wistia_url }} seo=false videoFoam=true"
                                    style="height:100%;position:relative;width:100%">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6 custom__block">
                    <div class="banner-with-text-content">
                        {% if section.settings.heading != blank %}
                            <h2 class="banner-text--heading">{{ section.settings.heading }}</h2>
                        {% endif %}
                        {% if section.settings.text != blank %}
                            <div class="banner-text--des" style="--text-mt: 32px; --text-mb: 32px;">{{ section.settings.text
                                | replace: '<em>', '<span>' 
                                | replace: '</em>', '</span>' 
                                | replace: '<p>[strong]', '<div class="fs-20 fw-600 mb-10">'
                                | replace: '[/strong]</p>', '</div>' 
                                | replace: '<strong>', '<span class="fw-600 bg-transparent">'
                                | replace: '</strong>', '</span>'
                                | replace: '</p><p>[ul class]</p><ul>', '<ul class="list-dots pl-10 pt-20">'
                                }}
                            </div>
                        {% endif %}
                        {% assign button_blocks = section.blocks | where: "type", "button" %}
                        {% if button_blocks.size > 0 %}
                            <div class="ctm-width mt-20 d-flex justify-content-center justify-content-md-center gap-3 row-cols-md-2 px-10">
                                {% for block in section.blocks %}
                                    {% if block.type == 'button' %}
                                        {% if block.settings.button_url != blank and block.settings.image != blank %}
                                            <a href="{{ block.settings.button_url }}"><img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="w-100"></a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% assign numbered_list_blocks = section.blocks | where: "type", "numbered_list" %}
                        {% if numbered_list_blocks.size > 0 %}
                            <div class="banner-text--steps mb-30">
                                {% for block in section.blocks %}
                                    {% if block.type == 'numbered_list' %}
                                        {% if block.settings.text != blank %}
                                            <div class="banner-step-box">{{ block.settings.text }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if section.settings.sub_text != blank %}
                                <div class="banner-text--des">{{ section.settings.sub_text }}</div>
                            {% endif %}
                        {% endif %}
                        {% assign text_with_progress_blocks = section.blocks | where: "type", "text_with_progress" %}
                        {% if text_with_progress_blocks.size > 0 %}
                            <div class="row custom__grid" style="--column-gap:24px; --column-gap-mobile:24px;--prg-size:60px">
                                {% for block in section.blocks %}
                                    {% if block.type == 'text_with_progress' %}
                                        <div class="col-md-6 custom__block">
                                            <div class="text-with-progress text-start d-flex gap-2 align-items-center">
                                                <div class="text-progress-circle position-relative d-inline-flex fw-600 fs-18">
                                                    {% assign percent_str = block.settings.percent_value %}
                                                    {% assign percent_num = percent_str | remove: "%" | plus: 0 %}
                                                    {% assign dashoffset = 100 | minus: percent_num %}
                                                    <svg class="vMQQx" height="97" width="97" viewBox="-29 -29 58 58" style="--prg-size:65px;">
                                                        <defs>
                                                            <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                            </linearGradient>
                                                        </defs>
                                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100" class="K4v4P"
                                                            r="24" style="stroke-width: 1px;"></circle>
                                                        <circle visibility="visible" fill="none" pathLength="100" transform="rotate(-90)"
                                                            class="OKwUu" r="24" stroke="url(#gradient)"
                                                            style="stroke-dasharray: 100; stroke-dashoffset: {{ dashoffset }}; stroke-width: 5px;">
                                                        </circle>
                                                    </svg>
                                                    {% if block.settings.percent_value != blank %}
                                                        <span>{{ block.settings.percent_value }}</span>
                                                    {% endif %}
                                                </div>
                                                {% if block.settings.text != blank %}
                                                    {{ block.settings.text }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if section.settings.button_label != blank and section.settings.button_url != blank %}
                            <a href="{{ section.settings.button_url }}" class="text-uppercase btn btn--primary mt-25 w-100" style="--btn-mx-w:400px;">{{ section.settings.button_label }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row custom__grid align-items-center"
                style="--column-gap:60px; --column-gap-mobile:32px;">
                <div class="col-md-6 custom__block">
                    <div class="banner-with-text-content">
                        {% if section.settings.heading != blank %}
                            <h2 class="banner-text--heading">{{ section.settings.heading }}</h2>
                        {% endif %}
                        {% if section.settings.quote != blank %}
                            <div class="banner-text-quotes" style="--text-quote-mt:24px;--text-quote-mb: 0px;">{{ section.settings.quote | replace: '<p>', '' | replace: '</p>', '' }}</div>
                        {% endif %}
                        {% if section.settings.quote-mobile != blank %}
                            <div class="banner-text-quotes d-none" style="--text-quote-mt:24px;--text-quote-mb: 0px;">“{{ section.settings.quote-mobile | replace: '<p>', '' | replace: '</p>', '' }}</div>
                        {% endif %}
                        {% if section.settings.text != blank %}
                            <div class="banner-text--des" style="--text-mt: 24px; --text-mb: 24px;">{{ section.settings.text 
                                | replace: '<em>', '<span>' 
                                | replace: '</em>', '</span>' 
                                | replace: '<p>[strong]', '<div class="fs-20 fw-600 mb-10">'
                                | replace: '[/strong]</p>', '</div>' 
                                | replace: '<strong>', '<span class="fw-600 bg-transparent">'
                                | replace: '</strong>', '</span>' 
                                }}
                            </div>
                        {% endif %}
                        {% if section.settings.button_label != blank and section.settings.button_url != blank %}
                            <a href="{{ section.settings.button_url }}" class="banner-text--button btn btn--primary w-100 text-uppercase">{{ section.settings.button_label }}</a>
                        {% endif %}
                        {% assign information_box_blocks = section.blocks | where: "type", "information_box" %}
                        {% if information_box_blocks.size > 0 %}
                            <div class="qure__certified-box my-16 mx-auto">
                                <ul class="qure__certified-list">
                                    {% for block in section.blocks %}
                                        {% if block.type == 'information_box' %}
                                            {% if block.settings.image != blank %}
                                                <li><img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.alt | escape }}"></li>
                                            {% endif %}
                                            {% if block.settings.text != blank %}
                                                <li>{{ block.settings.text | replace: '<p>', '' | replace: '</p>', '' }}</li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                {% for block in section.blocks %}
                                    {% if block.type == 'information_box' %}
                                        {% if block.settings.button_label != blank and block.settings.button_url != blank and block.settings.sub_text != blank%}
                                            <p>{{ block.settings.sub_text | replace: '<p>', '' | replace: '</p>', '' }}<a
                                        href="{{ block.settings.button_url }}" class="btn--link d-md-inline d-block">{{ block.settings.button_label }}</a></p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% assign carousel_blocks = section.blocks | where: "type", "carousel" %}
                        {% if carousel_blocks.size > 0 %}
                            <div class="d-flex flex-nowrap align-items-center justify-content-center col-gap"
                                style="--col-gap-mb:10px">
                                {% for block in section.blocks %}
                                    {% if block.type == 'carousel' %}
                                        <div class="icon-with-text d-flex flex-wrap flex-lg-nowrap flex-column flex-lg-row align-items-center fs-14 text-center text-lg-start">
                                            {% if block.settings.image != blank and block.settings.text != blank %}
                                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="mr-0 mr-md-10 mb-10 mb-md-0">
                                                {{ block.settings.text 
                                                | replace: '<p>', '' 
                                                | replace: '</p>', ''
                                                | replace: '<strong>', '<span class="d-md-none">'
                                                | replace: '</strong>', '</span>' }}
                                            {% endif %}
                                        </div>
                                        {% if block.settings.text_mobile != blank and block.settings.image != blank %}
                                            <div
                                                class="icon-with-text d-flex d-md-none flex-wrap flex-lg-nowrap flex-column flex-lg-row align-items-center fs-14 text-center text-lg-start">
                                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}"class="mr-0 mr-md-10 mb-10 mb-md-0">
                                                {{ block.settings.text_mobile 
                                                | replace: '<p>', '<span>'
                                                | replace: '</p>', '</span>'}}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 custom__block">
                    <div class="it_img pe-md-4">
                        {% if section.settings.image != blank %}
                            <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" class="img-fluid" />
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
        loadScriptOnce('video-slider', 'https://qureskincaredns-main.com/sections/isolated/trusted-video/wistia-video-popup.js');
    });
</script>


{% schema %}
{
  "name": "Endrock Banner with Text",
  "class": "endrock-banner-with-text",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "richtext",
        "id": "quote",
        "label": "t:common.quote"
    },
    {
        "type": "richtext",
        "id": "quote-mobile",
        "label": "t:common.quote-mobile"
    },
    {
        "type": "select",
        "id": "image_position",
        "label": "t:common.image-position",
        "default": "left",
        "options": [
            { 
                "value": "left", 
                "label": "t:common.left" 
            },
            { 
                "value": "right", 
                "label": "t:common.right"
            }
        ]
    },
    {
        "type": "text",
        "id": "sub_text",
        "label": "t:common.sub-text"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    },
    {
        "type": "text",
        "id": "wistia_url",
        "label": "t:common.wistia-url"
    }
  ],
  "blocks": [
    {
      "type": "text_with_progress",
      "name": "t:common.text-with-progress",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "text",
                "id": "percent_value",
                "label": "t:common.percent-value"
            }
        ]
    },
    {
        "type": "numbered_list",
        "name": "t:common.numbered-list",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "carousel",
        "name": "t:common.carousel",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "richtext",
                "id": "text_mobile",
                "label": "t:common.text-mobile"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    },
    {
        "type": "information_box",
        "name": "t:common.information-box",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "richtext",
                "id": "sub_text",
                "label": "t:common.sub-text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "t:common.button-url"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "t:common.button-label"
            }
        ]
    },
    {
        "type": "button",
        "name": "t:common.button",
        "settings": [
            {
                "type": "url",
                "id": "button_url",
                "label": "t:common.button-url"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    },
     {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
            {
                "type": "richtext",
                "id": "testimonial_text",
                "label": "Testimonial Text"
            },
            {
                "type": "text",
                "id": "testimonial_author",
                "label": "Testimonial Author"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Endrock Banner with Text",
    }
  ]
}
{% endschema %}