{{ "__endrock_gamification.css" | asset_url | stylesheet_tag }}

{% include 'get-cart-global-data' %}

{% assign header_text = settings.gamification_info_homepage | replace: ':', '' | append: '!' %}
{% assign header_completed = settings.gamification_info_homepage_completed %}


{% assign milestone_name = settings.shipping_title %}

{% if global_total_price_devided > global_bar_shipping_limit %}
  {% assign milestone_name = settings.cart_gift1_title | append: ' worth $100' %}
{% endif %}

{% assign has_gamification_content = false %}

{% if global_bar_gift1_limit > 0 %}
  {% assign has_gamification_content = true %}
{% endif %}


{% if has_gamification_content %}
  <div id="endrock_gamificationHeader" class="gamification-container gamification-homepage">
    <div class="gamification-content">
      <div class="gamification-message">
        {% if global_bar_percent == 100 %}
          {% assign formatted_message = header_completed | replace: '{{ gift_name }}', settings.cart_gift1_title | replace: 'Free', '' %}
          {{ formatted_message }}
        {% else %}
        {% assign formatted_message = header_text | replace: '{{ add_more }}', global_bar_add_more | replace: '{{ milestone_name }}', milestone_name %}
          {{ formatted_message }}
        {% endif %}
      </div>
      <div class="gamification-threshold-wrapper">
        {% include '__endrock_gamificationThreshold' %}
        {% render '__endrock_timerCountDown', timer_location: "homepage" %}
      </div>
    </div>
  </div>
{% endif %}

<script>
document.addEventListener('cart.requestComplete', (event) => {
    
    const sectionFileHandle = 'endrock-gamification-header'; 
    const elementIdToUpdate = 'endrock_gamificationHeader'; 
    if (typeof updateSection === 'function') {
        updateSection(sectionFileHandle, elementIdToUpdate)
            .catch((error) => {
                console.error('Failed to update Header Gamification section:', error);
            });
    }
});
</script>