{% doc %}
Renders a feature tabs section.
{% enddoc %}


<div class="qure__section qure__col-with-filter color-background"
    style="--section-padding-top:80px;--section-padding-bottom:80px; --section-padding-top-mob:50px;--section-padding-bottom-mob:50px; --section-background: #F6F6F7;">
    <div class="container" style="--column-gap:27px; --column-gap-mobile:30px;">
        <div class="row align-items-center custom__grid">
            <div class="col-md-12 col-lg-7 custom__block">
                <div class="ctm-width qure-text-content" style="--ctm-width: 540px;">
                    {% if section.settings.heading != blank %}
                        <h2 class="qure__text--heading mb-0">{{ section.settings.heading }}</h2>
                    {% endif %}
                    {% if section.settings.text != blank %}
                        <div class="qure__text-desc mt-25 mb-10 d-md-block d-none">{{ section.settings.text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                    {% endif %}
                    {% if section.settings.text_mobile != blank %}
                        <div class="qure__text-desc mt-25 mb-10 d-md-none">{{ section.settings.text_mobile | replace: '<p>', '' | replace: '</p>', '' }}</div>
                    {% endif %}
                    {% for block in section.blocks %}
                        {% if block.type == 'additional_content' %}
                            <div class="d-md-flex d-none gap-2 pt-20 align-items-center ">
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}">
                                {% endif %}
                                <div class="fs-16">
                                    {% if block.settings.heading != blank %}
                                         <div>{{ block.settings.heading }}</div>
                                    {% endif %}
                                    {% if block.settings.text != blank %}
                                        {{ block.settings.text | replace: '<p>', '<div>' | replace: '</p>', '</div>' }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 col-lg-5 custom__block">
                <div class="qure-filter-content">
                    {% if section.settings.feature_tabs_heading != blank %}
                        <p class="fs-20 text-center fw-600 pb-20 d-md-block d-none">{{ section.settings.feature_tabs_heading }}</p>
                    {% endif %}
                    <div class="qure-filter-container d-flex justify-content-center">
                        <div class="qure-nav qure-filter-tabs" id="myTab" role="tablist">
                            {%- assign heading_counter = 0 -%}
                            {% for block in section.blocks %}
                                {% if block.type == 'heading' %}
                                    {%- assign heading_counter = heading_counter | plus: 1 -%}
                                    {% if heading_counter == 1 %}
                                        {% if block.settings.heading != blank %}
                                            <button class="btn qure-filter-link active" id="rainfall" data-bs-toggle="tab"
                                            data-bs-target="#shower_rainfall" type="button" role="tab"
                                            aria-controls="shower_rainfall" aria-selected="true"
                                            style="--btn-font-mob: 16px;">{{ block.settings.heading }}</button>
                                        {% endif %}
                                    {% elsif heading_counter == 2 %}
                                        {% if block.settings.heading != blank %}
                                            <button class="btn qure-filter-link" id="spray" data-bs-toggle="tab"
                                            data-bs-target="#shower_spray" type="button" role="tab" aria-controls="shower_spray"
                                            aria-selected="false" style="--btn-font-mob: 16px;">{{ block.settings.heading }}</button>
                                        {% endif %}
                                    {% elsif heading_counter == 3 %}
                                        {% if block.settings.heading != blank %}
                                            <button class="btn qure-filter-link" id="massage" data-bs-toggle="tab"
                                            data-bs-target="#shower_massage" type="button" role="tab" aria-controls="shower_massage"
                                            aria-selected="false">{{ block.settings.heading }}</button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-content mt-20" id="myTabContent">
                        {%- assign tab_counter = 0 -%}
                        {% for block in section.blocks %}
                            {% if block.type == 'feature_tabs' %}
                                {%- assign tab_counter = tab_counter | plus: 1 -%}
                                {% if tab_counter == 1 %}
                                    <div class="qure-tab-pane tab-pane fade show active" id="shower_rainfall" role="tabpanel" aria-labelledby="rainfall" tabindex="0">
                                    <div class="px-md-50 pt-md-10">
                                        {% if block.settings.image != blank %}
                                            <img src="{{ block.settings.image | image_url }}" class="img-fluid" alt="{{ block.settings.image.alt | escape }}">
                                        {% endif %}
                                    </div>
                                </div>
                                {% elsif tab_counter == 2 %}
                                <div class="qure-tab-pane tab-pane fade" id="shower_spray" role="tabpanel"
                                    aria-labelledby="spray" tabindex="0">
                                    <div class="px-md-50 pt-md-10">
                                        {% if block.settings.image != blank %}
                                            <img src="{{ block.settings.image| image_url }}" class="img-fluid" alt="{{ block.settings.image.alt | escape }}">
                                        {% endif %}
                                    </div>
                                </div>
                                {% elsif tab_counter == 3 %}
                                    <div class="qure-tab-pane tab-pane fade" id="shower_massage" role="tabpanel"
                                        aria-labelledby="massage" tabindex="0">
                                        <div class="px-md-50 pt-md-10">
                                            {% if block.settings.image != blank %}
                                                <img src="{{ block.settings.image | image_url }}" class="img-fluid" alt="{{ block.settings.image.alt | escape }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% for block in section.blocks %}
                    {% if block.type == 'additional_content'  %}
                        <div class="d-md-none gap-2 pt-20 text-center border-top mt-20">
                            {% if block.settings.image != blank %}
                                <img src="{{  block.settings.image | image_url }}" alt="{{  block.settings.image.alt | escape }}">
                            {% endif %}
                            <div class="fs-16">
                                {% if block.settings.heading != blank %}
                                    <div class="my-10">{{ block.settings.heading }}</div>
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    {{ block.settings.text | replace: '<p>', '<div>' | replace: '</p>', '</div>' }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "t:sections.feature-tabs.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "richtext",
        "id": "text_mobile",
        "label": "t:common.text-mobile"
    },
    {
        "type": "text",
        "id": "feature_tabs_heading",
        "label": "t:sections.feature-tabs.settings.feature-tabs-heading"
    }
    ],
    "blocks": [
    {
        "type": "additional_content",
        "name": "t:common.additional-content",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    },
    {
        "type": "heading",
        "name": "t:common.header",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.header"
            }
        ]
    },
    {
        "type": "feature_tabs",
        "name": "t:sections.feature-tabs.name",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    }
    ],
    "presets": [
    {
        "name": "t:sections.feature-tabs.name"
    }
    ]
}
{% endschema %}