{% doc %}
  Renders a featured product bundle section
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/protect-your-skin/section-protect-your-skin.css">
<div class="qure__featured-product-bundle qure__section"
    style="--section-padding-top: 80px; --section-padding-bottom: 80px;">
    <div class="container" style="--column-gap:100px; --column-gap-mobile:30px;">
        <div class="row justify-content-between custom__grid">
            <div class="col-md-6 custom__block">
                <div class="d-none d-lg-block rounded-10 overflow-hidden">
                    {% if section.settings.image != blank %}
                        <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" class="img-fluid" />
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 custom__block">
                <div class="qure-product-details">
                    {% if section.settings.rating_image != blank and section.settings.rating_text != blank %}
                        <div class="qure__product-rating d-inline-flex align-items-center gap-3 fs-16 mb-15"><img
                        src="{{ section.settings.rating_image | image_url }}" alt="{{ section.settings.rating_image.alt | escape }}"> {{ section.settings.rating_text | replace: '<p>', '<span>' | replace: '</p>', '</span>' }}</div>
                    {% endif %}
                    {% if section.settings.heading != blank %}
                        <h2 class="qure__product-title mb-20">{{ section.settings.heading }}</h2>
                    {% endif %}
                    {% if section.settings.text != blank %}
                        <div class="qure__single-shortdes">
                            {{ section.settings.text }}
                        </div>
                    {% endif %} 
                    {% for block in section.blocks %}
                        {% if block.type == 'claim' %}
                            <div class="qure-bundles mt-40">
                                {% if block.settings.heading_bundle != blank %}
                                    <div class="qure-bundle-title h6 fm-body fs-16 text-center mb-16">{{ block.settings.heading_bundle }}</div>
                                {% endif %}
                                <div class="qure__product-bundle">
                                    <div class="qure__product-item">
                                        {% if block.settings.first_image != blank %}
                                            <img src="{{ block.settings.first_image | image_url }}" alt="{{ block.settings.first_image.alt | escape }}" class="img-fluid" />
                                        {% endif %}
                                    {% if block.settings.first_image_text != blank %}
                                        <div class="qr__bundle-price">
                                            <div class="qr__bundle-price-inner">{{ block.settings.first_image_text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                                        </div>
                                    {% endif %}
                                    </div>
                                    <div class="qr-bundle-icon"><i class="fa-sharp fa-solid fa-plus"></i></div>
                                    <div class="qure__product-item">
                                        {% if block.settings.second_image != blank %}
                                            <img src="{{ block.settings.second_image | image_url }}" alt="{{ block.settings.second_image.alt | escape }}" class="img-fluid" />
                                        {% endif %}
                                        {% if block.settings.second_image_text != blank %}
                                            <div class="qr__bundle-price qr__bundle-price-free">
                                                <div class="qr__bundle-price-inner">{{ block.settings.second_image_text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="qure__bundle-offer py-20 px-10 mt-20 bg-light">
                                    {% if block.settings.heading_scale != blank %}
                                        <h6 class="fm-body text-center fw-600 mb-20 fs-16">{{ block.settings.heading_scale }}</h6>
                                    {% endif %}
                                    {% if block.settings.scale_text != blank and block.settings.scale_value != blank %}
                                        <div class="qure__progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            <div class="qure__progress-bar" style="width: {{ block.settings.scale_value }}"></div>
                                                {{ block.settings.scale_text | replace: '<p>', '<span class="qure__progress-sold">' | replace: '</p>', '</span>'}}
                                            </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if block.settings.button != blank %}
                                <div class="qure__product-action-inner mt-30 mt-md-40 mb-10 mx-10">
                                    <a href="{{ block.settings.button-url }}" class="add-cart-button product-form__submit btn btn--primary w-100">{{ block.settings.button }}</a>
                                </div>
                            {% endif %}
                            <div class="d-flex flex-wrap align-items-center justify-content-center col-gap"
                                style="--col-gap-mob:10px; ">
                                <div class="icon-with-text d-flex align-items-center gap-2 fs-16">
                                    {% if block.settings.review_image != blank %}
                                        <img src="{{ block.settings.review_image | image_url }}" alt="{{block.settings.review_image.alt | escape }}" />
                                    {% endif %}
                                    {% if block.settings.review_image_text != blank %}
                                        {{ block.settings.review_image_text | replace: '<p>', '<span>' | replace: '</p>', '</span>' }}
                                    {% endif %}
                                </div>
                                <div class="icon-with-text d-flex align-items-center gap-2 fs-16">
                                    {% if block.settings.shipping_image != blank %}
                                        <img src="{{ block.settings.shipping_image | image_url }}" alt="{{block.settings.shipping_image.alt | escape }}" />
                                    {% endif %}
                                    {% if block.settings.shipping_image_text != blank %}
                                        {{ block.settings.shipping_image_text | replace: '<p>', '<span>' | replace: '</p>', '</span>' }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "t:sections.featured-product-bundle.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "richtext",
        "id": "rating_text",
        "label": "t:common.rating-text"
    },
    {
        "type": "image_picker",
        "id": "rating_image",
        "label": "t:common.rating-image"
    }
  ],
  "blocks": [
    {
        "type": "claim",
        "name": "t:sections.featured-product-bundle.blocks.claim.name",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "heading_bundle",
                "label": "t:common.header"
            },
            {
                "type": "richtext",
                "id": "first_image_text",
                "label": "t:sections.featured-product-bundle.blocks.claim.settings.first-image-text.name"
            },
            {
                "type": "image_picker",
                "id": "first_image",
                "label": "t:sections.featured-product-bundle.blocks.claim.settings.first-image.name"
            },
            {
                "type": "richtext",
                "id": "second_image_text",
                "label": "t:sections.featured-product-bundle.blocks.claim.settings.second-image-text.name"
            },
            {
                "type": "image_picker",
                "id": "second_image",
                "label": "t:sections.featured-product-bundle.blocks.claim.settings.second-image.name"
            },
            {
                "type": "text",
                "id": "heading_scale",
                "label": "t:sections.featured-product-bundle.blocks.claim.settings.heading-scale.name"
            },
            {
                "type": "richtext",
                "id": "scale_text",
                "label": "t:sections.featured-product-bundle.blocks.claim.settings.scale-text.name"
            },
            {
                "type": "text",
                "id": "scale_value",
                "label": "t:sections.featured-product-bundle.blocks.claim.settings.scale-value.name"
            },
            {
                "type": "text",
                "id": "button",
                "label": "t:common.button-label"
            },
            {
                "type": "url",
                "id": "button-url",
                "label": "t:common.button-url"
            },
            {
                "type": "richtext",
                "id": "review_image_text",
                "label": "t:sections.featured-product-bundle.blocks.claim.settings.review-image-text.name"
            },
            {
                "type": "image_picker",
                "id": "review_image",
                "label": "t:sections.featured-product-bundle.blocks.claim.settings.review-image.name"
            },
            {
                "type": "richtext",
                "id": "shipping_image_text",
                "label": "t:sections.featured-product-bundle.blocks.claim.settings.shipping-image-text.name"
            },
            {
                "type": "image_picker",
                "id": "shipping_image",
                "label": "t:sections.featured-product-bundle.blocks.claim.settings.shipping-image.name"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product-bundle.name"
    }
  ]
}
{% endschema %}