{% doc %}
Renders a fix pforblem section
{% enddoc %}


<div class="qure__section"
    style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
    <div class="container">
        <div class="qure__section-header text-md-center mw mx-auto" style="--mw:750px">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading pb-20 text-md-center text-start">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                {{ section.settings.text }}
            {% endif %}
        </div>
        <div class="row custom__grid" style="--column-gap:20px; --column-gap-mobile:20px;">
            {% for block in section.blocks %}
                {% if block.type == 'text_with_image' %}
                    <div class="col-sm-4 custom__block">
                        <div
                            class="d-flex flex-sm-wrap justify-content-center bg-light py-sm-20 px-sm-20 px-15 py-25 rounded align-items-center"
                            style="--bs-border-radius: 10px;">
                            {% if block.settings.image != blank %}
                                <div>
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}">
                                </div>
                            {% endif %}
                            <div class="text-sm-center pt-md-20 ps-md-0 pl-15">
                                {% if block.settings.heading != blank %}
                                    <div class="fs-20 mb-md-10" style="--font-size:20px;">{{ block.settings.heading }}</div>
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    {{ block.settings.text | replace: '<p>', '<p class="mb-0">' }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
"name": "t:sections.fix-problem.name",
"settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    }
    ],
    "blocks": [
    {
        "type": "text_with_image",
        "name": "t:common.image-with-text",
        "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        }
        ]
    }
    ],
    "presets": [
    {
      "name": "t:sections.fix-problem.name"
    }
    ]
}
{% endschema %}