<<<<<<< HEAD
<!-- Footer Start -->
<footer class="footer" style="--column-gap:20px; --column-gap-mobile:20px;">
   <div class="qure__footer-top">
      <div class="container">
         <div class="row custom__grid">
            <div class="col-md-12 col-lg-2 custom__block">
               <div class="qure__footer_block qure__footer-logo">
                  <div class="qure__footer-infor text-center text-md-start">
                     <a href="#" class="footer-logo"><img src="https://qureskincaredns-main.com/assets/images/footer_logo.svg" alt="footer logo" /></a>
                  </div>
               </div>
            </div>
            <div class="col-md-12 col-lg-7 custom__block">
               <div class="row custom__grid">
                  {% render 'footer-menu' %}
               </div>
            </div>
            <div class="col-md-12 col-lg-3 custom__block">
               <div class="qure__footer_block qure__footer-app">
                  <div class="qure__footer-app-header">
                     <h3 class="qure__footer-title">{{ 'footer.settings.app.header' | t }}</h3>
                     <p>{{ 'footer.settings.app.text' | t }}</p>
                  </div>
                  <div class="qure__footer-content">
                     <div class="quer__app-link">
                        <a href="#" target="_blank" rel="nofollow"><img src="https://qureskincaredns-main.com/assets/images/app_store_200x.svg" alt="link"></a>
                        <a href="#" target="_blank" rel="nofollow"><img src="https://qureskincaredns-main.com/assets/images/google_play_200x.svg" alt="link"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="qure__footer-bottom">
         <div class="copyright">
            <p>{{ 'footer.settings.rights.header' | t }}</p>
            {% render 'footer-menu-bottom' %}
         </div>
         <div class="copyright-disclaimer">{{ 'footer.settings.rights.text' | t }}</div>
      </div>
   </div>
</footer>
<!-- Footer End -->
=======
<!-- Footer Start -->
<footer class="footer" style="--column-gap:20px; --column-gap-mobile:20px;">
   <div class="qure__footer-top">
      <div class="container">
         <div class="row custom__grid">
            <div class="col-md-12 col-lg-2 custom__block">
               <div class="qure__footer_block qure__footer-logo">
                  <div class="qure__footer-infor text-center text-md-start">
                     <a href="{{ shop.url }}" class="footer-logo" aria-label="Qure Skincare"><img src="https://qureskincaredns-main.com/assets/images/footer_logo.svg" alt="Qure Skincare" /></a>
                  </div>
               </div>
            </div>
            <div class="col-md-12 col-lg-7 custom__block">
               <div class="row custom__grid">
                  {% render 'footer-menu' %}
               </div>
            </div>
            <div class="col-md-12 col-lg-3 custom__block">
               <div class="qure__footer_block qure__footer-app">
                  <div class="qure__footer-app-header">
                     <h3 class="qure__footer-title">{{ 'footer.settings.app.header' | t }}</h3>
                     <p>{{ 'footer.settings.app.text' | t }}</p>
                  </div>
                  <div class="qure__footer-content">
                     <div class="quer__app-link">
                        <a href="https://apps.apple.com/nl/app/qure-skincare/id1670113821" target="_blank" rel="nofollow" aria-label="App Store"><img src="https://qureskincaredns-main.com/assets/images/app_store_200x.svg" alt="link"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.lighttreeventures.qure" target="_blank" rel="nofollow" aria-label="Google Play"><img src="https://qureskincaredns-main.com/assets/images/google_play_200x.svg" alt="link"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="qure__footer-bottom">
         <div class="copyright">
            <p>{{ 'footer.settings.rights.header' | t }}</p>
            {% render 'footer-menu-bottom' %}
         </div>
         <div class="copyright-disclaimer">{{ 'footer.settings.rights.text' | t }}</div>
      </div>
   </div>
</footer>
<!-- Footer End -->
>>>>>>> production
 