<!-- Value Props -->
<link rel="stylesheet" href="https://qureskincaredns.com/sections/global/value-props/value-props.css">
<div class="qure__section value_props"
    style="--section-padding-top:50px;--section-padding-bottom:50px;--section-padding-top-mob:30px;--section-padding-bottom-mob:30px;">
    <div class="container">
        <div class="swiper qure__swiper" id="qure__swiper-value-props" data-section-id="value-props"
            data-autoplay="true" data-loop="true" data-mobile="1" data-tablet="3" data-desktop="4" data-spacing="20"
            data-pagination-fraction="true">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="text-md-start text-center pe-md-20">
                        <img src="https://qureskincaredns.com/sections/global/value-props/images/{{ 'footer-perks.settings.slider-1.image' | t }}" alt="slider-1">
                        <p class="fs-20 my-15"> {{ 'footer-perks.settings.slider-1.header' | t }} </p>
                        <p class="d-md-block d-none"> {{ 'footer-perks.settings.slider-1.text' | t }} </p>
                        <p class="d-md-none"> {{ 'footer-perks.settings.slider-1.text-mobile' | t }} </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="text-md-start text-center pe-md-20">
                        <img src="https://qureskincaredns.com/sections/global/value-props/images/{{ 'footer-perks.settings.slider-2.image' | t }}" alt="slider-2">
                        <p class="fs-20 my-15 d-md-block d-none"> {{ 'footer-perks.settings.slider-2.header' | t }} </p>
                        <p class="fs-20 my-15 d-md-none">{{ 'footer-perks.settings.slider-2.header' | t }}</p>
                        <p class="d-md-block d-none"> {{ 'footer-perks.settings.slider-2.text' | t }} </p>
                        <p class="d-md-none"> {{ 'footer-perks.settings.slider-2.text-mobile' | t }} </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="text-md-start text-center pe-md-20">
                        <img src="https://qureskincaredns.com/sections/global/value-props/images/{{ 'footer-perks.settings.slider-3.image' | t }}" alt="slider-3">
                        <p class="fs-20 my-15"> {{ 'footer-perks.settings.slider-3.header' | t }} </p>
                        <p class="d-md-block d-none"> {{ 'footer-perks.settings.slider-3.text' | t }} </p>
                        <p class="d-md-none"> {{ 'footer-perks.settings.slider-3.text-mobile' | t }} </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="text-md-start text-center pe-md-20">
                        <img src="https://qureskincaredns.com/sections/global/value-props/images/{{ 'footer-perks.settings.slider-4.image' | t }}" alt="slider-4">
                        <p class="fs-20 my-15"> {{ 'footer-perks.settings.slider-4.header' | t }} </p>
                        <p class="d-md-block d-none"> {{ 'footer-perks.settings.slider-4.text' | t }} </p>
                        <p class="d-md-none"> {{ 'footer-perks.settings.slider-4.text-mobile' | t }} </p>
                    </div>
                </div>
            </div>
            <div class="swiper-arrows-with-pagination d-none align-items-center justify-content-center gap-4 mt-30">
                <div class="qure-swiper-button-prev qure-swiper-arrow"><i class="fa-regular fa-angle-left"></i>
                </div>
                <div class="swiper-pagination position-relative bottom-0 w-auto"></div>
                <div class="qure-swiper-button-next qure-swiper-arrow"><i class="fa-regular fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('main-slider', 'https://qureskincaredns.com/assets/js/main-slider.js');
    });
</script>
<!-- Value Props End -->