{% doc %}
    Renders an image slider section for hair growth helmet page.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/alex/sections/isolated/section-half-slider/section-half-slider.css">
<div class="section-half-slider see-the-change" id="see-the-change">
    <div class="section-half-slider__content">
        <div class="section-half-slider__header">
            {% if section.settings.heading != blank %}
                {{ section.settings.heading }}
            {% endif %}
            {% if section.settings.text != blank %}
                {{ section.settings.text }}
            {% endif %}
        </div>
        <div class="section-half-slider__carousel">
            <div class="swiper qure__swiper" id="qure__swiper-see-the-change" data-section-id="see-the-change"
                data-mobile="1.03" data-tablet="1.5" data-desktop="2.1" data-autoplay="false" data-loop="false"
                data-spacing="-14" data-spacingmob="-18" data-pagination-fraction="true"
                data-arrowleft="see-the-change-arrow-left" data-arrowright="see-the-change-arrow-right">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% if block.type == 'slider' %}
                            <div class="swiper-slide">
                                <div class="see-the-change__item">
                                    {% if block.settings.image != blank %}
                                        <img src=" {{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                    {% endif %}
                                    {% if block.settings.text != blank %}
                                        {{ block.settings.text | replace: '<em>', '<span>' | replace: '</em>', '</span>' }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-arrows-with-pagination">
                    <div class="qure-swiper-button-prev qure-swiper-arrow see-the-change-arrow-left"><i
                            class="fa-regular fa-angle-left"></i></div>
                    <div class="swiper-pagination"></div>
                    <div class="qure-swiper-button-next qure-swiper-arrow see-the-change-arrow-right"><i
                            class="fa-regular fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        {% if section.settings.button_url != blank and section.settings.button_label != blank %}
            <div class="section-half-slider__other">
                <a href="{{ section.settings.button_url }}" class="btn">{{ section.settings.button_label }}</a>
            </div>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('main-slider', 'https://qureskincaredns.com/assets/js/main-slider.js');
    });
</script>

{%  schema  %}
{
  "name": "t:sections.hair-growth-helmet-image-slider.name",
  "settings": [
    {
        "type": "richtext",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    }
  ],
  "blocks": [
    {
        "type": "slider",
        "name": "t:common.slider",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    }
  ]
}

{% endschema %}