{% doc %}
  Renders a how it works section
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/how-it-works/how-it-works.css">
<div id="how_it_works" class="how_it_works qure__section bg-light"
    style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-padding-top-mob: 40px; --section-padding-bottom-mob: 40px;">
    <div class="container">
        <div class="row gy-4 align-items-start">
            <!-- Left Column -->
            <div class="col-lg-7 pr-md-100">
                <div class="how_it_left text-center">
                    {% if section.settings.heading != blank %}
                        <h4 class="qure__section-heading mb-20">{{ section.settings.heading }}</h4>
                    {% endif %}
                    {% if section.settings.text != blank %}
                        {{ section.settings.text | replace: '<p>', '<p class="mb-30">' }}
                    {% endif %}
                    <!-- IMAGE TAB CONTENT (LEFT) -->
                    <div class="tab-content-left">
                        <!-- Anti-Aging -->
                        <div class="tab-pane-content mode-tab mode-tab-aging active">
                            {% if section.settings.image_aging != blank %}
                                <div class="d-none d-md-block mw mx-auto" style="--mw:320px">
                                    <img src="{{ section.settings.image_aging | image_url }}" alt="{{ section.settings.image_aging.alt | escape }}" class="img-fluid mt-4">
                                </div>
                            {% endif %}
                        </div>
                        <!-- Anti-Breakout -->
                        <div class="tab-pane-content mode-tab mode-tab-breakout d-none">
                            {% if section.settings.image_breakout != blank %}
                                <div class="d-none d-md-block mw mx-auto" style="--mw:320px">
                                    <img src="{{ section.settings.image_breakout | image_url }}" alt="{{ section.settings.image_breakout.alt | escape }}"
                                        class="img-fluid mt-4">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-lg-5">
                <div class="how_it_words_right">
                    <div class="anti_aging_box p-md-4">
                        <!-- Nav Pills -->
                        <ul class="nav nav-pills d-flex justify-content-between mb-3" id="modeTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link fw-semibold text-secondary-emphasis bg-light-subtle active" data-mode="aging" type="button" role="tab"> {{ 'sections.how-it-works.aging_mode_button' | t }}</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link fw-semibold text-secondary-emphasis bg-light-subtle" data-mode="breakout" type="button" role="tab">{{ 'sections.how-it-works.breakout_mode_button' | t }}</button>
                            </li>
                        </ul>
                        <!-- Mobile Images -->
                        <div class="tab-content-mobile">
                            {% if section.settings.image_aging != blank %}
                                <div class="mode-tab mode-tab-aging active"><img src="{{ section.settings.image_aging | image_url }}" alt="{{ section.settings.image_aging.alt | escape }}" class="img-fluid mt-4 d-md-none my-30"></div>
                            {% endif %}
                            {% if section.settings.image_breakout != blank %}
                                <div class="mode-tab mode-tab-breakout d-none"><img src="{{ section.settings.image_breakout | image_url }}" alt="{{ section.settings.image_breakout.alt | escape }}" class="img-fluid mt-4 d-md-none my-30"></div>
                            {% endif %}
                        </div>
                        <!-- TEXT TAB CONTENT -->
                        <div class="tab-content-right">
                            <!-- Anti-Aging -->
                            <div class="tab-pane-content mode-tab mode-tab-aging active">
                                {% if section.settings.heading_aging_mode != blank %}
                                    {{ section.settings.heading_aging_mode | replace: '<p>', '<p class="mb-32">' }}
                                {% endif %}
                                {% if section.settings.text_aging_mode != blank %}
                                    {{ section.settings.text_aging_mode | replace: '<p>', '<p class="mb-3 mb-md-4">' | replace: '<em>', '<p class="mb-32">' | replace: '</em>', '</p>' }}
                                {% endif %}
                                <div class="wavelength-bar d-flex mb-2 mt-3">
                                    <div class="infrared flex-fill"></div>
                                    <div class="deep-red flex-fill"></div>
                                    <div class="red flex-fill"></div>
                                    <div class="amber flex-fill"></div>
                                </div>
                                <div class="d-flex justify-content-between text-start fw-semibold small">
                                    <div class="flex-fill infrared_color">{{ 'sections.how-it-works.aging_scale_text_infrared' | t }}<br><small class="fw-normal">{{ 'sections.how-it-works.aging_scale_value_infrared' | t }}</small></div>
                                    <div class="flex-fill deep-red_color">{{ 'sections.how-it-works.aging_scale_text_deep_red' | t }}<br><small class="fw-normal">{{ 'sections.how-it-works.aging_scale_value_deep_red' | t }}</small></div>
                                    <div class="flex-fill red_color">{{ 'sections.how-it-works.aging_scale_text_red' | t }}<br><small class="fw-normal">{{ 'sections.how-it-works.aging_scale_value_red' | t }}</small></div>
                                    <div class="flex-fill amber_color">{{ 'sections.how-it-works.aging_scale_text_amber' | t }}<br><small class="fw-normal">{{ 'sections.how-it-works.aging_scale_value_amber' | t }}</small></div>
                                </div>
                            </div>
                            <!-- Anti-Breakout -->
                            <div class="tab-pane-content mode-tab mode-tab-breakout d-none">
                                {% if section.settings.heading_breakout_mode != blank %}
                                    {{ section.settings.heading_breakout_mode | replace: '<p>', '<p class="mb-32">' }}
                                {% endif %}
                                {% if section.settings.text_breakout_mode != blank %}
                                    {{ section.settings.text_breakout_mode | replace: '<p>', '<p class="mb-3 mb-md-4">' | replace: '<em>', '<p class="mb-32">' | replace: '</em>', '</p>' }}
                                {% endif %}
                                <div class="wavelength-bar d-flex mb-2 mt-3">
                                    <div class="blue flex-fill"></div>
                                    <div class="red flex-fill"></div>
                                </div>
                                <div class="d-flex justify-content-between text-center fw-semibold small">
                                    <div class="flex-fill blue_color">{{ 'sections.how-it-works.breakout_scale_text_blue' | t }}<br><small class="fw-normal">{{ 'sections.how-it-works.breakout_scale_value_blue' | t }}</small></div>
                                    <div class="flex-fill red_color">{{ 'sections.how-it-works.breakout_scale_text_red' | t }}<br><small class="fw-normal">{{ 'sections.how-it-works.breakout_scale_value_red' | t }}</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30 gx-5">
            {% for block in section.blocks %}
                {% if block.type == 'accordion' %}
                    {% assign order = forloop.index %}
                    <div class="col-md-6">
                        <div class="accordion accordion-flush mt-15 tp-product-accordion technical_specifications"
                            id="sci_backed_{{ order }}">
                            <div class="accordion-item qure__accordion-item border-0 bg-white rounded-10">
                                {% if block.settings.heading != blank %}
                                    <button class="accordion-button qure__accordion-header collapsed bg-white rounded-10" type="button" data-bs-toggle="collapse" data-bs-target="#technical_specifications_{{ order }}" aria-expanded="false" aria-controls="technical_specifications_{{ order }}">{{ block.settings.heading }}</button>
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    <div id="technical_specifications_{{ order }}" class="accordion-collapse qure__accordion-content collapse" data-bs-parent="#sci_backed_{{ order }}">
                                        <div class="accordion-body"> {{ block.settings.text }}</div>
                                    </div>
                                {% endif %}
                              
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script src="https://qureskincaredns-main.com/sections/isolated/how-it-works/how-it-works.js"></script>


{% schema %}
{
   "name": "t:sections.how-it-works.name",
   "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header",
            "default": "How it works"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "image_picker",
            "id": "image_aging",
            "label": "t:sections.how-it-works.settings.image-aging.name"
        },
        {
            "type": "image_picker",
            "id": "image_breakout",
            "label": "t:sections.how-it-works.settings.image-breakout.name"
        },
        {
            "type": "richtext",
            "id": "heading_aging_mode",
            "label": "t:sections.how-it-works.settings.heading-aging-mode.name"
        },
        {
            "type": "richtext",
            "id": "text_aging_mode",
            "label": "t:sections.how-it-works.settings.text-aging-mode.name"
        },
        {
            "type": "richtext",
            "id": "heading_breakout_mode",
            "label": "t:sections.how-it-works.settings.heading-breakout-mode.name"
        },
        {
            "type": "richtext",
            "id": "text_breakout_mode",
            "label": "t:sections.how-it-works.settings.text-breakout-mode.name"
        }
   ],
   "blocks": [
      {
         "type": "accordion",
         "name": "t:common.accordion",
         "settings": [
            {
               "type": "text",
               "id": "heading",
               "label": "t:common.header"
            },
            {
               "type": "richtext",
               "id": "text",
               "label": "t:common.text"
            }
        ]
     }
   ],
   "presets": [
      {
        "name": "t:sections.how-it-works.name"
      }
   ]
}
{% endschema %}