{% doc %}
  Renders an improve skin hydration section
{% enddoc %}


<div class="qure__section qure__col-with-filter"
    style="--section-padding-top:80px;--section-padding-bottom:80px; --section-padding-top-mob:50px;--section-padding-bottom-mob:50px;">
    <div class="container" style="--column-gap:100px; --column-gap-mobile:18px;">
        <div class="row custom__grid">
        <div class="col-md-6 custom__block">
            <div class="qure-text-content text-center text-md-start">
                {% if section.settings.heading != blank %}
                    <h2 class="qure__text--heading mb-0">{{ section.settings.heading }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                   <div class="qure__text-desc mt-25 mb-30 mb-lg-50">{{ section.settings.text }}</div>
                {% endif %}
                <div class="row custom__grid d-none d-lg-flex" style="--column-gap:50px; --column-gap-mobile:18px;">
                {% for block in section.blocks %}
                    {% if block.type == 'value' %}
                        <div class="col-4 custom__block">
                            <div class="text-with-progress text-center">
                                <div class="text-progress-circle position-relative d-inline-flex fw-600 fs-20">
                                    {% if block.settings.value != blank %}
                                        <svg class="vMQQx" height="{{ block.settings.value | remove: "%" }}" width="{{ block.settings.value | remove: "%" }}" viewBox="-29 -29 58 58">
                                    {% endif %}
                                        <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                        </defs>
                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100" class="K4v4P"
                                        r="24" style="stroke-width: 1px;"></circle>
                                        <circle visibility="visible" fill="none" pathLength="100" transform="rotate(-90)"
                                        class="OKwUu" r="24" stroke="url(#gradient)"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 20; stroke-width: 5px;">
                                        </circle>
                                    </svg>
                                    {% if block.settings.value != blank %}
                                       <span> {{ block.settings.value }}</span>
                                    {% endif %}
                                </div>
                                {% if block.settings.text != blank %}
                                    {{ block.settings.text }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                {% if section.settings.sub_text != blank %}
                    <div class="fs-14 text-center mt-30 d-none d-md-block">{{ section.settings.sub_text }}</div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 custom__block">
            <div class="qure-filter-content">
                <div class="qure-filter-container d-flex justify-content-center">
                    <div class="qure-nav qure-filter-tabs" id="myTab" role="tablist">
                    <button class="btn qure-filter-link active" id="before-tab" data-bs-toggle="tab"
                        data-bs-target="#before-tab-pane" type="button" role="tab" aria-controls="before-tab-pane"
                        aria-selected="true"
                        style="--btn-primary-bg-hover: #DFE0E0;--btn-primary-color-hover: #212428;">{{ 'sections.improve-skin-hydration.text_button_before' | t }}</button>
                    <button class="btn qure-filter-link" id="after-tab" data-bs-toggle="tab"
                        data-bs-target="#after-tab-pane" type="button" role="tab" aria-controls="after-tab-pane"
                        aria-selected="false"
                        style="--btn-primary-bg-hover:#C7E5DB;--btn-primary-color-hover:#212428">{{ 'sections.improve-skin-hydration.text_button_after' | t}}</button>
                    </div>
                </div>
                <div class="tab-content mt-30" id="myTabContent">
                    <div class="qure-tab-pane tab-pane fade show active" id="before-tab-pane" role="tabpanel"
                    aria-labelledby="before-tab" tabindex="0">
                    <div class="qure-filter-content">
                        {% if section.settings.image_before != blank %}
                            <img src="{{ section.settings.image_before | image_url }}" alt="{{ section.settings.image_before.alt | escape }}" class="img-fluid" />
                        {% endif %}
                    </div>
                    </div>
                    <div class="qure-tab-pane tab-pane fade" id="after-tab-pane" role="tabpanel" aria-labelledby="after-tab" tabindex="0">
                        <div class="qure-filter-content">
                            {% if section.settings.image_after != blank %}
                                <img src="{{ section.settings.image_after | image_url }}" alt="{{ section.settings.image_after | escape }}" class="img-fluid" />
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% schema %}
{
"name": "t:sections.improve-skin-hydration.name",
   "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header",
        "default": "Clinically proven to improve skin hydration in just 4 weeks"
   },
   {
        "type": "text",
        "id": "text",
        "label": "t:common.text"
   },
   {
        "type": "text",
        "id": "sub_text",
        "label": "t:common.sub-text"
    },
    {
        "type": "image_picker",
        "id": "image_before",
        "label": "t:common.image-before"
    },
    {
        "type": "image_picker",
        "id": "image_after",
        "label": "t:common.image-after"
    }
],
"blocks": [
   {
        "type": "value",
        "name": "t:sections.improve-skin-hydration.blocks.value.name",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "text",
                "id": "value",
                "label": "t:common.percent-value"
            }
        ]
    }
],
"presets": [
   {
    "name": "t:sections.improve-skin-hydration.name"
   }
]
}
{% endschema %}