<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/get-qure/get-the-qure.css" />
<div class="qure__section "
   style="--section-padding-top: 80px;--section-padding-bottom: 40px;--section-padding-top-mob: 30px;--section-padding-bottom-mob: 30px;">
   
   <div class="container">
      <div class="qure__section-header text-center mb-30 mb-md-60">
         {% if section.settings.heading != blank %}
            <h2 class="qure__section-heading mb-20 mb-md-24">{{ section.settings.heading }}</h2>
         {% endif %}
         {% if section.settings.text != blank %}
            {{ section.settings.text | replace: '<p>', '' }}
         {% endif %}
      </div>
   </div>
   <div class="container" style="--column-gap:24px; --column-gap-mobile:16px;">
      <div class="row custom__grid">
         {% for block in section.blocks %}
            {% if block.type == 'listed_deal' %}
               <div class="col-12 col-md-6 custom__block">
                  <div class="get-qure-box position-relative">
                     <div class="get-qure-img overflow-hidden rounded-10">
                        {% if block.settings.image %}
                           <div class="gq-img-desktop d-none d-md-block">
                           <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                        </div>
                        {% endif %}
                        {% if block.settings.image_mobile %}
                           <div class="gq-img-mob d-block d-md-none">
                           <img src="{{ block.settings.image_mobile | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                           </div>
                        {% endif %}
                       </div>
                  <div class="align-items-end d-flex get-qure-content inset-0 justify-content-end p-20 position-absolute text-end">
                     <div class="gq-content-inner ctm-width" style="--ctm-width: 170px;--ctm-width-mob: 170px;">
                        {% if block.settings.text != blank %}
                           {{ block.settings.text | replace: '<p>', '<p class="fs-20 mb-15">' }}
                        {% endif %}
                        {% if block.settings.button != blank and block.settings.button_url != blank %}
                           <a href="{{ block.settings.button_url }}" class="btn btn--primary-white">{{ block.settings.button }}</a>
                        {% endif %}          
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
         {% endfor %}
      </div>
   </div>
</div>
{% schema %}
{
  "name": "t:sections.index-get-qure.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.header"
    }
  ],
  "blocks": [
    {
    "type": "listed_deal",
    "name": "t:sections.index-get-qure.blocks.listed-deal.name",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
               "type": "text",
               "id": "button",
               "label": "t:common.button-label",
               "default": "Shop Now"
            },
            {
               "type": "url",
               "id": "button_url",
               "label": "t:common.button-url"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "t:common.image-mobile"
            }
        ]
    }
   ]
}
{% endschema %}