{% doc %}
  Renders a read our story section for index page
{% enddoc %}


<link href="https://qureskincaredns-main.com/sections/global/banner-with-text/banner-text.css" rel="stylesheet" type="text/css">
<div class="qure__section banner-with-text color-background" style="--section-background:#212428;--section-padding-top:0px; --section-padding-bottom:0px;--section-padding-top-mob:0; --section-padding-bottom-mob:0;">
      <div class="offset-right-container">
         <div class="row custom__grid align-items-center my-0" style="--column-gap:100px; --column-gap-mobile:100px;">
            <div class="col-md-5 custom__block">
                  <div class="banner-with-text-content">
                     {% if section.settings.heading != blank %}
                        <h2 class="banner-text--heading text-white">{{ section.settings.heading }}</h2>
                    {% endif %}
                     {% if section.settings.text != blank %}
                     <div class="banner-text--des text-white" style="--text-mt: 32px; --text-mb: 32px;">
                        {{ section.settings.text | replace: '<p>', '' }}
                     </div>
                     {% endif %}
                     {% if section.settings.url != blank and section.settings.button != blank %}
                        <a href="{{ section.settings.url }}" class="banner-text--button btn btn--primary-white">{{ section.settings.button }}</a>
                     {% endif %}   
                  </div>
               </div> 
                <div class="col-md-7 custom__block py-0">
                  <div class="banner-text--media banner-text-mob-full mt-10 mt-md-0">
                     {% if section.settings.image != blank %}
                        <img src="{{ section.settings.image | image_url }}" class="img-fluid w-100" alt="{{ section.settings.image.alt | escape }}">
                     {% endif %}
                  </div>
               </div>
         </div>
      </div>
</div>

{% schema %}
{
  "name": "t:sections.index-read-our-story.name",
  "settings": [
   {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "text",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "button",
        "label": "t:common.button-label"
    },
    {
        "type": "url",
        "id": "url",
        "label": "t:common.button-url"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    }
  ]
}
{% endschema %}