{% doc %}
  Renders a information about water section
{% enddoc %}


<div class="do_you-know qure__section color-background"
    style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-background: #F6F6F7; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
    <div class="container" style="--column-gap:100px; --column-gap-mobile:30px;">
        <div class="row align-items-center custom__grid">
            <div class="col-md-7 custom__block">
                <div>
                    <div class="qure__section-header mb-0">
                        {% if section.settings.heading != blank %}
                            <h2 class="qure__section-heading text-start">{{ section.settings.heading }}</h2>
                        {% endif %}
                        {% if section.settings.text != blank %}
                            {{ section.settings.text 
                                |  replace: '<p><strong>', '<p class="pt-sm-20 pt-15">' |  replace: '</strong></p>', '</p>'
                                |  replace: '<p><em>', '<p>' |  replace: '</em></p>', '</p>'
                            }}
                        {% endif %}
                        {% if section.settings.button_label != blank and section.settings.button_url != blank %}
                            <a href="{{ section.settings.button_url }}" class="btn btn--primary w-100 mt-20 text-center" style="--btn-mx-w:400px;">{{ section.settings.button_label }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-5 custom__block">
                <div class="row gx-0 pt-md-0 pt-30">
                    {% for block in section.blocks %}
                        {% if block.type == 'image_with_text' %}
                            <div class="col-4">
                                <div class="shower_icons text-center pb-20">
                                    {% if block.settings.image != blank %}
                                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}">
                                    {% endif %}
                                    {% if block.settings.text != blank %}
                                        {{ block.settings.text }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "t:sections.information-about-water.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label",
        "default": "Get a Free Water Report"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    }
  ],
  "blocks": [
    {
        "type": "image_with_text",
        "name": "t:common.image-with-text",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.information-about-water.name"
    }
  ]
}
{% endschema %}