{% doc %}
  Renders a led benefits section
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/red-light-therapy/red-light-therapy.css">
<div class="qure__section red_light_therapy color-background" style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px; background-color: {{ section.settings.background_color }};">
    <div class="container">
        {% if section.blocks.size == 4 %}
            {% if section.settings.heading != blank %}
                <h2 class="banner-text--heading text-center mb-30 mb-md-50 mx-auto ctm-width" style="--ctm-width: 550px;">{{ section.settings.heading }}</h2>
            {% endif %}
            <div class="d-grid grid_dynamic_cols"
                style="--grid_dynamic_cols:4; --grid_dynamic_cols_mob:1; --grid-gap:40px">
                {% for block in section.blocks %}
                    {% if block.type == 'slider' %}
                        <div class="red_light_wrapper d-flex flex-md-column align-items-center gap-4 text-md-center">
                            {% if block.settings.image != blank %}
                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid">
                            {% endif %}
                            {% if block.settings.text != blank %}
                                {{ block.settings.text }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            {% if section.settings.heading != blank %}
                <h2 class="banner-text--heading text-center mb-30 mb-md-50">{{ section.settings.heading }}</h2>
            {% endif %}
            <div class="d-grid grid_dynamic_cols grid_dynamic_cols_mob" style="--grid_dynamic_cols:5; --grid_dynamic_cols_mob:1">
                {% for block in section.blocks %}
                    {% if block.type == 'slider' %}
                        <div class="red_light_wrapper d-flex flex-md-column align-items-center gap-4 text-md-center">
                            {% if block.settings.image != blank %}
                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid">
                            {% endif %}
                            {% if block.settings.text != blank %}
                                {{ block.settings.text }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_url != blank %}
            <div class="mt-30 mt-lg-60 text-center">
                <a href="{{ section.settings.button_url }}" class="btn btn--primary text-uppercase w-mob-100">{{ section.settings.button_label }} </a>
            </div>
        {% endif %}
        
    </div>
</div>

{%  schema  %}
{
  "name": "t:sections.led-benefits.name",
  "settings": [
    {
        "type": "color",
        "id": "background_color",
        "label": "t:common.background-color"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    }
  ],
  "blocks": [
    {
        "type": "slider",
        "name": "t:common.slider",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
             {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.led-benefits.name"
    }
  ]
}
{% endschema %}