{% doc %}
Renders a promo banner section for microinfusion faq page.
{% enddoc %}

<div class="qure__section"
    style="--section-padding-top: 30px; --section-padding-bottom: 30px;--section-padding-top-mob: 20px; --section-padding-bottom-mob: 20px;">
    <div class="container">
        <div class="common_faq">
            <div class="take_charge">
                <div class="ctm-width mx-auto border rounded"
                    style="--ctm-width: 800px; --ctm-width-mob: 100%; --bs-border-width: 2px; --bs-border-style: dashed; --bs-border-color: #212428;">
                    <div class="row g-0 text-center">
                        <div class="col-md-6 position-relative">
                            <span class="color-background d-md-none end-0 mx-auto position-absolute px-20 py-5 rounded start-0 text-white top_0 w-50" style="--section-background: #FF5429; --section-background-mob:#FF5429; --top-mob: -18px;">{{ 'sections.faq-promo-banner.limited_offer_text' | t }}</span>
                            {% if section.settings.image != blank %}
                                <img src="{{ section.settings.image | image_url }}" class="img-fluid" alt="{{ section.settings.image.alt | escape }}">
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <div class="py-24 px-15">
                                <span class="color-background px-20 py-5 rounded text-white d-md-inline-block d-none" style="--section-background: #FF5429;">{{ 'sections.faq-promo-banner.limited_offer_text' | t }}</span>
                                {% if section.settings.heading != blank %}
                                    <p class="fs-24 pt-md-15 line-height" style="--line-height: 28px;">{{ section.settings.heading }}</p>
                                {% endif %}
                                {% if section.settings.text_mobile != blank %}
                                    {{ section.settings.text_mobile | replace: '<p>', '<p class="d-md-none fs-16">' }}
                                {% endif %}
                                {% if section.settings.text != blank %}
                                    {{ section.settings.text | replace: '<p>', '<p class="fs-16">' }}
                                {% endif %}
                                {% if section.settings.button_url != blank and section.settings.button_label != blank %}
                                    <a href="{{ section.settings.button_url }}" class="btn--primary w-100">{{ section.settings.button_label }}</a>
                                {% endif %}
                                <div class="icon-with-text d-flex align-items-center fs-14 justify-content-center pt-5">
                                    {% if section.settings.image_with_text != blank %}
                                        <img src="{{ section.settings.image_with_text | image_url }}" alt="{{ section.settings.image_with_text.alt | escape }}" class="mr-0 mr-md-10">
                                    {% endif %}
                                    {% if section.settings.text_with_image != blank %}
                                        <span class="px-12 px-md-0">{{ section.settings.text_with_image 
                                            | replace: '<p>', '' 
                                            | replace: '</p>', '' 
                                            | replace: '<em>', '<span class="d-md-none">'
                                            | replace: '</em>', '</span>' }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "t:sections.promo-banner.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "richtext",
        "id": "text_mobile",
        "label": "t:common.text-mobile"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "image_picker",
        "id": "image_with_text",
    },
    {
        "type": "richtext",
        "id": "text_with_image",
        "label": "t:common.text-with-image"
    }
    ]
}
{% endschema %}