{% doc %}
Renders a richtext simple section for microinfusion faq page.
{% enddoc %}

<div class="qure__section"
    style="--section-padding-top: 30px; --section-padding-bottom: 30px;--section-padding-top-mob: 20px; --section-padding-bottom-mob: 20px;">
    <div class="container">
        <div class="common_faq">
            <div class="richtext_simple">
                {% if section.settings.heading != blank %}
                    <p class="faq_block-heading fs-md-34 fs-26 pb-10">{{ section.settings.heading }}</p>
                {% endif %}
                {% for block in section.blocks %}
                    {% if block.type == 'list' %}
                         <div class="d-flex pt-{% if forloop.first %}md-{% endif %}30 align-items-md-center{% if forloop.last %} pb-25{% endif %}">
                            <div class="color-background fw-600 me-3 mt-2 px-10 col-auto h-100" style="--section-background: #C7E5DB;">{{ 'sections.richtext-simple.step_text' | t }} {{ forloop.index }}</div>
                                {% if block.settings.text != blank %}
                                    {{ block.settings.text }}
                                {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                {% if section.settings.text != blank %}
                    {{ section.settings.text 
                    | replace: '<strong>', '<span class="fw-600">' 
                    | replace: '</strong>', '</span>' }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "t:sections.richtext-simple.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    }
    ],
    "blocks": [
        {
            "type": "list",
            "name": "t:common.list",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        }
    ]
}
{% endschema %}