{% doc %}
Renders a healthier skin banner for microinfusion faq page.
{% enddoc %}

<div class="qure__section"
    style="--section-padding-top: 30px; --section-padding-bottom: 30px;--section-padding-top-mob: 20px; --section-padding-bottom-mob: 20px;">
    <div class="container">
        <div class="common_faq">
            <div class="healthier_skin">
                {% if section.settings.heading != blank %}
                    <p class="faq_block-heading fs-md-34 fs-26 pb-10">{{ section.settings.heading }}</p>
                {% endif %}
                <div class="pb-15">
                    <picture>
                        {% if section.settings.image != blank %}
                            <source media="(min-width:1920px)" srcset="{{ section.settings.image | image_url }}" class="img-fluid" width="1440" height="557">
                            <source media="(min-width:1600px)" srcset="{{ section.settings.image | image_url }}" class="img-fluid" width="1440" height="557">
                            <source media="(min-width:1100px)" srcset="{{ section.settings.image | image_url }}" class="img-fluid" width="1440" height="557">
                            <source media="(min-width:767px)" srcset="{{ section.settings.image | image_url }}" class="img-fluid" width="1440" height="557">
                        {% endif %}
                        {% if section.settings.image_mobile != blank %}
                            <source media="(min-width:540px)" srcset="{{ section.settings.imge_mobile | image_url }}" class="img-fluid" width="1440" height="557">
                            <img src="{{ section.settings.image_mobile | image_url }}" width="225" height="281" alt="{{ section.settings.image_mobile.alt | escape }}" class="img-fluid w-100">
                        {% endif %}
                    </picture>
                </div>
                {% if section.settings.text != blank %}
                    {{ section.settings.text | replace: '<strong>', '<span class="fw-600">' | replace: '</strong>', '</span>' }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "t:sections.healthier-skin-banner.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "t:common.image-mobile"
    }
    ]
}
{% endschema %}
