{% doc %}
Renders a text with shared_image section for microinfusion faq page.
{% enddoc %}

<div class="qure__section"
    style="--section-padding-top: 30px; --section-padding-bottom: 30px;--section-padding-top-mob: 20px; --section-padding-bottom-mob: 20px;">
    <div class="container">
        <div class="common_faq">
            <div class="mi_system_work">
                {% if section.settings.heading != blank %}
                    <p class="faq_block-heading fs-md-34 fs-26 pb-md-10">{{ section.settings.heading }}</p>
                {% endif %}
                <div class="row custom__grid py-md-20 pb-20" style="--column-gap:50px; --column-gap-mobile:32px;">
                    <div class="col-md-5 custom__block">
                        {% if section.settings.sub_heading != blank %}
                            <p class="d-md-none">{{ section.settings.sub_heading }}</p>
                        {% endif %}
                        {% if section.settings.image != blank %}
                            <img src="{{ section.settings.image | image_url }}" class="img-fluid" alt="{{ section.settings.image.alt | escape }}">
                        {% endif %}
                    </div>
                    <div class="col-md-7 custom__block">
                        <div class="d-flex flex-column fs-20 h-100 justify-content-between">
                            {% if section.settings.sub_heading != blank %}
                                <p class="d-md-block d-none">{{ section.settings.sub_heading }}</p>
                            {% endif %}
                            {% if section.settings.text != blank %}
                                {{ section.settings.text | replace: '<strong>', '<span class="fw-600">' | replace: '</strong>', '</span>' | replace: '<a ', '<a class="text-decoration-underline" style="--base-color: #212428;" ' }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if section.settings.sub_text != blank %}
                    {{ section.settings.sub_text | replace: '<strong>', '<span class="fw-600">' | replace: '</strong>', '</span>' }}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "t:sections.text-with-image.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "sub_heading",
        "label": "t:common.subheader"
    },
    {
        "type": "richtext",
        "id": "sub_text",
        "label": "t:common.sub-text"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    }
    ]
}
{% endschema %}