{% doc %}
  Renders a inside kit section for micro-infusion-limited-edition-bundle page.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/inside-kit/inside-kit.css">
<div class="qure__section inside_kit_outer" style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-padding-top-mob: 40px; --section-padding-bottom-mob: 40px;">
    <div class="container">
        {% if section.settings.heading != blank %}
            <h2 class="qure__product-title mb-40 text-center">{{ section.settings.heading }}</h2>
        {% endif %}
        <div class="row">
            <div class="col-md-4">
                <div class="inside_kit_item_wrapper d-flex flex-column  justify-content-around h-100">
                    {% for block in section.blocks %}
                        {% if block.type == 'left_text' %}
                            <div class="inside_kit_item">
                                <div class="d-flex justify-content-between align-items-start"> 
                                <div class="inside_kit_content">
                                    {% if block.settings.text != blank %}
                                        {{ block.settings.text | replace: '<p>[mb-0]', '<p class="mb-0">' }}
                                    {% endif %}
                                </div>
                                <img src="{{ 'sections.micro-infusion-lim-ed-bundle-inside-kit.bullet_arrow' | t }}" alt="{{ 'sections.micro-infusion-lim-ed-bundle-inside-kit.bullet_arrow.alt' | t | escape }}">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if section.settings.image != blank %}
                <div class="col-md-4">
                    <div class="inside_kit_image">
                        <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" class="img-fluid">
                    </div>
                </div>
            {% endif %}
            <div class="col-md-4">
                <div class="inside_kit_item_wrapper d-flex flex-column  justify-content-around h-100">
                    {% for block in section.blocks %}
                        {% if block.type == 'right_text' %}
                            <div class="inside_kit_item">
                                <div class="d-flex justify-content-between align-items-start">
                                <img src="{{ 'sections.micro-infusion-lim-ed-bundle-inside-kit.bullet_arrow_left' | t }}" alt="{{ 'sections.micro-infusion-lim-ed-bundle-inside-kit.bullet_arrow_left.alt' | t | escape }}">
                                <div class="inside_kit_content">
                                    {% if block.settings.text != blank %}
                                        {{ block.settings.text | replace: '<p>[mb-0]', '<p class="mb-0">' }}
                                    {% endif %}
                                </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if section.settings.button_url != blank and section.settings.button_label != blank  %}
            <div class="d-flex justify-content-center mt-40">
                <a href="{{ section.settings.button_url }}" class="btn btn--primary fs-18">{{ section.settings.button_label }}</a>
            </div>
        {% endif %}
        <div class="d-flex justify-content-center gap-4 mt-10 ltd_stock">
            {% for block in section.blocks %}
                {% if block.type == 'image_with_text' %}
                    <div class="d-flex gap-2">
                        {% if block.settings.image != blank %}
                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}">
                        {% endif %}
                        {% if block.settings.text != blank %}
                            {{ block.settings.text }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{%  schema  %}
{
  "name": "t:sections.micro-infusion-lim-ed-bundle-inside-kit.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    },
    {
        "type": "text",
        "id": "button_url",
        "label": "t:common.button-url"
    }
  ],
  "blocks": [
    {
        "type": "left_text",
        "name": "t:common.left-text",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "right_text",
        "name": "t:common.right-text",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "image_with_text",
        "name": "t:common.image-with-text",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    }
  ]
}
{% endschema %}