{% doc %}
  Renders a detailed guide section on a microinfusion pdp page
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/detailed-guide/detailed-guide.css">
<div class="qure__section see_detailed_guide color-background"
    style="--section-padding-top: 40px; --section-padding-bottom: 40px; --section-padding-top-mob: 30px; --section-padding-bottom-mob: 30px;">
    <div class="container">
        <div class="row gy-4">
            <div class="col-md-6">
                <div class="detailed_guide_content">
                    {% if section.settings.heading != blank %}
                        <h3>{{ section.settings.heading }}</h3>
                    {% endif %}
                    {% if section.settings.text != blank %}
                        {{ section.settings.text }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                {% if section.settings.button_url != blank and section.settings.button_label != blank %}
                    <div class="detailed_guide_btn d-flex justify-content-md-end">
                        <a href="{{ section.settings.button_url }}" class="btn btn--primary w-100 mw" style="--mw:300px;">{{ section.settings.button_label | replace: '<p>', '' | replace: '</p>', '' }}<img src="{{ 'sections.micro-infusion-pdp-detailed-guide.arrow_image' | t }}" alt="{{ 'sections.micro-infusion-pdp-detailed-guide.arrow_image.alt' | t | escape }}"></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.micro-infusion-pdp-detailed-guide.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:common.text"
    },
    {
        "type": "richtext",
        "id": "button_label",
        "label": "t:common.button-label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    }
  ]
}
{% endschema %}