{% doc %}
  Renders an action banner section for micro-infusion-limited-edition-bundle-1 page
{% enddoc %}

<div class="qure__shipping qure__section overflow-hidden bg_marquee_section"
      style="--section-padding-top: 20px; --section-padding-bottom: 20px; --section-padding-top-mob: 20px; --section-padding-bottom-mob: 20px;">
      <div class="container" style="--column-gap:100px; --column-gap-mobile:30px;--ctm-width:50px; --ctm-width-mob:30px;">
         <div class="d-flex ">
            <div class="d-flex qure_shipping-scroll">
              {% for block in section.blocks %}
                {% if block.type == 'list' %}
                  <div class="qure_shipping-inner d-flex align-items-center gap-3 px-5">
                    <div class="qure_shipping-img ctm-width">
                      <img src="{{ 'sections.micro-infusion-lim-edition-bundle-action-banner.dot_image' | t }}" alt="{{ 'sections.micro-infusion-lim-edition-bundle-action-banner.dot_image.alt' | t | escape }}" class="img-fluid" />
                    </div>
                    {% if block.settings.text != blank %}
                      <div class="qure_shipping-content fs-16">{{ block.settings.text }}</div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="d-flex qure_shipping-scroll">
              {% for block in section.blocks %}
                {% if block.type == 'list' %}
                  <div class="qure_shipping-inner d-flex align-items-center gap-3 px-5">
                    <div class="qure_shipping-img ctm-width">
                      <img src="{{ 'sections.micro-infusion-lim-edition-bundle-action-banner.dot_image' | t }}" alt="{{ 'sections.micro-infusion-lim-edition-bundle-action-banner.dot_image.alt' | t | escape }}" class="img-fluid" />
                    </div>
                    {% if block.settings.text != blank %}
                      <div class="qure_shipping-content fs-16">{{ block.settings.text }}</div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="d-flex qure_shipping-scroll">
              {% for block in section.blocks %}
                {% if block.type == 'list' %}
                  <div class="qure_shipping-inner d-flex align-items-center gap-3 px-5">
                    <div class="qure_shipping-img ctm-width">
                      <img src="{{ 'sections.micro-infusion-lim-edition-bundle-action-banner.dot_image' | t }}" alt="{{ 'sections.micro-infusion-lim-edition-bundle-action-banner.dot_image.alt' | t | escape }}" class="img-fluid" />
                    </div>
                    {% if block.settings.text != blank %}
                      <div class="qure_shipping-content fs-16">{{ block.settings.text }}</div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
         </div>
      </div>
   </div>

{% schema %}
{
  "name": "t:sections.micro-infusion-lim-edition-bundle-action-banner.name",
  "settings": [  
  ],
  "blocks": [
    {
        "type": "list",
        "name": "t:common.list",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    }
  ]
}
{% endschema %}