{% include 'get-cart-global-data' %}

<!-- FLYOUT CART -->
<link rel="stylesheet" href="https://qureskincaredns.com/sections/new/cart/cart.css" />

<div class="flyout-cart offcanvas offcanvas-end" id="cartCanvas">
   <div id="cart-dynamic-content" class="flyout-cart__dynamic">
      {% render 'n-footer-cart-drawer-timer', timer: global_timer %}
      <div class="flyout-cart__wrapper">
         <div class="flyout-cart__header">
               <div>{{ 'cart.drawer.settings.header' | t }} ({{ cart.item_count }})</div>
               <button
                  class="btn-close"
                  type="button"
                  data-bs-dismiss="offcanvas"
               >
                  <i class="e-icon e-icon-cross"></i>
               </button>
         </div>
         <div class="flyout-cart__content">
            {% include 'n-footer-cart-drawer-gift' %}
            {% include 'n-footer-cart-drawer-bar' %}
            <div class="flyout-cart__body">
               {% if cart.item_count == 0 %}
                  {% render 'n-footer-cart-drawer-empty' %}
               {% else %}
                  <div class="flyout-cart__list">
                     {% for item in cart.items %}
                        {% include 'get-cart-item-data' %}
                        {% include 'n-footer-cart-drawer-item' %}
                     {% endfor %}
                  </div>
                  {% include 'n-footer-cart-drawer-upsells' %}
               {% endif %}
            </div>
         </div>
         {% if cart.item_count > 0 %}
               {% include 'n-footer-cart-drawer-summary' %}
         {% endif %}
      </div>
   </div>
</div>
<!-- FLYOUT CART END -->

<script>
   const footer_cart_drawer_template = '{{ template }}';
   
   {% if global_black_friday_discount != blank %}
   const footer_cart_drawer_discount = '{{ global_black_friday_discount }}';
   {% endif %}

   document.addEventListener("DOMContentLoaded", function () {
      loadScriptOnce('footer-cart-drawer-counter', 'https://qureskincaredns.com/shopify/js/footer-cart-drawer-counter.js');
   });
</script>

<script src="https://qureskincaredns.com/shopify/js/morphdom-umd.min.js" defer="defer"></script>
<script src="{{ 'n-footer-cart-drawer.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.footer-cart-drawer.name",
  "settings": [

  ]
}
{% endschema %}