{% doc %}
  Renders an across image banner section
{% enddoc %}

{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/across-image-banner/across-image-banner.css" />
{% endif %}
    <section class="across-image-banner{% if section.settings.modifier == 'holidays' %} across-image-banner--holidays{% elsif section.settings.modifier == 'hero' %} across-image-banner--hero{% elsif section.settings.modifier == 'hero_reverse' %} across-image-banner--hero across-image-banner--reverse{% elsif section.settings.modifier == 'sm' %} across-image-banner--sm{% endif %}">
        <picture>
            {% if section.settings.image != blank %}
                <source media="(min-width:768px)" srcset="{{ section.settings.image | image_url }}" />
            {% endif %}
            {% if section.settings.image_mobile != blank %}
                <img src="{{ section.settings.image_mobile | image_url }}" alt="{{ section.settings.image_mobile.alt | escape }}" />
            {% endif %}
        </picture>
        <div class="container">
            <article>

                {% if section.settings.heading != blank %}
                    {{ section.settings.heading }}
                {% endif %}

                {% if section.settings.text != blank %}
                    {{ section.settings.text }}
                {% endif %}

                {% assign has_app_store = false %}
                {% for block in section.blocks %}
                    {% if block.type == 'app_store' %}
                        {% assign has_app_store = true %}
                    {% endif %}
                {% endfor %}
                {% if has_app_store %}
                    <div class="c-app-stores c-app-stores--row">
                        {% for block in section.blocks %}
                            {% if block.type == 'app_store' and block.settings.link_url != blank and block.settings.image != blank %}
                                <a href="{{ block.settings.link_url }}" target="_blank" rel="nofollow">
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% for block in section.blocks %}
                    {% if block.type == 'rating' %}
                        <div class="trustpilot-rating">
                            <ul>
                                <li><i class="e-icon e-icon-trustpilot"></i></li>
                                <li><i class="e-icon e-icon-trustpilot"></i></li>
                                <li><i class="e-icon e-icon-trustpilot"></i></li>
                                <li><i class="e-icon e-icon-trustpilot"></i></li>
                                <li><i class="e-icon e-icon-trustpilot"></i></li>
                            </ul>
                            {% if block.settings.rating_text != blank %}
                                <div>{{ block.settings.rating_text | replace : '<p>', '' | replace : '</p>', '' }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

                {% if section.settings.button_label != blank and section.settings.button_url != blank %}
                    <a href="{{ section.settings.button_url }}" class="btn btn--primary">{{ section.settings.button_label }}</a>
                {% endif %}

                {% for block in section.blocks %}
                    {% if block.type == 'disclaimer' %}
                        {% if block.settings.text != blank %}
                            <small>{{ block.settings.text }}</small>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% for block in section.blocks%}
                    {% if block.type == 'box' %}
                        <div class="c-certified-box">
                            <ul>
                                {% if block.settings.image_1 != blank %}
                                    <li><img src="{{ block.settings.image_1 | image_url }}" alt="{{ block.settings.image_1.alt | escape }}" /></li>
                                {% endif %}
                                {% if block.settings.image_2 != blank %}
                                    <li><img src="{{ block.settings.image_2 | image_url }}" alt="{{ block.settings.image_2.alt | escape }}" /></li>
                                {% endif %}
                                {% if block.settings.badge_text != blank %}
                                    <li>{{ block.settings.badge_text }}</li>
                                {% endif %}
                            </ul>
                            {% if block.settings.text != blank %}
                                {{ block.settings.text }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

            </article>

            {% for block in section.blocks %}
                {% if block.type == 'image' %}
                    {% if block.settings.image != blank %}
                        <figure>
                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                        </figure>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for block in section.blocks %}
                {% if block.type == 'percent_value' %}
                    <div class="e-discount-badge" data-text-top="Up to" data-text-bottom="Off">
                        <span>{{ block.settings.percent_value }}%</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>


{% schema %}
{
    "name": "t:sections.n_across-image-banner.name",
        "settings": [
            {
                "type": "checkbox",
                "id": "use_own_file",
                "label": "t:common.use-own-file",
                "default": false
            },
            {
                "type": "select",
                "id": "modifier",
                "label": "t:common.modifier",
                "default": "none",
                "options": [
                    {
                        "value": "none",
                        "label": "t:sections.n_across-image-banner.settings.modifier-options.none"
                    },
                    {
                        "value": "hero",
                        "label": "t:sections.n_across-image-banner.settings.modifier-options.hero"
                    },
                    {
                        "value": "holidays",
                        "label": "t:sections.n_across-image-banner.settings.modifier-options.holidays"
                    },
                    {
                        "value": "hero_reverse",
                        "label": "t:sections.n_across-image-banner.settings.modifier-options.hero-reverse"
                    },
                    {
                        "value": "sm",
                        "label": "t:sections.n_across-image-banner.settings.modifier-options.sm"
                    }
                ]
            },
            {
                "type": "richtext",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "t:common.image-mobile"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "t:common.button-label"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "t:common.button-url"
            }
    ],
    "blocks": [
        {
            "type": "percent_value",
            "name": "t:common.percent-value",
            "limit": 1,
            "settings": [
                {
                    "type": "range",
                    "id": "percent_value",
                    "label": "t:common.percent-value",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 57
                }
            ]
        },
        {
            "type": "box",
            "name": "t:common.box",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "t:common.image"
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "t:common.image"
                },
                {
                    "type": "text",
                    "id": "badge_text",
                    "label": "t:common.badge-text"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        },
        {
            "type": "image",
            "name": "t:common.image",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                }
            ]
        },
        {
            "type": "rating",
            "name": "t:common.rating",
            "limit": 1,
            "settings": [
                {
                    "type": "richtext",
                    "id": "rating_text",
                    "label": "t:common.rating-text"
                }
            ]
        },
        {
            "type": "disclaimer",
            "name": "t:common.disclaimer",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        },
        {
            "type": "app_store",
            "name": "t:sections.n_across-image-banner.blocks.app_store.name",
            "limit": 4,
            "settings": [
                {
                    "type": "url",
                    "id": "link_url",
                    "label": "t:common.link-url"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.n_across-image-banner.name"
        }
    ]
}
{% endschema %}