{% doc %}
  Renders a base section
{% enddoc %}

<!-- BASE SECTION -->
 {% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/base-section/base-section.css" />
 {% endif %}
<section class="base-section{% if section.settings.modifier_2 != 'none' %} base-section--{{ section.settings.modifier_2 }}{% endif %}{% if section.settings.modifier != 'none' %} base-section--{{ section.settings.modifier }}{% endif %}{% if section.settings.background_color == 'grey' %} base-section--grey{% endif %}">
    <div class="container">
        <article>
                {{ section.settings.heading }}
            {% if section.settings.image != blank %}
                <picture>
                    <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" />
                </picture>
            {% endif %}
            {% if section.settings.wistia_url != blank %}
                <div class="wistia-embed-video">
                    <div class="wistia_responsive_padding">
                        <div class="wistia_responsive_wrapper">
                            <div class="wistia_embed wistia_async_{{ section.settings.wistia_url }} seo=false videoFoam=true"></div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% assign has_app_store = false %}
            {% for block in section.blocks %}
                {% if block.type == 'app_store' %}
                    {% assign has_app_store = true %}
                {% endif %}
            {% endfor %}
            {% if has_app_store %}
                <div>
                    <div class="c-app-stores c-app-stores--row">
                        {% for block in section.blocks %}
                            {% if block.type == 'app_store' and block.settings.link_url != blank and block.settings.image != blank %}
                                <a href="{{ block.settings.link_url }}" target="_blank" rel="nofollow">
                                    <img src="{{- block.settings.image | image_url -}}" alt="{{- block.settings.image.alt | escape -}}" />
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% assign has_icon_with_text = false %}
            {% for block in section.blocks %}
                {% if block.type == 'icon_with_text' %}
                    {% assign has_icon_with_text = true %}
                {% endif %}
            {% endfor %}
            {% if has_icon_with_text %}
                <div>
                    <ul class="circle-icons-list">
                        {% for block in section.blocks %}
                            {% if block.type == 'icon_with_text' %}
                                {% if block.settings.text != blank %}
                                    <li>
                                        <div><i class="e-icon e-icon-{{ block.settings.icon }}"></i></div>
                                        {{ block.settings.text }}
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% assign has_image_with_text = false %}
            {% for block in section.blocks %}
                {% if block.type == 'image_with_text' %}
                    {% assign has_image_with_text = true %}
                {% endif %}
            {% endfor %}
            {% if has_image_with_text %}
                <ul class="features-list">
                    {% for block in section.blocks %}
                        {% if block.type == 'image_with_text' %}
                            {% if block.settings.text != blank %}
                                <li>
                                    <i class="e-icon e-icon-{{ block.settings.select }}"></i>
                                    {{ block.settings.text }}
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            {% if section.settings.text != blank %}
                <div>
                    {{ section.settings.text 
                    | replace: '<p>[note_green]', '<div class="c-note">'
                    | replace: '<p>[note_grey]', '<div class="c-note" style="--note-bg: #f6f6f7">'
                    | replace: '[/note]</p>', '</div>' 
                    | replace: '<p>[step]</p><ul>', '<ul class="e-steps-list">' 
                    | replace: '<p>[marked_list]</p><ul>', '<ul class="c-marked-list">' }}
                </div>
            {% endif %}

            {% for block in section.blocks %}
                {% if block.type == 'dialog' %}
                    {% if block.settings.button_label != blank %}
                        <button class="btn btn--primary-grey" type="button" onclick="fullIngredient.showModal()">{{ block.settings.button_label }}</button>
                    {% endif %}
                    <dialog class="c-dialog" id="fullIngredient">
                        {% if block.settings.text != blank %}
                            <div class="c-dialog__content">
                                {{ block.settings.text }}
                                <button type="button" class="btn-close" onclick="fullIngredient.close()">
                                    <img src="{{ 'sections.n_base-section.image' | t }}" alt="" />
                                </button>
                            </div>
                        {% endif %}
                    </dialog>
                {% endif %}
            {% endfor %}

            {% assign has_text_with_progress = false %}
            {% for block in section.blocks %}
                {% if block.type == 'text_with_progress' %}
                    {% assign has_text_with_progress = true %}
                {% endif %}
            {% endfor %}
            {% if has_text_with_progress %}
                <ul class="c-percent-list c-percent-list--columns">
                    {% for block in section.blocks %}
                        {% if block.type == 'text_with_progress' %}
                            <li>
                                {% if block.settings.percent_value != blank %}
                                    <div class="e-circle-percent" style="--percent-value: {{ block.settings.percent_value }}"><span>{{ block.settings.percent_value }}%</span></div>
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    <span>{{ block.settings.text }}</span>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            {% if section.settings.button_label != blank and section.settings.button_url != blank %}
                <a href="{{ section.settings.button_url }}" class="btn btn--primary">{{ section.settings.button_label }}</a>
            {% endif %}

            {% assign has_buy_block = false %}
            {% assign has_certified_box = false %}
            {% assign has_features_list = false %}
            {% for block in section.blocks %}
                {% if block.type == 'buy_button' %}
                    {% assign has_buy_block = true %}
                {% elsif block.type == 'certified_box' %}
                    {% assign has_certified_box = true %}
                    {% assign has_buy_block = true %}
                {% elsif block.type == 'features_list' %}
                    {% assign has_features_list = true %}
                    {% assign has_buy_block = true %}
                {% endif %}
            {% endfor %}

            {% if has_buy_block %}
                <div class="c-buy-block">
                    {% for block in section.blocks %}
                        {% if block.type == 'buy_button' %}
                            <div class="c-order-button">
                                {% if block.settings.button_label != blank %}
                                    <button class="btn btn--primary" type="button">{{ block.settings.button_label }}</button>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if has_certified_box %}
                        <div class="c-certified-box">
                            <ul>
                                {% for block in section.blocks %}
                                    {% if block.type == 'certified_box' %}
                                        {% if block.settings.image != blank or block.settings.text != blank %}
                                            <li>
                                                {% if block.settings.image != blank %}
                                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                                {% endif %}
                                                {{ block.settings.text }}
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% for block in section.blocks %}
                                {% if block.type == 'certified_box' %}
                                    {{ block.settings.sub_text }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if has_features_list %}
                        <ul class="e-features-list">
                            {% for block in section.blocks %}
                                {% if block.type == 'features_list' %}
                                    {% if  block.settings.text != blank %}
                                        <li>
                                            <i class="e-icon e-icon-{{ block.settings.icon }}"></i>
                                            {{ block.settings.text }}
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}

        </article>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
        loadScriptOnce("dialog", "https://qureskincaredns.com/assets/js-new/dialog.js");
    });
</script>
<!-- BASE SECTION END -->

{% schema %}
{
"name": "t:sections.n_base-section.name",
    "settings": [
        {
            "type": "checkbox",
            "id": "use_own_file",
            "label": "t:common.use-own-file",
            "default": false
        },
        {
            "type": "select",
            "id": "modifier",
            "label": "t:common.modifier",
            "default": "none",
            "options": [
                {
                    "value": "none",
                    "label": "t:common.none"
                },
                {
                    "value": "reverse",
                    "label": "t:sections.n_base-section.settings.modifier-options.reverse"
                }
            ]
        },
        {
            "type": "select",
            "id": "modifier_2",
            "label": "t:common.modifier",
            "default": "none",
            "options": [
                {
                    "value": "none",
                    "label": "t:common.none"
                },
                {
                    "value": "simple-grid",
                    "label": "t:sections.n_base-section.settings.modifier-options.simple-grid"
                }
            ]
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "t:common.background-color",
            "default": "none",
            "options": [
                {
                    "value": "none",
                    "label": "t:sections.n_base-section.settings.background-color-options.none"
                },
                {
                    "value": "grey",
                    "label": "t:sections.n_base-section.settings.background-color-options.grey"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "t:common.button-label"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "t:common.button-url"
        },
        {
            "type": "text",
            "id": "wistia_url",
            "label": "t:common.wistia-url"
        }
],
"blocks": [
    {
        "type": "image_with_text",
        "name": "t:common.image-with-text",
        "settings": [
            {
                "type": "select",
                "id": "select",
                "label": "t:common.select",
                "options": [
                    {
                        "value": "limescale",
                        "label": "t:sections.n_base-section.blocks.image_with_text.settings.limescale"
                    },
                    {
                        "value": "heavy-metals",
                        "label": "t:sections.n_base-section.blocks.image_with_text.settings.heavy-metals"
                    },
                    {
                        "value": "chlorine",
                        "label": "t:sections.n_base-section.blocks.image_with_text.settings.chlorine"
                    },
                    {
                        "value": "micro-plastics",
                        "label": "t:sections.n_base-section.blocks.image_with_text.settings.micro-plastics"
                    },
                    {
                        "value": "copper",
                        "label": "t:sections.n_base-section.blocks.image_with_text.settings.copper"
                    },
                    {
                        "value": "micro-organisms",
                        "label": "t:sections.n_base-section.blocks.image_with_text.settings.micro-organisms"
                    }
                ]
            },
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "dialog",
        "name": "t:common.dialog",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "button_label",
                "label": "t:common.button-label"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "text_with_progress",
        "name": "t:common.text-with-progress",
        "settings": [
            {
                "type": "range",
                "id": "percent_value",
                "label": "t:common.percent-value",
                "min": 0,
                "max": 100,
                "unit": "%",
                "default": 57
            },
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "buy_button",
        "name": "t:common.buy-button",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "button_label",
                "label": "t:common.button-label"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "t:common.button-url"
            }
        ]
    },
    {
        "type": "certified_box",
        "name": "t:sections.n_base-section.blocks.certified_box.name",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "richtext",
                "id": "sub_text",
                "label": "t:common.sub-text"
            }
        ]
    },
    {
        "type": "features_list",
        "name": "t:sections.n_base-section.blocks.features_list.name",
        "settings": [
            {
                "type": "select",
                "id": "icon",
                "label": "t:common.icon",
                "options": [
                    {
                        "value": "guarantee",
                        "label": "t:common.guarantee"
                    },
                    {
                        "value": "shipping-order",
                        "label": "t:common.shipping-order"
                    }
                ]
            },
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "app_store",
        "name": "t:sections.n_base-section.blocks.app_store.name",
        "limit": 4,
        "settings": [
            {
                "type": "url",
                "id": "link_url",
                "label": "t:common.link-url"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    },
    {
        "type": "icon_with_text",
        "name": "t:common.icon-with-text",
        "settings": [
            {
                "type": "select",
                "id": "icon",
                "label": "t:common.icon",
                "options": [
                    {
                        "value": "fine-lines",
                        "label": "t:common.fine-lines"
                    },
                    {
                        "value": "wrinkles",
                        "label": "t:common.wrinkles"
                    },
                    {
                        "value": "dark-spots",
                        "label": "t:common.dark-spots"
                    },
                    {
                        "value": "blemishes",
                        "label": "t:common.blemishes"
                    },
                    {
                        "value": "rough-texture",
                        "label": "t:common.rough-texture"
                    },
                    {
                        "value": "eye-bags",
                        "label": "t:common.eye-bags"
                    },
                    {
                        "value": "puffiness",
                        "label": "t:common.puffiness"
                    }
                ]
            },
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    }
],
"presets": [
    {
        "name": "t:sections.n_base-section.name"
    }
]
}
{% endschema %}