{% doc %}
  Renders a before/after accordion section with review card and ingredient accordions.
{% enddoc %}

<!-- BEFORE AFTER ACCORDION -->
{% if section.settings.use_own_file %}
  <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/before-after-accordion/before-after-accordion.css" />
{% endif %}
<section class="before-after-accordion">
  <div class="container">
    <div class="before-after-accordion__content">
      <div class="c-trusted-review-card c-trusted-review-card--short">
        <picture>
          {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" />
          {% endif %}
        </picture>
        <div class="e-author">
          {% if section.settings.flag != blank %}
            <img src="{{ section.settings.flag | image_url }}" alt="{{ section.settings.flag.alt | escape }}" />
          {% endif %}
            {{ section.settings.username }}
        </div>
        <div class="e-verified-customer">
          <div class="e-checkmark"></div>
            {{ section.settings.verified_customer }}
        </div>
      </div>
      <article>
          {{ section.settings.text }}
        <hr />
        {% if section.settings.sub_text != blank %}
          {{ section.settings.sub_text }}
        {% endif %}
        <div class="c-accordion">
          <div class="c-accordion__list">
            {% for block in section.blocks %}
              {% if block.type == 'accordion' %}
                <details class="c-accordion__item">
                    {% if block.settings.heading != blank %}
                        <summary class="c-accordion__summary">{{ block.settings.heading }}</summary>
                    {% endif %}
                  {% if block.settings.text != blank %}
                    <article class="c-accordion__content">
                        {{ block.settings.text }}
                    </article>
                  {% endif %}
                  {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                  {% endif %}
                </details>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<!-- BEFORE AFTER ACCORDION END -->

{% schema %}
{
  "name": "t:sections.before-after-accordion.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_own_file",
      "label": "t:common.use-own-file",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:common.image"
    },
    {
      "type": "image_picker",
      "id": "flag",
      "label": "t:common.flag"
    },
    {
      "type": "text",
      "id": "username",
      "label": "t:common.username"
    },
    {
      "type": "text",
      "id": "verified_customer",
      "label": "t:common.verified-customer",
      "default": "Verified"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:common.text"
    },
    {
      "type": "richtext",
      "id": "sub_text",
      "label": "t:common.sub-text"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "t:common.accordion",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:common.header"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:common.text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.before-after-accordion.name"
    }
  ]
}
{% endschema %}
