{% doc %}
  Renders a comparison section.
{% enddoc %}

{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/comparison/comparison.css" />
{% endif %}
<div class="comparison">
    <div class="container">
        <article>
            {{ section.settings.text }}
        </article>
        <div class="comparison__table">
            <div class="comparison__product">
                {% for block in section.blocks %}
                    {% if block.type == 'left_heading' %}
                        {% if block.settings.image != blank %}
                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                        {% endif %}
                        {{ block.settings.heading }}
                    {% endif %}
                {% endfor %}
                <ul>
                    {% for block in section.blocks %}
                        {% if block.type == 'left_column' %}
                            {% if block.settings.text != blank %}
                                <li><i class="e-icon e-icon-checkmark"></i>{{ block.settings.text }}</li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% for block in section.blocks %}
                {% if block.type == 'text_between' %}
                    {% if block.settings.text != blank %}
                        <div class="comparison__versus">{{ block.settings.text }}</div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div class="comparison__product">
                {% for block in section.blocks %}
                    {% if block.type == 'right_heading' %}
                        {% if block.settings.image != blank %}
                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                        {% endif %}
                        {{ block.settings.heading }}
                    {% endif %}
                {% endfor %}
                <ul>
                    {% for block in section.blocks %}
                        {% if block.type == 'right_column' %}
                            {% if block.settings.text != blank %}
                                <li><i class="e-icon e-icon-cross"></i>{{ block.settings.text }}</li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% for block in section.blocks %}
            {% if block.type == 'disclaimer' %}
                {% if block.settings.text != blank %}
                    <div class="comparison__declaimer">{{ block.settings.text }}</div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>

{% schema %}
{
"name": "t:sections.n_comparison.name",
"settings": [
    {
        "type": "checkbox",
        "id": "use_own_file",
        "label": "t:common.use-own-file",
        "default": false
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    }
],
"blocks": [
    {
        "type": "left_heading",
        "name": "t:common.left-header",
        "limit": 1,
        "settings": [
            {
                "type": "richtext",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    },
    {
        "type": "right_heading",
        "name": "t:common.right-header",
        "limit": 1,
        "settings": [
            {
                "type": "richtext",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    },
    {
        "type": "text_between",
        "name": "t:common.text-between",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "left_column",
        "name": "t:sections.n_comparison.blocks.left-column.name",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "right_column",
        "name": "t:sections.n_comparison.blocks.right-column.name",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "disclaimer",
        "name": "t:common.disclaimer",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    }
],
"presets": [
    {
        "name": "t:sections.n_comparison.name"
    }
]
}
{% endschema %}