{% doc %}
  Renders a easy steps section.
{% enddoc %}

<!-- SET UP -->
{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/set-up/set-up.css" />
{% endif %}
<section class="set-up{%  if section.settings.modifier != 'none' %} set-up--{{ section.settings.modifier }}{% endif %}" id="easy_steps">
    <div class="container">
        {% if section.settings.wistia_url != blank %}
            <picture data-bs-toggle="modal" data-bs-target="#reusableWistiaModal" data-video-id="{{ section.settings.wistia_url }}">
                {% if section.settings.image != blank %}
                    <source media="(min-width:767px)" srcset="{{ section.settings.image | image_url }}" />
                {% endif %}
                {% if section.settings.image_mobile != blank %}
                    <img src="{{ section.settings.image_mobile | image_url }}" alt="{{ section.settings.image_mobile.alt | escape }}" />
                {% endif %}
            </picture>
        {% endif %}
        {{ section.settings.text }}
        <ol>
            {% for block in section.blocks %}
                {% if block.type == 'items' %}
                    <li>
                        {% if block.settings.image != blank and block.settings.image_mobile != blank %}
                            <picture>
                                <source media="(min-width:767px)" srcset="{{ block.settings.image | image_url }}" />
                                <img src="{{ block.settings.image_mobile | image_url }}" alt="{{ block.settings.image_mobile.alt | escape }}" />
                            </picture>
                        {% endif %}
                        {{ block.settings.text }}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
        {% if section.settings.button_label != blank %}
            <a href="{{ section.settings.button_url }}" class="btn btn--primary" type="button">{{ section.settings.button_label }}</a>
        {% endif %}
        {% assign has_accordion = false %}
        {% for block in section.blocks %}
            {% if block.type == 'accordion' %}
                {% assign has_accordion = true %}
            {% endif %}
        {% endfor %}
        {% if has_accordion %}
            <div class="c-accordion">
                <div class="c-accordion__list">
                    {% for block in section.blocks %}
                        {% if block.type == 'accordion' %}
                            <details class="c-accordion__item">
                                {% if block.settings.heading != blank %}
                                    <summary class="c-accordion__summary">{{ block.settings.heading }}</summary>
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    <article class="c-accordion__content">
                                        {{ block.settings.text }}
                                    </article>
                                {% endif %}
                            </details>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("wistia-popup", "https://qureskincaredns.com/assets/js-new/wistia-popup.js");
        loadScriptOnce("wistia-script", "https://fast.wistia.com/assets/external/E-v1.js");
    });
</script>
<!-- SET UP END -->

{% schema %}
{
    "name": "t:sections.n_easy-steps.name",
    "settings": [
        {
            "type": "checkbox",
            "id": "use_own_file",
            "label": "t:common.use-own-file",
            "default": false
        },
        {
            "type": "select",
            "id": "modifier",
            "label": "t:common.modifier",
            "default": "none",
            "options": [
                {
                    "value": "none",
                    "label": "t:common.none"
                },
                {
                    "value": "no-video",
                    "label": "t:sections.n_easy-steps.settings.modifier-options.no-video"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "t:common.image-mobile"
        },
        {
            "type": "text",
            "id": "wistia_url",
            "label": "t:common.wistia-url"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "t:common.button-label"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "t:common.button-url"
        }
    ],
    "blocks": [
        {
            "type": "items",
            "name": "t:common.items",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                },
                {
                    "type": "image_picker",
                    "id": "image_mobile",
                    "label": "t:common.image-mobile"
                }
            ]
        },
        {
            "type": "accordion",
            "name": "t:common.accordion",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.n_easy-steps.name"
        }
    ]
}
{% endschema %}