{% doc %}
    Renders a faq section.
{% enddoc %}

{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/have-questions/have-questions.css" />
{% endif %}

<div class="have-questions" id="faq">
    <div class="container">
        {{ section.settings.heading }}
        {% if section.settings.sub_text != blank %}
            <article>{{ section.settings.sub_text }}</article>
        {% endif %}
        <div class="c-accordion c-accordion--lines">
            <div class="c-accordion__list">
                {% for block in section.blocks %}
                    {% if block.type == 'accordion' %}
                        <details class="c-accordion__item">
                            {% if block.settings.heading != blank %}
                                <summary class="c-accordion__summary">{{ block.settings.heading }}</summary>
                            {% endif %}
                            {% if block.settings.text != blank %}
                                <article class="c-accordion__content">
                                    {{ block.settings.text }}
                                    {% if block.settings.image != blank %}
                                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                    {% endif %}
                                </article>
                            {% endif %}
                        </details>
                    {% endif %}
                {% endfor %}
            </div>
            {% if section.settings.button_label != blank and section.settings.button_url != blank %} 
                <div class="c-accordion__ask-us">
                    {{ section.settings.text }}<a href="{{ section.settings.button_url }}" class="btn btn-sm btn--secondary">{{ section.settings.button_label }}<i class="e-icon e-icon-arrow"></i></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "t:sections.n_faq.name",
    "settings": [
        {
            "type": "checkbox",
            "id": "use_own_file",
            "label": "t:common.use-own-file",
            "default": false
        },
        {
            "type": "richtext",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "text",
            "id": "text",
            "label": "t:common.text",
            "default": "Don't see your question? "
        },
        {
            "type": "richtext",
            "id": "sub_text",
            "label": "t:common.sub-text"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "t:common.button-label",
            "default": "Ask us "
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "t:common.button-url"
        }
    ],
    "blocks": [
        {
            "type": "accordion",
            "name": "t:common.accordion",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.n_faq.name"
        }
    ]
}
{% endschema %}