{% doc %}
    Renders an usage guide section for hair growth helmet page.
{% enddoc %}

<!-- HOW TO HELMET -->
{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/how-to-helmet/how-to-helmet.css" />
{% endif %}
<section class="how-to-helmet">
    <div class="container">
        <article>
            {{ section.settings.heading }}
            {% if section.settings.video_url != blank %}
                <div class="c-wistia-embed-video c-wistia-embed-video--custom">
                    <div class="wistia_embed wistia_async_{{ section.settings.video_url }} popover=true seo=false videoFoam=true"></div>
                    <div class="c-wistia-embed-video__link">
                        <span>{{ 'sections.hair-growth-helmet.guide.watch_video' | t }}</span>
                        <i class="e-icon e-icon-watch"></i>
                    </div>
                </div>
            {% endif %}
        </article>
    </div>
    <div class="container">
        <div
            class="c-swiper"
            data-swiper='{
                    "slidesPerView": 1.1,
                    "spaceBetween": 16,
                    "loop": false,
                    "pagination": {
                        "el": ".c-swiper-pagination",
                        "type": "custom"
                    },
                    "navigation": {
                        "prevEl": ".c-swiper-button-prev",
                        "nextEl": ".c-swiper-button-next"
                    },
                    "breakpoints": {
                        "768": {
                            "slidesPerView": 2.2,
                            "spaceBetween": 24
                        }
                    }
                }'>
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    {% if block.type == 'slider' %}
                        <div class="swiper-slide">
                            <picture data-index="{{ forloop.index }}">
                                {% if block.settings.image != blank %}
                                    <source media="(min-width:768px)" srcset="{{ block.settings.image | image_url }}" />
                                {% endif %}
                                {% if block.settings.image_mobile != blank %}
                                    <img src="{{ block.settings.image_mobile | image_url }}" alt="{{ block.settings.image_mobile.alt | escape }}" />
                                {% endif %}
                            </picture>
                            {% if block.settings.text != blank %}
                                <article>
                                    {{ block.settings.text }}
                                </article>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("wistia-script", "https://fast.wistia.com/assets/external/E-v1.js");
    });
</script>
<!-- HOW TO HELMET END -->

{%  schema  %}
{
  "name": "t:sections.n_hair-growth-helmet-usage-guide.name",
  "settings": [
    {
        "type": "checkbox",
        "id": "use_own_file",
        "label": "t:common.use-own-file",
        "default": false
    },
    {
        "type": "richtext",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "text",
        "id": "video_url",
        "label": "t:common.video-url"
    }
  ],
  "blocks": [
    {
        "type": "slider",
        "name": "t:common.slider",
        "settings": [
            {
                "type": "richtext",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "t:common.image-mobile"
            }
        ]
    }
  ]
}

{% endschema %}