{% doc %}
    Renders a banner with Modal section for hair growth helmet page.
{% enddoc %}

{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/alex/sections/isolated/across-image-banner/across-image-banner.css" />
{% endif %}
<div class="qure__section across-image-banner" id="light-technology">
    <picture class="across-image-banner__image">
        <source media="(min-width:768px)" srcset="https://qureskincaredns.com/alex/sections/isolated/across-image-banner/images/pixels.webp" />
        <img src="https://qureskincaredns.com/alex/sections/isolated/across-image-banner/images/pixels.webp" />
    </picture>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="across-image-banner__content">
                    {% if section.settings.heading != blank %}
                        {{ section.settings.heading }}
                    {% endif %}
                    {% if section.settings.text != blank %}
                        {{ section.settings.text }}
                    {% endif %}
                    {% if section.settings.button_label != blank %}
                        <button class="btn btn--primary-white" type="button" data-bs-toggle="modal"
                            data-bs-target="#tech-modal">
                            <i class="fa-regular fa-circle-plus"></i>
                            {{ section.settings.button_label }}
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal hemlet-tech-modal fade" id="tech-modal">
    <div class="modal-dialog">
        <div class="modal-content hemlet-tech-modal__content">
            <div class="tech-popup">
                <div class="tech-popup__carousel">
                    <div class="swiper qure__swiper" id="qure__swiper-tech-popup" data-section-id="tech-popup"
                        data-mobile="1" data-tablet="1" data-desktop="1" data-autoplay="false" data-loop="false"
                        data-spacing="0" data-spacingmob="0" data-pagination-fraction="true"
                        data-arrowleft="tech-popup-arrow-left" data-arrowright="tech-popup-arrow-right">
                        <div class="swiper-wrapper">
                            {% for block in section.blocks %}
                                {% if block.type == 'image' %}
                                    <div class="swiper-slide">
                                        {% if block.settings.image != blank %}
                                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="swiper-arrows-with-pagination">
                            <div class="qure-swiper-button-prev qure-swiper-arrow tech-popup-arrow-left"><i
                                    class="fa-regular fa-angle-left"></i></div>
                            <div class="swiper-pagination"></div>
                            <div class="qure-swiper-button-next qure-swiper-arrow tech-popup-arrow-right"><i
                                    class="fa-regular fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <ul class="tech-popup__icons">
                    {% for block in section.blocks %}
                        {% if block.type == 'image_with_text' %}
                            <li>
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    {{ block.settings.text | replace: '<p>', '<span>' | replace: '</p>', '</span>' }}
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="tech-popup__text">
                    {% for block in section.blocks %}
                        {% if block.type == "text" %}
                            {% if block.settings.heding != blank %}
                                {{ block.settings.heding }}
                            {% endif %}
                            {% if block.settings.text != blank %}
                                {{ block.settings.text }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal">
                <img src="https://qureskincaredns.com/assets/images/cross_black.svg" alt="cross_black" />
            </button>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('main-slider', 'https://qureskincaredns.com/assets/js/main-slider.js');
    });
</script>

{%  schema  %}
{
  "name": "t:sections.n_hair-growth-helmet-banner-with-modal.name",
  "settings": [
    {
        "type": "checkbox",
        "id": "use_own_file",
        "label": "t:common.use-own-file",
        "default": false
    },
    {
        "type": "richtext",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    }
  ],
  "blocks": [
    {
        "type": "image",
        "name": "t:common.image",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    },
    {
        "type": "image_with_text",
        "name": "t:common.image-with-text",
        "limit": 3,
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
        
    },
    {
        "type": "text",
        "name": "t:common.text",
        "limit": 1,
        "settings": [
            {
                "type": "richtext",
                "id": "heding",
                "label": "t:common.header"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    }
  ]
}

{% endschema %}