{% doc %}
    Renders a feature carousel section for hair growth helmet page.
{% enddoc %}

<!-- BASE SLIDER -->
{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/base-slider/base-slider.css" />
{% endif %}
<section class="base-slider base-slider--why-work">
    <div class="container">
        {{ section.settings.heading }}
        <div
            class="c-swiper"
            data-swiper='{
                    "slidesPerView": 1.1,
                    "spaceBetween": 16,
                    "loop": false,
                    "pagination": {
                        "el": ".c-swiper-pagination",
                        "type": "custom"
                    },
                    "navigation": {
                        "prevEl": ".c-swiper-button-prev",
                        "nextEl": ".c-swiper-button-next"
                    },
                    "breakpoints": {
                        "768": {
                            "slidesPerView": 2
                        },
                        "992": {
                            "slidesPerView": 3
                        }
                    }
                }'>
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    {% if block.type == 'section' %}
                        <div class="swiper-slide">
                            {% if block.settings.image != blank %}
                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                            {% endif %}
                            {{ block.settings.heading }}
                            {{ block.settings.text }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        {% if section.settings.button_label != blank and section.settings.button_url != blank %}
            <a class="btn btn--primary" href="{{ section.settings.button_url }}">{{ section.settings.button_label }}</a>
        {% endif %}
        
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("base-slider", "https://qureskincaredns.com/sections/new/base-slider/base-slider.js");
        loadScriptOnce("wistia-popup", "https://qureskincaredns.com/assets/js-new/wistia-popup.js");
        loadScriptOnce("youtube-popup", "https://qureskincaredns.com/assets/js-new/yt-popup.js");
        loadScriptOnce("wistia-script", "https://fast.wistia.com/assets/external/E-v1.js");
    });
</script>
<!-- BASE SLIDER END -->

{%  schema  %}
{
  "name": "t:sections.n_hair-growth-helmet-feature-carousel.name",
  "settings": [
    {
        "type": "checkbox",
        "id": "use_own_file",
        "label": "t:common.use-own-file",
        "default": false
    },
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    }
  ],
  "blocks": [
    {
        "type": "section",
        "name": "t:common.section",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "richtext",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    }
  ]
}

{% endschema %}