{% doc %}
    Renders a banner with Modal section for hair growth helmet page.
{% enddoc %}

{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/across-image-banner/across-image-banner.css" />
{% endif %}
<section class="across-image-banner across-image-banner--light-tech">
    <picture>
        {% if section.settings.image != blank %}
            <source media="(min-width:768px)" srcset="{{ section.settings.image | image_url }}" />
        {% endif %}
        {% if section.settings.image_mobile != blank %}
            <img src="{{ section.settings.image_mobile | image_url }}" alt="{{ section.settings.image_mobile.alt | escape }}" />
        {% endif %}
    </picture>
    <div class="container">
        <article>
            {{ section.settings.heading }}
            {{ section.settings.text }}
            {% if section.settings.button_label != blank %}
                <button class="btn btn--primary-white" type="button" onclick="techModal.showModal()">
                    <i class="e-icon e-icon-plus"></i>
                    {{ section.settings.button_label }}
                </button>
            {% endif %}
        </article>
    </div>

    <dialog class="c-dialog c-dialog--right-side" id="techModal">
        <div class="c-dialog__content">
            <div
                class="c-swiper"
                data-swiper='{
                            "slidesPerView": 1,
                            "spaceBetween": 16,
                            "loop": false,
                            "pagination": {
                                "el": ".c-swiper-pagination",
                                "type": "custom"
                            },
                            "navigation": {
                                "prevEl": ".c-swiper-button-prev",
                                "nextEl": ".c-swiper-button-next"
                            }
                        }'>
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% if block.type == 'image' %}
                            <div class="swiper-slide">
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="c-swiper-nav">
                    <button class="c-swiper-button-prev"></button>
                    <div class="c-swiper-pagination"></div>
                    <button class="c-swiper-button-next"></button>
                </div>
            </div>
            <ul class="tiles">
                {% for block in section.blocks %}
                    {% if block.type == 'image_with_text' %}
                        <li>
                            {% if block.settings.image != blank %}
                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                            {% endif %}
                                {{ block.settings.text | replace: '<p>', '<span>' | replace: '</p>', '</span>' }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="features">
                <h6>Key Features</h6>
                <ul>
                    <li><strong>370 Total Diodes</strong> for maximum scalp coverage.</li>
                    <li><strong>Zone Targeting</strong> via LCD display for customized treatments.</li>
                    <li><strong>Multi-Wavelength Light</strong> (630-680 nm) to target follicles at different depths.</li>
                    <li><strong>Cordless &amp; Rechargeable</strong> for true hands-free convenience.</li>
                    <li><strong>Smart Safety Sensors</strong> with auto shut-off for worry-free use.</li>
                </ul>
            </div>
        </div>
        <button class="c-dialog__close" type="button" onclick="techModal.close()">
            <i class="e-icon e-icon-cross"></i>
        </button>
    </dialog>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("dialog", "https://qureskincaredns.com/assets/js-new/dialog.js");
    });
</script>

{%  schema  %}
{
  "name": "t:sections.n_hair-growth-helmet-banner-with-modal.name",
  "settings": [
    {
        "type": "checkbox",
        "id": "use_own_file",
        "label": "t:common.use-own-file",
        "default": false
    },
    {
        "type": "richtext",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "t:common.image-mobile"
    }
  ],
  "blocks": [
    {
        "type": "image",
        "name": "t:common.image",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    },
    {
        "type": "image_with_text",
        "name": "t:common.image-with-text",
        "limit": 3,
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
        
    },
    {
        "type": "text",
        "name": "t:common.text",
        "limit": 1,
        "settings": [
            {
                "type": "richtext",
                "id": "heding",
                "label": "t:common.header"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    }
  ]
}

{% endschema %}