{% doc %}
  Renders an across image banner section
{% enddoc %}

{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/intro-section/intro-section.css" />
{% endif %}
    <section class="intro-section{% if section.settings.modifier == 'simple' %} intro-section--simple{% endif %}">
        <div class="container">
            <article>
                {% if section.settings.text != blank %}
                    {{ section.settings.text }}
                {% endif %}
                {% for block in section.blocks %}
                    {% if block.type == 'wistia_video' %}
                        {% if block.settings.wistia_url != blank and block.settings.image != blank %}
                            <picture
                                class="d-lg-none"
                                data-label-text="{{ block.settings.label_text }}"
                                data-bs-toggle="modal"
                                data-bs-target="#reusableWistiaModal"
                                data-video-id="{{ block.settings.wistia_url }}"
                            >
                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                            </picture>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </article>
        </div>
    </section> 

{% schema %}
{
    "name": "t:sections.n_intro.name",
        "settings": [
            {
                "type": "checkbox",
                "id": "use_own_file",
                "label": "t:common.use-own-file",
                "default": false
            },
            {
                "type": "select",
                "id": "modifier",
                "label": "t:common.modifier",
                "default": "none",
                "options": [
                    {
                        "value": "none",
                        "label": "t:common.none"
                    },
                    {
                        "value": "simple",
                        "label": "t:common.simple"
                    }
                ]
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
    ],
    "blocks": [
        {
            "type": "wistia_video",
            "name": "t:common.wistia-video",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "wistia_url",
                    "label": "t:common.wistia-url"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                },
                {
                    "type": "text",
                    "id": "label_text",
                    "label": "t:common.label-text",
                    "default": "Watch: How To Use"
                }
            ]

        }
    ],
    "presets": [
        {
            "name": "t:sections.n_intro.name"
        }
    ]
}
{% endschema %} 