{% doc %}
    Renders a qa section for microinfusion faq page 2.
{% enddoc %}

<!-- QA SECTION -->
{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/qa-section/qa-section.css" />
{% endif %}
<section class="qa-section{% if section.settings.modifier != 'none' %} qa-section--{{ section.settings.modifier }}{% endif %}">
    <div class="container">
        {% if section.settings.text != blank %}
            <article>
                {% if section.settings.updated_info %}
                    <div class="updated-info">
                        {{ section.settings.heading }}
                        {{ section.settings.text }}
                    </div>
                {% else %}
                    {{ section.settings.heading }}
                    {% if section.settings.image != blank %}
                        <picture>
                            <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" loading="lazy" />
                        </picture>
                    {% endif %}
                    {{ section.settings.text }}
                {% endif %}
                {% for block in section.blocks %}
                    {% if block.type == 'cta_box' %}
                        <div class="cta-box">
                            {% if block.settings.image != blank %}
                                <div class="cta-box__image">
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" loading="lazy" />
                                </div>
                            {% endif %}
                        
                        <div class="cta-box__content">
                            {% if block.settings.badge_text != blank %}
                                <div class="e-pill-badge e-pill-badge--fill">{{ block.settings.badge_text }}</div>
                            {% endif %}
                            {{ block.settings.heading }}
                            {% if block.settings.text != blank %}
                                <div>
                                    {{ block.settings.text }}
                                </div>
                            {% endif %}
                            <div>
                                {% if block.settings.button_label != blank and block.settings.button_url != blank %}
                                    <a class="btn btn--primary" href="{{ block.settings.button_url }}">{{ block.settings.button_label }}</a>
                                {% endif %}
                                {% if block.settings.icon_with_text != blank %}
                                    <ul class="e-features-list">
                                        <li>
                                            <i class="e-icon e-icon-shipping-order"></i>
                                            {{ block.settings.icon_with_text }}
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </article>
        {% endif %}
    </div>
</section>
<!-- QA SECTION END -->

{% schema %}
{
    "name": "t:sections.n_mi-faq-page-qa.name",
    "settings": [
        {
            "type": "checkbox",
            "id": "use_own_file",
            "label": "t:common.use-own-file",
            "default": false
        },
        {
            "type": "select",
            "id": "modifier",
            "label": "t:common.modifier",
            "default": "none",
            "options": [
                {
                    "value": "none",
                    "label": "t:common.none"
                },
                {
                    "value": "img-to-left",
                    "label": "t:sections.n_mi-faq-page-qa.settings.modifier-options.img-to-left"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "updated_info",
            "label": "t:sections.n_mi-faq-page-qa.settings.modifier-options.updated-info"
        },
        {
            "type": "richtext",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        }
    ],
    "blocks": [
        {
            "type": "cta_box",
            "name": "t:sections.n_mi-faq-page-qa.blocks.cta_box.name",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                },
                {
                    "type": "text",
                    "id": "badge_text",
                    "label": "t:common.badge-text"
                },
                {
                    "type": "richtext",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "t:common.button-label"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "t:common.button-url"
                },
                {
                    "type": "text",
                    "id": "icon_with_text",
                    "label": "t:common.icon-with-text"
                }
            ]
        }
    ]
}
{% endschema %}