{% doc %}
  Renders a MI New section.
{% enddoc %}

<!-- MI NEW -->
 {% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/mi-new/mi-new.css" />
 {% endif %}
<section class="mi-new">
    <div class="container">
        {{ section.settings.text }}
        <article class="mi-new__content">
            {% for block in section.blocks %}
                {% if block.type == 'items' %}
                    <div class="mi-new__pointer">
                        {% if block.settings.badge_text != blank %}
                            <div class="e-pill-badge">
                                <div class="e-checkmark"></div>
                                {{ block.settings.badge_text }}
                            </div>
                        {% endif %}
                        {{ block.settings.text }}
                    </div>
                {% endif %}
            {% endfor %}
            {% if section.settings.image != blank %}
                <picture class="mi-new__image">
                    <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" />
                </picture>
            {% endif %}
        </article>
        {% if section.settings.button_label != blank %}
            <button class="btn btn--primary" type="button">{{ section.settings.button_label }}</button>
        {% endif %}
    </div>
</section>
<!-- MI NEW END -->

{% schema %}
{
"name": "t:sections.n_mi-new.name",
"settings": [
    {
        "type": "checkbox",
        "id": "use_own_file",
        "label": "t:common.use-own-file",
        "default": false
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    }
],
"blocks": [
    {
        "type": "items",
        "name": "t:common.items",
        "settings": [
            {
                "type": "text",
                "id": "badge_text",
                "label": "t:common.badge-text"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    }
],
"presets": [
    {
        "name": "t:sections.n_mi-new.name"
    }
]
}
{% endschema %}