{% doc %}
  Renders a trusted reviews image section for the exclusive holiday bundle page.
{% enddoc %}

<!-- RESULTS SHOWCASE -->
 {% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/results-showcase/results-showcase.css" />
 {% endif %}
<section class="results-showcase">
    <div class="container">
        <article class="results-showcase__text">
            {% if section.settings.rating != blank %}
                <div class="e-rating-stars" style="--rating: {{ section.settings.rating }}"></div>
            {% endif %}
            {% if section.settings.rating_text != blank %}
                <small>{{ section.settings.rating_text }}</small>
            {% endif %}
            {{ section.settings.text }}
            <ul>
                {% for block in section.blocks %}
                    {% if block.type == 'icon_with_text' %}
                        {% if block.settings.text != blank %}
                            <li>
                                <i class="e-icon e-icon-{{ block.settings.icon }}"></i>
                                {{ block.settings.text }}
                            </li>
                        {% endif %}
                        
                    {% endif %}
                {% endfor %}
            </ul>
        </article>
        <div
            class="c-swiper results-showcase__swiper"
            data-swiper='{
            "slidesPerView": 1.2,
            "spaceBetween": 6,
            "centeredSlides": true,
            "loop": true,
            "pagination": {
                "el": ".c-swiper-pagination",
                "type": "custom"
            },
            "navigation": {
                "prevEl": ".c-swiper-button-prev",
                "nextEl": ".c-swiper-button-next"
            },
            "breakpoints": {
                "768": {
                    "slidesPerView": 2.5,
                    "spaceBetween": 12
                }
            }
        }'>
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    {% if block.type == 'slider' %}
                        {% if block.settings.image != blank %}
                            <div class="swiper-slide">
                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    </div>
</section>
<!-- RESULTS SHOWCASE END -->

{% schema %}
{
  "name": "t:sections.n_page-exclusive-bundle-resuslts-showcase.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_own_file",
      "label": "t:common.use-own-file",
      "default": false
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:common.text"
    },
    {
      "type": "text",
      "id": "rating",
      "label": "t:common.rating"
    },
    {
      "type": "text",
      "id": "rating_text",
      "label": "t:common.rating-text"
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "t:common.slider",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.image"
        }
      ]
    },
    {
      "type": "icon_with_text",
      "name": "t:common.icon-with-text",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:common.icon",
          "default": "one-time-money",
          "options": [
            {
              "value": "one-time-money",
              "label": "t:sections.n_page-exclusive-bundle-resuslts-showcase.blocks.icon_with_text.select_options.one-time-money"
            },
            {
                "value": "incredibly-convenient",
                "label": "t:sections.n_page-exclusive-bundle-resuslts-showcase.blocks.icon_with_text.select_options.incredibly-convenient"
            },
            {
                "value": "deeply-hydrates",
                "label": "t:sections.n_page-exclusive-bundle-resuslts-showcase.blocks.icon_with_text.select_options.deeply-hydrates"
            },
            {
                "value": "clinic-results",
                "label": "t:sections.n_page-exclusive-bundle-resuslts-showcase.blocks.icon_with_text.select_options.clinic-results"
            }
          ]
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:common.text"
        }
      ]
    }
  ]
}
{% endschema %}