{% doc %}
  Renders a led mask offer section on page led-mask-offer-2
{% enddoc %}

{% assign mask_handle = 'q-rejuvalight-pro-facewear-3' %}
{% include 'n_get-product-data', product_handle: mask_handle %}
{% assign mask_sale_price = product_sale_price %}
{% assign mask_price_original = product_price_original %}

{% assign neck_handle = 'neck-decolletage-led' %}
{% include 'n_get-product-data', product_handle: neck_handle %}
{% assign neck_sale_price = product_sale_price %}
{% assign neck_price_original = product_price_original %}

{% assign bundle_current_price_original = mask_price_original %}
{% assign bundle_before_price_original = mask_price_original | plus: neck_price_original %}
{% assign bundle_saving_original = bundle_before_price_original | minus: bundle_current_price_original %}
{% assign bundle_saving_money = bundle_saving_original | money_without_trailing_zeros %}

<!-- HERO PRODUCT -->
{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/led-mask-offer/led-mask-offer.css" />
{% endif %}

<section class="hero-product hero-product--reverse hero-product--secondary" id="limited-offer">
    <div class="hero-product__container container">
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#limited-offer .c-swiper-thumbs"
                data-swiper='{
                        "slidesPerView": 1,
                        "spaceBetween": 16,
                        "navigation": {
                            "prevEl": "#limited-offer .c-swiper-button-prev",
                            "nextEl": "#limited-offer .c-swiper-button-next"
                        }
                    }'>
                <div class="swiper-wrapper">
                    {% if product.metafields.custom.carousel_media.value != blank %}
                        {% render 'n-product-page-media-carousel', input_media_carousel: product.metafields.custom.carousel_media.value, size: '720x', thumbnails: false %}
                    {% elsif page.metafields.custom.carousel_media.value != blank %}
                        {% render 'n-product-page-media-carousel', input_media_carousel: page.metafields.custom.carousel_media.value, size: '720x', thumbnails: false %}
                    {% else %}
                        {% render 'n-product-media', product_media: product.media, size: '720x' %}
                    {% endif %}
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                            "slidesPerView": "auto",
                            "spaceBetween": 12
                        }'>
                    <div class="swiper-wrapper">
                        {% if product.metafields.custom.carousel_media.value != blank %}
                            {% render 'n-product-page-media-carousel', input_media_carousel: product.metafields.custom.carousel_media.value, size: '240x', thumbnails: true %}
                        {% elsif page.metafields.custom.carousel_media.value != blank %}
                            {% render 'n-product-page-media-carousel', input_media_carousel: page.metafields.custom.carousel_media.value, size: '240x', thumbnails: true %}
                        {% else %}
                            {% render 'n-product-media', product_media: product.media, size: '240x' %}
                        {% endif %}
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            <div class="e-pill-badge e-pill-badge--md">{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.limited' | t }}</div>
            <h2>{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.header' | t }}</h2>
            <h4>{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.subheader' | t }}</h4>
            <div class="c-special-offer" data-label="Special Offer">
                <div class="e-price">
                    <div class="e-price__main">
                        <div class="e-price__current">{{ bundle_current_price_original | money_without_trailing_zeros }}</div>
                        <div class="e-price__old">{{ bundle_before_price_original | money_without_trailing_zeros }}</div>
                    </div>
                </div>
                <div class="e-pill-save">{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.discount-text' | t }}</div>
            </div>
            <article>
                <ul>
                    <li>{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.warranty' | t }}</li>
                    <li>{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.fda' | t }}</li>
                </ul>
                <p>{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.text' | t }}</p>
            </article>
            <hr />
            <div class="c-bundle-included">
                <p class="c-bundle-included__tile">{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.included' | t }}</p>
                <ul class="c-bundle-included__list">
                    <li>
                        <a href="#">
                            <img src="https://qureskincaredns.com/sections/isolated/led-mask-offer/images/q-rejuvalight.webp" alt="Q-Rejuvalight Pro LED Mask" />
                        </a>
                        <div>
                            <a href="#">{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.product1-header' | t }}</a>
                            <small>{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.product1-description' | t }}</small>
                            <div class="e-price">
                                <div class="e-price__main">
                                    <div class="e-price__current">{{ mask_sale_price }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://qureskincaredns.com/sections/isolated/led-mask-offer/images/led-device.webp" alt="Neck & Décolletage LED Device" />
                        </a>
                        <div>
                            <a href="#">{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.product2-header' | t }}</a>
                            <small>{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.product2-description' | t }}</small>
                            <div class="e-price e-price--highlight">
                                <div class="e-price__main">
                                    <div class="e-price__current">{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.free' | t }}</div>
                                    <div class="e-price__old">{{ neck_sale_price }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr />
                <div class="c-bundle-included__amount">
                    <p>{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.instant-saving' | t }} {{ bundle_saving_original | money_without_trailing_zeros }}</p>
                    <div class="e-price">
                        <div class="e-price__main">
                            <div class="e-price__current">{{ bundle_current_price_original | money_without_trailing_zeros }}</div>
                            <div class="e-price__old">{{ bundle_before_price_original | money_without_trailing_zeros }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-buy-block">
                <div class="e-progress _e-progress--nearly-full e-progress--low-stock">
                    <p>{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.low-stock' | t }}</p>
                    <small>{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.low-stock-text' | t }}</small>
                    <div style="--progress: {{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.percent' | t }};">{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.percent' | t }} {{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.sold' | t }}</div>
                </div>
                <div class="e-get-free-shipping">{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.order-today' | t }}</div>
                <div class="c-order-button">
                    <button class="btn btn--primary" type="button">
                        {{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.button-label' | t | replace: '$299', bundle_saving_money }}
                        <i class="e-icon e-icon-arrow"></i>
                    </button>
                </div>
                <div class="c-buy-block__payment-logos">
                    <img src="https://qureskincaredns.com/assets/images/full-payment-logos.svg" alt="Full payment logos" />
                </div>
                <ul class="e-features-list">
                    <li>
                        <i class="e-icon e-icon-one-year"></i>
                        {{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.guarantee-text' | t }}
                    </li>
                    <li>
                        <i class="e-icon e-icon-shipping-order"></i>
                        {{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.shipping-text' | t }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="hero-product__extra">
            <div class="c-accordion c-accordion--lines">
                <div class="c-accordion__list">
                    {% if page.metafields.custom.key_benefits != blank %}
                        {% render 'n-product-page-collapsed-item', input: page.metafields.custom.key_benefits, index: 'first', title: 'Key Benefits' %}
                    {% endif %}
                    {% if page.metafields.custom.how_it_works != blank %}
                        {% render 'n-product-page-collapsed-item', input: page.metafields.custom.how_it_works, index: 'second', title: 'How It Works' %}
                    {% endif %}
                    {% if page.metafields.custom.what_s_included != blank %}
                        {% render 'n-product-page-collapsed-item', input: page.metafields.custom.what_s_included, index: 'fourth', title: 'What’s Included' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.n_page_led_mask_offer_2_led_mask_form = {
        mask_handle: "{{ mask_handle }}",
        neck_handle: "{{ neck_handle }}",
        guarantee_text: "{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.guarantee-text' | t }}",
        discount_text: "{{ 'sections.n_page-led-mask-offer-2-led-mask-form.settings.discount-text' | t }}",
        use_own_file: {{ section.settings.use_own_file | json }}
    };

    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("n_page-led-mask-offer-2-led-mask-form", "{{ 'n_page-led-mask-offer-2-led-mask-form.js' | asset_url }}");
    });
</script>
<!-- HERO PRODUCT END -->

{% schema %}
{
  "name": "t:sections.n_page-led-mask-offer-2-led-mask-form.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_own_file",
      "label": "t:common.use-own-file",
      "default": true
    }
  ]
}
{% endschema %}