{% doc %}
  Renders a progress metrics section
{% enddoc %}

<!-- PROGRESS METRICS -->
{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/progress-metrics/progress-metrics.css" />
{% endif %}
<section class="progress-metrics" id="improve_skin">
    <div class="container">
        {% if section.settings.text != blank %}
            <article>
                {{ section.settings.text }}
            </article>
        {% endif %}
        
        {% assign compare_image_blocks = section.blocks | where: "type", "compare_image" %}
        {% if compare_image_blocks.size > 0 %}
            <div
                class="c-swiper"
                data-swiper='{
                        "slidesPerView": 1,
                        "spaceBetween": 16,
                        "loop": false,
                        "pagination": {
                            "el": ".progress-metrics .c-swiper-pagination",
                            "type": "custom"
                        },
                        "navigation": {
                            "prevEl": ".progress-metrics .c-swiper-button-prev",
                            "nextEl": ".progress-metrics .c-swiper-button-next"
                        }
                    }'>
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% if block.type == 'compare_image' %}
                            <div class="swiper-slide">
                                <div class="c-visual-compare-card">
                                    {% if block.settings.image != blank %}
                                        <picture>
                                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                        </picture>
                                    {% endif %}
                                    {% if block.settings.text != blank %}
                                        <article>
                                            {{ block.settings.text | replace: '<p>[span]', '<span>' | replace: '[/span]</p>', '</span>' }}
                                        </article>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="c-swiper-nav">
                    <button class="c-swiper-button-prev"></button>
                    <div class="c-swiper-pagination"></div>
                    <button class="c-swiper-button-next"></button>
                </div>
            </div>
        {% endif %}

        
        {%  assign image_blocks = section.blocks | where: "type", "image" %}
        {% if image_blocks.size > 0 %}
            <div class="c-pill-tabs">
                <ul class="c-pill-tabs__buttons e-pill-tabs" role="tablist">
                    {% assign image_tab_index = 0 %}
                    {% for block in section.blocks %}
                        {% if block.type == 'image' %}
                            {% assign image_tab_index = image_tab_index | plus: 1 %}
                            <li>
                                <button {% if image_tab_index == 1 %}class="active"{% endif %} type="button" data-bs-toggle="tab" data-bs-target="#pill-tabs-{{ block.settings.heading | strip | handleize }}">{{ block.settings.heading }}</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% assign image_pane_index = 0 %}
                {% for block in section.blocks %}
                    {% if block.type == "image" %}
                        {% assign image_pane_index = image_pane_index | plus: 1 %}
                        <div class="c-pill-tabs__pane{% if image_pane_index == 1 %} show{% endif %}" id="pill-tabs-{{ block.settings.heading | strip | handleize }}">
                            {% if block.settings.image != blank %}
                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {%  assign percent_value_blocks = section.blocks | where: "type", "percent_value" %}
        {% if percent_value_blocks.size > 0 %}
            <div>
                <ul class="c-percent-list">
                    {% for block in section.blocks %}
                        {% if block.type == "percent_value" %}
                            <li>
                                {% if block.settings.percent_value != blank %}
                                    <div class="e-circle-percent" style="--percent-value: {{ block.settings.percent_value }}"><span>{{ block.settings.percent_value }}%</span></div>
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    <span>{{ block.settings.text }}</span>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                {% for block in section.blocks %}
                    {% if block.type == "disclaimer" %}
                        <small>{{ block.settings.text }}</small>
                    {% endif %}
                {% endfor %}
            </div>

            {% for block in section.blocks %}
                {% if block.type == "button" %}
                    {% if block.settings.button_label != blank and block.settings.button_url != blank %}
                        <div class="c-note c-note--info"><a href="{{ block.settings.button_url }}">{{ block.settings.button_label }}</a></div>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for block in section.blocks %}
                {% if block.type == "popup_id" %}
                    <dialog class="c-dialog" id="{{ block.settings.popup_id }}">
                        <div class="c-dialog__content">
                            <div class="c-dialog__tabs">
                                <ul class="c-dialog__tabs-buttons" role="tablist">
                                    {% assign popup_heading_index = 0 %}
                                    {% for block in section.blocks %}
                                        {% if block.type == "popup_heading" %}
                                            {% assign popup_heading_index = popup_heading_index | plus: 1 %}
                                            {% if block.settings.heading != blank %}
                                                <li>
                                                    <button {% if popup_heading_index == 1 %}class="active"{% endif %} type="button" data-bs-toggle="tab" data-bs-target="#{{ block.settings.heading | strip | handleize }}">{{ block.settings.heading }}</button>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                {%  assign popup_heading_index = 0 %}
                                {% for block in section.blocks %}
                                    {% if block.type == 'popup_heading' %}
                                        {% assign popup_heading_index = popup_heading_index | plus: 1 %}
                                        <div class="c-dialog__tabs-pane{% if popup_heading_index == 1 %} show{% endif %}" id="{{ block.settings.heading | strip | handleize }}">
                                            {%  assign current_heading = block.settings.heading | strip | handleize %}
                                            {% for block in section.blocks %}
                                                {% if block.type == 'popup_text' %}
                                                    {%  assign popup_text_id = block.settings.popup_id | strip | handleize %}
                                                    {% if popup_text_id == current_heading %}
                                                        {% if block.settings.badge_text != blank %}
                                                            <div class="e-pill-badge e-pill-badge--fill">{{ block.settings.badge_text }}</div>
                                                        {% endif %}
                                                        {{ block.settings.text 
                                                        | replace: '<p>[hr]</p>', '<hr />'
                                                        | replace: '<p>[span]', '<span>' | replace: '[/span]</p>', '</span>' }}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <button class="c-dialog__close" type="button" onclick="{{ block.settings.popup_id }}.close()">
                            <i class="e-icon e-icon-cross"></i>
                        </button>
                    </dialog>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>
</section>
<!-- PROGRESS METRICS END -->

{% schema %}
{
    "name": "t:sections.n_progress-metrics.name",
        "settings": [
            {
                "type": "checkbox",
                "id": "use_own_file",
                "label": "t:common.use-own-file",
                "default": false
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "t:common.image",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                }
            ]
        },
        {
            "type": "percent_value",
            "name": "t:common.percent-value",
            "settings": [
                {
                    "type": "range",
                    "id": "percent_value",
                    "label": "t:common.percent-value",
                    "min": 0,
                    "max": 100,
                    "unit": "%",
                    "default": 57
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        },
        {
            "type": "compare_image",
            "name": "t:common.compare-image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        },
        {
            "type": "disclaimer",
            "name": "t:common.disclaimer",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        },
        {
            "type": "button",
            "name": "t:common.button",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "t:common.button-label"
                },
                {
                    "type": "text",
                    "id": "button_url",
                    "label": "t:common.button-url"
                }
            ]
        },
        {
            "type": "popup_id",
            "name": "t:common.popup-id",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "popup_id",
                    "label": "t:common.popup-id"
                }
            ]
        },
        {
            "type": "popup_heading",
            "name": "t:common.popup-header",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                }
            ]
        },
        {
            "type": "popup_text",
            "name": "t:common.popup-text",
            "settings": [
                {
                    "type": "text",
                    "id": "popup_id",
                    "label": "t:common.popup-id"
                },
                {
                    "type": "text",
                    "id": "badge_text",
                    "label": "t:common.badge-text"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.n_progress-metrics.name"
        }
    ]
}
{% endschema %}