{% doc %}
    Renders a results slider section.
{% enddoc %}

{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/alex/sections/isolated/section-half-slider/section-half-slider.css">
{% endif %}
<div class="section-half-slider backed-by-real-results" id="backed-by-real-results">
    <div class="section-half-slider__content">
        <div class="section-half-slider__header">
            {% if section.settings.heading != blank %}
                {{ section.settings.heading }}
            {% endif %}
            {% if section.settings.text != blank %}
                {{ section.settings.text }}
            {% endif %}
        </div>
        <div class="section-half-slider__carousel">
            <div class="swiper qure__swiper" id="qure__swiper-backed-by-real-results"
                data-section-id="backed-by-real-results" data-mobile="1" data-tablet="1" data-desktop="1"
                data-autoplay="false" data-loop="false" data-spacing="0" data-spacingmob="0"
                data-pagination-fraction="true" data-arrowleft="backed-by-real-results-arrow-left"
                data-arrowright="backed-by-real-results-arrow-right">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% if block.type == 'slider' %}
                            <div class="swiper-slide">
                                <div class="backed-by-real-results__item">
                                    {% if block.settings.image != blank %}
                                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                    {% endif %}
                                    {% if block.settings.text != blank %}
                                        {{ block.settings.text | replace: '<em>', '<span>' | replace: '</em>', '</span>' }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-arrows-with-pagination">
                    <div class="qure-swiper-button-prev qure-swiper-arrow backed-by-real-results-arrow-left"><i
                            class="fa-regular fa-angle-left"></i></div>
                    <div class="swiper-pagination"></div>
                    <div class="qure-swiper-button-next qure-swiper-arrow backed-by-real-results-arrow-right"><i
                            class="fa-regular fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="section-half-slider__other">
            <ul class="stats-list">
                {% assign twp_count = 0 %}
                {% for block in section.blocks %}
                    {% if block.type == 'text_with_progress' %}
                            <li>
                                {% if block.settings.percent_value != blank %}
                                    <div class="circle-percent" style="--percent-value: {{ block.settings.percent_value | remove: '%' }};"><span>{{ block.settings.percent_value }}</span></div>
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    <span>{{ block.settings.text }}</span>
                                {% endif %}
                            </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if section.settings.sub_text != blank %}
                {{ section.settings.sub_text }}
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('main-slider', 'https://qureskincaredns.com/assets/js/main-slider.js');
    });
</script>

{%  schema  %}
{
  "name": "t:sections.n_results-slider.name",
  "settings": [
    {
        "type": "checkbox",
        "id": "use_own_file",
        "label": "t:common.use-own-file",
        "default": false
    },
    {
        "type": "richtext",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "richtext",
        "id": "sub_text",
        "label": "t:common.sub-text"
    }
  ],
  "blocks": [
    {
        "type": "slider",
        "name": "t:common.slider",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "text_with_progress",
        "name": "t:common.text-with-progress",
        "settings": [
            {
                "type": "text",
                "id": "percent_value",
                "label": "t:common.percent-value"
            },
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    }
  ],
  "presets": [
    {
        "name": "t:sections.n_results-slider.name"
    }
  ]
}

{% endschema %}