{% doc %}
  Renders a trusted reviews section
{% enddoc %}

{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/trusted-reviews/trusted-reviews.css" />
{% endif %}
<section class="trusted-reviews {% if section.settings.background_color != 'none' %}trusted-reviews--{{ section.settings.background_color }}{% endif %}">
    <div class="container">
        {{ section.settings.text }}
        <div
            class="c-swiper"
            data-swiper='{
            "slidesPerView": 1.1,
            "spaceBetween": 16,
            "loop": false,
            "pagination": {
                "el": ".c-swiper-pagination",
                "type": "custom"
            },
            "navigation": {
                "prevEl": ".c-swiper-button-prev",
                "nextEl": ".c-swiper-button-next"
            },
            "breakpoints": {
                "768": {
                    "slidesPerView": 2,
                    "spaceBetween": 24
                },
                "992": {
                    "slidesPerView": 3
                }
            }
        }'>
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    {% if block.type == 'slider' %}
                        <div class="swiper-slide{% if forloop.index == 1 %} active{% endif %}">
                            <div class="c-trusted-review-card">
                                {% if block.settings.image != blank %}
                                    <picture>
                                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                    </picture>
                                {% endif %}
                                {% if block.settings.flag != blank and block.settings.username != blank %}
                                    <div class="e-author">
                                        <img src="{{ block.settings.flag | image_url }}" alt="{{ block.settings.flag.alt | escape }}" />
                                        {{ block.settings.username }}
                                    </div>
                                {% endif %}
                                {% if block.settings.verified_customer != blank %}
                                    <div class="e-verified-customer">
                                        <div class="e-checkmark"></div>
                                        {{ block.settings.verified_customer }}
                                    </div>
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    <article>
                                        {{ block.settings.text }}
                                    </article>
                                {% endif %}
                                {% if block.settings.product_url != blank %}
                                    <a href="{{ block.settings.product_url }}">
                                        {% if block.settings.product_image != blank %}
                                            <img src="{{ block.settings.product_image | image_url }}" alt="{{ block.settings.product_image.alt | escape }}" />
                                        {% endif %}
                                        {% if block.settings.product_text != blank %}
                                            <small>{{ block.settings.product_text }}</small>
                                        {% endif %}
                                        {% if block.settings.product_title != blank %}
                                            <span>{{ block.settings.product_title }}</span>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        {% if section.settings.button_label != blank %}
            <a href="{{ section.settings.button_url }}" class="btn btn--primary" type="button">{{ section.settings.button_label }}</a>
        {% endif %}
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("swiper", "https://qureskincaredns.com/assets/js-new/swiper.js");
    });
</script>

{% schema %}
{
    "name": "t:sections.n_trusted-reviews.name",
        "settings": [
            {
                "type": "checkbox",
                "id": "use_own_file",
                "label": "t:common.use-own-file",
                "default": false
            },
            {
                "type": "select",
                "id": "background_color",
                "label": "t:common.background-color",
                "default": "none",
                "options": [
                    {
                        "value": "none",
                        "label": "t:common.none"
                    },
                    {
                        "value": "light",
                        "label": "t:common.light"
                    }
                ]
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "t:common.button-label"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "t:common.button-url"
            }
    ],
    "blocks": [
        {
            "type": "slider",
            "name": "t:common.slider",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                },
                {
                    "type": "image_picker",
                    "id": "flag",
                    "label": "t:common.flag"
                },
                {
                    "type": "text",
                    "id": "username",
                    "label": "t:common.username"
                },
                {
                    "type": "text",
                    "id": "verified_customer",
                    "label": "t:common.verified-customer",
                    "default": "Verified customer"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                },
                {
                    "type": "url",
                    "id": "product_url",
                    "label": "t:common.product-url"
                },
                {
                    "type": "image_picker",
                    "id": "product_image",
                    "label": "t:common.product-image"
                },
                {
                    "type": "text",
                    "id": "product_text",
                    "label": "t:common.product-text"
                },
                {
                    "type": "text",
                    "id": "product_title",
                    "label": "t:common.product-title"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.n_trusted-reviews.name"
        }
    ]
}
{% endschema %}