{% doc %}
  Renders a video slider section
{% enddoc %}


<!-- BASE SLIDER -->
 {% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/base-slider/base-slider.css" /> 
 {% endif %}
<section class="base-slider base-slider--tree-cards">
    <div class="container">
        <div 
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.1,
                "spaceBetween": 13,
                "loop": false,
                "pagination": { 
                    "el": ".c-swiper-pagination", 
                    "type": "custom" 
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": { 
                        "slidesPerView": 2
                    },
                    "1200": { 
                        "slidesPerView": 3,
                        "spaceBetween": 16
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    {% if block.type == 'slider' %}                    
                        <div class="swiper-slide">
                            <div class="c-trusted-video-card">
                                <picture
                                    {% if block.settings.wistia_url != blank %}
                                        class="filter-card-video"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#reusableWistiaModal"
                                        data-video-id="{{ block.settings.wistia_ur }}"
                                    {% endif %} 
                                    >
                                    {% if block.settings.image != blank %}
                                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                    {% endif %}
                                </picture>
                                <article>
                                    {% if block.settings.heading != blank %}
                                        {{ block.settings.heading }}
                                    {% endif %}
                                    {% if block.settings.text != blank %}
                                        <div>
                                            {{ block.settings.text | replace: '[checkmark]', '<span class="e-checkmark"></span>' }}
                                        </div>
                                    {% endif %}
                                </article>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('base-slider', 'https://qureskincaredns.com/sections/new/base-slider/base-slider.js');
        loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
        loadScriptOnce('video-slider', 'https://qureskincaredns.com/assets/js-new/wistia-popup.js');
    });
</script>    
<!-- BASE SLIDER END -->


{% schema %}
{
    "name": "t:sections.n_video-slider.name",
        "settings": [
            {
                "type": "checkbox",
                "id": "use_own_file",
                "label": "t:common.use-own-file",
                "default": false
            },
    ],
    "blocks": [
        {
            "type": "slider",
            "name": "t:common.slider",
            "settings": [
                {
                    "type": "richtext",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                },
                {
                    "type": "text",
                    "id": "wistia_url",
                    "label": "t:common.wistia-url"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.n_video-slider.name"
        }
    ]
}
{% endschema %}