{% doc %}
  Renders a our adisors section.
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/board-advisory/board-advisory.css" />
<div class="qure__section "
   style="--section-padding-top: 70px;--section-padding-bottom: 40px;--section-padding-top-mob: 50px;--section-padding-bottom-mob: 30px;">
   <div class="container">
      <div class="qure__section-header text-center mb-30 mb-md-60 ctm-width mx-auto" style="--ctm-width: 800px;">
         {% if section.settings.heading != blank and section.settings.text != blank %}
               <h2 class="qure__section-heading mb-20 mb-md-24">{{ section.settings.heading }}</h2>
               {{ section.settings.text | replace: '<p>', '' }}
         {% endif %}
      </div>
   </div>
   <div class="container offset-container-mobile">
      <div class="swiper qure__swiper" id="qure__swiper-board-advisory" data-section-id="board-advisory"
         data-autoplay="false" data-loop="false" data-mobile="1.3" data-tablet="3" data-desktop="4" data-spacing="20"
         data-pagination-fraction="true" data-stylemode="true">
         <div class="swiper-wrapper">
            {% for block in section.blocks %}
               {% if block.type == 'accordion' %}
                  {% assign order = forloop.index %}
                  <div class="swiper-slide">
                     <div class="advisory__board">
                        <div class="advisory__member position-relative rounded-10 overflow-hidden" type="button"
                           data-bs-toggle="collapse" data-bs-target="#advisory-{{ order }}" aria-expanded="false"
                           aria-controls="advisory-{{ order }}">
                           {% if block.settings.image != blank %}
                              <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid w-100" />
                           {% endif %}
                           <div
                              class="advisory__mbr-info position-absolute inset-0 d-flex align-items-end p-20 text-white">
                              <div class="align-items-end d-flex justify-content-between mbf-info position-relative w-100">
                                 {% if block.settings.heading != blank and block.settings.text != blank %}
                                    <div class="mbr-content mr-8">
                                    {{ block.settings.heading | replace: '<p>', '<p class="fs-20">' }}
                                    {{ block.settings.text | replace: '<p>', '<span class="fs-16">' }}
                                 </div>
                                 {% endif %}
                              </div>
                           </div>
                        </div>
                        <div id="advisory-{{ order }}" class="advisory-content collapse">
                           {% if block.settings.sub_text != blank %}
                              <div class="p-10 mt-10 fs-16">
                              {{  block.settings.sub_text | replace: '<p>', ''}}
                           </div>
                           {% endif %}
                        </div>
                     </div>
                  </div>
               {% endif %}
            {% endfor %}
         </div>
         <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4 mt-30">
            <div class="qure-swiper-button-prev qure-swiper-arrow"><i class="fa-regular fa-angle-left"></i>
            </div>
            <div class="swiper-pagination position-relative bottom-0 w-auto"></div>
            <div class="qure-swiper-button-next qure-swiper-arrow"><i class="fa-regular fa-angle-right"></i>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   document.addEventListener("DOMContentLoaded", function () {
      loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
   });
</script>
{% schema %}
{
  "name": "t:sections.our-advisors.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:common.text"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "t:common.accordion",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "t:common.header"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:common.text"
        },
        {
          "type": "richtext",
          "id": "sub_text",
          "label": "t:common.sub-text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.our-advisors.name"
    }
  ]
}
{% endschema %}