{% doc %}
  Renders an app-slider section for new app page.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/app/app.css" />
<div class="section-app qure__section">
    <div class="container">
        <div class="qure__section-header text-md-center mb-30 mb-md-60">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading mb-20">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <div class="qure__section-desc">{{ section.settings.text }}</div>
            {% endif %}
        </div>
        <div class="ctm-width mx-auto app-thumbs-container" style="--ctm-width:665px;">
            <center-slide-thumbs class="qure__center-wrapper">
                <div class="mt-3 mw-mob-100">
                    <!-- Thumbnails start-->
                    <div class="swiper qure_app-imgs" data-loop="false" data-looped-slides="3" data-centered="true"
                        data-slides="3" data-spacing="10" data-pagination=".app-pagination"
                        data-pagination-fraction="true" data-navigation-next=".swiper-next"
                        data-navigation-prev=".swiper-prev" data-thumbs=".qure_thumb-slider" data-desktop="3"
                        data-tablet="3" data-mobile="2">
                        <div class="swiper-wrapper">
                            {% for block in section.blocks %}
                                {% if block.type == 'slider' %}
                                    <div class="swiper-slide">
                                        <div class="app__thumb">
                                            {% if block.settings.image != blank %}
                                                <img src="{{ block.settings.image | image_url }}" class="img-fluid" alt="{{ block.settings.image.alt | escape }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Galler start-->
                <div class="swiper qure_thumb-slider qure__center-gallery" data-slides="1" data-spacing="10"
                    data-freemode="true" data-watch-progress="true" data-desktop="1" data-tablet="1" data-mobile="1">
                    <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                        {% for block in section.blocks %}
                            {% if block.type == 'slider' %}
                                <div class="swiper-slide">
                                    <div class="app__content text-center my-20">
                                        {% if block.settings.heading != blank %}
                                            <h6 class="fs-20 fs-md-24 fm-body fw-500">{{ block.settings.heading }}</h6>
                                        {% endif %}
                                        {% if block.settings.text != blank %}
                                            {{ block.settings.text }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4">
                        <div class="swiper-prev  qure-swiper-arrow"><i class="fa-regular fa-angle-left"></i></div>
                        <div class="app-pagination position-relative bottom-0 w-auto"></div>
                        <div class="swiper-next  qure-swiper-arrow"><i class="fa-regular fa-angle-right"></i></div>
                    </div>
                </div>
                <!-- Galler End-->
            </center-slide-thumbs>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('center-thumbs', 'https://qureskincaredns.com/assets/js/slider-thumb-centerslide.js');
    });
</script>

{% schema %}
{
  "name": "t:sections.new-app-page-app-slider.name",
  "settings": [
   {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
   },
   {
      "type": "text",
      "id": "text",
      "label": "t:common.text"
   }
  ],
  "blocks": [
   {
      "type": "slider",
      "name": "t:common.slider",
      "settings": [
         {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
         },
         {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
         },
         {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
         }
      ]
   }
  ]
}
{% endschema %}