{% doc %}
  Renders a trusted reviews image section for the exclusive holiday bundle page.
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/review-slider/card-slide.css" />
<div id="reviews" class="qure__trusted-reviews qure__section"
    style="--section-padding-top: 80px;--section-padding-bottom: 40px;--section-padding-top-mob: 30px;--section-padding-bottom-mob: 30px;">
    <div class="centered_scale">
        <div class="container">
          <div class="qure__section-header text-center mb-md-20 mb-0">
            <div class="pb-20">
              {% if section.settings.trating_image != blank %}
                <img src="{{ section.settings.trating_image | image_url }}" class="mb-10 ctm-width" style="--ctm-width-mob:116px; --ctm-width:173px;" alt="{{ section.settings.trating_image.alt | escape }}">
              {% endif %}
              {% if section.settings.rating_text != blank %}
                {{ section.settings.rating_text }}
              {% endif %}
            </div>
            {% if section.settings.heading != blank %}
              <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
            {% endif %}
          </div>
        </div>
        <div class="ctm-width d-grid grid_dynamic_cols mx-auto py-25 text-center"
            style="--ctm-width: 875px; --grid-gap:50px; --grid_dynamic_cols_mob:2; --grid-gap-mob:20px;">
            {% for block in section.blocks %}
              {% if block.type == 'image_with_text' %}
                <div>
                  {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}">
                  {% endif %}
                  {% if block.settings.text != blank %}
                    <p class="fs-16">{{ block.settings.text }}</p>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
        </div>

        
        <div class="swiper qure__swiper pt-25" id="qure__swiper-trusted-slider" data-section-id="trusted-slider"
            data-autoplay="false" data-loop="true" data-mobile="1.1" data-tablet="2.5" data-desktop="2.9"
            data-spacing="0" data-spacingmob="0" data-pagination-fraction="true" data-slidecenter="true">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                {% if block.type == 'slider' %}
                  <div class="swiper-slide">
                      <div class="card skin-card">
                        {% if block.settings.image != blank %}
                          <img src="{{ block.settings.image | image_url }}" class="card-img-top" alt="{{ block.settings.image.alt | escape }}">
                        {% endif %}
                      </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4 mt-30">
                <div class="qure-swiper-button-prev qure-swiper-arrow"><i class="fa-regular fa-angle-left"></i>
                </div>
                <div class="swiper-pagination position-relative bottom-0 w-auto"></div>
                <div class="qure-swiper-button-next qure-swiper-arrow"><i class="fa-regular fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('main-slider', 'https://qureskincaredns.com/assets/js/main-slider.js');
    });
</script>


{% schema %}
{
  "name": "t:sections.trusted-reviews-image.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header"
    },
    {
      "type": "richtext",
      "id": "rating_text",
      "label": "t:common.rating-text"
    },
    {
      "type": "image_picker",
      "id": "trating_image",
      "label": "t:common.rating-image"
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "t:common.slider",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.image"
        }
      ]
    },
    {
      "type": "image_with_text",
      "name": "t:common.image-with-text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:common.text"
        }
      ]
    }
  ]
}
{% endschema %}