{% doc %}
  Renders a led mask offer section on page led-mask-offer-2
{% enddoc %}

{% assign mask_handle = 'q-rejuvalight-pro-facewear-3' %}
{% include 'get-product-data', product_handle: mask_handle %}

{% assign neck_handle = 'neck-decolletage-led' %}
{% include 'get-product-data', product_handle: neck_handle %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/led-mask-offer/led-mask-offer.css" />
<div class="qure__featured-product qure__section" id="buy-form">
    <div class="container" style="--column-gap:100px; --column-gap-mobile:30px;">
        <div class="row custom__grid">
            <div class="col-lg-6 custom__block">
                {% render 'product-page-slider', product: blank, page: page, class: 'featured-product-gallery' %}
                {% render 'product-page-collapsed', product: blank, page: page, class: 'mt-15 d-none d-lg-block' %}
            </div>
            <div class="col-lg-6 custom__block">
                <div class="qure-product-details">
                    <div class="qure__product-badge py-5 px-20 mb-15 fw-500">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.limited' | t }}</div>
                    <h2 class="qure__product-title mb-10">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.header' | t }}</h2>
                    <h4 class="qure__product-subtitle">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.subheader' | t }}</h4>
                    <div class="qure__price price--on-sale d-flex flex-wrap align-items-center my-20">
                        <div class="price__regular">$399</div>
                        <div class="price__sale"></div>
                        <div class="qure__product-label price__discount">42% Off</div>
                    </div>
                    <div class="d-flex flex-nowrap align-items-center col-gap ">
                        <div class="icon-with-text d-flex align-items-center gap-2 fs-18">
                            <img src="https://qureskincaredns-main.com/assets/images/check-blue.svg"
                                alt="dermatologist">
                            <span>{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.warranty' | t }} </span>
                        </div>
                        <div class="icon-with-text d-flex align-items-center gap-2 fs-18">
                            <img src="https://qureskincaredns-main.com/assets/images/check-blue.svg" alt="shipping">
                            <span>{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.fda' | t }} </span>
                        </div>
                    </div>
                    <div class="qure__product-short-desc mt-20">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.text' | t }}</div>
                    <div class="subs_wrapper">
                        <div class="border-top my-25"></div>
                        <div class="qure__product-subscription mt-25">
                            <div class="qure__variant-label mb-15">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.included' | t }}</div>
                        </div>
                        <div class="qure__options">
                            <div class="qure__include-opt">
                                <div class="opt--img">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/led-mask-offer/images/q-rejuvalight.webp" alt="" class="img-fluid">
                                </div>
                                <div class="opt--content">
                                    <div class="opt--text">
                                        <div class="opt-title">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.product1-header' | t }}</div>
                                        <div class="opt-desc">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.product1-description' | t }}</div>
                                    </div>
                                    <div class="opt--price text-end">
                                        $399
                                    </div>
                                </div>
                            </div>
                            <div class="qure__include-opt">
                                <div class="opt--img">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/led-mask-offer/images/led-device.webp" alt="" class="img-fluid">
                                </div>
                                <div class="opt--content">
                                    <div class="opt--text">
                                        <div class="opt-title">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.product2-header' | t }}</div>
                                        <div class="opt-desc">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.product2-description' | t }}
                                        </div>
                                    </div>
                                    <div class="opt--price text-end">
                                        <span class="oldPrice">$299</span> <span class="ml-5">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.free' | t }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-top my-25"></div>
                        <div class="d-flex justify-content-between quer__product-subtotal">
                            <span class="instant__saving color-green">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.included' | t }} $299</span>
                            <span class="saving__price"><span class="oldPrice text-decoration-line-through color-charcoal-light mr-5 price__sale"></span> $399</span>
                        </div>
                        <div class="qure__bundle-offer py-15 px-20 mt-20 rounded-10"
                            style="--bg-color: rgba(255, 84, 41, 0.10);">
                            <h6 class="fm-body text-start fw-600 fs-18 mb-0">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.low-stock' | t }}</h6>
                            <span class="fs-16 mb-15 d-inline-block">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.low-stock-text' | t }}</span>
                            <div class="qure__progress bg-white" role="progressbar" aria-label="Basic example"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="qure__progress-bar" style="width: {{ 'sections.page-led-mask-offer-2-led-mask-form.settings.percent' | t }};"></div>
                                <span class="qure__progress-sold">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.percent' | t }} {{ 'sections.page-led-mask-offer-2-led-mask-form.settings.sold' | t }}</span>
                            </div>
                        </div>
                        <div class="qure__shipping-indicator mt-10 fs-16">
                            <span class="pulse pulse-green d-inline-block mr-10 bg-green"></span>
                            <span>{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.order-today' | t }}</span>
                        </div>
                        <div class="qure__product-action-inner mt-30 mb-10 max-w-ctm" style="--max-w-ctm:500px">
                            <form>
                                <button type="submit" class="add-cart-button product-form__submit btn btn--primary w-100 d-flex align-items-center gap-3 justify-content-center">{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.button-label' | t }}<i class="fa-regular fa-arrow-right-long "></i></button>
                            </form>
                        </div>
                        <div class="d-flex flex-nowrap align-items-center justify-content-center col-gap">
                            <div
                                class="icon-with-text d-flex flex-nowrap flex-row align-items-center fs-16 text-center text-lg-start">
                                <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/one-year-guarantee.svg" alt="dermatologist" class="mr-5">
                                <span>{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.guarantee-text' | t }}  </span>
                            </div>
                            <div
                                class="icon-with-text d-flex flex-nowrap flex-row align-items-center fs-16 text-center text-lg-start">
                                <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/shipping.svg" alt="shipping" class="mr-5">
                                <span>{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.shipping-text' | t }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% render 'product-page-collapsed', product: blank, page: page, class: 'mt-25 d-block d-lg-none' %}
            </div>
        </div>
    </div>
</div>
<script>

    const mask = window.get_products_data["{{ mask_handle }}"];
    const neck = window.get_products_data["{{ neck_handle }}"];

    const discount_text = '{{ 'sections.page-led-mask-offer-2-led-mask-form.settings.discount-text' | t }}';

    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('page-led-mask-offer-2-led-mask-form', 'https://qureskincaredns-main.com/assets/shopify/js/page-led-mask-offer-2-led-mask-form.js');
    });
</script>

{% schema %}
{
  "name": "t:sections.led-mask-offer.name"
}
{% endschema %}