{% doc %}
  Renders a proof in numbers section on page led-mask-offer-2
{% enddoc %}


<div class="qure__section number-proof"
    style="--section-padding-top: 40px;--section-padding-bottom:40px;--section-padding-top-mob: 30px;--section-padding-bottom-mob:30px;">
    <div class="container" style="--column-gap:80px; --column-gap-mobile:30px;">
        <div class="row align-items-center custom__grid">
            <div class="col-md-6 custom__block">
                {% if section.settings.heading != blank %}
                    <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                    <div class="qure__section-desc mt-20 my-md-30">{{ section.settings.text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                {% endif %}
                {% if section.settings.button_label != blank and section.settings.button_url != blank %}
                    <a href="{{ section.settings.button_url }}" class="btn btn--light fs-16 p-16 d-none d-md-inline-block" data-bs-toggle="modal" data-bs-target="#clinical__trials"><i class="fa-solid fa-circle-exclamation color-ice mr-5"></i>
                    <span class="text-decoration-underline">{{ section.settings.button_label }}</span></a>
                {% endif %}
                <!-- modal start -->
                <div class="modal fade qure__tab-popup" id="clinical__trials" data-bs-backdrop="static"
                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="clinical__trialsLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered filter-dialog pb-md-0 p-15"
                        style="--bs-modal-width:1040px">
                        <div class="modal-content bg-white">
                            <button type="button" class="btn btn-close bg-transparent border-0 btn btn-close text-black p-0" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fs-30"></i></button>
                            <ul class="nav qure__nav-tabs" id="myTab" role="tablist">
                                {% for block in section.blocks %}
                                    {% if block.type == 'slider' %}
                                        <li class="qure__nav-item" role="presentation">
                                            <button class="qure__nav-link {% if forloop.first %} active {% endif %}" id="{% if forloop.first %}ing-dark_spots{% else %}studies{% endif %}" data-bs-toggle="tab"
                                                data-bs-target="#study_{{ forloop.index }}" type="button" role="tab" aria-controls="study_{{ forloop.index }}"
                                                aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ 'sections.proof-in-numbers.study_text' | t}} {{ forloop.index }}</button>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="tab-content pt-25 " id="myTabContent">
                                {% for block in section.blocks %}
                                    {% if block.type == 'slider' %}
                                        <div class="tab-pane qure__tab-panel{% if forloop.first %} fade show active{% endif %}" id="study_{{ forloop.index }}" role="tabpanel" aria-labelledby="{% if forloop.first %}ing-dark_spots{% else %}studies{% endif %}" tabindex="0">
                                            {% if block.settings.button_label != blank %}
                                                <span class="qure__tab-badge mb-20">{{ block.settings.button_label }}</span>
                                            {% endif %}
                                            {% if block.settings.heading != blank %}
                                                <div class="d-inline-block">{{ block.settings.heading }}</div>
                                            {% endif %}
                                            <div class="border-top my-15"></div>
                                            {% if block.settings.text != blank %}
                                                <div class="">{{ block.settings.text | replace: '<p>[info]', '<div class="fs-14">' | replace: '[/info]</p>', '</div>' }}</div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal end-->
            </div>
            <div class="col-md-6 custom__block">
                <div class="row custom__grid" style="--column-gap:20px; --column-gap-mobile:18px;">
                    {% for block in section.blocks %}
                        {% if block.type == 'text_with_progress' %}
                            <div class="col-12 custom__block">
                                <div class="align-items-center d-flex gap-2 text-start text-with-progress">
                                    <div class="text-progress-circle position-relative d-inline-flex fw-600 fs-20">
                                        {% assign percent_str = block.settings.percent_value %}
                                        {% assign percent_num = percent_str | remove: "%" | plus: 0 %}
                                        {% assign dashoffset = 100 | minus: percent_num %}
                                        <svg class="vMQQx" height="83" width="83" viewBox="-29 -29 58 58">
                                            <defs>
                                                <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                    <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                    <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                </linearGradient>
                                            </defs>
                                            <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100" class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                            <circle visibility="visible" fill="none" pathLength="100" transform="rotate(-90)"
                                                class="OKwUu" r="24" stroke="url(#gradient)"
                                                style="stroke-dasharray: 100; stroke-dashoffset: {{ dashoffset }}; stroke-width: 5px;">
                                            </circle>
                                        </svg>
                                        {% if block.settings.percent_value != blank %}
                                            <span>{{ block.settings.percent_value }}</span>
                                        {% endif %}
                                    </div>
                                    {% if block.settings.text != blank %}
                                        {{ block.settings.text }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="text-center mt-30">
                    {% if section.settings.button_url != blank and section.settings.button_label != blank %}
                        <a href="{{ section.settings.button_url }}" class="btn btn--light fs-16 p-16 d-inline-block d-md-none"><i class="fa-solid fa-circle-exclamation color-ice mr-5"></i> <span class="text-decoration-underline">{{ section.settings.button_label }}</span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "t:sections.proof-in-numbers.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    }
  ],
  "blocks": [
    {
        "type": "text_with_progress",
        "name": "t:common.text-with-progress",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "text",
                "id": "percent_value",
                "label": "t:common.percent-value"
            }
        ]
    },
    {
        "type": "slider",
        "name": "t:common.slider",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "t:common.button-label"
            }
        ]
    }
  ]
}
{% endschema %}