{% doc %}
  Renders a qure-filters form
{% enddoc %}

{% assign shower_filter_handle = 'shower-filter' %}
{% include 'get-product-data', product_handle: shower_filter_handle %}

{% assign faucet_filter_handle = 'faucet-filter' %}
{% include 'get-product-data', product_handle: faucet_filter_handle %}


<!-- Product section -->
<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/clean-water/product.css" />
<div id="buy-form" class="qure__featured-product qure__section">
    <div class="container" style="--column-gap:100px; --column-gap-mobile:30px;">
        <div class="row custom__grid">
            <div class="col-lg-6 custom__block">
                {% render 'product-page-slider', product: blank, page: page, class: 'featured-product-gallery', element_id: 'page-qure-filters-offer-form-slider' %}
                {% render 'product-page-collapsed', product: blank, page: page, class: 'mt-15 d-none d-lg-block' %}
            </div>
            <div class="col-lg-6 custom__block">
                <div class="qure-product-details">
                    <div class="qure__product-badge py-5 px-20 mb-15 fw-500">{{ 'sections.page-qure-filters-offer-form.settings.limited' | t }}</div>
                    <h2 class="qure__product-title mb-10">{{ 'sections.page-qure-filters-offer-form.settings.header' | t }}</h2>
                    <h4 class="qure__product-subtitle">{{ 'sections.page-qure-filters-offer-form.settings.subheader' | t }}</h4>
                    <div class="qure__price price--on-sale d-flex flex-wrap align-items-center my-20">
                        <div class="price__regular"></div>
                        <div class="price__sale"></div>
                        <div class="qure__product-label">50% {{ 'sections.page-qure-filters-offer-form.settings.discount_text' | t }}</div>
                    </div>
                    <div class="d-flex flex-nowrap align-items-center col-gap ">
                        <div class="icon-with-text d-flex align-items-center gap-2 fs-18">
                            <img src="https://qureskincaredns-main.com/assets/images/check-blue.svg" alt="dermatologist">
                            <span>{{ 'sections.page-qure-filters-offer-form.settings.warranty' | t }} </span>
                        </div>
                        <div class="icon-with-text d-flex align-items-center gap-2 fs-18">
                            <img src="https://qureskincaredns-main.com/assets/images/check-blue.svg" alt="shipping">
                            <span>{{ 'sections.page-qure-filters-offer-form.settings.compatibility' | t }} </span>
                        </div>
                    </div>
                    <div class="qure__product-short-desc mt-20">
                        {{ 'sections.page-qure-filters-offer-form.settings.text' | t }}
                    </div>
                    <div class="subs_wrapper mw" style="--mw:450px">
                        <div class="border-top max-w-450 my-25"></div>
                        <div class="qure__product-variants max-w-450">
                            <div class="qure__variant-label mb-15">{{ 'sections.page-qure-filters-offer-form.settings.select_color' | t }}</div>
                            <div class="d-flex col-gap" style="--col-gap:12px">
                                <div class="qure__variant-item planBlock">
                                    <input type="radio" name="color" class="variant__input" id="white" checked />
                                    <label for="white" class="qure__variant-box">
                                        <div class="qv-frame">
                                            <div class="qv-frame-inner">
                                                <img class="qv-img"
                                                    src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_filter_white.webp" />
                                                <div class="list-icons"><i class="fa-sharp fa-solid fa-plus"></i></div>
                                                <img class="qv-img"
                                                    src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/faucet_filter_white.webp" />
                                            </div>
                                            <div class="free">
                                                <div class="text-wrapper">{{ 'sections.page-qure-filters-offer-form.settings.free' | t }}</div>
                                            </div>
                                        </div>
                                        <div class="div">{{ 'sections.page-qure-filters-offer-form.settings.white' | t }}</div>
                                    </label>
                                </div>
                                <div class="qure__variant-item planBlock">
                                    <input id="black" type="radio" name="color" class="variant__input" id="black" />
                                    <label for="black" class="qure__variant-box">
                                        <div class="qv-frame">
                                            <div class="qv-frame-inner">
                                                <img class="qv-img"
                                                    src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_filter_black.webp" />
                                                <div class="list-icons"><i class="fa-sharp fa-solid fa-plus"></i></div>
                                                <img class="qv-img"
                                                    src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/faucet_filter_black.webp" />
                                            </div>
                                            <div class="free">
                                                <div class="text-wrapper">{{ 'sections.page-qure-filters-offer-form.settings.free' | t }}</div>
                                            </div>
                                        </div>
                                        <div class="div">{{ 'sections.page-qure-filters-offer-form.settings.black' | t }}</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="qure__product-subscription mt-25">
                            <div class="qure__variant-label mb-15">{{ 'sections.page-qure-filters-offer-form.settings.delivery' | t }}</div>
                        </div>
                        <div class="qure__subscription max-w-450" id="qure__subscription">

                            <div class="qure__subscription-item save-subscription position-relative">
                                <div class="qure__best-value">{{ 'sections.page-qure-filters-offer-form.settings.best_value' | t }}<i
                                        class="fa-sharp fa-solid fa-star-sharp fs-10 ml-5"></i></div>
                                <button class="qure__subscription-btn" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#subscribe_and_save" aria-expanded="true"
                                    aria-controls="subscribe_and_save">
                                    <div class="qure__sbs-label d-flex align-items-center gap-4">{{ 'sections.page-qure-filters-offer-form.settings.subscribe_and_save_html' | t }}</div>
                                    <div class="qure__price price--on-sale d-flex flex-wrap align-items-center">
                                        <div class="price__regular fs-18"></div>
                                        <div class="price__sale mr-0 fs-18"></div>
                                    </div>
                                </button>
                                <div id="subscribe_and_save" class="qure__subscription-collapse collapse show"
                                    data-bs-parent="#qure__subscription">
                                    <div class="qure__subscription-body">
                                        <div class="border-top mb-5"></div>
                                        <div
                                            class="subscription-item-row d-flex align-items-center gap-4 justify-content-between py-5 fs-16">
                                            <div class="subscription-item-title">
                                                <div class="div">{{ 'sections.page-qure-filters-offer-form.settings.shower_filter_title' | t }}</div>
                                            </div>
                                            <div class="subscription-item-price price__subscription"></div>
                                        </div>
                                        <div
                                            class="subscription-item-row d-flex align-items-center gap-4 justify-content-between py-5 fs-16">
                                            <div class="subscription-item-title">
                                                <div class="div">{{ 'sections.page-qure-filters-offer-form.settings.faucet_filter_title' | t }}</div>
                                            </div>
                                            <div class="subscription-item-price d-flex align-items-center gap-3">
                                                <div class="subscription-free">{{ 'sections.page-qure-filters-offer-form.settings.free' | t }}</div>
                                                <span class="text-decoration-line-through price_faucet__regular" style="color: #8B8C8E;"></span>
                                            </div>
                                        </div>
                                        <div class="border-top mt-5"></div>
                                        <div class="fs-16 mt-10"> {{ 'sections.page-qure-filters-offer-form.settings.delivery_terms' | t }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="qure__subscription-item one_time_purchase">
                                <button class="qure__subscription-btn" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#one_time_purchase" aria-expanded="true"
                                    aria-controls="one_time_purchase" data-btnLabel="Buy Now & Save 35%">
                                    <div class="qure__sbs-label d-flex align-items-center gap-4">{{ 'sections.page-qure-filters-offer-form.settings.one_time_purchase_html' | t }}</div>
                                    <div
                                        class="qure__price price--on-sale d-flex flex-wrap align-items-end flex-column text-right">
                                        <div class="price__regular fs-18"></div>
                                        <div class="price__sale mr-0 fs-18"></div>
                                    </div>
                                </button>
                                <div id="one_time_purchase" class="qure__subscription-collapse collapse"
                                    data-bs-parent="#qure__subscription">
                                    <div class="qure__subscription-body">
                                        <div class="border-top mb-5"></div>
                                        <div
                                            class="subscription-item-row d-flex align-items-center gap-4 justify-content-between py-5 fs-16">
                                            <div class="subscription-item-title">
                                                <div class="div">{{ 'sections.page-qure-filters-offer-form.settings.shower_filter_title' | t }}</div>
                                            </div>
                                            <div class="subscription-item-price price__subscription"></div>
                                        </div>
                                        <div
                                            class="subscription-item-row d-flex align-items-center gap-4 justify-content-between py-5 fs-16">
                                            <div class="subscription-item-title">
                                                <div class="div">{{ 'sections.page-qure-filters-offer-form.settings.faucet_filter_title' | t }}</div>
                                            </div>
                                            <div class="subscription-item-price d-flex align-items-center gap-3">
                                                <div class="subscription-free">{{ 'sections.page-qure-filters-offer-form.settings.free' | t }}</div>
                                                <span class="price_faucet__regular"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qure__product-action-inner mt-25 mb-10">
                                <form data-static="true">
                                    <button type="submit" class="btn btn--primary w-100">{{ 'sections.page-qure-filters-offer-form.settings.button_label_save' | t }} 50%</button>
                                </form>
                            </div>
                        </div>
                        <div class="fs-16 text-center">
                            {{ 'sections.page-qure-filters-offer-form.settings.more_details_html' | t }}
                        </div>
                        <div class="text-center my-10 d-none">
                            <div class="shield-icon"><i class="icon qure-shield-check"></i></div>
                        </div>
                        <div class="fs-16 text-center d-none">
                            {{ 'sections.page-qure-filters-offer-form.settings.waranty_html' | t }}
                        </div>
                        <div class="d-none d-md-flex justify-content-between mx-auto pt-10 mw" style="--mw:402px">
                            <div class="Dermatologist_Reviewed d-flex align-items-center gap-2">
                                <img src="https://qureskincaredns-main.com/assets/images/derm_review.svg" alt="">
                                <p class="fs-14 fw-400">{{ 'sections.page-qure-filters-offer-form.settings.dermatologist' | t }} </p>
                            </div>
                            <div class="shipping_with_text d-flex align-items-center gap-2">
                                <img src="https://qureskincaredns-main.com/assets/images/shipping_qure.svg" alt="">
                                <p class="fs-14 fw-400">{{ 'sections.page-qure-filters-offer-form.settings.shipping' | t }}</p>
                            </div>
                        </div>

                        <div class="ser_icons d-md-none mt-25 mb-10">
                            <div class="Dermatologist_Reviewed ">
                                <img src="https://qureskincaredns-main.com/assets/images/derm_review.svg" alt="">
                                <p class="fs-14 fw-400">{{ 'sections.page-qure-filters-offer-form.settings.dermatologist' | t }} </p>
                            </div>
                            <div class="shipping_with_text">
                                <img src="https://qureskincaredns-main.com/assets/images/shipping_qure.svg" alt="">
                                <p class="fs-14 fw-400">{{ 'sections.page-qure-filters-offer-form.settings.shipping' | t }}</p>
                            </div>
                            <div class="backed_by_science">
                                <img src="https://qureskincaredns-main.com/assets/images/backed_by_science_new.svg"
                                    alt="">
                                <p class="fs-14 fw-400">{{ 'sections.page-qure-filters-offer-form.settings.science' | t }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% render 'product-page-collapsed', product: blank, page: page, class: 'mt-25 d-block d-lg-none' %}
            </div>
        </div>
    </div>
</div>
<!-- Product section end -->

{% capture button_text_subscribe %}{{ 'sections.page-qure-filters-offer-form.settings.button_label_save' | t }}{% endcapture %}

<script>
    const shower_selling_plan = 7175078127;
    const faucet_selling_plan = 7176421615;
    const discount_text = '{{ 'sections.page-qure-filters-offer-form.settings.discount_text' | t }}';
    const button_text = '{{ 'sections.page-qure-filters-offer-form.settings.button_label' | t }}';
    const button_text_subscribe = '{{ button_text_subscribe |  replace:  '&amp;', '&' }}';

    const shower = window.get_products_data["{{ shower_filter_handle }}"];
    const faucet = window.get_products_data["{{ faucet_filter_handle }}"];

    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('page-qure-filters-form', 'https://qureskincaredns-main.com/assets/shopify/js/page-qure-filters-offer-form.js');
    });
</script>