{% doc %}
  Renders a expert advisory product section for exclusive holiday bundle deal page.
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/board-advisory/board-advisory.css" />
<div class="qure__section "
    style="--section-padding-top: 40px;--section-padding-bottom: 80px;--section-padding-top-mob: 50px;--section-padding-bottom-mob: 30px;">
    <div class="container">
        <div class="qure__section-header text-center mb-30 mb-md-60 ctm-width mx-auto" style="--ctm-width: 800px;">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading mb-20 mb-md-24">{{ section.settings.heading }}</h2>
            {% endif %}
        </div>
    </div>
    <div class="container" id="bundle_prd-tab" role="tablist">
        <div class="qure__swiper-wrapper">
            <div class="mt-3 board-advisory-thumbs">
                <!-- Thumbnails start-->
                <div class="swiper qure__product-gallery tp-thumbnails-desktop qure__swiper-gallery-thumbnails"
                    data-section-id="tp-thumbnails-desktop" data-mobile="1.2" data-tablet="2" data-desktop="4"
                    data-autoplay="false" data-loop="false" data-spacing="20" data-pagination=".my-pagination"
                    data-pagination-fraction="true">
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                            {% if block.type == 'accordion' %}
                                <div class="swiper-slide">
                                    <div class="advisory__board" role="presentation">
                                        <div class="advisory__member position-relative rounded-10 overflow-hidden nav-link{% if forloop.index == 1 %} active{% endif %}"
                                            type="button" id="{{ forloop.index }}" data-bs-toggle="pill"
                                            data-bs-target="#content_{{ forloop.index }}" type="button" role="tab"
                                            aria-controls="content_{{ forloop.index }}" aria-selected="{% if forloop.index == 1 %}true{% else %}false{% endif %}">
                                            {% if block.settings.accordion_image %}
                                                <img src="{{ block.settings.accordion_image | image_url }}" alt="{{ block.settings.accordion_image.alt | escape }}" class="img-fluid w-100" />
                                            {% endif %}
                                            <div
                                                class="advisory__mbr-info position-absolute inset-0 d-flex align-items-end p-20 text-white">
                                                <div class="align-items-end d-flex justify-content-between mbf-info position-relative w-100">
                                                    <div class="mbr-content mr-8">
                                                        {% if block.settings.doctor_name != blank %}
                                                            <p class="fs-20">{{ block.settings.doctor_name }}</p>
                                                        {% endif %}
                                                        {% if block.settings.doctor_position != blank %}
                                                            <span class="fs-16">{{ block.settings.doctor_position }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Galler start-->
            <div class="swiper qure__product-gallery qure__swiper-gallery ctm_cls_press_slider mt-40"
                data-section-id="tp-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4"
                data-autoplay="false" data-loop="true" data-spacing="0" data-pagination-fraction="true">
                <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                    {% for block in section.blocks %}
                        {% if block.type == 'items' %}
                            <div class="swiper-slide">
                                <div class="row custom__grid" style="--column-gap:60px; --column-gap-mobile:32px;">
                                    <div class="col-md-7 custom__block">
                                        {% if block.settings.heading != blank %}
                                            <h5 class="fm-body fw-500 m-0">{{ block.settings.heading }}</h5>
                                        {% endif %}
                                        {% if block.settings.text != blank %}
                                            {{ block.settings.text | replace: '<p>', '<p class="my-20">' | replace: '<ul>', '<ul class="qure__list-check">' }}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-5 custom__block">
                                        {% if block.settings.link_url_1 != blank %}
                                            <a href="{{ block.settings.link_url_1 }}" class="product-with-link">
                                                <div class="overflow-hidden pwl-img rounded-10">
                                                    {% if block.settings.image_1 != blank %}
                                                        <img src="{{ block.settings.image_1 | image_url }}" alt="{{ block.settings.image_1.alt | escape }}" class="img-fluid" />
                                                    {% endif %}
                                                </div>
                                                <div class="pwl-content">
                                                    {% if block.settings.product_1 != blank %}
                                                        <span class="fs-20 fw-500">{{ block.settings.product_1 }}</span>
                                                    {% endif %}
                                                    <span class="d-block btn btn-reset btn--link">{{ 'sections.expert-advisory.shop_now_text' | t }}</span>
                                                </div>
                                            </a>
                                        {% endif %}
                                        {% if block.settings.link_url_2 %}
                                            <a href="{{ block.settings.link_url_2 }}" class="product-with-link">
                                                <div class="overflow-hidden pwl-img rounded-10">
                                                    {% if block.settings.image_2 != blank %}
                                                        <img src="{{ block.settings.image_2 | image_url }}" alt="{{ block.settings.image_2.alt | escape }}" class="img-fluid" />
                                                    {% endif %}
                                                </div>
                                                <div class="pwl-content">
                                                    {% if block.settings.product_2 != blank %}
                                                        <span class="fs-20 fw-500">{{ block.settings.product_2 }}</span>
                                                    {% endif %}
                                                    <span class="d-block btn btn-reset btn--link">{{ 'sections.expert-advisory.shop_now_text' | t }}</span>
                                                </div>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div
                    class="swiper-arrows-with-pagination d-flex d-md-none align-items-center justify-content-center gap-4 mt-30">
                    <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
                    <div class="my-pagination position-relative bottom-0 w-auto"></div>
                    <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
                </div>
            </div>
            <!-- Galler End-->
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('slider-script', 'https://qureskincaredns-main.com/assets/js/slider-with-thumb.js');
    });
</script>


{% schema %}
{
  "name": "t:sections.expert-advisory-product.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "t:common.accordion",
      "settings": [
        {
          "type": "text",
          "id": "doctor_name",
          "label": "t:sections.expert-advisory-product.blocks.doctor-name"
        },
        {
          "type": "text",
          "id": "doctor_position",
          "label": "t:sections.expert-advisory-product.blocks.doctor-position"
        },
        {
            "type": "image_picker",
            "id": "accordion_image",
            "label": "t:common.accordion-image"
        },
      ]
    },
    {
        "type": "items",
        "name": "t:common.items",
        "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "text",
            "id": "product_1",
            "label": "t:common.product"
        },
        {
            "type": "url",
            "id": "link_url_1",
            "label": "t:common.link-url"
        },
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "t:common.image"
        },
        {
            "type": "text",
            "id": "product_2",
            "label": "t:common.product"
        },
        {
            "type": "url",
            "id": "link_url_2",
            "label": "t:common.link-url"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "t:common.image"
        }
      ]
    }
  ]
}
{% endschema %}