{% doc %}
  Renders a product-info section.
{% enddoc %}

<link href="https://qureskincaredns.com/cassets/css/popup-modal.css" rel="stylesheet">
<div id="ingredients" class="hypo_acid qure__section"
        style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="hypo_acid_img">
                        {% if section.settings.image != blank %}
                            <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" class="img-fluid d-none d-md-block">
                        {% endif %}
                        {% if section.settings.image_mobile != blank %}
                            <img src="{{ section.settings.image_mobile | image_url }}" alt="{{ section.settings.image_mobile.alt | escape }}" class="img-fluid d-md-none">
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-7 d-flex justify-content-center align-items-center pt-30 pt-md-0">
                    <div class="hypo_acid_content pl-md-40">
                        {% if section.settings.heading  != blank %}
                            <h2 class="qure__section-heading text-md-start pb-20">{{ section.settings.heading }}</h2>
                        {% endif %}
                        {% if section.settings.text != blank %}
                            {{ section.settings.text | replace: '<strong>', '<span style="background: #C7E5DB;">' | replace: '</strong>' , '</span>' }}
                        {% endif %}
                        <!-- popup modal  -->
                        <div class="ctm_modal_derm_mist">
                            <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered" style="--bs-modal-width: 1150px;">
                                    <div class="modal-content p-30 pt-5 pr-5 rounded-0">
                                        <div class="modal-header border-0 p-0">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                                        </div>
                                        <div class="modal-body p-0">
                                            {% if section.settings.popup_heading != blank %}
                                                <h5 class="modal-title fs-16 fw-600 fm-body mb-4" id="exampleModalToggleLabel">{{ section.settings.popup_heading }}</h5>
                                            {% endif %}
                                           {% if section.settings.popup_text != blank %}
                                                {{ section.settings.popup_text 
                                                | replace: '<strong>', '<p class="fs-16 fw-400 fm-body">' 
                                                | replace: '</strong>', '</p>'
                                                }}
                                           {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if section.settings.button_url != blank and section.settings.button_label != blank %}
                            <a class="btn color-background text-black border-0 fs-18 fw-500 btn-center-mob mt-20" data-bs-toggle="modal" href="{{ section.settings.button_url }}" role="button">{{ section.settings.button_label }}</a>
                        {% endif %}
                        <!-- popup modal end  -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% schema %}
{
  "name": "t:sections.product-info-popup.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:common.text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:common.image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:common.image-mobile"
    },
    {
        "type": "text",
        "id": "popup_heading",
        "label": "t:common.popup-header"
    },
    {
        "type": "richtext",
        "id": "popup_text",
        "label": "t:common.popup-text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:common.button-label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:common.button-url"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-info-popup.name"
    }
  ]
}
{% endschema %}