{% doc %}
    Renders a numbered steps section for sunil chest pdp page.
{% enddoc %}

<div id="treat_aging" class="treat_signs_of_aging qure__section"
    style="--section-padding-top: 40px; --section-padding-bottom: 40px; --section-padding-top-mob: 30px; --section-padding-bottom-mob: 30px;">
    <div class="container" style="--column-gap:40px; --column-gap-mobile:24px;">
        {% if section.settings.heading != blank %}
            <h2 class="qure__section-heading mb-md-50 mb-30 text-md-center">{{ section.settings.heading }}</h2>
        {% endif %}
        <div class="row custom__grid">
            {% for block in section.blocks %}
                {% if block.type == 'items' %}
                    <div class="col-md-6 col-lg-4 custom__block">
                        <div class="qe__card-block d-flex flex-nowrap flex-md-wrap" style="--bs-border-radius:10px">
                            <div class="img_with-number mb-md-24 overflow-hidden position-relative" data-number="{{ forloop.index }}">
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid rounded-2 d-none d-lg-block">
                                {% endif %}
                                {% if block.settings.image_mobile != blank %}
                                    <img src="{{ block.settings.image_mobile | image_url }}" alt="{{ block.settings.image_mobile.alt | escape }}" class="img-fluid rounded-2 d-block d-lg-none">
                                {% endif %}
                            </div>
                            <div class="qe__content">
                                {% if block.settings.heading != blank %}
                                    <h3 class="fs-20 fw-600 fm-body mb-10">{{ block.settings.heading }}</h3>
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    <div class="fs-16">{{ block.settings.text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
    "name": "t:sections.numbered-steps.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    }
    ],
    "blocks": [
    {
        "type": "items",
        "name": "t:common.items",
        "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "t:common.image-mobile"
        }
        ]
    }
    ]
}
{% endschema %}