<!-- you may also like start -->
<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/top-products/products-card.css" />
<div class="qure__also-reviews qure__section"
    style="--section-padding-top: 40px;--section-padding-bottom: 40px;--section-padding-top-mob: 40px;--section-padding-bottom-mob: 40px;">
    <div class="container offset-container-mobile">
        <div class="qure__section-header text-center mb-30 mb-md-60">
            <h2 class="qure__section-heading">{{ 'product.settings.you-may-also-like.header' | t }}</h2>
        </div>
        <div class="swiper qure__swiper" id="qure__swiper-also-slider" data-section-id="also-slider"
            data-autoplay="false" data-loop="false" data-mobile="1.2" data-tablet="2" data-desktop="4" data-spacing="30"
            data-pagination-fraction="true" data-arrowleft="also-slider-arrow-left"
            data-arrowright="also-slider-arrow-right">
            <div class="swiper-wrapper">
                {% assign products_count = collections['upsell-bundle'].products.size %}

                {% assign time_seed = 'now' | date: '%s' %}
                {% assign random1 = time_seed | modulo: products_count %}
                {% assign random2 = time_seed | plus: 1 | modulo: products_count %}
                {% assign random3 = time_seed | plus: 2 | modulo: products_count %}
                {% assign random4 = time_seed | plus: 3 | modulo: products_count %}

                {% assign random_indices = random1 | append: ',' | append: random2 | append: ',' | append: random3 | append: ',' | append: random4 %}
                {% assign indices_array = random_indices | split: ',' %}

                {% for index in indices_array %}
                    {% assign product = collections['upsell-bundle'].products[index] %}
                    {% include 'get-product-data', product_handle: product.handle, product_prefix: 'you-may-also-like-' %}

                    {% if product_handle contains 'micro-infusion' %}
                        {% assign product_url = '/pages/microinfusion' %}
                    {% endif %}

                    <div class="swiper-slide">
                        <div class="qure__product-item">
                            <a href="{{ product_url }}" aria-label="{{ product_title }}" class="qure__product-img overflow-hidden position-relative d-block">
                                {% for media in product_media limit:2 %}
                                    <div class="{% if forloop.index == 1 %}qure__product-main-img{% else %}qure__product-hover-img position-absolute inset-0{% endif %}">
                                        <img src="{{ media | image_url: width: 400, height: 400, crop: 'center' }}" alt="{{ product_title | escape }}" />
                                    </div>
                                {% endfor %}

                                {% for tag in product_tags %}
                                    {% if tag contains 'Best Seller' %}
                                        <div class="badge rounded-pill badge-bestseller">{{ 'sections.collection.bestseller' | t }}</div>
                                    {% elsif tag contains 'Trending' %}
                                        <div class="badge rounded-pill badge-bestseller">{{ 'sections.collection.trending' | t }}</div>
                                    {% endif %}
                                {% endfor %}
                            </a>
                            <div class="qure__product-details pt-15">

                                {% render 'collection-product-rating', product: product %}
                                
                                <h3 class="fm-body mb-0 qure__product-name mt-10">
                                    <a class="limited-line capitalize d-block" href="{{ product_url }}" aria-label="{{ product_title }}">{{ product_title }}</a>
                                </h3>

                                <div class="qure__product-price mt-10 igPrice">{{ product_sale_price }}</div>

                                {% render 'product-page-buy-button', product_price: null, product_variant_id: product_variant_id, section: blank %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4 mt-30">
                <div class="qure-swiper-button-prev qure-swiper-arrow also-slider-arrow-left"><i class="fa-regular fa-angle-left"></i>
                </div>
                <div class="swiper-pagination position-relative bottom-0 w-auto"></div>
                <div class="qure-swiper-button-next qure-swiper-arrow also-slider-arrow-right"><i class="fa-regular fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('main-slider', 'https://qureskincaredns.com/assets/js/main-slider.js');
    });
</script>
<!-- you may also like end -->