{% include 'get-product-data' %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/product-bundle/product-bundle.css" />
<div class="qure__trageted-patches qure__section"
    style="--section-padding-top: 40px; --section-padding-bottom: 80px;">
    <div class="container" style="--column-gap:80px; --column-gap-mobile:30px;">
        <div class="row custom__grid">
            <div class="col-lg-6 custom__block">
                <div class="qure-product-details mw" style="--mw:500px;">
                    <slide-with-thumbs class="tp-product-gallery qure__swiper-wrapper d-block d-lg-none mb-30">
                        <!-- Galler start-->
                        <div class="swiper qure__product-gallery qure__swiper-gallery" data-section-id="tp-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="0">
                            <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                                {% render 'product-media', product_media: product.media, classname: 'slide-image', size: '720x' %}
                            </div>
                        </div>
                        <!-- Galler End-->
                        <div class="swiper-thumbnail-with-arrow mt-3">
                            <!-- Thumbnails start-->
                            <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i>
                            </div>
                            <div class="swiper qure__product-gallery  tp-thumbnails-desktop qure__swiper-gallery-thumbnails" data-section-id="tp-thumbnails-desktop" data-mobile="3" data-tablet="4" data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="10">
                                <div class="swiper-wrapper">
                                    {% render 'product-media', product_media: product.media, classname: 'slide-thumbnail', size: '240x' %}
                                </div>
                            </div>
                            <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i>
                            </div>
                        </div>
                        <!-- Thumbnails End-->
                    </slide-with-thumbs>

                    {% render 'product-rating' %}

                    <h2 class="qure__product-title mb-10">{{ product_title }}</h2>
                    <div class="patch__single-shortdes mt-25 mb-25">
                        <p>{{ product_description }}</p>
                    </div>

                    <div class="bundle_price d-flex align-items-center justify-content-start gap-3 my-3 pb-2">
                        <div class="bef_price text-decoration-line-through">{{ product_before_price }}</div>
                        <div class="aft_price clr_orange">{{ product_sale_price }}</div>
                        <div class="discount_percentage">{{ product_discount }}%</div>
                    </div>

                    {% render 'product-buy-button', product_price: product_sale_price, product_variant_id: product_variant_id %}
                    {% render 'product-buy-button-bottom', product_price_divided: product_price_divided, button_link: 'https://qureskincare.com/pages/derm-reviews' %}
                    {% render 'product-saveup', button_link: 'https://qureskincare.com/pages/exclusive-holiday-bundle-deal-new' %}
                </div>
            </div>
            <div class="col-lg-6 custom__block">
                <slide-with-thumbs class="tp-product-gallery qure__swiper-wrapper d-none d-lg-block">
                    <!-- Galler start-->
                    <div class="swiper qure__product-gallery qure__swiper-gallery"
                        data-section-id="tp-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4"
                        data-autoplay="false" data-loop="false" data-spacing="0">
                        <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                            {% render 'product-media', product_media: product.media, classname: 'slide-image', size: '720x' %}
                        </div>
                    </div>
                    <!-- Galler End-->
                    <div class="swiper-thumbnail-with-arrow mt-3">
                        <!-- Thumbnails start-->
                        <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
                        <div class="swiper qure__product-gallery  tp-thumbnails-desktop qure__swiper-gallery-thumbnails"
                            data-section-id="tp-thumbnails-desktop" data-mobile="3" data-tablet="4" data-desktop="4"
                            data-autoplay="false" data-loop="false" data-spacing="10">
                            <div class="swiper-wrapper">
                                {% render 'product-media', product_media: product.media, classname: 'slide-thumbnail', size: '240x' %}
                            </div>
                        </div>
                        <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
                    </div>
                    <!-- Thumbnails End-->
                </slide-with-thumbs>

                {% render 'product-benefits-list' %}

                <div class="accordion accordion-flush mt-15 tp-product-accordion" id="tp-product-qure">
                    {% if product.metafields.custom.what_s_included != blank %}
                        {% render 'product-collapsed-item' input: product.metafields.custom.key_benefits, index: 'first', title: 'Key Benefits' %}
                    {% endif %}
                    {% if product.metafields.custom.how_it_works != blank %}
                        {% render 'product-collapsed-item' input: product.metafields.custom.how_it_works, index: 'second', title: 'How It Works' %}
                    {% endif %}
                    {% if product.metafields.custom.key_benefits != blank %}
                        {% render 'product-collapsed-item' input: product.metafields.custom.what_s_included, index: 'third', title: 'What’s Included' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('slider-with-thumb', 'https://qureskincaredns-main.com/assets/js/slider-with-thumb.js');
    });
</script>