{% doc %}
  Renders a product header section
{% enddoc %}

{% include 'get-product-data' %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/targeted-patches/section-targeted-patches.css" />
<div id="buy_box" class="qure__trageted-patches qure__section"
    style="--section-padding-top: 40px; --section-padding-bottom: 80px;">
    <div class="container" style="--column-gap:80px; --column-gap-mobile:30px;">
        <div class="row custom__grid">
            <div class="col-lg-6 custom__block">
                <div class="qure-product-details">

                    {% if section.settings.limited != blank %}
                        <p class="limited_edition">{{ 'product.settings.limited-edition' | t }}</p>

                        {% if section.settings.seo_heading != blank %}
                            <p class="mb-10 fs-16 fw-400">{{ section.settings.seo_heading }}</p>
                        {% endif %}
                        {% if section.settings.heading != blank %}
                            <h1 class="qure__product-title mb-10">{{ section.settings.heading }}</h1>
                        {% endif %}
                    {%- endif -%}

                    {% render 'product-page-slider', product: product, page: blank, class: 'tp-product-gallery d-block d-lg-none mb-30', element_id: section.id %}

                    {% if section.settings.rating != blank %}
                        {% render 'product-rating', product: product %}
                    {% endif %}

                    {% if section.settings.limited == blank %}
                        {% if section.settings.seo_heading != blank %}
                            <p class="mb-10 fs-16 fw-400">{{ section.settings.seo_heading }}</p>
                        {% endif %}
                        {% if section.settings.heading != blank %}
                            <h1 class="qure__product-title mb-10">{{ section.settings.heading }}</h1>
                        {% endif %} 
                    {% endif %}

                    {% include 'product-page-blocks-render', allowed_types: 'limited-offer,nextships,button,description,price,section,black-friday-discount,exclusive-offer,money-back,reviews-videos' %}
                </div>
            </div>
            <div class="col-lg-6 custom__block">
                {% render 'product-page-slider', product: product, page: blank, class: 'tp-product-gallery d-none d-lg-block', element_id: section.id %}
                {% render 'product-page-cross-sell', product: product %}
                {% render 'product-page-benefits-list', target: 'mobile' %}
                {% render 'product-page-collapsed', product: product, page: blank, class: 'mt-15 tp-product-accordion' %}
                {% render 'product-page-jumpto', section: section %}
            </div>

        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
        loadScriptOnce('youtube-popup', 'https://qureskincaredns-main.com/assets/js/yt-popup.js');
        loadScriptOnce('slider-with-thumb', 'https://qureskincaredns-main.com/assets/js/slider-with-thumb.js');
    });
</script>

{% render 'product-data-json', product: product %}

{% schema %}
{
    "name": "t:sections.product-header.name",
    "settings": [
        {
            "type": "text",
            "id": "seo_heading",
            "label": "t:common.seo_heading"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "checkbox",
            "id": "rating",
            "label": "t:common.rating",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "limited",
            "label": "t:common.limited",
            "default": false
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "t:common.description"
        },
        {
            "type": "checkbox",
            "id": "reserved",
            "label": "t:common.reserved",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "soldout",
            "label": "t:common.soldout",
            "default": false
        }
    ],
    "blocks": [
        {
            "type": "jumpto",
            "name": "t:common.jumpto",
            "limit": 10,
            "settings": [
                {
                    "type": "text",
                    "id": "button-label",
                    "label": "t:common.button-label"
                },
                {
                    "type": "url",
                    "id": "button-url",
                    "label": "t:common.button-url"
                }
            ]
        },
        {
            "type": "section",
            "name": "t:common.section",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "section_id",
                    "label": "t:common.section_id"
                }
            ]
        },
        {
            "type": "money-back",
            "name": "t:common.money-back",
            "limit": 1,
            "settings": []
        },
        {
            "type": "reviews-videos",
            "name": "t:common.reviews-videos",
            "limit": 1,
            "settings": []
        },
        {
            "type": "exclusive-offer",
            "name": "t:common.exclusive-offer",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "product",
                    "label": "t:common.product"
                },
                {
                    "type": "image_picker",
                    "id": "image_product1",
                    "label": "t:common.image"
                },
                {
                    "type": "text",
                    "id": "product2",
                    "label": "t:common.product"
                },
                {
                    "type": "image_picker",
                    "id": "image_product2",
                    "label": "t:common.image"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        },
        {
            "type": "price",
            "name": "t:common.price",
            "limit": 1,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "show_discount",
                    "label": "t:common.show_discount",
                    "default": false
                }
            ]
        },
        {
            "type": "description",
            "name": "t:common.description",
            "limit": 1,
            "settings": []
        },
        {
            "type": "button",
            "name": "t:common.button",
            "limit": 1,
            "settings": []
        },
        {
            "type": "limited-offer",
            "name": "t:common.limited-offer",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "sum",
                    "label": "t:common.sum"
                },
                {
                    "type": "text",
                    "id": "code",
                    "label": "t:common.code"
                },
                {
                    "type": "range",
                    "id": "days",
                    "min": 1,
                    "max": 30,
                    "step": 1,
                    "unit": "day",
                    "label": "t:common.days",
                    "default": 5
                }
            ]
        },
        {
            "type": "black-friday-discount",
            "name": "t:common.black-friday-discount",
            "limit": 1,
            "settings": [
                {
                    "type": "range",
                    "id": "discount_percent",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "label": "t:common.discount",
                    "default": 0
                }
            ]
        },
        {
            "type": "nextships",
            "name": "t:common.nextships",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "date",
                    "label": "t:common.date"
                },
                {
                    "type": "range",
                    "id": "percent",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "label": "t:common.percent",
                    "default": 48
                },
                {
                    "type": "text",
                    "id": "date_soldout",
                    "label": "t:common.soldout"
                },
                {
                    "type": "text",
                    "id": "date_reserved",
                    "label": "t:common.reserved"
                }
            ]
        }
    ],
    "presets": [
        {
        "name": "t:sections.product-header.name"
        }
    ]
}
{% endschema %}