{% doc %}

Renders a powerful ingredients section for mi patches page.

{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/target-specific/tg-icons.css" />
<div class="qure__target-specific qure__section color-background"
    style="--section-padding-top:80px;--section-padding-bottom:80px;">
    <div class="container" style="--column-gap:60px; --column-gap-mobile:30px;">
        <div class="row custom__grid">
            <div class="col-md-7 custom__block">
                {% if section.settings.heading != blank %}
                    <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
                {% endif %}
                <div class="tg-icon-list mt-30 mt-md-40">
                    {% for block in section.blocks %}
                        {% if block.type == 'image_with_text' %}
                            <div class="tg-icon d-flex align-items-center gap-3">
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    <span>{{ block.settings.text }}</span>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5 custom__block">
                {% if section.settings.image != blank %}
                    <div class="tg-image">
                    <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" class="img-fluid" />
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "t:sections.benefits-with-icons.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    }
    ],
    "blocks": [
        {
            "type": "image_with_text",
            "name": "t:common.image-with-text",
            "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
            ]
        }
    ]
}
{% endschema %}