{% doc %}
  Renders a purchase form section.
{% enddoc %}

{% include 'assoc-array', section: section, __parent_title: 'type', __separator: '###' %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/global/purchase-form/purchase-form.css">
<div id="purchase-form" class="qure__section user_guideline color-background {{ section.id }}"
    style="--section-padding-top: 50px; --section-padding-bottom: 80px; --section-padding-top-mob: 30px; --section-padding-bottom-mob: 50px;">
    <div class="container" style="--column-gap:60px; --column-gap-mobile:30px;">
        <div class="row custom__grid">
            <div class="col-md-6 custom__block">
                <div class="qure__section-header text-center mb-60 d-none d-md-block">

                    {% if section.settings.heading != blank %}
                        <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
                    {% endif %}

                    {% if section.settings.text != blank %}
                        <div class="qure__section-desc mt-20">{{ section.settings.text }}</div>
                    {% endif %}
                </div>

                {% if section.settings.image != blank %}
                    <div class="card qure-card" style="--qure-card-bg: #fff;">
                        <img src="{{ section.settings.image | img_url: 'master' }}" class="card-img-top" alt="{{ section.settings.image.alt | escape }}" id="choosen_image">
                    </div>
                {% endif %}

                <div class="qure__section-header text-center mb-30 mt-30 d-md-none">
                    {% if section.settings.heading != blank %}
                        <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
                    {% endif %}

                    {% if section.settings.text != blank %}
                        <div class="qure__section-desc mt-20">{{ section.settings.text }}</div>
                    {% endif %}
                </div>

                {% render 'product-page-benefits-list', target: 'desktop' %}

                <div class="pt-md-50 pt-40 d-none d-md-flex align-items-center justify-content-center gap-3">
                    {{ 'purchase-form.settings.questions_html' | t }}
                </div>
            </div>
            <div class="col-md-6 custom__block">

                <div class="qure__bundle-container">
                    <div class="qure__bundle-form">
                        {% render 'purchase-form-types' section: section, __idsArray1: __idsArray1, __idsArray2: __idsArray2, __idsArray3: __idsArray3 %}
                        {% include 'purchase-form-products' section: section, __idsArray1: __idsArray1, __idsArray2: __idsArray2, __idsArray3: __idsArray3 %}
                        {% render 'purchase-form-klaviyo-popup', form_id: 'SvCm4c' %}
                        {% render 'purchase-form-payments' section: section %}
                    </div>

                    <div class="qure__bundle-atc mt-40">
                        {% render 'product-page-buy-button', product_price: null, product_variant_id: null, section: section, product_available: product_available %}
                        {% render 'product-page-buy-button-payments', product_price_divided: product_price_divided %}
                    </div>

                    {% render 'product-page-benefits-list', target: 'mobile' %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://qureskincaredns.com/shopify/js/purchase-form.js" data-form="{{ section.settings.form_name }}" data-section="{{ section.id }}" defer></script>

{%- schema -%}
{
    "name":"t:sections.purchase-form.name",
    "class":"purchase-form",
    "settings":[
        {
            "type": "select",
            "id": "type",
            "label": "t:common.type",
            "options": [
                {
                    "value": "box",
                    "label": "t:common.box"
                },
                {
                    "value": "list",
                    "label": "t:common.list"
                },
                {
                    "value": "list_bf26",
                    "label": "t:common.list_bf26"
                }
            ],
            "default": "box"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "text",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        },
        {
            "type": "text",
            "id": "form_name",
            "label": "t:sections.purchase-form.settings.form_name",
            "default": "purchase-form"
        }
    ],
    "blocks":[
        {
            "type": "nextships",
            "name": "t:common.nextships",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "date",
                    "label": "t:common.date",
                    "default": "25 September"
                },
                {
                    "type": "range",
                    "id": "percent",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "label": "t:common.percent",
                    "default": 48
                },
                {
                    "type": "text",
                    "id": "date_soldout",
                    "label": "t:common.soldout",
                    "default": "28 July"
                },
                {
                    "type": "text",
                    "id": "date_reserved",
                    "label": "t:common.reserved",
                    "default": "3 August"
                }
            ]
        },
        {
            "type": "type",
            "limit": 3,
            "name": "t:common.type",
            "settings": [
                {
                    "type": "header",
                    "content": "TYPE"
                }
            ]
        },
        {
            "type": "product_type",
            "name": "t:common.product-type",
            "limit": 3,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                },
                {
                    "type": "checkbox",
                    "id": "preselected",
                    "label": "t:common.preselect",
                    "default": false
                }
            ]
        },
        {
            "type": "product_type_accordion",
            "name": "t:common.product-type-accordion",
            "limit": 9,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        },
        {
            "type": "product",
            "name": "t:common.product",
            "limit": 9,
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "t:common.product"
                },
                {
                    "type": "checkbox",
                    "id": "preselected",
                    "label": "t:common.preselect",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "t:common.subheader"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                },
                {
                    "type": "checkbox",
                    "id": "soldout",
                    "label": "t:common.soldout",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "preorder",
                    "label": "t:common.preorder",
                    "default": false
                },
                {
                    "type": "number",
                    "id": "total_treatments",
                    "label": "t:sections.purchase-form.blocks.product.settings.total_treatments",
                    "info": "t:sections.purchase-form.blocks.product.settings.total_treatments_info",
                    "default": 0
                },
                {
                    "type": "number",
                    "id": "left_items",
                    "label": "t:sections.purchase-form.blocks.product.settings.left_items",
                    "info": "t:sections.purchase-form.blocks.product.settings.left_items_info",
                    "default": 0,
                },
                {
                    "type": "text",
                    "id": "preorder_text",
                    "label": "t:sections.purchase-form.blocks.product.settings.preorder_text"
                },
                {
                    "type": "text",
                    "id": "preorder_date_soldout",
                    "label": "t:sections.purchase-form.blocks.product.settings.preorder_date_soldout"
                },
                {
                    "type": "text",
                    "id": "preorder_date_reserved",
                    "label": "t:sections.purchase-form.blocks.product.settings.preorder_date_reserved"
                },
                {
                    "type": "range",
                    "id": "preorder_percent",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "label": "t:common.percent",
                    "default": 55
                },
                {
                    "type": "richtext",
                    "id": "included_text",
                    "label": "t:sections.purchase-form.blocks.product.settings.included_text"
                }
            ]
        },
        {
            "type": "payment_type",
            "name": "t:common.payment",
            "limit": 2,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"t:sections.purchase-form.name"
        }
    ]
}
{%- endschema -%}