{% doc %}
  Renders a intro section for q-rejuvalight pro welcome page
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/q-rejuvalight-pro-welcome/q-rejuvalight-pro-welcome.css">
<div class="qure__section welcome_wrapper" style="--section-padding-top: 40px; --section-padding-bottom: 40px; --section-padding-top-mob: 20px; --section-padding-bottom-mob: 20px;">
    <div class="container">
        <div class="ms-0 ms-md-auto d-md-none mb-30">
            {% if section.settings.heading != blank %}
                <h2 class="qure__product-title">{{ section.settings.heading }}</h2>
            {% endif %}
        </div>
        <div class="welcome_grid">
            <div class="pe-md-2">
                 {% if section.settings.wistia_url != blank %}
                    <div class="wistia_responsive_padding" style="position:relative;">
                        <div class="wistia_responsive_wrapper"
                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_{{ section.settings.wistia_url }} seo=false videoFoam=true"
                                style="height:100%;position:relative;width:100%">&nbsp;</div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% for block in section.blocks %}
                {% if block.type =='items' %}
                    <div class="welcome_item_wrap{% if forloop.index == 1 %} ml-md-20{% endif %}">
                        {% if block.settings.subheader != blank %}
                            <div class="ms-0 ms-md-auto d-md-block d-none">
                                <h2 class="qure__product-title mb-40">{{ block.settings.subheader }}</h2>
                            </div>
                        {% endif %}
                        <div class="welcome_info">
                            {% if block.settings.heading != blank %}
                                <div class="pb-2">
                                    <h2 class="qure__product-title">{{ block.settings.heading }}</h2>
                                </div>
                            {% endif %}
                            {% if block.settings.text != blank %}
                                 <div class="welcome_item">
                                    <div class="welcome_desc">{{ block.settings.text }}</div>
                                </div>
                            {% endif %}
                            <div class="welcome_btns">
                                {% if block.settings.button_url != blank and block.settings.button_label != blank %}
                                    <a href="{{ block.settings.button_url }}" class="btn btn--primary w-100">{{ block.settings.button_label }}</a>
                                {% endif %}
                                {% if block.settings.download-button_url != blank and block.settings.download_button_label != blank %}
                                    <div class="or_text"><p>or</p></div>
                                    <a target="_blank" href="{{ block.settings.download-button_url }}" class="download_btn btn w-100">{{ block.settings.download_button_label }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
    });
</script>

{% schema %}
{
  "name": "t:sections.q-rejuvalight-pro-welcome-intro.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "wistia_url",
        "label": "t:common.wistia-url"
    }
  ],
  "blocks": [
    {
        "type": "items",
        "name": "t:common.items",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "text",
                "id": "subheader",
                "label": "t:common.subheader"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "t:common.button-label"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "t:common.button-url"
            },
            {
                "type": "text",
                "id": "download_button_label",
                "label": "t:sections.q-rejuvalight-pro-welcome-intro.blocks.settings.download-button-label"
            },
            {
                "type": "url",
                "id": "download-button_url",
                "label": "t:sections.q-rejuvalight-pro-welcome-intro.blocks.settings.download-button-url"
            }
        ]
    }
  ]
}
{% endschema %}