{% doc %}
Renders a qure filters section for qure-filters-offer page
{% enddoc %}


<div class="qure__section qure__col-with-filter color-background gradient"
    style="--section-padding-top:80px;--section-padding-bottom:80px; --section-padding-top-mob:50px;--section-padding-bottom-mob:50px; --gradient-background:linear-gradient(260deg,rgba(250, 250, 250, 1) 0%, rgba(226, 226, 227, 1) 43%)">
    <div class="container" style="--column-gap:27px; --column-gap-mobile:30px;">
        <div class="row align-items-center custom__grid">
            <div class="col-md-12 col-lg-6 custom__block">
                <div class="qure-text-content">
                    {% if section.settings.heading != blank %}
                        <h2 class="qure__text--heading text-center mb-0">{{ section.settings.heading }}</h2>
                    {% endif %}
                    {% if section.settings.text != blank %}
                        <div class="qure__text-desc mt-25 mb-10 text-center">{{ section.settings.text }}</div>
                    {% endif %}
                    {% if section.settings.image != blank %}
                        <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" class="img-fluid d-none d-lg-block" />
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12 col-lg-5 offset-lg-1 custom__block">
                <div class="qure-filter-content">
                    <div class="qure-filter-container d-flex justify-content-center">
                        <div class="qure-nav qure-filter-tabs" id="myTab" role="tablist">
                            <button class="btn qure-filter-link active" id="shower-tab" data-bs-toggle="tab"
                                data-bs-target="#shower-tab-pane" type="button" role="tab"
                                aria-controls="shower-tab-pane" aria-selected="true">{{
                                'sections.qure-filters-offer-qure-filters.text_button_shower' | t }}</button>
                            <button class="btn qure-filter-link" id="faucet-tab" data-bs-toggle="tab"
                                data-bs-target="#faucet-tab-pane" type="button" role="tab"
                                aria-controls="faucet-tab-pane" aria-selected="false">{{
                                'sections.qure-filters-offer-qure-filters.text_button_faucet' | t }}</button>
                        </div>
                    </div>
                    <div class="d-block d-lg-none">
                        {% if section.settings.image_mobile != blank %}
                         <img src="{{ section.settings.image_mobile | image_url }}" alt="{{ section.settings.image_mobile.alt | escape }}" class="img-fluid" />
                        {% endif %}
                    </div>
                    <div class="tab-content mt-20" id="myTabContent">
                        <div class="qure-tab-pane tab-pane fade show active" id="shower-tab-pane" role="tabpanel"
                            aria-labelledby="shower-tab" tabindex="0">
                            <div class="qure-filter-content py-20 px-20 bg-white rounded"
                                style="--bs-border-radius:10px">
                                <h6 class="fw-600 fm-body text-center qure-filter-title mb-30">{{
                                    'sections.qure-filters-offer-qure-filters.heading_shower_filter' | t }}</h6>
                                <div class="qure-filter-list py-15 px-10 d-grid grid-cols-2">
                                    {% for block in section.blocks %}
                                        {% if block.type == 'shower_text_with_image' %}
                                            <div class="qure-filter-item">
                                                <div class="qure-filter-icon">
                                                    {% if block.settings.image != blank %}
                                                    <img src="{{ block.settings.image | image_url }}"
                                                        alt="{{ block.settings.image.alt | escape }}">
                                                    {% endif %}
                                                </div>
                                                {% if block.settings.text != blank %}
                                                {{ block.settings.text | replace: '<p>', '<span>' | replace: '</p>', '</span>'
                                                }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% for block in section.blocks %}
                                    {% if block.type == 'shower_tab' %}
                                        <div class="qure-filter-cards mt-30 mt-md-20">
                                            <div class="filter-card-item">
                                                {% if block.settings.image != blank %} <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | image_url }}" class="img-fluid" />
                                                {% endif %}
                                            </div>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#shower2"
                                                class="filter-card-item filter-card-video">
                                                <div class="filter-card-video-icon"><img src="{{ 'sections.qure-filters-offer-qure-filters.video_play_button' | t}}" alt="{{ 'sections.qure-filters-offer-qure-filters.video_play_button.alt' | escape}}">
                                                </div>
                                                {% if block.settings.video_cover_image != blank %}
                                                 <img src="{{ block.settings.video_cover_image | image_url }}" alt="{{ block.settings.video_cover_image.alt | escape }}" class="img-fluid" />
                                                {% endif %}
                                            </a>
                                            <!-- modal start -->
                                            <div class="modal fade filter-modal" id="shower2" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="shower2Label"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-md filter-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header border-0">
                                                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                                                        </div>
                                                        {% if block.settings.url != blank %}
                                                        <div class="modal-body">
                                                            <style>
                                                                wistia-player[media-id='{{ block.settings.url }}']:not(:defined) {
                                                                    background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/{{ block.settings.url }}/swatch');
                                                                    display: block;
                                                                    filter: blur(5px);
                                                                    padding-top: 177.78%;
                                                                }
                                                            </style>
                                                            <div class="filter-modal-video">
                                                                <wistia-player media-id="{{ block.settings.url }}" seo="false"
                                                                    aspect="0.5625"></wistia-player>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="qure-tab-pane tab-pane fade" id="faucet-tab-pane" role="tabpanel"
                            aria-labelledby="faucet-tab" tabindex="0">
                            <div class="qure-filter-content py-20 px-20 bg-white rounded"
                                style="--bs-border-radius:10px">
                                <h6 class="fw-600 fm-body text-center qure-filter-title mb-30">{{
                                    'sections.qure-filters-offer-qure-filters.heading_faucet_filter' | t}}</h6>
                                <div class="qure-filter-list py-15 px-10 d-grid grid-cols-2">
                                    {% for block in section.blocks %}
                                        {% if block.type == 'faucet_text_with_image' %}
                                            <div class="qure-filter-item">
                                                <div class="qure-filter-icon">
                                                    {% if block.settings.image != blank %}
                                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}">
                                                    {% endif %}
                                                </div>
                                                {% if block.settings.text != blank %}
                                                 {{ block.settings.text | replace: '<p>', '<span>' | replace: '</p>', '</span>' }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% for block in section.blocks %}
                                    {% if block.type == 'faucet_tab' %}
                                        <div class="qure-filter-cards mt-20">
                                            <div class="filter-card-item">
                                                {% if block.settings.image != blank %}
                                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" />
                                                {% endif %}
                                            </div>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#shower4"
                                                class="filter-card-item filter-card-video">
                                                <div class="filter-card-video-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="59"
                                                        viewBox="0 0 60 59" fill="none">
                                                        <rect x="0.874268" y="0.215088" width="58.2517" height="58.2517"
                                                            rx="29.1258" fill="black" fill-opacity="0.35" />
                                                        <path
                                                            d="M29.7966 6.30078C17.2115 6.30078 6.96021 16.4906 6.96021 29.0003C6.96021 41.51 17.2115 51.6998 29.7966 51.6998C42.3818 51.6998 52.633 41.51 52.633 29.0003C52.633 16.4906 42.3818 6.30078 29.7966 6.30078ZM29.7966 10.8407C39.9134 10.8407 48.0657 18.9441 48.0657 29.0003C48.0657 39.0565 39.9134 47.1599 29.7966 47.1599C19.6798 47.1599 11.5275 39.0565 11.5275 29.0003C11.5275 18.9441 19.6798 10.8407 29.7966 10.8407ZM25.2293 21.1353V36.8653L38.9312 29.0003L25.2293 21.1353Z"
                                                            fill="white" />
                                                    </svg>
                                                </div>
                                                {% if block.settings.video_cover_image != blank %}
                                                    <img src="{{ block.settings.video_cover_image | image_url }}" alt="{{ block.settings.video_cover_image.alt | escape }}" class="img-fluid" />
                                                {% endif %}
                                            </a>
                                            <!-- modal start -->
                                            {% if block.settings.url != blank %}
                                            <div class="modal fade" id="shower4" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="shower4Label"
                                                aria-hidden="true">
                                                <div class="modal-dialog  modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <style>
                                                                wistia-player[media-id='{{ block.settings.url }}']:not(:defined) {
                                                                    background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/{{ block.settings.url }}/swatch');
                                                                    display: block;
                                                                    filter: blur(5px);
                                                                    padding-top: 177.78%;
                                                                }
                                                            </style>
                                                            <div class="filter-modal-video">
                                                                <wistia-player media-id="{{ block.settings.url }}" seo="false"
                                                                    aspect="0.5625"></wistia-player>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <!-- modal end-->
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
    });
</script>
{% schema %}
{
"name": "t:sections.qure-filters-offer-qure-filters.name",
"settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header",
        "default": "Meet The Qure Filters"
    },
    {
        "type": "text",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "t:common.image-mobile"
    }
    ],
    "blocks": [
    {
        "type": "shower_tab",
        "name": "t:sections.qure-filters-offer-qure-filters.blocks.shower-tab.name",
        "limit": 1,
        "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        },
        {
            "type": "image_picker",
            "id": "video_cover_image",
            "label": "t:common.video-image-cover"
        },
        {
            "type": "text",
            "id": "url",
            "label": "t:common.link-url"
        }
        ]
        },
        {
            "type": "faucet_tab",
            "name": "t:sections.qure-filters-offer-qure-filters.blocks.faucet-tab.name",
            "limit": 1,
            "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        },
        {
            "type": "image_picker",
            "id": "video_cover_image",
            "label": "t:common.video-image-cover"
        },
        {
            "type": "text",
            "id": "url",
            "label": "t:common.link-url"
        }
        ]
    },
    {
        "type": "shower_text_with_image",
        "name": "t:sections.qure-filters-offer-qure-filters.blocks.shower-text-with-image.name",
        "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        }
        ]
        },
        {
            "type": "faucet_text_with_image",
            "name": "t:sections.qure-filters-offer-qure-filters.blocks.faucet-text-with-image.name",
            "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        }
        ]
    }
]
}
{% endschema %}