{% doc %}
  Renders a slider with text section for qure-filters-offer page.
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/skin-hair-issue/card-slide.css" />
<div class="qure__section qure__col-with-slider"
    style="--section-padding-top:80px;--section-padding-bottom:80px; --section-padding-top-mob:50px;--section-padding-bottom-mob:50px;">
    <div class="offset-right-container" style="--column-gap:100px; --column-gap-mobile:30px;">
        <div class="row align-items-center custom__grid">
        <div class="col-md-12 col-lg-5 custom__block">
            <div class="qure__section-header mb-0">
                {% if section.settings.heading != blank %}
                    <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                    {{ section.settings.text | replace: '<p>', '<p class="mt-20 mt-lg-30 pb-0">'}}
                {% endif %}
            </div>
        </div>
        <div class="col-md-12 col-lg-7 custom__block">
            <div class="swiper qure__swiper" id="qure__swiper-col-slider" data-section-id="col-slider"
                data-autoplay="false" data-loop="false" data-mobile="1" data-tablet="1.4" data-desktop="1.8"
                data-spacing="32" data-pagination-fraction="true" data-slidecenter="true">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% if block.type == 'carousel' %}
                            <div class="swiper-slide">
                                <div class="card skin-card border-0">
                                    {% if block.settings.image != blank %}
                                        <img src="{{ block.settings.image | image_url }}" class="card-img-top" alt="{{ block.settings.image.alt | escape }}">
                                    {% endif %}
                                    <div class="card-body skin-card-body border" style="--bs-border-color: #8B8C8E;">
                                        {% if block.settings.heading != blank %}
                                            <h5 class="card-title fm-body mb-15">{{ block.settings.heading }}</h5>
                                        {% endif %}
                                        {% if block.settings.text != blank %}
                                            {{ block.settings.text | replace: '<p>', '<p class="card-text">' }}
                                        {% endif %}
                                        <div class="skin-causes mt-15 pt-15 border-top" style="--bs-border-color:#8B8C8E">
                                            <h6 class="sk-title fm-body fw-500 mb-10 fs-18">{{ 'sections.qure-filters-offer-slider-with-text.caused_by_text' | t }}</h6>
                                            <div class="cause__list">
                                                {% if block.settings.tag_1 != blank %}
                                                    {{ block.settings.tag_1 | replace: '<p>', '<span>' | replace: '</p>', '</span>' }}
                                                {% endif %}
                                                {% if block.settings.tag_2 != blank %}
                                                    {{ block.settings.tag_2 | replace: '<p>', '<span>' | replace: '</p>', '</span>' }}
                                                {% endif %}
                                                {% if block.settings.tag_3 != blank %}
                                                    {{ block.settings.tag_3 | replace: '<p>', '<span>' | replace: '</p>', '</span>' }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div
                    class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4 mt-30">
                    <div class="qure-swiper-button-prev qure-swiper-arrow"><i class="fa-regular fa-angle-left"></i>
                    </div>
                    <div class="swiper-pagination position-relative bottom-0 w-auto"></div>
                    <div class="qure-swiper-button-next qure-swiper-arrow"><i class="fa-regular fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    loadScriptOnce('main-slider', 'https://qureskincaredns.com/assets/js/main-slider.js');
    });
</script>
{% schema %}
{
  "name": "t:sections.qure-filters-offer-slider-with-text.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    }
  ],
  "blocks": [
    {
        "type": "carousel",
        "name": "t:common.carousel",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
                "type": "richtext",
                "id": "tag_1",
                "label": "t:sections.qure-filters-offer-slider-with-text.blocks.carousel.settings.tag-1.name"
            },
            {
                "type": "richtext",
                "id": "tag_2",
                "label": "t:sections.qure-filters-offer-slider-with-text.blocks.carousel.settings.tag-2.name"
            },
            {
                "type": "richtext",
                "id": "tag_3",
                "label": "t:sections.qure-filters-offer-slider-with-text.blocks.carousel.settings.tag-3.name"
            }

        ]
    }
  ]
}
{% endschema %}