{% doc %}
Renders a cta cards section for returns-echanges page.
{% enddoc %}


<div class="qure__section"
    style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-background: #F6F6F7; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
    <div class="container" style="--column-gap:24px; --column-gap-mobile:20px;">
        <div class="qure__section-header text-center">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
            {% endif %}
        </div>
        <div class="row custom__grid">
            {% for block in section.blocks %}
                {% if block.type == 'information_box' %}
                    <div class="custom__block col-md-4">
                        <div class="d-block position-relative">
                            {% if block.settings.image != blank %}
                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid w-100 rounded-10" />
                            {% endif %}
                            {% if block.settings.button_label != blank and block.settings.button_url != blank %}
                                <div class="position-absolute inset-0 p-20 d-flex align-items-end">
                                    <a href="{{ block.settings.button_url }}"
                                        class="btn btn--primary-white d-block text-center w-100">{{ block.settings.button_label }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "t:sections.cta-cards.name",
        "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header",
            "default": "More Help at Your Fingertips "
        }
        ],
        "blocks": [
        {
            "type": "information_box",
            "name": "t:common.information-box",
            "settings": [
            {
                "type": "text",
                "id": "button_label",
                "label": "t:common.button-label"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "t:common.button-url"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
            ]
        }
        ]
    }
    {% endschema %}