{% doc %}
  Renders a card slider section for returns-exchanges page.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/compliment-skin/compliment-skin.css" />
    <div class="qure__section color-background " style="--section-padding-top:80px; --section-padding-bottom:80px;">
        <div class="container">
            <div class="qure__section-header text-center mb-30 mb-md-60">
                {% if section.settings.heading != blank %}
                    <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="swiper-offset-mobile">
                <div class="swiper qure__swiper" id="qure__swiper-compliment-slider" data-section-id="compliment-slider"
                    data-autoplay="false" data-loop="false" data-mobile="1.05" data-tablet="2.6" data-desktop="4"
                    data-spacing="40" data-pagination-fraction="true" data-arrowleft="compliment-slider-arrow-left"
                    data-arrowright="compliment-slider-arrow-right">
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                            {% if block.type == 'carousel' %}
                                <div class="swiper-slide">
                                    <div class="qe__card-block qe__card-m-block" style="--bs-border-radius:10px">
                                        <div class="img_with-number overflow-hidden position-relative w-100 mw-100 h-auto mr-0 mb-md-24" data-number="{{ forloop.index }}" style="--number-bg: #C7E5DB;">
                                            {% if block.settings.image != blank %}
                                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid w-100 rounded-top" style="--bs-border-radius: 5px;">
                                            {% endif %}
                                        </div>
                                        <div class="qe__content border-0">
                                            {% if block.settings.heading != blank %}
                                                <h3 class="fs-20 fw-600 fm-body mb-10">{{ block.settings.heading }}</h3>
                                            {% endif %}
                                            {% if block.settings.text != blank %}
                                                <div class="fs-16">{{ block.settings.text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div
                        class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4 mt-30">
                        <div class="qure-swiper-arrow compliment-slider-arrow-left"><i class="fa-regular fa-angle-left"></i>
                        </div>
                        <div class="swiper-pagination position-relative bottom-0 w-auto"></div>
                        <div class="qure-swiper-arrow compliment-slider-arrow-right"><i class="fa-regular fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-40">
                {% if section.settings.button_url != blank and section.settings.button_label != blank %}
                    <a href="{{ section.settings.button_url }}" class="btn btn--primary text-capitalize d-block d-sm-inline-block">{{ section.settings.button_label }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
        });
    </script>

{% schema %}
    {
      "name": "t:sections.returns-exchanges-card-slider.name",
      "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "t:common.button-label"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "t:common.button-url"
        }
      ],
      "blocks": [
        {
            "type": "carousel",
            "name": "t:common.carousel",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                }
            ]
        }
      ]
    }
    {% endschema %}