{% doc %}
Renders a safety guide section.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/safety-guide/safety-guide.css" />
   <div class="qure__section user_guideline"
      style="--section-padding-top: 60px; --section-padding-bottom: 80px; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
      <div class="container container-small" style="--container-width:850px">
         <div class="qure__section-header text-center mb-60">
            {% if section.settings.heading != blank %}
               <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                {{ section.settings.text | replace: '<p>', '<div class="qure__section-desc mt-30 px-lg-40">' | replace: '</p>', '</div>' }}
            {% endif %}
         </div>
      </div>
      <div class="container">
         <div class="swiper qure__swiper my-40" id="qure__swiper-faucet-slider" data-section-id="faucet-slider"
            data-autoplay="false" data-loop="false" data-mobile="1" data-tablet="2" data-desktop="2"
            data-spacing="40" data-pagination-fraction="true">
            <div class="swiper-wrapper">
               <div class="swiper-slide">
                  <div class="px-24 px-md-32 py-30 rounded-10 border guide__box">
                    {%- for block in section.blocks -%}
                        {%- if block.type == 'heading' and block.settings.left_header != blank -%}
                            {{ block.settings.left_header | replace: '<p>', '<p class="fs-20 fw-500">' }}
                        {%- endif -%}
                    {%- endfor -%}
                     <div class="safety_guides mt-30">
                        {%- for block in section.blocks -%}
                            {%- if block.type == 'left_text' and block.settings.text != blank -%}
                                {{ block.settings.text | replace: '<p>', '<div class="guide-item guide-number">' | replace: '</p>', '</div>' }}
                            {%- endif -%}
                        {%- endfor -%}
                        {%- for block in section.blocks -%}
                            {%- if block.type == 'left_tip' and block.settings.tip != blank -%}
                                {{ block.settings.tip | replace: '<p>', '<div class="guide-tip">' | replace: '</p>', '</div>' }}
                            {%- endif -%}
                        {%- endfor -%}
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="px-24 px-md-32 py-30 rounded-10 guide__box bg-light">
                    {%- for block in section.blocks -%}
                        {%- if block.type == 'heading' and block.settings.right_header != blank -%}
                            {{ block.settings.right_header | replace: '<p>', '<p class="fs-20 fw-500">' }}
                        {%- endif -%}
                    {%- endfor -%}
                     <div class="safety_guides mt-30">
                        {%- for block in section.blocks -%}
                            {%- if block.type == 'right_text' and block.settings.text != blank -%}
                                {{ block.settings.text | replace: '<p>', '<div class="guide-item">' | replace: '</p>', '</div>' }}
                            {%- endif -%}
                        {%- endfor -%}
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4">
               <div class="qure-swiper-button-prev qure-swiper-arrow mt-30"><i
                     class="fa-regular fa-angle-left"></i></div>
               <div class="swiper-pagination position-relative bottom-0 w-auto mt-30"></div>
               <div class="qure-swiper-button-next qure-swiper-arrow mt-30"><i
                     class="fa-regular fa-angle-right"></i></div>
            </div>
         </div>
         {% if section.settings.button_label != blank and section.settings.button_url != blank %}
            <div class="text-center"><a href="{{ section.settings.button_url }}" class="btn btn--primary d-inline-flex align-items-center gap-2 px-md-40 px-20">{{ section.settings.button_label }} <i class="fa-regular fa-arrow-right ml-5"></i></a></div>
         {% endif %}
      </div>
   </div>
   <script>
      document.addEventListener("DOMContentLoaded", function () {
         loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
      });
   </script>

{% schema %}
{
    "name": "t:sections.safety-guide.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    }
    ],
    "blocks": [
    {
        "type": "heading",
        "name": "t:common.header",
        "limit": 1,
        "settings": [
        {
            "type": "richtext",
            "id": "left_header",
            "label": "t:common.left-header"
        },
        {
            "type": "richtext",
            "id": "right_header",
            "label": "t:common.right-header"
        }
        ]
    },
    {
        "type": "left_text",
        "name": "t:common.left-text",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "right_text",
        "name": "t:common.right-text",
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    },
    {
        "type": "left_tip",
        "name": "t:common.left-tip",
        "limit": 1,
        "settings": [
            {
                "type": "richtext",
                "id": "tip",
                "label": "t:common.tip"
            }
        ]
    }
    ],
    "presets": [
    {
        "name": "t:sections.safety-guide.name"
    }
    ]
}
{% endschema %}