{% doc %}
  Renders a serum infusions section
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/serum/section-serum.css" />
<div id="science_backed" class="qure__section compare_section"
    style="--section-padding-top: 60px; --section-padding-bottom: 40px; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 30px;">
    <div class="container container-small" style="--container-width:850px">
        <div class="qure__section-header text-center mb-60 d-none d-md-block">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <div class="qure__section-desc mt-30 px-lg-40">{{ section.settings.text }}</div>
            {% endif %}
        </div> 
    </div>
    <div class="container">
        <div class="row custom__grid" style="--column-gap:50px; --column-gap-mobile:30px;">
            <div class="col-md-6 custom__block">
                <div class="qure__img">
                    {% if section.settings.image != blank %}
                        <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" class="img-fluid" />
                    {% endif %}
                    <div class="qure__section-header text-center mb-0 d-md-none pt-25">
                        {% if section.settings.heading_mobile != blank %}
                            <h2 class="qure__section-heading">{{ section.settings.heading_mobile }}</h2>
                        {% endif %}
                        {% if section.settings.text_mobile != blank %}
                            <div class="qure__section-desc mt-20">{{ section.settings.text_mobile }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 custom__block">
                <div class="qure__serum">
                    <div class="d-flex align-items-center gap-5 pb-20">
                        <div class="ctm-width" style="--ctm-width: 86px; --ctm-width-mob: 80px;">
                            {% if section.settings.image_with_text %}
                                <img src="{{ section.settings.image_with_text | image_url }}" alt="{{ section.settings.image_with_text.alt | escape }}" class="img-fluid ml-0" />
                            {% endif %}
                        </div>
                        <div>
                            {% if section.settings.image_header != blank %}
                                <h2 class="qure__section-heading" style="--heading-size:34px;">{{ section.settings.image_header }}</h2>
                            {% endif %}
                            {% if section.settings.image_text %}
                                <p class="fs-md-20">{{ section.settings.image_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="qure__serum-tabs py-0">
                        <div class="accordion accordion-flush" id="qure_dark-main">
                            {% for block in section.blocks %}
                                {% if block.type == 'accordion' %}
                                <div class="accordion-item qure__accordion-item"{% if forloop.index > 1 %}style="--bs-accordion-border-width:0;"{% endif %}>
                                    {% if block.settings.heading != blank %}
                                        <button class="accordion-button collapsed qure__accordion-header px-0" type="button" 
                                        data-bs-toggle="collapse" data-bs-target="#qure_dark-{{ forloop.index }}" aria-expanded="false" 
                                        aria-controls="qure_dark-{{ forloop.index }}">
                                            {{ block.settings.heading }}
                                        </button>
                                    {% endif %}
                                    <div id="qure_dark-{{ forloop.index }}" class="accordion-collapse collapse qure__accordion-content"
                                        data-bs-parent="#qure_dark-main">
                                        {% if block.settings.text != blank %}
                                            <div class="accordion-body px-0">{{ block.settings.text | replace: '<p>[quote]', '<div class="bg-light rounded-10 p-18 fs-14">' | replace: '[/quote]</p>', '</div>' }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% for block in section.blocks %}
                        {% if block.type == 'feedback' %}
                            <div class="qure__serum-feedback mw-100">
                                <div class="qs-stars"><img src="{{ 'sections.serum-infusions.rating_image' | t }}" /></div>
                                {% if block.settings.text != blank %}
                                    <div class="qs-feedback py-10">{{ block.settings.text }}</div>
                                {% endif %}
                                {% if block.settings.country_image != blank and block.settings.username != blank %}
                                    <div class="qs-user"><img src="{{ block.settings.country_image | image_url }}" alt="{{ block.settings.country_image.alt | escape }}"><span>{{ block.settings.username }}</span></div>
                                {% endif %}
                                <span class="fs-12">{{ 'sections.serum-infusions.verified_customer_text' | t }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "t:sections.serum-infusions.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "text",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "heading_mobile",
        "label": "t:common.header-mobile"
    },
    {
        "type": "text",
        "id": "text_mobile",
        "label": "t:common.text-mobile"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "text",
        "id": "image_header",
        "label": "t:common.image-header"
    },
    {
        "type": "text",
        "id": "image_text",
        "label": "t:common.image-text"
    },
    {
        "type": "image_picker",
        "id": "image_with_text",
        "label": "t:common.image-with-text"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "t:common.accordion",
      "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:common.text"
        }
      ]
    },
    {
        "type": "feedback",
        "name": "t:common.feedback",
        "limit": 1,
        "settings": [
            {
                "type": "image_picker",
                "id": "country_image",
                "label": "t:common.country-image"
            },
            {
                "type": "text",
                "id": "username",
                "label": "t:common.username"
            },
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.serum-infusions.name"
    }
  ]
}
{% endschema %}