{% doc %}
  Renders a skincare lifestyle section.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/skincare-lifestyle/skincare-lifestyle.css">
<div class="qure__section bg-light skincare_lifestyle"
    style="--padding-top:30px;--padding-bottom:40px;--padding-top-mob:30px;--padding-bottom-mob:30px;">
    <div class="container">
        <div class="qure__section-header text-md-center mw mx-auto mb-20 mb-md-40" style="--mw:740px;">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <p class="mt-20 mt-lg-30 pb-0">{{ section.settings.text }}</p>
            {% endif %}
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <div class="tab-content d-none d-md-block" id="v-pills-tabContent">
                        {% for block in section.blocks %}
                            {% if block.type == 'numbered_list' %}
                                <div class="tab-pane fade{% if forloop.index == 1 %} active show{% endif %}" id="v-pills-step{{ forloop.index }}" role="tabpanel" aria-labelledby="v-pills-step{{ forloop.index }}-tab">
                                    {% if block.settings.image_mobile != blank %}
                                        <img src="{{ block.settings.image_mobile | image_url }}" alt="{{ block.settings.image_mobile.alt | escape }}" class="img-fluid">
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="nav flex-column nav-pills stepper pl-md-50 d-none d-md-flex" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        {% for block in section.blocks %}
                            {% if block.type == 'numbered_list' %}
                                {% if forloop.index > 1 %}
                                    <div class="line d-none d-md-block"></div>
                                {% endif %}
                                <button class="nav-link step{% if forloop.index == 1 %} active{% endif %}" id="v-pills-step{{ forloop.index }}-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-step{{ forloop.index }}" type="button" role="tab" aria-controls="v-pills-step{{ forloop.index }}"
                                    aria-selected="{% if forloop.index == 1 %}true{% else %}false{% endif %}">{{ forloop.index }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {% for block in section.blocks %}
                    {% if block.type == 'numbered_list' %}
                        <div class="{% if forloop.index == 3 %}skin_life_content mt-20{% else %}skin_life_content mt-40 mb-40{% endif %}">
                            <div class="d-flex gap-3">
                                <button class="nav-link step d-md-none" id="v-pills-step{{ forloop.index }}-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-step{{ forloop.index }}" type="button" role="tab" aria-controls="v-pills-step{{ forloop.index }}"
                                    aria-selected="true">{{ forloop.index }}</button>
                                <div>
                                    {% if block.settings.heading != blank %}
                                        {{ block.settings.heading }}
                                    {% endif %}
                                    {% if block.settings.text != blank %}
                                        {{ block.settings.text }}
                                    {% endif %}
                                </div>
                            </div>
                            {% if block.settings.image_mobile != blank %}
                                <img src="{{ block.settings.image_mobile | image_url }}" alt="{{ block.settings.image_mobile.alt | escape }}" class="img-fluid d-md-none mt-20">
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('skincare-lifestyle', 'https://qureskincaredns-main.com/sections/isolated/skincare-lifestyle/skincare-lifestyle.js');
    }); 
</script>

{% schema %}
{
    "name": "t:sections.skincare-lifestyle.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "text",
        "id": "text",
        "label": "t:common.text"
    }
    ],
    "blocks": [
    {
        "type": "numbered_list",
        "name": "t:common.numbered-list",
        "settings": [
        {
            "type": "richtext",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "t:common.image-mobile"
        }
        ]
    }
    ],
    "presets": [
    {
        "name": "t:sections.skincare-lifestyle.name"
    }
    ]
}
{% endschema %}