{% doc %}
  Renders a skincare routine section.
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/skincare-routine/skincare-routine.css">
<div class="qure__section skincare-routine"
    style="--padding-top:80px;--padding-bottom:80px;--padding-top-mob:30px;--padding-bottom-mob:30px;">
    <div class="container">
        {% if section.settings.heading != blank %}
            <h2 class="mb-30 mb-md-50 text-md-center">{{ section.settings.heading }}</h2>
        {% endif %}
        <div class="row">
            <div class="col-md-7 pr-md-100 order-mob-2">
                <div class="product-wrapper p-3 position-relative">
                    <!-- Bootstrap Tabs -->
                    <ul class="nav nav-tabs my-3 flex-nowrap" id="SkinPlanTab" role="tablist">
                        {% for block in section.blocks %}
                            {% if block.type == 'list' %}
                                <li class="nav-item" role="presentation">
                                    {% if block.settings.button_label %}
                                        <button class="nav-link{% if forloop.index == 1 %} active{% endif %}" id="routine-tab-{{ forloop.index }}" data-bs-toggle="tab" data-bs-target="#routine-content-{{ forloop.index }}" type="button" role="tab" data-img="{% if forloop.index == 1 %}daily{% elsif forloop.index == 2 %}weekly{% endif %}">{{ block.settings.button_label }}</button>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <!-- Bootstrap Tab Content -->
                    <div class="tab-content mt-20" id="SkinPlanTabContent">
                        {% for block in section.blocks %}
                            {% if block.type == 'list' %}
                                <div class="tab-pane fade {% if forloop.index == 1 %} active show {% endif %}" id="routine-content-{{ forloop.index }}" role="tabpanel"
                                    aria-labelledby="routine-tab-{{ forloop.index }}" tabindex="0">
                                    {% if block.settings.heading != blank %}
                                        {{ block.settings.heading }}
                                    {% endif %}
                                    {% if block.settings.text != blank %}
                                        {{ block.settings.text }}
                                    {% endif %}
                                    <hr>
                                    {% if block.settings.subheading != blank %}
                                        {{ block.settings.subheading }}
                                    {% endif %}
                                    {% if block.settings.subtext != blank %}
                                        {{ block.settings.subtext | replace: '<p><ul>', '<ul class="benefits_ul">' | replace: '</ul></p>', '</ul>' }}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="skincare_routine_img">
                    {% for block in section.blocks %}
                        {% if block.type == 'list' %}
                            {% if block.settings.image != blank %}
                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid routine-img {% if forloop.index == 1 %}daily{% elsif forloop.index == 2 %}weekly{% endif %}">
                            {% endif %}
                            {% if block.settings.image_mobile != blank %}
                                <img src="{{ block.settings.image_mobile | image_url }}" alt="{{ block.settings.image_mobile.alt | escape }}" class="img-fluid routine-img {% if forloop.index == 1 %}daily{% elsif forloop.index == 2 %}weekly {% endif %}d-none">
                            {% endif %}
                            {% if block.settings.wistia_url != blank %}
                                <div class="wistia_responsive_padding routine-img routine-img {% if forloop.index == 1 %}daily{% elsif forloop.index == 2 %}weekly {% endif %}d-none"
                                    style="padding:56.25% 0 0 0;position:relative;">
                                    <div class="wistia_responsive_wrapper"
                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                        <div class="wistia_embed wistia_async_{{ block.settings.wistia_url }} autoPlay=true"
                                            style="height:100%;width:100%">&nbsp;</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('skincare-routine', 'https://qureskincaredns-main.com/sections/isolated/skincare-routine/skincare-routine.js');
    });
</script>


{% schema %}
{
    "name": "t:sections.skincare-routine.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    }
    ],
    "blocks": [
    {
        "type": "list",
        "name": "t:common.list",
        "settings": [
        {
            "type": "text",
            "id": "button_label",
            "label": "t:common.button-label"
        },
        {
            "type": "richtext",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "t:common.subheader"
        },
        {
            "type": "richtext",
            "id": "subtext",
            "label": "t:common.sub-text"
        },
        {
            "type": "text",
            "id": "wistia_url",
            "label": "t:common.wistia-url"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "t:common.image-mobile"
        }
        ]
    }
    ],
    "presets": [
    {
        "name": "t:sections.skincare-routine.name"
    }
    ]
}
{% endschema %}