{% doc %}
  Renders a skincare plan section.
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/skincare-plan/skincare-plan.css">
<div id="skincare_goals" class="qure__section skincare_plan_tabs"
    style="--section-padding-top: 40px;--section-padding-bottom: 80px;--section-padding-top-mob: 30px;--section-padding-bottom-mob: 50px;">
    <div class="container">
        {% if section.settings.heading != blank %}
            <h2 class="mb-30 mb-md-50 text-center">{{ section.settings.heading }}</h2>
        {% endif %}
        <div class="row g-5 g-6">
            {% for block in section.blocks %}
                {% if block.type == 'items' %}
                    {% include 'get-product-data', product_handle: block.settings.product, product_prefix: 'skincare-plan-' %}

                    <div class="col-md-6">
                        <div class="product_wrapper border py-24 px-16 py-md-30 px-md-24 position-relative rounded-10">
                            <div class="s_num">{{ forloop.index }}</div>
                            <div class="tab-content qure-scroll-tab-content" id="SkinPlanTabContent-{{ forloop.index }}">
                                {% if block.settings.product_image != blank and block.settings.product_hover_image != blank %}
                                    <div class="tab-pane fade show active" id="skincare-plan-tab-1-{{ forloop.index }}" role="tabpanel" aria-labelledby="skincare-plan-tab-pane-1-{{ forloop.index }}" tabindex="0">
                                        <img src="{{ block.settings.product_image | image_url }}" alt="{{ block.settings.product_image.alt | escape }}" class="img-fluid mw first-img m-0 m-md-auto" style="--mw-mob:120px;">
                                        <img src="{{ block.settings.product_hover_image | image_url }}" alt="{{ block.settings.product_hover_image.alt | escape }}" class="img-fluid mw d-none second-img m-0 m-md-auto" style="--mw-mob:120px;">
                                        <div class="prod_tit_wrap mb-10 d-md-none">
                                            {% if product_title != blank %}
                                                <h3 style="--font-h3-mob:20px;">{{ product_title }}</h3>
                                            {% endif %}

                                            {% if product_sale_price != blank %}
                                                <p class="fs-16 my-15">{{ product_sale_price }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if block.settings.results_image != blank %}
                                    <div class="tab-pane fade" id="skincare-plan-tab-2-{{ forloop.index }}" role="tabpanel"
                                        aria-labelledby="skincare-plan-tab-pane-2-{{ forloop.index }}" tabindex="0">
                                        <img src="{{ block.settings.results_image | image_url }}" alt="{{ block.settings.results_image.alt | escape }}" class="img-fluid">
                                    </div>
                                {% endif %}
                                {% if block.settings.review_video != blank %}
                                    <div class="tab-pane fade" id="skincare-plan-tab-3-{{ forloop.index }}" role="tabpanel"
                                        aria-labelledby="skincare-plan-tab-pane-3-{{ forloop.index }}" tabindex="0">
                                        <iframe width="100%" height="315"
                                            src="{{ block.settings.review_video }}"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                    </div>
                                {% endif %}
                            </div>
                            <ul class="nav qure-scroll-tabs my-30 d-none d-md-flex" id="SkinPlanTab" role="tablist">
                                {% if block.settings.product_image != blank and block.settings.product_hover_image != blank %}
                                    <li class="qure-scroll-item" role="presentation">
                                        <button class="qure-scroll-link active" id="skincare-plan-tab-pane-1-{{ forloop.index }}" data-bs-toggle="tab"
                                            data-bs-target="#skincare-plan-tab-1-{{ forloop.index }}" type="button" role="tab"
                                            aria-controls="skincare-plan-tab-1-{{ forloop.index }}" aria-selected="true">{{ 'sections.skincare-plan.product' | t }}</button>
                                    </li>
                                {% endif %}
                                {% if block.settings.results_image != blank %}
                                    <li class="qure-scroll-item" role="presentation">
                                        <button class="qure-scroll-link" id="skincare-plan-tab-pane-2-{{ forloop.index }}" data-bs-toggle="tab"
                                            data-bs-target="#skincare-plan-tab-2-{{ forloop.index }}" type="button" role="tab"
                                            aria-controls="skincare-plan-tab-2-{{ forloop.index }}" aria-selected="false">{{ 'sections.skincare-plan.results' | t }}</button>
                                    </li>
                                {% endif %}
                                {% if block.settings.review_video != blank %}
                                    <li class="qure-scroll-item" role="presentation">
                                        <button class="qure-scroll-link" id="skincare-plan-tab-pane-3-{{ forloop.index }}" data-bs-toggle="tab"
                                            data-bs-target="#skincare-plan-tab-3-{{ forloop.index }}" type="button" role="tab"
                                            aria-controls="skincare-plan-tab-3-{{ forloop.index }}" aria-selected="false">{{ 'sections.skincare-plan.review' | t }}</button>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="product_details">
                                <div class="prod_tit_wrap mb-10 d-none d-md-block">
                                    {% if product_title != blank %}
                                        <h3>{{ product_title }}</h3>
                                    {% endif %}
                                    {% if product_sale_price != blank %}
                                        <p class="fs-20 fw-600 my-15">{{ product_sale_price }}</p>
                                    {% endif %}
                                </div>
                                <div class="show_more">
                                    {% if block.settings.text != blank %}
                                        <p>{{ block.settings.text }}<a class="d-md-none text-black text-decoration-underline" href="javascript:void();" data-bs-toggle="modal" data-bs-target="#bundle_modal_{{ forloop.index }}">{{ 'sections.skincare-plan.read-more' | t }}</a>
                                        </p>
                                    {% endif %}
                                    {% if block.settings.list != blank %}
                                        <div class="qure__accordion-item mt-20 d-none d-md-block">
                                            <ul class="check_list">
                                                {{ block.settings.list | replace: '<p>', '<li>' | replace: '</p>', '</li>' }}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                                {% render 'product-page-buy-button', product_price: null, product_variant_id: product_variant_id, section: block %}

                                <div class="text-center border-top mt-20 pt-20 star_text">
                                    {% if block.settings.review_image != blank %}
                                        <div class="d-flex justify-content-center align-items-center flex-wrap gap-3">
                                            {% if block.settings.review_heading != blank %}
                                                {{ block.settings.review_heading }}
                                            {% endif %}
                                            <img src="{{ block.settings.review_image | image_url }}" alt="{{ block.settings.review_image.alt | escape }}" class="mw" style="--mw:50px;--mw-mob:30px;">
                                        </div>
                                        {% if block.settings.review_text != blank %}
                                            {{ block.settings.review_text | replace: '<p>', '<p class="fs-12 fw-400">' }}
                                        {% endif %}
                                    {% else %}
                                        <div class="d-flex justify-content-center align-items-center flex-wrap gap-2">
                                            <img src="{{ 'sections.skincare-plan.review-stars' | t }}" alt="{{ 'sections.skincare-plan.review-stars.alt' | t | escape }}">
                                            {% if block.settings.review_heading != blank %}
                                                {{ block.settings.review_heading }}
                                            {% endif %}
                                            {% if block.settings.review_image != blank %}
                                                <img src="{{ block.settings.review_image | image_url }}" alt="{{ block.settings.review_image.alt | escape }}" class="mw" style="--mw:50px;--mw-mob:30px;">
                                            {% endif %}
                                        </div>
                                        {% if block.settings.review_text != blank %}
                                            {{ block.settings.review_text }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- Modal {{ forloop.index }} start here -->
                        <div class="modal fade" id="bundle_modal_{{ forloop.index }}" tabindex="-1" aria-labelledby="EthylLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                <div
                                    class="modal-content af-modal-content border-0 p-lg-60 px-20 py-30 rounded-0 position-relative">
                                    <button type="button" class="btn-close position-absolute fs-24 end-0 top-0"
                                        data-bs-dismiss="modal" aria-label="Close"><i class="fa-regular fa-xmark"></i></button>
                                    <div class="modal-body af-modal-body p-0">
                                        <div
                                            class="product_wrapper border py-24 px-16 py-md-30 px-md-24 position-relative rounded-10">
                                            <div class="s_num">{{ forloop.index }}</div>
                                            <div class="tab-content qure-scroll-tab-content" id="SkinPlanTabModalContent-{{ forloop.index }}">
                                                {% if block.settings.product_image != blank %}
                                                    <div class="tab-pane fade show active" id="skincare-plan-tab-1-modal-{{ forloop.index }}"
                                                        role="tabpanel" aria-labelledby="skincare-plan-tab-pane-1-modal-{{ forloop.index }}"
                                                        tabindex="0">
                                                        <img src="{{ block.settings.product_image | image_url }}" alt="{{ block.settings.product_image.alt | escape }}" class="img-fluid">
                                                    </div>
                                                {% endif %}
                                                {% if block.settings.results_image != blank %}
                                                    <div class="tab-pane fade" id="skincare-plan-tab-2-modal-{{ forloop.index }}" role="tabpanel"
                                                        aria-labelledby="skincare-plan-tab-pane-2-modal-{{ forloop.index }}" tabindex="0">
                                                        <img src="{{ block.settings.results_image | image_url }}" alt="{{ block.settings.results_image.alt | escape }}" class="img-fluid">
                                                    </div>
                                                {% endif %}
                                                {% if block.settings.review_video != blank %}
                                                    <div class="tab-pane fade" id="skincare-plan-tab-3-modal-{{ forloop.index }}" role="tabpanel"
                                                        aria-labelledby="skincare-plan-tab-pane-3-modal-{{ forloop.index }}" tabindex="0">
                                                        <iframe width="100%" height="315"
                                                            src="{{ block.settings.review_video }}"
                                                            title="YouTube video player" frameborder="0"
                                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                            allowfullscreen>
                                                        </iframe>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <ul class="nav qure-scroll-tabs my-30" id="SkinPlanTabModal-{{ forloop.index }}" role="tablist">
                                                {% if block.settings.product_image != blank %}
                                                    <li class="qure-scroll-item" role="presentation">
                                                        <button class="qure-scroll-link active" id="skincare-plan-tab-pane-1-modal-{{ forloop.index }}"
                                                            data-bs-toggle="tab" data-bs-target="#skincare-plan-tab-1-modal-{{ forloop.index }}"
                                                            type="button" role="tab" aria-controls="skincare-plan-tab-1-modal-{{ forloop.index }}"
                                                            aria-selected="true">{{ 'sections.skincare-plan.product' | t }}</button>
                                                    </li>
                                                {% endif %}
                                                {% if block.settings.results_image != blank %}
                                                    <li class="qure-scroll-item" role="presentation">
                                                        <button class="qure-scroll-link" id="skincare-plan-tab-pane-2-modal-{{ forloop.index }}"
                                                            data-bs-toggle="tab" data-bs-target="#skincare-plan-tab-2-modal-{{ forloop.index }}"
                                                            type="button" role="tab" aria-controls="skincare-plan-tab-2-modal-{{ forloop.index }}"
                                                            aria-selected="false">{{ 'sections.skincare-plan.results' | t }}</button>
                                                    </li>
                                                {% endif %}
                                                {% if block.settings.review_video != blank %}
                                                    <li class="qure-scroll-item" role="presentation">
                                                        <button class="qure-scroll-link" id="skincare-plan-tab-pane-3-modal-{{ forloop.index }}"
                                                            data-bs-toggle="tab" data-bs-target="#skincare-plan-tab-3-modal-{{ forloop.index }}"
                                                            type="button" role="tab" aria-controls="skincare-plan-tab-3-modal-{{ forloop.index }}"
                                                            aria-selected="false">{{ 'sections.skincare-plan.review' | t }}</button>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                            <div class="prod_tit_wrap mb-10 d-md-none">
                                                {% if product_title != blank %}
                                                    <h3 style="--font-h3-mob:20px;">{{ product_title }}</h3>
                                                {% endif %}
                                                {% if product_sale_price != blank %}
                                                    <p class="fs-16 my-15">{{ product_sale_price }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="product_details">
                                                <div class="prod_tit_wrap mb-10 d-none d-md-block">
                                                    {% if product_title != blank %}
                                                        <h3>{{ product_title }}</h3>
                                                    {% endif %}
                                                    {% if block.settings.price != blank %}
                                                        <p class="fs-20 fw-600 my-15">{{ product_sale_price }}</p>
                                                    {% endif %}
                                                </div>
                                                {% if block.settings.list != blank %}
                                                    <div class="qure__accordion-item mt-20">
                                                        <ul class="check_list">
                                                            {{ block.settings.list | replace: '<p>', '<li>' | replace: '</p>', '</li>' }}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                                {% if block.settings.button_url != blank and block.settings.button_label != blank %}
                                                    <a href="{{ block.settings.button_url }}" class="btn border-0 w-100 mt-10">{{ block.settings.button_label }}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!--
        {% if section.settings.button_url != blank and section.settings.button_label != blank %}
            <a href="{{ section.settings.button_url }}" class="btn mt-30 mt-md-60 mx-auto d-flex justify-content-center mw" style="--mw:345px">{{ section.settings.button_label }}</a>
        {% endif %}
        -->
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('move-tabs-position', 'https://qureskincaredns-main.com/sections/isolated/move-tabs-position/move-tabs-position.js');
        loadScriptOnce('skincare-plan', 'https://qureskincaredns-main.com/sections/isolated/skincare-plan/skincare-plan.js');
    });
</script>


{% schema %}
{
    "name": "t:sections.skincare-plan.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "t:common.button-label",
        "default": "Add Complete Bundle To Cart"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "t:common.button-url"
    }
    ],
    "blocks": [
    {
        "type": "items",
        "name": "t:common.items",
        "settings": [
        {
            "type": "product",
            "id": "product",
            "label": "t:common.product"
        },
        {
            "type": "text",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "richtext",
            "id": "list",
            "label": "t:common.list"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "t:common.button-label",
            "default": "Add to Bundle"
        },
        {
            "type": "richtext",
            "id": "review_heading",
            "label": "t:common.review-header"
        },
        {
            "type": "richtext",
            "id": "review_text",
            "label": "t:common.review-text"
        },
        {
            "type": "image_picker",
            "id": "review_image",
            "label": "t:common.review-image"
        },
        {
            "type": "image_picker",
            "id": "product_image",
            "label": "t:sections.skincare-plan.settings.product-image"
        },
        {
            "type": "image_picker",
            "id": "product_hover_image",
            "label": "t:sections.skincare-plan.settings.product-hover-image"
        },
        {
            "type": "image_picker",
            "id": "results_image",
            "label": "t:sections.skincare-plan.settings.results-image"
        },
        {
            "type": "url",
            "id": "review_video",
            "label": "t:sections.skincare-plan.settings.review-video"
        }
        ]
    }
    ],
    "presets": [
    {
        "name": "t:sections.skincare-plan.name"
    }
    ]
}
{% endschema %}