{% doc %}
  Renders a sticky CTA section (две версии: стандартная и вариант "патчи").
{% enddoc %}

{% include 'get-product-data' %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/sticky-cta/sticky-cta.css" />

{% if section.settings.cta-mode == 'patches' %}
  <div class="qure__sticky-atc mi-patches-sticky-cta">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center py-16">
        <div class="patch__product-variants d-flex align-items-center gap-5">
          <div class="select_qty fw-600 fs-20">{{ 'sections.sticky-cta.select_color_text' | t }}</div>
          <div class="d-none d-md-grid grid_dynamic_cols" style="--grid_dynamic_cols:3;--col-gap:12px">
            <div class="patch__value-pack">
              <input type="radio" class="vp__input" name="vaule-pack" id="3-months-cta" checked>
              <label for="3-months-cta" class="vp-pack-cta px-12 py-8 d-flex align-items-center gap-2">
                <div class="vp-img"><img src="{{ 'sections.sticky-cta.white_swatch_image' | t }}" alt="{{ 'sections.sticky-cta.white_swatch_image.alt' | t | escape }}"></div>
                <div class="vp-content">
                  <p class="mb-0">{{ 'sections.sticky-cta.white_text' | t }}</p>
                </div>
              </label>
            </div>
            <div class="patch__value-pack">
              <input type="radio" class="vp__input" name="vaule-pack" id="one-month-cta">
              <label for="one-month-cta" class="vp-pack-cta px-12 py-8 d-flex align-items-center gap-2">
                <div class="vp-img"><img src="{{ 'sections.sticky-cta.black_swatch_image' | t }}" alt="{{ 'sections.sticky-cta.black_swatch_image.alt' | t | escape }}"></div>
                <div class="vp-content">
                  <p class="mb-0">{{ 'sections.sticky-cta.black_text' | t }}</p>
                </div>
              </label>
            </div>
          </div>
          <div class="dropdown-wrapper d-md-none">
            <div class="dropdown-inner-container" id="dropdownContainer">
              <div class="dropdown-option" onclick="selectOption('White', 'white_swatch.webp')">
                <img src="{{ 'sections.sticky-cta.white_swatch_image' | t }}" alt="{{ 'sections.sticky-cta.white_swatch_image.alt' | t | escape }}">
                <span>{{ 'sections.sticky-cta.white_text' | t }}</span>
              </div>
              <div class="dropdown-option" onclick="selectOption('Black', 'black_swatch.webp')">
                <img src="{{ 'sections.sticky-cta.black_swatch_image' | t }}" alt="{{ 'sections.sticky-cta.black_swatch_image.alt' | t | escape }}">
                <span>{{ 'sections.sticky-cta.black_text' | t }}</span>
              </div>
            </div>
            <button type="button" class="dropdown-button" id="dropdownBtn" onclick="toggleDropdown()">
              <img src="{{ 'sections.sticky-cta.black_swatch_image' | t }}"/> {{ 'sections.sticky-cta.black_text' | t }}
              <i class="fa-solid fa-angle-down"></i>
            </button>
          </div>
          <input type="hidden" name="properties[Duration]" id="selectedDuration" value="Black">
        </div>
        {% if section.settings.button-url != blank %}
          <a href="{{ section.settings.button-url }}" class="btn btn--primary">{% if section.settings.button-label != blank %}{{ section.settings.button-label }}{% else %}{{ 'product.settings.buy-button-label' | t }}{% endif %}</a>
        {% else %}
          <form method="post" action="/cart/add" enctype="multipart/form-data" class="w-100 mw" style="--mw:400px;">
            <button type="submit" class="btn btn--primary">{% if section.settings.button-label != blank %}{{ section.settings.button-label }}{% else %}{{ 'product.settings.buy-button-label' | t }}{% endif %}</button>
            <input type="hidden" name="quantity" id="quantity" value="1">
            <input type="hidden" name="id" value="{{ product_variant_id }}">
          </form>
        {% endif %}
      </div>
    </div>
    <div class="align-items-center bg-light d-flex fs-16 gap-4 justify-content-center py-6 qure__user-online text-center">
      {% if section.settings.text != blank %}
        <div class="pulse"></div>{{ section.settings.text }}
      {% endif %}
    </div>
  </div>
{% else %}
  <div class="qure__sticky-atc">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center py-16">
        {% if section.settings.heading != blank %}
          <h3 class="fs-20 m-0 d-none d-md-block">{{ section.settings.heading }}</h3>
        {% endif %}

        {% if section.settings.button-url != blank %}
          <a href="{{ section.settings.button-url }}" class="btn btn--primary">{% if section.settings.button-label != blank %}{{ section.settings.button-label }}{% else %}{{ 'product.settings.buy-button-label' | t }}{% endif %}</a>
        {% else %}
          <form method="post" action="/cart/add" enctype="multipart/form-data" class="w-100 mw" style="--mw:400px;">
            <button id="sticky-cta-button" type="submit" class="btn btn--primary">{% if section.settings.button-label != blank %}{{ section.settings.button-label }}{% else %}{{ 'product.settings.buy-button-label' | t }}{% endif %}</button>
            <input type="hidden" name="quantity" id="quantity" value="1">
            <input type="hidden" name="id" value="{{ product_variant_id }}">
          </form>
        {% endif %}
      </div>
    </div>
    <div class="align-items-center bg-light d-flex fs-16 gap-4 justify-content-center py-6 qure__user-online text-center">
      {% if section.settings.text != blank %}
        <div class="pulse"></div>{{ section.settings.text }}
      {% endif %}
    </div>
  </div>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    loadScriptOnce('sticky-cta', 'https://qureskincaredns-main.com/assets/js/sticky-cta.js');
  });
</script>


{%  schema  %}  
{
  "name": "t:sections.sticky-cta.name",
  "settings": [
    {
      "type": "select",
      "id": "cta-mode",
      "label": "t:common.mode",
      "options": [
        { 
          "value": "default", 
          "label": "t:common.default" 
        },
        { 
          "value": "patches", 
          "label": "t:common.patches" 
        }
      ],
      "default": "default"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header"
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:common.text"
    },
    {
      "type": "text",
      "id": "button-label",
      "label": "t:common.button-label"
    },
    {
      "type": "text",
      "id": "button-url",
      "label": "t:common.button-url"
    }
  ],
  "presets": [
    {
      "name": "t:sections.sticky-cta.name"
    }
  ]
}
{% endschema %}