<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/sticky-cta/sticky-cta.css" />
<div class="qure__sticky-atc mi-patches-sticky-cta">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-16">
            <div class="patch__product-variants d-flex align-items-center gap-5">
                <div class="select_qty fw-600 fs-20">{{ 'sections.sticky-button-variants.select_color' | t }}</div>
                <div class="d-none d-md-grid grid_dynamic_cols" style="--grid_dynamic_cols:3;--col-gap:12px">
                    {% assign num = section.blocks.size %}
                    {% for block in section.blocks %}
                        {% assign product_type_title = block.settings.heading | strip_newlines | strip | replace: ' ', '' | downcase %}
                        <div class="patch__value-pack">
                            <input type="radio" class="vp__input sticky__input" name="vaule-pack" id="{{ num }}-months-cta" data-id="{{ product_type_title }}">
                            <label for="{{ num }}-months-cta" class="vp-pack-cta px-12 py-8 d-flex align-items-center gap-2">
                                {% if block.settings.image != blank %}
                                    <div class="vp-img">
                                        <img src="{{ block.settings.image | img_url: '250x' }}" alt="{{ block.settings.image.alt | escape }}">
                                    </div>
                                {% endif %}
                                <div class="vp-content">
                                    <p class="mb-0">{{ block.settings.heading }}</p>
                                </div>
                            </label>
                        </div>
                        {% assign num = num | minus: 1 %}
                    {% endfor %}
                </div>

                <div class="dropdown-wrapper d-md-none">
                    <div class="dropdown-inner-container" id="dropdownContainer">
                        {% for block in section.blocks %}
                            {% assign product_type_title = block.settings.heading | strip_newlines | strip | replace: ' ', '' | downcase %}
                            <div class="dropdown-option sticky__input__mobile" onclick="selectOption('{{ block.settings.heading }}')" data-id="{{ product_type_title }}">
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | img_url: '250x' }}" alt="{{ block.settings.image.alt | escape }}">
                                {% endif %}
                                <span>{{ product_type_title }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Button to show current selection -->
                    {% assign stop = false %}
                    {% for block in section.blocks %}
                        {% unless stop %}
                            {% assign product_type_title = block.settings.heading | strip_newlines | strip | replace: ' ', '' | downcase %}
                            <button type="button" class="dropdown-button" id="dropdownBtn" onclick="toggleDropdown()">
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | img_url: '250x' }}" alt="{{ block.settings.image.alt | escape }}"> {{ product_type_title }}
                                {% endif %}
                                <i class="fa-solid fa-angle-down"></i>
                            </button>
                            {% assign stop = true %}
                        {% endunless %}
                    {% endfor %}
                </div>
                <input type="hidden" name="properties[Duration]" id="selectedDuration" value="{{ product_type_title }}">
            </div>

            <a href="{% if section.settings.button-url != blank %}{{ section.settings.button-url }}{% else %}javascript:;{% endif %}" class="add-cart-button add-cart-sticky-button btn btn--primary fs-11 fs-md-20 px-10 mw" style="--mw-mob:170px">{% if section.settings.button-label != blank %}{{ section.settings.button-label }}{% else %}{{ 'product.settings.buy-button-label' | t }}{% endif %}</a>
        </div>
    </div>
    <div
        class="align-items-center bg-light d-flex fs-16 gap-4 justify-content-center py-6 qure__user-online text-center">
        <div class="pulse"></div>{{ section.settings.text }}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('sticky-cta', 'https://qureskincaredns-main.com/assets/js/sticky-cta.js');
        loadScriptOnce('sticky-button-variants', '{{ 'sticky-button-variants.js' | asset_url }}');
    });
</script>

{%  schema  %}  
{
  "name": "t:sections.sticky-button-variants.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header"
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:common.text"
    },
    {
      "type": "text",
      "id": "button-label",
      "label": "t:common.button-label"
    },
    {
      "type": "text",
      "id": "button-url",
      "label": "t:common.button-url"
    }
  ],
  "blocks": [
        {
            "type": "variant",
            "name": "t:common.variant",
            "limit": 3,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                }
            ]
        }
  ],
  "presets": [
    {
      "name": "t:sections.sticky-button-variants.name"
    }
  ]
}
{% endschema %}