<div class="trusted_recom qure__section"
   style="--section-padding-top: 40px; --section-padding-bottom: 40px; --section-padding-top-mob: 30px; --section-padding-bottom-mob: 30px;">
   <div class="container" style="--column-gap:35px; --column-gap-mobile:18px;">
      <h2 class="qure__section-heading d-md-none mb-3 text-center">Trusted and Recommended by Experts</h2>
      <div class="row align-items-center custom__grid">
         <div class="col-lg-8 custom__block order-1 order-md-0">
            <div class="trusted_left mw-680">
               <div class="section_header py-0 mw-100">
                  {% for block in section.blocks %}
                     {% if block.type == 'badge' and block.settings.image != blank and block.settings.text != blank %}
                         <div class="trusted_verified d-none d-md-flex">
                           <img src="{{ block.settings.image | image_url  }}" alt="{{ block.settings.image.alt | escape }}">
                           {{ block.settings.text | replace: '<p>', '<p class="p-0">' }}
                         </div>
                     {% endif %}
                  {% endfor %}
                   {% if section.settings.heading != blank and section.settings.text != blank %}
                      <div class="qure__section-header text-md-start text-center mb-30">                     
                           <h2 class="qure__section-heading text-md-start pb-20 d-none d-md-block">{{ section.settings.heading }}</h2>
                           {{ section.settings.text 
                           | replace: '<p>', ''
                           | replace: '<strong>', '<span style="background:#C7E5DB">' 
                           }}
                      </div>
                   {% endif %}
                   {% for block in section.blocks %}
                     {% if block.type == 'badge' and block.settings.text != blank and block.settings.image != blank %}
                        <div class="trusted_verified d-md-none d-flex mt-3">
                           <img src="{{ block.settings.image | image_url  }}" alt="{{ block.settings.image.alt | escape }}">
                           {{ block.settings.text | replace: '<p >', '<p class="p-0">' }}
                        </div> 
                     {% endif %}
                   {% endfor %}
               </div>
            </div>
         </div>
         {% for block in section.blocks %}
            {% if block.type == 'video' and block.settings.image != blank and block.settings.url !=blank %}
               <div class="col-lg-4 custom__block">
                  <div class="play_btn">
                     <a class="popup-youtube lvideo trusted-experts rounded-10 overflow-hidden d-block"
                        data-url="{{ block.settings.url }}">
                        <span class="justify-content-center">
                           <img src="{{ block.settings.image | image_url  }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid">
                        </span>
                     </a>
                  </div>
               </div>
            {% endif %}
         {% endfor %}   
      </div>
   </div>
</div>
<script>
      document.addEventListener("DOMContentLoaded", function () {
         loadScriptOnce('youtube-popup', 'https://qureskincaredns-main.com/assets/js/yt-popup.js');
      });
</script>
{% schema %}
{
  "name": "t:sections.trusted-recommended.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.header"
    }
  ],
  "blocks": [
    {
    "type": "badge",
    "name": "t:sections.trusted-recommended.blocks.badge.name",
    "limit": 1,
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    },
    {
      "type": "video",
      "name":"t:sections.trusted-recommended.blocks.video.name",
      "limit": 1,
         "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            },
            {
               "type": "url",
               "id": "url",
               "label": "t:common.link-url"
            }
         ]
    }
   ],
   "presets": [
        {
          "name": "t:sections.trusted-recommended.name"
        }
      ]
}
{% endschema %}