{% doc %}
  Renders a trusted recommended section. 
{% enddoc %}

<div id="trusted_recommended" class="trusted_recom qure__section" style="--section-padding-top: 40px; --section-padding-bottom: 40px; --section-padding-top-mob: 30px; --section-padding-bottom-mob: 30px; background-color: {{ section.settings.background_color }};">
   <div class="container" style="--column-gap:35px; --column-gap-mobile:18px;">
      {% if section.settings.heading != blank %}
         <h2 class="qure__section-heading d-md-none mb-3 text-center">{{ section.settings.heading }}</h2>
      {% endif %}
      <div class="row align-items-center custom__grid">
         <div class="col-lg-8 custom__block order-1 order-md-0">
            <div class="trusted_left mw-680">
               <div class="section_header py-0 mw" style="--mw:640px">
                  <div class="trusted_verified d-none d-md-flex">
                     <img src="{{ 'sections.trusted-recommended.badge_image' | t }}" alt="{{ 'sections.trusted-recommended.badge_image.alt' | t | escape }}">
                     <p class="p-0">{{ 'sections.trusted-recommended.badge_text' | t }}</p>
                  </div>
                  <div class="qure__section-header text-md-start text-center mb-30">
                     {% if section.settings.heading != blank %}
                        <h2 class="qure__section-heading text-md-start pb-20 d-none d-md-block">{{ section.settings.heading }}</h2>
                     {% endif %}
                     {% if section.settings.text != blank %}
                        {{ section.settings.text | replace: '<strong>', '<span style="background:#C7E5DB">' | replace: '</strong>', '</span>' }}
                     {% endif %}
                  </div>
                  <div class="trusted_verified d-md-none d-flex mt-3">
                     <img src="{{ 'sections.trusted-recommended.badge_image_mobile' | t }}" alt="{{ 'sections.trusted-recommended.badge_image_mobile.alt' | t | escape }}">
                     <p class="p-0">{{ 'sections.trusted-recommended.badge_text' | t }}</p>
                  </div>
               </div>
            </div>
         </div>
         {% if section.settings.image != blank or section.settings.image_mobile != blank %}
            <div class="col-lg-4 custom__block">
               <div class="dr_img my-3 trusted-experts rounded-10 overflow-hidden d-block">
                  {% if section.settings.image != blank %}
                     <img src="{{ section.settings.image | image_url }}" class="img-fluid d-md-block d-none" alt="{{ section.settings.image.alt | escape }}">
                  {% endif %}
                  {% if section.settings.image_mobile != blank %}
                     <img src="{{ section.settings.image_mobile | image_url }}" class="img-fluid d-md-none" alt="{{ section.settings.image_mobile.alt | escape }}">
                  {% endif %}
               </div>
            </div>
         {% endif %}
         {% if section.settings.video_url != blank and section.settings.video_cover_image != blank %}
            <div class="col-lg-4 custom__block">
               <div class="play_btn">
                  <a class="popup-youtube lvideo trusted-experts rounded-10 overflow-hidden d-block"
                     data-url="{{ section.settings.video_url }}">
                     <span class="justify-content-center">
                        <img src="{{ section.settings.video_cover_image | image_url }}" alt="{{ section.settings.video_cover_image.alt | escape }}" class="img-fluid">
                     </span>
                  </a>
               </div>
            </div>
         {% endif %}
         {% if section.settings.wistia_url != blank %}
            <div class="col-lg-4 custom__block">
               <div class="qure-filter-cards d-block">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#shower2"
                        class="filter-card-item filter-card-video">
                        <div class="filter-card-video-icon align-items-end px-20 py-10">
                           <div class="align-items-center d-flex justify-content-between w-100">
                              {% if section.settings.image_text != blank %}
                                 <div class="text-white fs-20">{{ section.settings.image_text 
                                    | replace: '<strong>', '<span class="fs-18 fw-400">' 
                                    | replace: '</strong>', '</span>' 
                                    | replace: '<p>', ''
                                    | replace: '</p>', '' }}
                                 </div>
                              {% endif %}
                              <img src="{{ 'sections.video-slider.play_button' | t }}" alt="{{ 'sections.video-slider.play_button.alt' | t | escape }}">
                           </div>
                        </div>
                        {% if section.settings.video_cover_image != blank %}
                           <img src="{{ section.settings.video_cover_image | image_url }}" alt="{{ section.settings.video_cover_image.alt | escape }}" class="img-fluid" />
                        {% endif %}
                  </a>
                  <!-- modal start -->
                  <div class="modal fade filter-modal" id="shower2" data-bs-backdrop="static" data-bs-keyboard="false"tabindex="-1" aria-labelledby="shower2Label" aria-hidden="true">
                     <div class="modal-dialog modal-dialog-centered modal-md filter-dialog">
                        <div class="modal-content">
                           <div class="modal-header border-0">
                                 <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                           </div>
                           {% if section.settings.wistia_url != blank %}
                              <div class="modal-body">
                                 <style>
                                       wistia-player[media-id='{{ section.settings.wistia_url }}']:not(:defined) {
                                          background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/{{ section.settings.wistia_url }}/swatch');
                                          display: block;
                                          filter: blur(5px);
                                          padding-top: 177.78%;
                                       }
                                 </style>
                                 <div class="filter-modal-video">
                                       <wistia-player media-id="{{ section.settings.wistia_url }}" seo="false" aspect="0.5625"></wistia-player>
                                 </div>
                              </div>
                           {% endif %}
                        </div>
                     </div>
                  </div>
                  <!-- modal end-->
               </div>
            </div>
         {% endif %}
      </div>
   </div>
</div>
<script>
   document.addEventListener("DOMContentLoaded", function () {
      loadScriptOnce('youtube-popup', 'https://qureskincaredns.com/assets/js/yt-popup.js');
      loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
      loadScriptOnce('video-slider', 'https://qureskincaredns.com/sections/isolated/trusted-video/wistia-video-popup.js');
   });
</script>
{% schema %}
{
  "name": "t:sections.trusted-recommended.name",
  "settings": [
   {
      "type": "color",
      "id": "background_color",
      "label": "t:common.background-color",
      "default": "#ffffff"
   },
   {
      "type": "text",
      "id": "heading",
      "label": "t:common.header",
      "default": "Trusted and Recommended by Experts"
   },
   {
      "type": "richtext",
      "id": "text",
      "label": "t:common.text"
   },
   {
      "type": "richtext",
      "id": "image_text",
      "label": "t:common.image-text"
   },
   {
      "type": "image_picker",
      "id": "image",
      "label": "t:common.image"
   },
   {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:common.image-mobile"
   },
   {
      "type": "image_picker",
      "id": "video_cover_image",
      "label": "t:common.video-image-cover"
   },
   {
      "type": "url",
      "id": "video_url",
      "label": "t:common.link-url"
   },
   {
      "type": "text",
      "id": "wistia_url",
      "label": "t:common.wistia-url"
   }
  ],
  "presets": [
    {
      "name": "t:sections.trusted-recommended.name"
    }
  ]
}
{% endschema %}