{% doc %}
  Renders a trusted reviews section
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/review-slider/card-slide.css" />
<div id="trusted-reviews" class="qure__trusted-reviews qure__section color-background" style="background-color: {{ section.settings.background_color }};">
  <div class="container offset-container-mobile">
    <div class="qure__section-header text-center mb-30 mb-md-60">
      {% if section.settings.text != blank %}
        <p class="pb-10">{{ section.settings.text }}</p>
      {% endif %}
      {% if section.settings.heading != blank %}
        <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.text_mobile != blank %}
        {{ section.settings.text_mobile | replace: '<p>', '<p class="d-md-none">' }}
      {% endif %}
    </div>
    <div class="swiper qure__swiper" id="qure__swiper-trusted-slider" data-section-id="trusted-slider"
      data-autoplay="false" data-loop="false" data-mobile="1.1" data-tablet="2" data-desktop="3" data-spacing="30"
      data-pagination-fraction="true" data-arrowleft="trusted-slider-arrow-left" data-arrowright="trusted-slider-arrow-right">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'slider' %}
            <div class="swiper-slide">
              <div class="card skin-card">
                {% if block.settings.compare_image != blank %}
                  <img src="{{ block.settings.compare_image | image_url }}" class="card-img-top" alt="{{ block.settings.compare_image.alt | escape }}">
                {% endif %}
                <div class="card-body skin-card-body d-flex flex-column justify-content-between border">
                  <div class="tr__reviews">
                    <div class="reviews-header d-flex align-items-center justify-content-between mb-10" style="--bg-light: rgb(199 229 219 / 30%);">
                      <div class="card-user">
                        {% if block.settings.country_image != blank %}
                          <img src="{{ block.settings.country_image | image_url }}" alt="{{ block.settings.country_image.alt | escape }}" />
                        {% endif %}
                        {% if block.settings.username != blank %}
                          {{ block.settings.username | replace: '<p>', '<span class="username">' | replace: '</p>', '</span>' }}
                        {% endif %}
                      </div>
                      <div class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                        <img src="{{ 'sections.trusted-reviews.badge_image' | t }}" alt="{{ 'sections.trusted-reviews.badge_image.alt' | t | escape }}" />
                        <span>{{ 'sections.trusted-reviews.badge_text' | t }}</span>
                      </div>
                    </div>
                    {% if block.settings.heading != blank %}
                      <h5 class="card-title fm-body mb-15">{{ block.settings.heading }}</h5>
                    {% endif %}
                    {% if block.settings.text != blank %}
                      {{ block.settings.text | replace: '<p>', '<p class="card-text">' }}
                    {% endif %}
                  </div>
                  {% if block.settings.product_url != blank and block.settings.product_image != blank %}
                    <a href="{{ block.settings.product_url }}" class="d-flex bg-light p-12 rounded-10 rev_slide-prd gap-3">
                      <div class="rev-prd-img">
                        <img src="{{ block.settings.product_image | image_url }}" alt="{{ block.settings.product_image.alt | escape }}" />
                      </div>
                  {% endif %}
                  {% if block.settings.product_heading != blank or block.settings.product_text != blank %}
                    <div class="rev-prd-content">
                      {% if block.settings.product_heading != blank %}
                        <div class="rp-dev fs-14">{{ block.settings.product_heading }}</div>
                      {% endif %}
                      {% if block.settings.product_text != blank %}
                        <div class="rp-link text-decoration-underline fs-16">{{ block.settings.product_text }}</div>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if block.settings.product_url != blank and block.settings.product_image != blank %}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4 mt-30">
        <div class="qure-swiper-button-prev qure-swiper-arrow trusted-slider-arrow-left"><i class="fa-regular fa-angle-left"></i></div>
        <div class="swiper-pagination position-relative bottom-0 w-auto"></div>
        <div class="qure-swiper-button-next qure-swiper-arrow trusted-slider-arrow-right"><i class="fa-regular fa-angle-right"></i></div>
      </div>
    </div>
    {% assign image_with_text_count = 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'image_with_text' %}
        {% assign image_with_text_count = image_with_text_count | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% if image_with_text_count > 1 %}
      <div class="text-center pt-50">
        {% if section.settings.button_url != blank and section.settings.button_label != blank %}
          <a href="{{ section.settings.button_url }}" class="banner-text--button btn btn--primary w-100" style="--btn-mx-w:500px;">{{ section.settings.button_label }}</a>
        {% endif %}
        <div class="d-flex flex-wrap align-items-center justify-content-center col-gap pt-10" style="--col-gap-mb:10px; --col-gap-mb: 5px;">
          {% for block in section.blocks %}
            {% if block.type == 'image_with_text' %}
              <div class="icon-with-text d-flex flex-nowrap flex-lg-row align-items-center fs-14 text-center text-lg-start">
                {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="mr-0 mr-md-10">
                {% endif %}
                {% if block.settings.text != blank %}
                    <span>{{ block.settings.text }}</span>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% elsif section.settings.button_label != blank and section.settings.button_url != blank %}
      <div class="text-center pt-md-50 pt-30">
        <a href="{{ section.settings.button_url }}" class="text-uppercase btn btn--primary">{{ section.settings.button_label }} </a>
      </div>
    {% endif %}
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
  });
</script>


{% schema %}
{
  "name": "t:sections.trusted-reviews.name",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "t:common.background-color"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header"
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:common.text"
    },
    {
      "type": "richtext",
      "id": "text_mobile",
      "label": "t:common.text-mobile"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:common.button-label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:common.button-url"
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "t:common.slider",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:common.header"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:common.text"
        },
        {
          "type": "image_picker",
          "id": "compare_image",
          "label": "t:sections.trusted-reviews.blocks.slider.settings.compare-image.name"
        },
        {
          "type": "image_picker",
          "id": "country_image",
          "label": "t:common.country-image"
        },
        {
          "type": "richtext",
          "id": "username",
          "label": "t:common.username"
        },
        {
          "type": "url",
          "id": "product_url",
          "label": "t:sections.trusted-reviews.blocks.slider.settings.product-url.name"
        },
        {
          "type": "text",
          "id": "product_heading",
          "label": "t:sections.trusted-reviews.blocks.slider.settings.product-heading.name"
        },
        {
          "type": "text",
          "id": "product_text",
          "label": "t:sections.trusted-reviews.blocks.slider.settings.product-text.name"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "t:sections.trusted-reviews.blocks.slider.settings.product-image.name"
        }
      ]
    },
    {
      "type": "image_with_text",
      "name": "t:common.image-with-text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:common.text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.trusted-reviews.name"
    }
  ]
}
{% endschema %}