{% doc %}
  Renders a trusted reviews section
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/review-slider/card-slide.css" />
<div class="qure__trusted-reviews qure__section"
   style="--section-padding-top: 80px;--section-padding-bottom: 40px;--section-padding-top-mob: 50px;--section-padding-bottom-mob: 30px;">
   <div class="container offset-container-mobile">
      <div class="qure__section-header text-center mb-30 mb-md-60">
         {% if section.settings.heading != blank %}
            <h2 class="qure__section-heading">{{ section.settings.heading }}</h2>
         {% endif %} 
      </div>
      <div class="swiper qure__swiper" id="qure__swiper-trusted-slider" data-section-id="trusted-slider"
         data-autoplay="false" data-loop="false" data-mobile="1.1" data-tablet="2" data-desktop="3" data-spacing="30"
         data-pagination-fraction="true" data-arrowleft="trusted-slider-arrow-left" data-arrowright="trusted-slider-arrow-right">
         <div class="swiper-wrapper">
            {% for block in section.blocks %}
               {% if block.type == 'slider' %}
                  <div class="swiper-slide">
                     <div class="card skin-card">
                        {% if block.settings.compare_image != blank %}
                           <img src="{{ block.settings.compare_image | image_url }}" class="card-img-top" alt="{{ block.settings.compare_image.alt | escape }}">
                        {% endif %}
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between border ">
                           <div class="tr__reviews">
                              <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                 style="--bg-light: rgb(199 229 219 / 30%);">
                                 {% if block.settings.country_image != blank and block.settings.username != blank %}
                                    <div class="card-user">
                                    <img src="{{ block.settings.country_image | image_url }}" alt="{{ block.settings.country_image.alt | escape }}" />
                                    {{ block.settings.username | replace: '<p>', '<span class="username">' }}
                                 </div>
                                 {% endif %}
                                 <div
                                    class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                    <img src="{{ 'sections.trusted-review.badge_image' | t }}" alt="{{ block.settings.badge_image.alt | escape }}" />
                                    <span>{{ 'sections.trusted-review.badge_text' | t  }}</span>
                                 </div>
                              </div>
                              {% if block.settings.heading != blank %}
                                  <h5 class="card-title fm-body mb-15">{{ block.settings.heading }}</h5>
                              {% endif %}
                              {% if block.settings.text != blank %}
                                  {{ block.settings.text | replace: '<p>', '<p class="card-text">' }}
                              {% endif %}
                           </div>
                           {% if block.settings.link_url != blank and block.settings.product_image != blank %}
                                 <a href="{{ block.settings.link_url }}" class="d-flex bg-light p-12 rounded-10 rev_slide-prd gap-3">
                                 <div class="rev-prd-img">
                                    <img src="{{ block.settings.product_image | image_url }}" alt="{{ block.settings.product_image.alt | escape }}" />
                                 </div>
                           {% endif %}
                              {% if block.settings.product_heading != blank and block.settings.product_text != blank %}
                                 <div class="rev-prd-content">
                                    <div class="rp-dev fs-14">{{ block.settings.product_heading }}</div>
                                    <div class="rp-link text-decoration-underline fs-16">{{ block.settings.product_text }}</div>
                                 </div>
                              {% endif %}
                              </a>
                        </div>
                     </div>
                  </div>
               {% endif %}
            {% endfor %}
         </div>
         <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4 mt-30">
            <div class="qure-swiper-button-prev qure-swiper-arrow trusted-slider-arrow-left"><i class="fa-regular fa-angle-left"></i></div>
            <div class="swiper-pagination position-relative bottom-0 w-auto"></div>
            <div class="qure-swiper-button-next qure-swiper-arrow trusted-slider-arrow-right"><i class="fa-regular fa-angle-right"></i></div>
         </div>
      </div>
   </div>
</div>
<script>
   document.addEventListener("DOMContentLoaded", function () {
      loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
   });
</script>
{% schema %}
{
  "name": "t:sections.trusted-reviews.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    }
  ],
  "blocks": [
    {
    "type": "slider",
    "name": "t:common.slider",
        "settings": [
            {
               "type": "text",
               "id": "heading",
               "label": "t:common.header"
            },
            {
               "type": "richtext",
               "id": "text",
               "label": "t:common.text"
            },
            {
                "type": "image_picker",
                "id": "compare_image",
                "label": "t:sections.trusted-reviews.blocks.review.settings.compare-image.name"
            },
            {
                "type": "image_picker",
                "id": "country_image",
                "label": "t:sections.trusted-reviews.blocks.review.settings.country-image.name"
            },
            {
               "type": "richtext",
               "id": "username",
               "label": "t:sections.trusted-reviews.blocks.review.settings.username.name"
            },
            {
               "type": "url",
               "id": "link_url",
               "label": "t:sections.trusted-reviews.blocks.review.settings.product-url.name"
            },
            {
               "type": "text",
               "id": "product_heading",
               "label": "t:sections.trusted-reviews.blocks.review.settings.product-heading.name"
            },
            {
               "type": "text",
               "id": "product_text",
               "label": "t:sections.trusted-reviews.blocks.review.settings.product-text.name"
            },
            {
                "type": "image_picker",
                "id": "product_image",
                "label": "t:sections.trusted-reviews.blocks.review.settings.product-image.name"
            }
        ]
    }
   ],
  "presets": [
    {
      "name": "t:sections.trusted-reviews.name"
    }
  ]
}
{% endschema %}